[2018-05-31 17:33] ronm123 commented on #769
Tom - I realised another small problem too but not sure what the solution would be...
When you click one of the traffic light indicators the grey div (card-inverse) with start and completion time and duration appears with that info aligned left. e.g.
![image](https://user-images.githubusercontent.com/5167146/40797552-71cab758-6500-11e8-87ef-80eb452cd05d.png)
However if you click one of the traffic

[2018-05-31 17:35] ronm123 commented on #769
Sorry pasted the same screenshot twice. I corrected that but the email you get might be the original with two identical screenshots.

[2018-06-01 11:10] #576 closed

[2018-06-02 16:54] torinfo commented on #769
@ronm123

Improved fixation of the button/input bar and the title bar. It still does not work completey if the window is too narrow.

Also, with regards to your question on the card-inverse:
 - The when you click on one of the coloured boxes, you actually click on the row. So you can also click on a grey area on the row and it will display the same information. That information holds for the last

[2018-06-02 18:18] ronm123 commented on #769
Hi Tom
The close dashboard button and bar seems much better now. However I’m missing something - I don’t get that results page view? I only get what was shown in my previous screenshots.

[2018-06-02 21:08] torinfo commented on #769
Hi Ron,

That's because somehow the tracking of the LO was nog finished. Normally you should close the window in order to do that.

It is triggered by unload.

Sometimes I wished we had a better way. Perhaps I should add an optional parameter to add a stop LO button, or close button.

[2018-06-03 15:45] torinfo commented on #769
Hmmm, yes that sounds about right, but I think I should change it, so it will get the results from the exited xapi staement rather than the completed xapi statement.

[2018-06-03 20:05] torinfo opened #772 "medialesson - More than one medialessons in one learningobject causes race conditions"
@FayCross

Hi Fay.

We have an LO with 6(!) medialessons after each other (It's a webinar with a total length of 3.5 hours, split up in 6 parts). All the medialessons have a panel with quick access buttons (using mcq). Now, when you quickly scroll through the medialessons, until for example the 4th, the buttons of the 1st, 2nd and 3rd end up in the panel as well. This is just because the mcq plugi

[2018-06-04 09:51] ronm123 commented on #769
Hi Tom yes I think that would be a good idea.
I also wonder about reducing the default "page timeout for completion" to say 3 rather than 5? I think that default of 5 trips a lot of people up when testing why completion isn't triggering?

[2018-06-04 10:56] ronm123 opened #773 "Themes and editor styles"
Hi all
as you know I've been looking at the default list of styles that are available in the editor and working on adding new options to appear in the styles menu. Also how best to include this in all themes and templates with minimal need to add to each template separately unless required for customisation. e.g. I don't want to have to retrofit to all the older themes separately. I'm working on a

[2018-06-04 10:59] torinfo commented on #769
I did some experiments with the extra button/page, but regrettably, you cannot close a window/tab from javascript... But I'll what can be done

Also, 3 seconds for the default is fine by me.

[2018-06-05 11:45] torinfo commented on #773
@ronm123
1. It's OK with me. It does make setting up the dev environment a bit more complicated, but it is a really convenient way  to maintain css.

2. I'll look into that wrap:true thing. If a new version of the editor is needed, I can do that as well.

3. Don't know…

4. I have not yet looked into that.

5. - Block quote ?
    - Code block

[2018-06-05 14:35] ronm123 commented on #773
@torinfo ok thanks for your comments...

1. Great I agree but will check with others during our meeting tomorrow - hope you can still make that?
2. That would definitely be the best option and although I found a few examples of people wanting to do the same thing e.g. wrap a div around selected tags just with a style selection, I couldn't find a definite solution apart from the additional Create D

[2018-06-06 08:53] FayCross commented on #773
1. yes. I have used sass for some themes I've done recently & it's a much better way of doing things.

5. looks great. I can't think of any other styles to add now but I guess it's not too hard to add some as & when we think of useful ones?

[2018-06-06 08:55] FayCross commented on #772
I think you're solution should be fine. I'll have a play with it this afternoon (have you committed your code?) and see if I can break it! Thanks

[2018-06-06 20:05] torinfo commented on #773
@ronm123

ad 4. Done.... with a caveat
See what you think. So, the theme css is loaded last, and has the same issue you mentioned regarding background of body. I included a (static) xerteeditor.css file in the editor/js/vendor/ckeditor folder, where we can override things again, but it's not perfect.

For example, choose the Blue Grey theme, and hover over a link... :-(

But, I think it's definite

[2018-06-06 20:45] ronm123 commented on #773
@torinfo looks good! Have also been changing and committing stuff as you will have noticed. Committed the Future Teacher theme and now that you've made the styles dynamic I need to change the editor style colours in some of the newer themes so that the colours match those themes rather than the future teacher colours. I'll do that tomorrow.

[2018-06-07 12:33] ronm123 commented on #773
@torinfo I've been through all the themes for all the projects and tweaked the editor styles colours for the panels, highlights, and blockquotes and one or two other tweaks too and committed all of that.
Three things outstanding with this I think:

- [ ] 1. the wrap:true issue or another solution for adding a div style without removing the existing tags in whatever is selected e.g. p tags. I'd rea

[2018-06-07 13:27] FayCross opened #774 "Glossary hover position issue with some new themes"
The new XOT themes that are centred in the screen (Modern themes) show the glossary word hover bubbles a long way from where the mouse is.

[2018-06-07 13:59] ronm123 commented on #774
@FayCross well spotted! ;-) Just tested and it's even worse when the full screen button is switched back to default. To my knowledge there's nothing in those themes directly controlling the glossary so I'm guessing its something to do with how the position of the tooltip is calculated? Or a style I've overlooked?

[2018-06-07 14:01] #772 closed

[2018-06-07 16:39] ronm123 opened #775 "Possible SCORM/Tracking enhancements to add at some point..."
- [ ] 1.	An optional property override for the ‘Page timeout for completion’ where that timeout can be reduced or increased for particular pages. I know we have the option for each page to not track but I think there’s a need for more control at page level for the duration setting. E.g. 1 second for a title page, much longer for a multi-page navigator.
- [ ] 2.	An optional but simple debug mode wh

[2018-06-07 17:31] torinfo commented on #773
@ronm123

Do you still have some links for where you found information about 1. (wrap:true) so I can have a look at that?

[2018-06-07 18:13] ronm123 commented on #773
@torinfo This isn't the reference I viewed previously but a quick search found this... https://success.mindtouch.com/Legacy/MindTouch_TCS/Administration/Create_inline_styles_(TCS)
Any use?

[2018-06-08 08:51] FayCross commented on #774
I'll look into it. I'm pretty sure the xenith code for the tooltips just looks at the position of the mouse & offsets it slightly so it's an odd one.

[2018-06-08 16:38] torinfo commented on #773
@ronm123 That link was spot on :-)

It turns out that the wrap:true is an extension, implemented through a plugin. The plugin is called wrapstyle and implemented by mindtouch.

I needed to fix some issues (it was written in 2010) but it seems to do what you want.

I've added a test style called Tom's test (which obviously needs to be removed again).

Let me know what you think, and if it solves yo

[2018-06-08 17:00] ronm123 commented on #773
@torinfo That does indeed seem to work! Bizarre that it isn't core functionality but great that you've managed to update it. Will add some balloon styles and remove your Tom's test style as soon as I can.
Cheers
Ron

[2018-06-09 08:45] ronm123 commented on #773
@torinfo I've added and committed the speech bubble styles for the default themes for each project. This seems to work well but 3 small issues...

- [ ] a: I wanted to change the width and height of the styles menu and so tried the following in various places: `.cke_combopanel { width:200px !important; }.cke_combopanel { height:300px !important; }` but could only get that to work by adding to \edi

[2018-06-09 09:05] ronm123 commented on #773
@torinfo noticed another issue with wrap style so added to the previous comment/list as item d

[2018-06-09 09:14] obgeneralao opened #776 "Math equations are not rendered poperly in Glossary"
Hi,
I have a math equation in glossary that is not displayed correctly
![image](https://user-images.githubusercontent.com/13013814/41189952-6eeaf5c0-6c08-11e8-9250-579f00ce44b9.png)

Thanks in advance for replying

[2018-06-09 15:57] torinfo commented on #773
@ronm123 I'll look into these.

I don't think the order should have changed by the wrap-style pugin, but I noticed that too. If possible, I'll disable that functionality, and I'll look into d. as well....

[2018-06-09 16:18] torinfo commented on #765
The principle now works, but there is no user interface (in management.php) yet, and also at this point in time no provision to enable/disable pages (iether manual or automatic)

So,

1.  run upgrade.php, this adds a parent_template column to originaltemplatesdetails and sets that to the same name as the template for now
2. As a test I included a FutureTeacher template
3. To test, add a new templa

[2018-06-09 18:35] ronm123 commented on #765
@torinfo just gave this a quick test and it mostly worked but at least one issue...

Ran upgrade ok
Manually created the template ok
Can see that the template contains two pr-added and pre-populated pages and the theme selected is Future Teacher

However when playing the LO the default theme is used and changing the theme e.g to Flat Blue doesn't have any effect. It's because it's looking for /the

[2018-06-09 19:33] torinfo commented on #765
@ronm123

No, but apparently I need to fix retrieving the theme in xenith. (and the other runtimes).

[2018-06-11 20:45] ronm123 commented on #765
@torinfo I've tested this a bit more since you fixed the theme issue and it works great! I can see this being really popular even before we have a management interface etc. You'll have seen that I committed a tiny change to the wording and changed and to then to indicate a 2 step process a bit more clearly. However on all of that and the way the front end might read and need to work I can see ther

[2018-06-12 10:21] #764 closed

[2018-06-13 10:03] FayCross commented on #765
I've just updated my xampp install with the current develop code, have run upgrade.php but am having issues creating new projects. I'm guessing it's something to do with these changes? After I enter a project name & click create I get this error in the console:
`Uncaught TypeError: Cannot read property 'length' of undefined`
validation.js line 70

Does anyone else have this issue?

[2018-06-13 10:29] torinfo commented on #765
@FayCross
No, I am not seeing that. The location of the error suggests that the name you filled in does not end up correcly in the code. Caching?

[2018-06-13 10:30] #776 closed

[2018-06-13 10:32] FayCross commented on #776
Thanks for letting us know about this - I've just committed a fix which will be included in our next release

[2018-06-13 10:34] FayCross commented on #765
No, I've cleared it. Maybe I missed some files with I upgraded. I'll check

[2018-06-13 10:49] FayCross commented on #765
Yep, it was my fault - working now!

[2018-06-13 11:07] torinfo commented on #765
Perfect :-)

[2018-06-13 20:41] FayCross commented on #765
I've just setup a new install of xerte on xampp on a new laptop using today's develop code (I have all the files this time!). No errors during setup but the project templates section of the workspace is blank so I can't create any projects. All the templates seem to be turned on when I look at them in the management pages.

Everything worked fine when I upgraded an existing xampp install earlier s

[2018-06-14 08:13] torinfo commented on #765
@FayCross Ehmm yes. I realise I forgot to include the proper column (that is added using the upgradde.php) in the basic sql setup. Will add that a.s.a.p.

[2018-06-14 08:31] FayCross commented on #765
Thanks @torinfo

[2018-06-14 09:16] #774 closed

[2018-06-14 17:38] #760 closed

[2018-06-15 15:22] FayCross commented on #773
This is the issue I see with some themes, such as your modern themes & some UoN themes too:
![editor](https://user-images.githubusercontent.com/8926470/41476024-3101adee-70b8-11e8-83d9-cb511ed5434e.png)

I'm using up to date develop code

[2018-06-15 16:36] ronm123 commented on #773
@FayCross @torinfo can we list specific steps to replicate this e.g. specific theme, specific page types etc? Not all of the modern themes have a body or page background colour set but some do like dark blue grey etc and I'm not seeing a problem but probably because there are so many different combinations too.

[2018-06-16 14:09] obgeneralao opened #778 "Iframe not working inside tabs in Tabbed Navigator+"
Hi,

I included a PHET simulation inside the tabs of **Tabbed Navigator+** and the said simulation would not load. However the same simulation (as an iframe) works properly in **Plain Text**. The weird thing is when I click on the next  button (to move away from **Tabbed Navigator+**) to proceed to the next page and then go back to the said simulation either by clicking on **Back** button or click

[2018-06-16 14:28] obgeneralao commented on #776
Hi,

Math equations inside the Glossary are rendered properly now however hovering those terms inside the different pages still showing the Math equations not displaying properly in the pop-up window

[2018-06-20 10:56] FayCross commented on #776
Do you mean the tooltips that appear when you hover over a word?
This is working for me with the new code I committed last week:
![pi](https://user-images.githubusercontent.com/8926470/41654289-e1b6593e-7480-11e8-9b74-ef7e364eab52.png)

What do you see? Have you updated the xenith.js file?

[2018-06-20 10:58] FayCross commented on #773
I am using Modern: Autumn Orange & the plain text page (but it's any page with a text area in)

[2018-06-20 10:58] FayCross commented on #773
Do you see this issue too @torinfo ?

[2018-06-20 12:13] obgeneralao commented on #776
I reverted to the commit **aa84d23** and the tooltips show the  Math Equations rendered properly.

Thanks a lot

[2018-06-20 12:14] torinfo commented on #773
@ronm123 @FayCross Yes. I see this also (only checked Modern: Autumn Orange theme)
![afbeelding](https://user-images.githubusercontent.com/5166596/41657597-3054806c-7494-11e8-8fea-f1b85eb0ab10.png)

[2018-06-20 13:28] ronm123 commented on #773
@FayCross @torinfo I was just going to investigate this but now I've got a far more fundamental issue. Select a plain text page in the editor and no textpane appears:
![image](https://user-images.githubusercontent.com/5167146/41661211-130a10c4-7496-11e8-8024-91625513f7fd.png)
If I view the console there are quite a few errors...
![image](https://user-images.githubusercontent.com/5167146/41661244-2

[2018-06-20 13:43] torinfo commented on #773
@ronm123 Oops. That means that I inadvertently committed part of the change for the link button. Let me fix that.

[2018-06-20 13:48] ronm123 commented on #773
@torinfo I'm guessing that you've worked on the featherlight stuff and added a new or revised plugin called link2 but haven't committed that? e.g. if I remove link2 from the list of extra plugins my install works again and link2 doesn't exist in my list of plugins. Did you forget to add?

[2018-06-20 13:50] torinfo commented on #773
@ronm123 Ehmm, kind of. I updated ckeditor to latest version, but already inadvertently committed that. That was not my intention, just now. I'll fix it. if you remove link2 from config.js, the editor works agan, but you will not have any link buttons.

Like I said, I'll fix this

[2018-06-20 14:30] ronm123 commented on #773
@torinfo @FayCross I think I found and applied a fix for the themes where body background colour is set but now I'm seeing a different problem when viewing LO's where themes are not displaying correctly. I don't think that's due to the change and commits I made but there's definitely a problem with the link2 plugin missing and I think there's a problem with the featherlight code and I think it's o

[2018-06-20 15:00] ronm123 commented on #773
@torinfo yeah I removed link2 from config temporarily and also commented out 1996 and 1997 from xenith because those featherlight bits were breaking things too.

With those things removed I think I've fixed the editor background colours for each of the XOT themes and committed those changes but with the link2 and featherlight lines still enabled in the commits.

I'll check the other template theme

[2018-06-20 15:35] torinfo commented on #773
@ronm123 I fixed the link2 issue.

What is going wrong with the featherlight changes?

[2018-06-20 15:52] ronm123 commented on #773
@torinfo those two lines re featherlight were breaking display of LO's. But they aren't now so could that have been associated with the link2 code?

How is the featherlight functionality meant to work? I can see an advanced tab in the link window now which I don't think was there before but are you still working on the rest?

![image](https://user-images.githubusercontent.com/5167146/41669702-4abd

[2018-06-20 17:36] torinfo commented on #773
@ronm123 The advanced tab was alwyas hidden (I just commiited a change to hide it again)
The featherlight code is enabled now, and if you know what you're doing, you can just use it in source view

I am still working on the link dialog

[2018-06-21 15:37] ronm123 commented on #773
@torinfo @FayCross my solution for the themes not displaying body color in the editor window wasn't working after all :-( Actually it appeared as though it was working in the editor but only because the :not was stopping it working in the LO itself too. I've committed a working fix for that now and instead of doing :not just setting .cke_editable background to the themes page background. Simple wh

[2018-06-22 08:17] FayCross commented on #773
I've just tried this & it's working now. Thanks @ronm123

[2018-06-22 10:43] ronm123 opened #779 "accessibility options and newer themes"
@torinfo @FayCross
I've committed the CESI theme now and following our discussion re the accessibility options and js code for that theme that isn't working at the moment I did some testing with the other newer themes that we have and there are definitely some issues with some of those too. The main issue is when selecting Invert. e.g. we have so many more colours and changes in themes now that th

[2018-06-28 12:55] #300 closed

[2018-06-28 12:56] #340 closed

[2018-06-28 12:56] #189 closed

[2018-06-28 13:02] #450 closed

[2018-06-28 13:07] #518 closed

[2018-06-28 13:28] #526 closed

[2018-06-28 13:30] FayCross commented on #538
This causes issues when including both glossary & variables together in a project.

[2018-06-28 13:45] #584 closed

[2018-06-28 14:26] FayCross opened #780 "End-user created variables"
From Forum:
I'm not sure that I phrased this correctly, but I was wondering whether it would be possible to use a variable throughout a Xerte LO, for example, if you ask the participant to input their name at the beginning, you could use that throughout to personalise it. There could be other variables, but this is the one that I would probably use most.

[https://xerte.org.uk/index.php?option=com

[2018-07-04 12:52] FayCross commented on #452
Closing this as Ron posted a way of doing this on the forum: [https://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=4&id=1495&Itemid=759&lang=en#5091](url)

The code to display should be wrapped in <xmp>tags

[2018-07-04 12:52] #452 closed

[2018-07-18 08:57] ronm123 commented on #779
Hi all
I committed a new High Contrast theme yesterday and added the following notes:
New High Contrast XOT template theme with the aim of replacing the Colour Changer > Invert option or rather what happens when that option is selected. That option hasn't really worked reliably for some time because we have so many more themes and variations compared with just the original default theme. I guess t

[2018-07-20 09:57] ronm123 commented on #779
Hi all
I've committed the blackonyellow theme now too.
If we all agree then the colour changer code now needs changing so that if invert is selected the high contrast theme is loaded and if black on yellow is selected then the black on yellow theme is loaded.

[2018-07-20 10:11] ronm123 opened #782 "menu connector incorrectly showing nested pages and therefore those links don't work"
Hi all
I thought I'd already added this as an issue but can't find it so adding again here.
I noticed in a page types project that if I use a menu connector showing all pages then some of the buttons show nested pages e.g. Media - Multiple Perspectives | Video Two shows multiple times. Upon further investigation it's showing the second video regardless of name so if I move video 3 to position 2 th

[2018-07-25 15:09] FayCross opened #783 "Bug affecting creating new templates and editing existing ones"
When creating a new template it will appear in the 'central templates' list in the management pages as active & available to all users but it doesn't appear in the list of templates to choose from when logged in as a normal user.

Also, when looking at central templates it doesn't seem to save the change between active/inactive in the drop down menu. If I click save after changing this I don't get

[2018-07-25 15:35] ronm123 commented on #783
@FayCross quick thought re management not saving - is this an updated xampp install and if so did you run upgrade.php? I know that's probably not the problem here but often when I've had issues with management not saving it's been because I've forgotten to run upgrade after a pull that required it.

[2018-07-27 08:24] FayCross commented on #783
I've just run upgrade & it still won't save changes to active/inactive or show my new template in the workspace

[2018-07-27 12:27] FayCross opened #784 "Issue with password protected projects that contain links to other password protected projects"
When password protected projects contain links to other password protected projects you have to login every time you follow a link even though you have already entered your login details.

@torinfo I've commited a fix for this (https://github.com/thexerteproject/xerteonlinetoolkits/commit/400953d39077d1080170e402d9de26fce2d620a8) but as aren't sure if it's a terrible way of doing things. Could you

[2018-07-28 09:34] #784 closed

[2018-07-28 09:36] torinfo commented on #784
@FayCross Did it a bit different. Just to use the same session variables as we use for normal login processing. Also allows to go into xerte without logging in again, and than allows to logout.

[2018-08-01 07:58] FayCross commented on #784
Thanks Tom

[2018-08-01 12:40] FayCross opened #785 "Variables - option to allow decimals to be shown with comma"
Requested on the forum: [https://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=3&id=1538&Itemid=759&lang=en#5233](url)

Allow decimal points in variables to be displayed as decimal commas instead

[2018-09-03 11:39] ronm123 opened #787 "use of pageID or linkID in url especially for site/bootstrap projects"
Hi all
I noticed an issue on the community site download page where we have previously had links to system requirements that pointed to template_id=81#page9 of our release notes resource. However as we have added pages the system requirements are now on page 11 rather than page 9 so those links are now pointing to the wrong page. However just correcting the links to point to page 11 instead is lik

[2018-09-05 08:50] ronm123 commented on #779
@torinfo thanks for updating the accessibility options for black on yellow and invert to swich to the new themes. That bit works fine but a slight problem that we have missed is that after choosing one of those options and then selecting off the theme doesn't revert to or reload the orginal theme set by the author. Refreshing obviously achieves that but ideally we need to add code so that isn't ne

[2018-09-05 08:52] ronm123 commented on #779
BTW selecting to remove background images and then selecting off doesn't work now either.

[2018-09-05 09:46] torinfo commented on #779
@ronm123 Hmmm. The code is not in there. I'll find it and will add it.

[2018-09-05 10:20] ronm123 commented on #779
@torinfo great thanks I see that you have now committed the change and after a clearing of cache it all seems to be working now so will close the issue.

[2018-09-05 10:20] #779 closed

[2018-09-06 12:46] FayCross opened #789 "Opinion page - print graph"
Add option to print off graph produced at the end of the opinion page. Requested on Community Forum:

[https://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=12&id=1550&Itemid=759&lang=en#5319](url)

[2018-09-06 12:53] FayCross commented on #787
1. Ideally it should work in Bootstrap projects too but I've had a quick look at the code & there doesn't seem to be a way of doing it at the moment (without just using page numbers)

3. I've never known why we have linkID & pageID. What was the original reasoning behind that?

[2018-09-06 12:54] FayCross commented on #787
Ha, it's renumbered my comment - no. 2 is an answer to no. 3 (it changes back whenever I edit it!)

[2018-09-06 20:20] torinfo commented on #787
The LinkID is automatiaclly generated (and prior to the current editor you had to remember it and type it in to use it) Hence the intruduction of PageID, which you could set with an optional property (and thus, in theory remember easier).

[2018-09-07 11:18] ronm123 commented on #782
@FayCross no I didn't fix it and it's still an issue but maybe only for older/existing projects...

Try adding a menu connector at the beginning of an existing page types project do you see the issue then? I do. e.g. I see multiple Audio Slideshow buttons.

However I just quickly created a new projected added a title page a couple of audio slideshow pages and a summary page and then added the menu

[2018-09-07 11:58] FayCross commented on #782
Yes I can see it in a really old project now, I'll look into it now

[2018-09-07 12:51] #782 closed

[2018-09-07 12:59] FayCross opened #790 "Usage stats in project details"
Could the 'play' stats be included in the project details section for each project?

At the moment to see how many views a project has had you have to select the workspace folder, click properties, select my properties, usage stats and then find the project you want in a long list

[2018-09-08 10:31] torinfo commented on #790
@fay, Yes, good idea. I'll implement that. Sould be easy enough to do.

[2018-09-08 15:43] #790 closed

[2018-09-12 13:28] FayCross opened #791 "Table page csv option - allow semi colon separators"
Allow csv files used in table pages to accept semi colons as the separators. As requested on the forum
[https://www.xerte.org.uk/index.php?option=com_kunena&view=topic&layout=reply&catid=3&id=1544&mesid=5328&Itemid=759&lang=en](url)

[2018-09-16 12:10] ingedonke opened #793 "Inventory language options not correct"
Hi,

In the inventory page you have in the language options the possibility to edit the submit butoon. But in the inventory page itself this is not used. Shouldn't the submit language option not be depricated?
![2018-09-16_1408](https://user-images.githubusercontent.com/5703781/45596287-3e97ee00-b9ba-11e8-933f-0dd01cc61727.png)

Bye,
Inge

[2018-09-19 10:07] FayCross commented on #793
This submit button is used but only if when 'Display Feedback' on a question is on

[2018-09-19 10:07] #793 closed

[2018-09-27 11:59] ronm123 opened #795 "new feature: add customPageChanged function to theme js files"
Hi all
I'm looking to add some custom script to a themes.js file in a way that is used/called on page change. I've briefly discussed this with @torinfo and @FayCross and agreed it would be a useful option for themes to be able to include if required. So the plan is to add a function to the theme.js file e.g.
`function customPageChanged{
//add code to execute here when each page model is loaded
}`

[2018-09-27 19:52] torinfo commented on #795
I think this is a good idea. I also think the way you do it now by checking whther the function exists is also a good idea.

As this function is intended to be used by a theme, I do not see any merit in an optional parameter.

Also like we discussed, I think it's a good idea to pass the pagetype as a parameter to the function, even if you can get to that information in the function now as well (x_

[2018-10-11 12:41] ronm123 opened #796 "quiz question text not wrapping in edge browser"
Issue raised in forum and solution suggested by Neil Pollock

There appears to be an issue in Microsoft Edge with quiz question text not wrapping (so it just appears as a single line which expands the width of the page).

I've found a fix, which is adding "width: 100%" to the legend element. However, I was wondering whether this could be fixed for future releases?

[2018-10-16 08:28] GaneshKandu opened #798 "Getting Error in xerte X (git X-v3.7.4-2-g3c75844)"
Hi

Getting Error in xerte X (git X-v3.7.4-2-g3c75844)

 ``Site Administration``  > ``LTI/Moodle settings. (Not Tsugi/LTI)`` > ``LTI Keys``

[code]

[2018-10-16 09:05] ronm123 commented on #798
Hi
was this an upgrade? If so you need to run upgrade.php.
But also tsugi isn't installed with Xerte you have to add and configure that manually.

[2018-10-16 09:20] torinfo commented on #798
This table is the 'old'lti keys configuration in management.php, not Tsugi.

And indeed, if this is an upgrade, please run http(s)://<xerte url>/upgrade.php

[2018-10-16 10:00] GaneshKandu commented on #798
its latest install not old
its not upgrade

[2018-10-16 10:03] GaneshKandu commented on #798
Its Normal install of latest not upgarde

[2018-10-16 13:27] torinfo commented on #798
I just did a fresh install. The error suggests that the table lti_keys does not exist, but as far as I can tell it is created correctly, if I do a clean install. Could you please check your database and database credentials? (the credentials that are used, can be found in database.php.)

[2018-10-18 06:42] torinfo commented on #798
Ah.. I'll fix it. Thank you for helping us solving this.

[2018-10-29 08:34] GaneshKandu commented on #798
@torinfo  @ronm123
look at https://github.com/thexerteproject/xerteonlinetoolkits/pull/803

[2018-10-29 09:55] GaneshKandu opened #804 "Admin panel is not loaded properly in xerte version 3.7.7"
Hi,

### 1
 i tried manual installation of xerte version 3.7.7 on  PHP 5.3 (with authentication mode db).

 However i am facing an issue while doing so. After installation is complete and when i log inside the admin panel .the admin panel is not loaded properly . This is how it's loaded

 ![img_20181029](https://user-images.githubusercontent.com/12833130/47642229-1fca7100-db8e-11e8-8ea4-e6200595b6

[2018-10-29 14:36] torinfo commented on #804
@GaneshKandu Regarding Issue 1. No I don't have that issue. Do you have a 'normal' user with the same loginname as the admin user?

@2 yes, we do not patch ALL errors to the relase. So #798 will end up in the next release (thank you for your pull-request).

[2018-10-30 03:59] GaneshKandu commented on #804
Hi

i followed this step mentioned on [readme.md](https://github.com/thexerteproject/xerteonlinetoolkits/blob/develop/readme.md#installation-instructions-stable-release-zip)
Installation Instructions (Stable release, .zip)

------------------------------------------------

Here's a quick guide to installing toolkits on your local computer:

 1. Download and install XAMPP from http://www.apachefrie

[2018-10-31 09:16] JdenHartog opened #807 "Gap Fill with 2 Fill in Blanks, hangs when going over pages using next/back buttons"
Using XOT 3.7.4 one can reproduce this by:

- creating a new project
- inserting a *Gap Fill*
- duplicate that 2 times
- select the one in the middle
- set Interactivity to *Fill in Blank*
- mark 2 words in Gap Fill Text `Enter interactive |text| |here|.`
- click *Play*
- click *Next* button 2 times
- click *Back* button 2 times
- crash  :collision:

[2018-11-01 08:46] obgeneralao commented on #804
@GaneshKandu , I also had the same issue so I had to revert to previous versions of XOT

[2018-11-01 09:39] ronm123 commented on #804
Hi
I just replicated this and can confirm that it's a bug that has crept into both the Xerte X code and our latest develop code. So we'll look into it further and fix it asap.

However just to clarify - using Xerte with XAMPP is only meant for local development/testing and not for production use.

HTH
Ron

[2018-11-01 10:30] ronm123 commented on #804
Hi again
as a temporary fix for this with the latest 3.7.7 and develop code there is a file named auth_confirg.php.dist rename that to auth_config.php e.g. remove the .dist and all should be well?

This was an attempt to prevent an upgrade replacing an already configured auth_config.php but means that a new install doesn't have that file until it is renamed. This is standard practice in many other

[2018-11-01 10:32] GaneshKandu commented on #804
@ronm123 Hi renaming ``auth_config.php`` is working

[2018-11-01 11:37] JdenHartog commented on #796
Some more details on the quick-fix/workaround ronm123 suggest:

One can add the *Optional Property* **Styles** to the *Learning Object* and paste te follwing code into it:
[code]
Hopefully this doesn't mess up the layout of other Xerte pages having a `qTxt` id. I don't know if there are any other then the *Quiz* page.

[2018-11-05 20:55] JdenHartog opened #808 "Colour Changer doesn't work when exporting Offline Zip."
The *Colour Changer* for choosing *Black on Yellow* for example, doesn't work when one exports the project as an *Offline Zip.*
When clicking *Preview* in XOT 3.7.4 the *Colour Changer* works perfectly, but after exporting the project via *Properties* > *Export* > *Get Offline Zip.* checkboxes *Black on Yellow* and *Invert* do nothing. This did work in XOT 3.6.x

[2018-11-05 23:04] torinfo commented on #808
This is probably caused by the fact that in 3.7 the coulour changer uses (special) themes to handle the change and these themse are not being exported (I think). I'll have a look.

[2018-11-06 09:59] JdenHartog commented on #808
After unsuccessfully searching for those (special) themes in an old XOT 3.6.x *Offline Zip*, I managed to temporarily solve this problem by replacing the file `\offline\offline_colourChanger.js` in the XOT 3.7.4 *Offline Zip* by one from an old XOT 3.6.x *Offline Zip.*

[2018-11-14 13:05] FayCross commented on #783
Just coming back to this after quite a while. I've found that the reason the new template wasn't appearing as an option in the workspace is because the 'parent_template' field in the 'originaltemplatesdetails' table of the database was empty. I've populated this with the template name & my new template is now appearing as expected.

Is this something you can fix @torinfo ? So that when you use the

[2018-11-14 13:06] FayCross commented on #783
I'm using xampp up to date with develop code by the way

[2018-11-14 16:10] torinfo commented on #783
@FayCross Yes, I can do that (and will :-) )

[2018-11-20 10:53] JdenHartog opened #810 "Gap Fill answer incorrectly becomes red when going over pages using next/back buttons"
Using XOT 3.7.4 one can reproduce this by:
- creating a new project
- inserting a *Gap Fill*
- set Interactivity to *Fill in Blank*
- add Optional Property *Mark at End*
- duplicate *Gap Fill* ones
- select the first and mark the word `|text|`
- select the second and mark the word `|here|`
- click *Play*
- enter "text"
- click *Check* button (text correctly becomes green)
- click *Next* button
- c

[2018-11-20 10:59] JdenHartog opened #811 "Gap Fill answer incorrectly treated as wrong after going over pages using next/back buttons"
Using XOT 3.7.4 one can reproduce this by:
- creating a new project
- inserting a *Gap Fill*
- set Interactivity to *Fill in Blank*
- add Optional Property *Mark at End*
- duplicate *Gap Fill* ones
- select the first and mark the word `|text|`
- select the second and mark the word `|here|`
- click *Play*
- click *Next* button
- click *Back* button
- enter "text"
- click *Check* button
- "text" inc

[2018-11-23 05:44] #804 closed

[2018-12-02 00:36] JohnSmith-LT commented on #791
@FayCross can you take a look and see if this is enough to solve this and close if you are happy?

I tried to figure out a way to auto-detect by counting but when you take european decimals and quotes into consideration then it becomes far too difficult...

[2018-12-02 00:42] JohnSmith-LT commented on #808
I can't reproduce this in the latest develop branch. Has this been fixed? Both development and offline exports work:

![image](https://user-images.githubusercontent.com/3907362/49334324-fb1d4b00-f5ca-11e8-9c1e-f24295a1b1e7.png)

![image](https://user-images.githubusercontent.com/3907362/49334334-1ab47380-f5cb-11e8-97a3-2559df5bcfff.png)

[2018-12-02 00:54] JohnSmith-LT commented on #795
Hi @ronm123 ,

Should work with just the following:

if (typeof customPageChanged === 'function') { customPageChanged( x_pageInfo[x_currentPage].type ); }

placed in xenith.js at the point that you suggest (end of x_setUpPage())

Only suggestion I have is that maybe it should have theme in the name of the function somewhere to make it more intuitive as to what it is doing... perhaps updateTheme or

[2018-12-02 11:44] JohnSmith-LT commented on #785
Hi @FayCross, can you take a look at this commit when you get a moment and make sure it doesn't interfere with anything you are doing with variables or otherwise?

I was going to do something based on language/internationalisation but I thought there may be times when someone in Europe wants to use English but display the numbers in a more recognisable format to them.

Obviously there are many mor

[2018-12-02 11:58] JohnSmith-LT commented on #780
Hi @FayCross

Not sure if you've put any thought into this or come up with a solution yet? Perhaps something like:

Please enter your name: [=name]
Hello [name] and welcome to...

[=name] could just be replaced by:

Textbox SubmitButton

When you press the SubmitButton it replaces the variable 'name' with the entered value or creates a new variable called 'name' and also replaces the textbox and b

[2018-12-02 12:42] JohnSmith-LT commented on #778
Hi Oliver,

I've tried reproducing this problem using iframes in various Tab+ pages and can't reproduce. I have only been using YouTube iframes though and it may be specific to your particular code so are you able to provide a link to a LO that isn't working for you and/or the actual iframe code that you are using? Could it be that the contents are taking a while to load which is why moving and go

[2018-12-02 12:45] JohnSmith-LT commented on #610
Are you happy @FayCross that this one is fixed?

[2018-12-02 14:49] torinfo commented on #808
Yes this is fixed (in 974f4f5523bf8ec19f94ab1d3d82829974b1b526)

[2018-12-02 14:49] #808 closed

[2018-12-02 15:00] JohnSmith-LT commented on #731
Hi @FayCross

I've just tried the "Give this project" option in properties with a manually entered link and gave it to another user and looking at the HTML source it has changed the url to that of the new user... so there must be code somewhere to do this... or is this issue fixed?

**UPDATE** - I actually looked at the data.xml file and even though I added the full link given in media tab, the ed

[2018-12-04 10:00] ronm123 commented on #795
@JohnSmith-LT welcome back! ;-)

@torinfo and I have used this on a project we have been working on together which involves separating custom code from the core files and putting as much of that customisation as possible in the custom theme the project uses. We still have more to do on that and plan to reuse relevant bits in core Xerte. Tom may have further comments?

[2018-12-04 10:46] JohnSmith-LT commented on #795
I know @ronm123 it's been a while. Once you get out of the way of going to Github regularly you stop getting so many notifications...

I'm going to try to be more regular though...

I think there may be a need for more events too, such as pageUnload in certain page models that would make the code more reliable but I'll start a new issue to discuss.

[2018-12-04 12:26] ronm123 opened #812 "greyscale issue with IE"
Hi all
I've just been doing some testing of an issue that cropped up recently that appears to be IE specific. I'm not sure if it's new and due to a change or has been there for a while but not picked up because it requires specific circumstances. However I can replicate with latest develop...

1. Create an LO and add a title page and plain text page.
2. Add a background image to the title page, ma

[2018-12-04 14:40] JohnSmith-LT commented on #812
Hi @ronm123 I don't remember whether I did that or whether it was @FayCross but in any case I can't test until perhaps later as I use a Mac at work. Sounds like there must be an error and some of the javascript is ending before getting to the bit that loads the buttons.

Do you see any errors in the console? If I was to guess then i'd say there would be one in the section lines 2256-2263 where a m

[2018-12-04 16:40] ronm123 commented on #812
@JohnSmith-LT no I'm not seeing any relevant errors in the console. What I have since tested is that the same thing happens if the background image is added and set to greyscale at LO lcon level rather than just title page level.

If I comment out 2257 e.g. //$pageBg.gray(); then the title page loads complete with navigation but obviously the image isn't turned grey.

[2018-12-04 17:05] ronm123 opened #813 "issue with audio on gap fill page if both narration and audio feedback options are added"
Hi all
it was reported to me that narration flashes/pulses and doesn't play correctly.
After investigation it turns out that in this instance both narration and audio feedback options had been added to a gap fill page. With both of these options populated the narration player flashes or pulses and doesn't work until the user clicks the check button in the interaction and then the audio feedback pl

[2018-12-04 18:06] torinfo commented on #812
Strange indeed.

No errors, but navigation doesn't work. Even stranger, hover doesn't even cahnge the colour on the navigation buttons.

If you inspect the navigation buttons, you end up on the svg filter, so the filter is over the buttons. You can also see that the svg has a height of 100%. If you toggle that off, everything seems to work fine again, and the image is still gray.

[2018-12-05 08:03] JohnSmith-LT commented on #812
Hi. It is a strange one.

Seems to be a timing issue. @ronm123 can you try changing 2257 to

`setTimeout(function(){$pageBg.gray();}, 25);`

and see if that resolves things for you? I'm still unsure why it stops the other parts loading though without giving any errors etc...

[2018-12-05 08:20] JohnSmith-LT commented on #789
Hi @FayCross

How complex do you envisage this to become? Do you think this just needs a printer icon and a call to window.print(); and let the browser handle printing or do you think it requires rewriting into a new popup with a print stylesheet to remove the unnecessary and improve layout first? Or would creating a PDF (if easily implemented) so that it can be saved or printed?

[2018-12-05 08:56] ronm123 commented on #812
@JohnSmith-LT are you saying that setTimeout addition resolves the issue for you and without the newer plugin? It doesn't for me but I haven't tried the newer plugin.

[2018-12-05 09:01] ronm123 commented on #789
@JohnSmith-LT try the bottom of the 3.6 release notes page https://xot.xerte.org.uk/play.php?template_id=81#page4section21

[2018-12-05 09:08] torinfo commented on #812
@ronm123 @JohnSmith-LT I can fix it using CSS, See my last comment. Not much time today, but I'll try to fix it later today.

[2018-12-05 09:18] JohnSmith-LT commented on #812
Yes @ronm123 it fixes it for me with the delay in and reverts when I take the delay out.

I'm using IE10 though in a VM. Tom can fix it via CSS but perhaps just for Edge, not sure how backwards compatible we need this to be. At present the delay works for IE10 but when I drop back to IE9 or 8 then it doesn't. I know many people may still be using IE9...

I'll look over the .gray() code also - it m

[2018-12-05 09:20] ronm123 opened #814 "gapfill feedback and possibly other page types too.."
Hi all
I had a report that the feedback on gapfill when it is set to drop down doesn't work on Safari or Chrome on MacOS. Specifically the feedback says: "Your correct answers are shown in green. Try again with those you have got wrong." but on MacOS the text in the drop down doesn't turn green so the feedback doesn't make sense. I have just committed a fix for this: https://github.com/thexertepro

[2018-12-05 09:42] ronm123 commented on #812
@JohnSmith-LT @torinfo I'm testing with IE11. I don't get the same problem with Edge or any other browser.

Curious that the setTimeout works for you with IE10 John but doesn't for me with IE11. But having to do that doesn't sound like the right solution anyway?

@torinfo re-reading your earlier response and inspecting the buttons why on earth would nv.d3.css and the svg styles be having any impac

[2018-12-05 10:36] JohnSmith-LT commented on #812
Yeah @ronm123 it's not the best way to do this but we've had to resort to doing it in several places.

Anyway, It now doesn't seem to be working reliably for me although was last night. If @torinfo can fix using css then that would be ideal but I thought the reason for this plugin is that IE 10/11 and Edge 12 don't support css grayscale and use a js polyfill to do the work. There are a number of c

[2018-12-05 13:01] FayCross commented on #791
Thanks John - I’ll get back to you about this (& the rest of the issues you’ve asked about!) tomorrow as I’m out of the office at the moment with no access to stuff. Thanks

[2018-12-05 15:31] JohnSmith-LT commented on #791
No hurry @FayCross i'm just getting back into it so asking some questions about the other stuff but might not get around to doing anything until Christmas break anyway...

[2018-12-05 15:40] JohnSmith-LT commented on #812
Yes there are a lot of them and I saw that cover/contain are also not supported. There seems to be more that isn't supported in that plugin than actually is so there may be something better that can do gray and also cover/contain etc.

Some of the polyfills are great but sometimes they can actually do more harm than good and interfere with each other...

If width or height being removed fixes it t

[2018-12-05 20:53] JohnSmith-LT opened #815 "Are we making life difficult for ourselves unnecessarily?"
So I was reading this today... We are stuck on jQuery 1.9.1 (only talking about the original Nottingham template for now) but the suggest that with the release of jQuery Compat 3.0 that there is no reason for anyone to stick to v1 since XP is no longer supported and 3.0+ Compat supports Safari 5+/IE8+

Since Xerte X is now out we perhaps have a chance to improve the speed and reduce the complexity

[2018-12-05 21:04] JohnSmith-LT commented on #815
From the Release notes for 3 which is promising...

Despite the 3.0 version number, we anticipate that these releases shouldn’t be too much trouble when it comes to upgrading existing code. Yes, there are a few “breaking changes” that justified the major version bump, but we’re hopeful the breakage doesn’t actually affect that many people.

To assist with upgrading, we have a brand new 3.0 Upgrade

[2018-12-06 07:19] torinfo commented on #812
@ronm123 @JohnSmith-LT I suspect (but don't know for sure) that the reason why the size of the svg matters, is that is is kind of an overlay, and apparently prevents mouseinput on IE when the overlay is over the buttons.

Indeed, changing the css breaks the dashboard, but I am sure we can overrule the svg css when the svg is not a dashboard

[2018-12-06 07:31] ronm123 commented on #815
Sounds like a good idea @JohnSmith-LT are you joining the online meeting today? If so we could discuss further then.

[2018-12-06 08:32] JohnSmith-LT commented on #815
Yes, I can join this afternoon.

[2018-12-06 09:11] torinfo commented on #812
@ronm123 @JohnSmith-LT I noticed that the width and hheight of this pasrticular svg were already set to 0, but using attributes in stead of styles.

If I add the follwing fragment to mainStyles.css, everything seems to work:

'''
/* Specifiaclly for grayscale handling on IE browsers */
body > svg
{
	width: 0px;
	height: 0px;
}

[2018-12-08 21:50] JohnSmith-LT opened #816 "Glossary button highlights when you close the glossary dialog box"
When you have a glossary and you click the glossary button then the dialog box appears correctly and the Glossary button highlight disappears. But when you click the close [x] on the dialog then the Glossary button highlights again by itself...

[2018-12-09 01:08] #816 closed

[2018-12-10 00:31] JohnSmith-LT commented on #813
Hi @ronm123

I can't reproduce this in Chrome on a Mac so perhaps it's browser specific? What browser can you reproduce it in?

[2018-12-10 00:52] JohnSmith-LT commented on #787
Hi. We used to have an optional property to add a custom pageID in XOT but that seems to have been taken out in favour of the linkID which is automatically generated in the editor. Shouldn't we add it back in? (for instances where you wish to for example call page 2 [section1] and page 8 [section2] so that you can link to these externally with #pageID=section2

I seem to remember there being a dis

[2018-12-10 10:02] ronm123 commented on #813
@JohnSmith-LT using Windows I see the same on Chrome, Firefox, Edge etc here's a link to a test https://www.learningapps.co.uk/moodle/xertetoolkits/play.php?template_id=1955 and BTW it has Japanese etc but when I first tested the reported issue I removed all that and added test English test and still had the same issue so as far as my testing at least it was having both audio options added that wa

[2018-12-10 11:07] JohnSmith-LT commented on #813
Ah, it's the new Autoplay Policy. Can you try turning off autoplay on narration and see if it stops?

Console is full of errors but reason I don't see it on localhost is probably because of their strange

![image](https://user-images.githubusercontent.com/3907362/49728677-50142d80-fc6b-11e8-8200-8304b73f9e62.png)

It seems that now in most browsers you should check the AudioContext and if required

[2018-12-10 11:42] ronm123 commented on #813
@JohnSmith-LT sorry I did already check that and it's not the auto play causing the issue. I've turned off autoplay in that test project and you'll see it's still happening. I also duplicated the page so page 2 has feedback but not narration and page 3 has narration and not feedback. As you'll see the issue doesn'r arise on either of those pages so it does seem to be an issue when both are enabled

[2018-12-10 11:48] JohnSmith-LT commented on #813
What about having just a title page on the first page with no narration? Does the second page with both elements then work since you will have to interact with the page to move to page 2? It's a workaround perhaps for now if anyone has issues...

I'm currently looking to see what can be done, that's compatible cros-browser - the problem is mainly with IE since .play() returns a promise and IE11, O

[2018-12-10 12:19] JohnSmith-LT commented on #813
Actually now I think I was off on a wild goose chase with the Autoplay policy (we still need to do something about that though) but I don't think now that that is what this is - I think the two elements are interfering with each other or something...

I'm still looking...

[2018-12-10 12:47] ronm123 commented on #813
@JohnSmith-LT title pages added to the test project but unfortunately that doesn't help either.

[2018-12-10 16:00] JohnSmith-LT commented on #813
Hi Ron,

So i've traced the problem to this part - it seems to be firing over and over again and when it does it triggers resizeEnd which then calls x_updateCss which rips out the narration and puts it back triggering the resize again...

[code]

I'm not sure why but also notice that one of your css files seems to be missing and whether this is why I see it on your site but I don't from my test si

[2018-12-10 16:56] JohnSmith-LT commented on #813
Ok, I can reproduce here. If you turn off Fill Window then it should go away... It's not a solution but something is taking the navigation outside the window size causing a resize event which results in ripping out the narration and putting it back and the loop continues...

Might be the code but that code hasn't changed for a 3+ years. More likely to be the css that is now causing this as that wa

[2018-12-11 09:48] ronm123 commented on #813
@JohnSmith-LT just a quick note to confirm that yes set the LO to default in the editor stops the issue on loading but as you say not a solution.

BTW I think that missing responsivetext.css error is one of the common errors we get because that file is loaded if it exists but otherwise just the responsivetext.css in modules is used. Not all themes have their own responsivetext.css. If you have one

[2018-12-11 12:42] JohnSmith-LT commented on #813
Hi Ron, so I think i've solved it... If you have time can you give it a try before I commit changes?

First you need to add this to the gapFill.css file
[code]
Then in gapFill.html you need to change the `.show()` at around line 233 to `.addClass('hidden')`

Then do a search & replace of

`$feedbackTxt.fadeIn()`

and change to

`$feedbackTxt.removeClass('hidden').fadeIn()`

Clear the cache and ref

[2018-12-11 13:10] ronm123 commented on #813
@JohnSmith-LT thanks John. Just busy with some other stuff but will test and report back asap.

[2018-12-11 13:52] ronm123 commented on #813
@JohnSmith-LT have tested this now and it seems to fix the issue but a couple of comments...

where you referred to .show() on line 233 I assume you meant .hide()?

with the changes applied (locally not on that online test project) the repeated flashing no longer happens but it looks like there is a single flash on first load/visit of the page. After that going back and forth doesn't cause any fla

[2018-12-11 15:56] JohnSmith-LT commented on #813
Hi @ronm123

Yes .hide() as you figured out...

At least it 99% fixes it for now - I think the loop that is setup needs to be looked at - perhaps ripping out the narration and replacing it doesn't need to happen every time the window resizes but i'm assuming it was placed in there for some reason...

Will I commit those changes as a partial fix and leave the issue open with a revision of single fl

[2018-12-12 13:28] ronm123 opened #817 "Urgent - problem with existing multiple choice pages and Xerte X"
Hi all
I mentioned this to @torinfo by email recently but now it has become clear that it's a difinite issue and potentially affecting lots of existing LO's.

I've had reports from two different organisations about LO's with MC pages. e.g. "sometimes don’t have the Check box, if we do and click check, it doesn’t give us feedback and when you click the forward arrow, it doesn’t go forward - the sli

[2018-12-12 15:20] FayCross commented on #817
Those bits of info being missing from the xml shouldn't cause a problem as the code checks to see if they are undefined before continuing (see lines 182-185).

Doesn't the error in the console say which line the error is on?

[2018-12-12 15:55] ronm123 commented on #817
@FayCross just sent you a direct email with a link to a page types example on one of my installations where this is happening too. Here's a link to a quick demo with just the mc page and a plain text page after it. The page in this case was imported from an existing LO rather than created new because if created new all is fine. https://training.mitchellmedia.co.uk/xot/play.php?template_id=347

[2018-12-12 16:34] FayCross commented on #817
Could you test this possible fix please @ronm123 ? Thanks

[2018-12-12 16:55] ronm123 commented on #817
Thanks @FayCross. @torinfo can you pull this into the release asap?

Should we notify users somehow? Potentially there are lots of LO's with faulty MC pages until this fix is applied?

[2018-12-12 16:56] ronm123 commented on #817
Do we know at what version this would have become an issue?

[2018-12-13 12:46] FayCross commented on #789
@JohnSmith-LT I think priniting off just the graph would be particulartly useful. Although a button just to call window.print() would be ok as a quick way if it's time consuming to implement

[2018-12-13 13:02] #791 closed

[2018-12-13 13:03] FayCross commented on #791
@JohnSmith-LT this works well - thanks. I've grouped the two csv properties together

[2018-12-13 13:05] torinfo commented on #817
@ronm123 Done

[2018-12-13 13:06] FayCross commented on #787
@JohnSmith-LT I'd be fine with it being added back in. It may have been me who removed it (if it was I don't remember why).

[2018-12-13 13:11] FayCross commented on #813
@JohnSmith-LT I vaguely remember that the narration was removed because when xenith was first written there was an issue with the audio player not resizing properly after it had first loaded (something to do with the media element code?). So it was removed & added back in. There must be a better way of doing this now though.

[2018-12-13 13:12] FayCross commented on #817
From 7th September - not sure what version that would be

[2018-12-13 16:22] torinfo commented on #817
@ronm123, @FayCross That would be X-v3.7.1.

@ronm123 Yes we apparently did. This is mentioned at the top of the registration form:

When you register your site: You are added to a low-volume mailing list for important notifications such as security alerts and new releases of Xerte. Basic info like Organisation name and Country will be added to our publicised list of users worldwide.

[2018-12-13 16:35] ronm123 commented on #817
@torinfo so how do we post to that list? :-)

and should we post details of bugs like this that we have fixed or wait until people discover them?

[2018-12-14 06:15] GaneshKandu commented on #798
i am still getting same issue in xerte online toolkits 3.7.11

[2018-12-14 11:13] ronm123 opened #818 "accessibility options and use of custom styles or xhibit app styles etc"
Hi all
it was pointed out to me by someone using custom styles created with xhibit app that when either the Invert or Black on Yellow option is selected the footer buttons get messed up. Display of the buttons does indeed get messed up but also the changing to High Contrast or Black on Yellow themes doesn't work correctly either. As you may know we changed the Invert and Black on Yellow options so

[2018-12-14 11:38] james-roscoe commented on #818
Thanks for flagging this up Ron. Xhibit already has some limited functionality to ensure the invert/black-on-yellow functionality is preserved for text ([via this commit](https://github.com/james-roscoe/XhibitApp/commit/099ee10e0a946d95e0e2a6c9255ebad901747913)) but we haven't updated that since we added custom FontAwesome icons in. I'm happy to update Xhibit to ensure the icons are still visible

[2018-12-14 12:40] ronm123 commented on #818
@james-roscoe the problem is the accessibility options haven't really worked properly since the days when there was only one theme. With all the themes and colour combinations we've had since the only reliable way to display via high contrast or black on yellow and affect most of the content as well as the interface was to switch themes altogether to a high contrast theme or a black on yellow them

[2018-12-14 14:35] FayCross commented on #780
@JohnSmith-LT I like your suggested syntax of [=name] It should be pretty simple to implement that I would have thought. I think it's best to have the default values in the variables table rather than us assume what they might be.

[2018-12-14 14:39] FayCross commented on #780
We could also have mark up for the submit button so if there were several text fields on the page you wouldn't end up with several buttons. e.g.

Age:[=age]
[+submit]

[2018-12-14 14:41] #610 closed

[2018-12-14 15:03] FayCross commented on #731
Hmm, I can't recreate this now so I'll close

[2018-12-14 15:03] #731 closed

[2018-12-14 15:41] JohnSmith-LT commented on #785
I did contemplate this too but thought it much simpler that end user display was 0,5 even though internally and creator side stayed 0.5

We could adopt a similar style to csv file parsing where 1,2,3 becomes 3 items and 1,"2,3,4",5 also becomes 3 items... it would complicate the code but is certainly doable...

Only thing is "1,2" might be a list or a decimal and processing would introduce another

[2018-12-15 14:55] #812 closed

[2019-01-04 11:29] ronm123 opened #819 "language string problem with xerte x code PROJECT_INFO_ACCESS_SET_AS"
I’ve just done a clean install of Xerte X 3.7.12 and in testing noticed a language string problem where for instance the project I created in the workspace shows as: Access: PROJECT_INFO_ACCESS_SET_AS Private rather than Access: This project is currently set as Private. I checked an earlier Xerte X revision and that has the same problem.

It seems like this is because the line define ("PROJECT_INF

[2019-01-04 11:49] ronm123 commented on #819
Quick update - I mentioned checking an earlier Xerte x revision but actually that was also 3.7.12 whereas a 3.7.9 install doesn't have the same problem. So I guess that string got removed between more recent commits.

[2019-01-10 07:22] GaneshKandu opened #820 "Admin panel is not loaded properly in xerte version 3.7.13"
i tried manual installation of xerte version 3.7.13 on  PHP 5.3 (with authentication mode db).

 However i am facing an issue while doing so. After installation is complete and when i log inside the admin panel .the admin panel is not loaded properly . This is how it's loaded

 ![img_20181029](https://user-images.githubusercontent.com/12833130/47642229-1fca7100-db8e-11e8-8ea4-e6200595b6bd.png)

Re

[2019-01-10 10:40] GaneshKandu commented on #820
### Step to reproduce

- install xerte 3.7.13 ( with Authentication method:db )
- after successful install first login will work
- logout and login

second login will give you blank content

[2019-01-11 10:47] GaneshKandu commented on #820
Thanks ! seems resolved in new version 3.7.14

[2019-01-11 10:47] #820 closed

[2019-01-13 18:39] torinfo commented on #820
Thank you for confirming.

[2019-01-24 13:03] JoelReed commented on #818
Please note that we've now addressed the Invert and BOY accessibility options for Xhibit App and these fixes were handled in a [recent commit](https://github.com/james-roscoe/XhibitApp/pull/24), along with a further fix for the [glossary tool](https://github.com/james-roscoe/XhibitApp/pull/25). Users can now toggle between their Xhibit stylesheet and the core accessibility colour options defined b

[2019-01-24 15:39] ronm123 commented on #818
@JoelReed I was surprised by this so just tested and I may be misunderstanding what you have said now works but according to my testing no change to xhibit app css will fix this at the moment because the switching to invert or black on yellow loads those entirely separate themes but doesn't do anything with the invert and boy classes. So if an author using xhibit has set header, footer and backgro

[2019-01-24 15:59] JoelReed commented on #818
@ronm123 - Sorry for any confusion. If you open this [example resource](https://www.nottingham.ac.uk/toolkits/play_20324), which features the latest Xhibit stylesheet, and try toggling between the accessibility options ('Invert'/'BOY') and the Xhibit theme (i.e. 'Off'), you will notice that the correct accessibility colour scheme is now showing on the 'Invert' and 'BOY' options for all elements. T

[2019-01-24 16:19] ronm123 commented on #818
@JoelReed ok I did wonder whether this might be the case - I'm guessing that you aren't testing with the latest develop code or Xerte X? I'm not sure the UoN install is up-to-date.

Here's a link to a quick test/demo of the problem https://xot.xerte.org.uk/play.php?template_id=141
If you read through this issue again you'll see that this isn't an issue you can fix via xhibit but likewise it's a ch

[2019-01-24 16:45] JoelReed commented on #818
Yes. The fixes are applicable to Xerte versions 3.5 and earlier. Nottingham currently runs 3.5. Back to the drawing board for Xerte X, as discussed above.

[2019-02-02 01:03] obgeneralao opened #822 "LO not accessible even when access is set to public (develop branch) when Moodle authentication is also used"
Hi,

The current develop branch makes LO inaccessible even when set to public.

[2019-02-08 16:30] ronm123 commented on #822
You'll have to provide more detail here I can't reproduce this. e.g. I can make LO's public with develop and all works fine.

[2019-02-08 16:32] #817 closed

[2019-02-08 16:38] ronm123 opened #823 "Hotspot Image page issues with latest develop code"
As far as my testing goes it seems the hotspot image page is now broken for existing projects as well as not working fully in new projects. Here's some quick notes from my tests:

highlight hotpots doesn't show hotspots like it did previously
click explore only allows selection of first hotspot not any and all hotspots like it did previously
show me doesn't work as it did - now shows each question

[2019-02-08 16:43] ronm123 opened #824 "Issue with hotspot image connector and latest develop"
This shows the new hotspot icons when adding/editing hotspots but I can't add hotspots and so can't fully test the page either.

[2019-02-08 16:45] ronm123 opened #825 "Issues re the Top X question page in latest develop"
no thumbnail when selecting insert page
shows all the possible answers and feedback not just for the answers given - need an option to stop that and only show feedback for answers given
possibly need option for incorrect feedback for each answer too
ticking show answers repeats the list of all answers which perhaps is as intended but means that the default feedback list showing all answers and fee

[2019-02-08 16:47] ronm123 opened #826 "new import of custom template latest develop"
import gives an error No template.xml found!
language issues e.g. Add a custom learn object in Xerte
Description needs to be text area rather than single line input or at least wider input field

[2019-02-08 17:12] ronm123 opened #827 "issues with new text correction page latest develop"
no description when selecting insert page and thumbnail doesn't look like correct page
The text incomplete default text is: You have not filled in any answers correctly. Please try again.
Should probably change to: You have not entered a response. Please try again.
Not entering an answer and clicking the check button shows the answer but shouldn't
The answer text doesn't display as html and perhap

[2019-02-09 04:57] obgeneralao commented on #822
Hi Ron,
I have XOT installed  inside moodle. Accessing the LO would just show a white blank page. So, for now I am stucked on master branch which enables my LO to be accessible to anyone when set as public.

[2019-02-11 13:51] ronm123 commented on #822
Ok so yes I can replicate this now. To be clear your original issue just referred to "develop branch makes LO inaccessible even when set to public" with no mention of using Moodle for authentication. Public LOs work fine from develop when using guest or db authentication but at the moment there does seem to be a bug when current develop is used together with Moodle for authentication. We'll update

[2019-02-20 17:33] ronm123 opened #828 "Using more than one textarea tag upsets the editor"
From Neil Pollock on the forums: https://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=4&id=1671&Itemid=759&lang=en#5644

Using more than one <textarea> tag in a page seems to upset the editor display window. The first text box will appear in the Page Text editor panel, but any subsequent boxes will appear below the Page Text box as part of the editor window itself (and so can no l

[2019-02-21 21:04] JohnSmith-LT commented on #828
So this is a really strange one... It seems that you cannot nest textareas as when a textarea tag opens then it's contents are read right up until the first closing /textarea, I thought it might be a jQuery thing because we are using v1.9.1 which is quite old but I can reproduce with latest jQuery on jsfiddle (https://jsfiddle.net/JohnSmith_LT/L8rwgtyj/3/), so

<textarea id="ckeditor">
     `<text

[2019-02-21 21:20] ronm123 commented on #828
@JohnSmith-LT Hi John
just tested and seems to work fine now e.g. allows multiple textarea tags and doesn't strip them out or display one under the main editor text box like it did previously.
The OP on the forums managed to use the documentation page for what he wanted but great that this will work in a future release.
Cheers
Ron

[2019-02-21 21:20] #828 closed

[2019-02-21 21:27] JohnSmith-LT commented on #828
Cheers @ronm123 . Yes it's quite weird that it's never cropped up before but at least it was an easy fix.

[2019-02-27 10:35] FayCross commented on #828
Sorry I've been away so only just seen this - it has come up before (2 years ago!) [https://github.com/thexerteproject/xerteonlinetoolkits/issues/410](url) I'll shut down that old issue now. Thanks for the fix @JohnSmith-LT

[2019-02-27 10:36] FayCross commented on #410
Fixed with #828

[2019-02-27 10:36] #410 closed

[2019-02-27 11:29] JohnSmith-LT commented on #828
Aah, I never noticed that one before - good catch @FayCross ...

Just now it only does the delayed insert if <textarea is present but maybe later it should be refactored to insert all data after the editor has created since it will simplify code and there's probably no reason not to if it works in this instance...

[2019-02-28 16:47] ronm123 opened #829 "Multiple perspectives and video pages not playing YouTube clips in Firefox and IE"
Hi all
I'm not sure if this is a new issue or just not noticed or reported but it was reported on the forums that the multiple perspectives page doesn't work in Firefox or IE but works ok in Chrome and Edge. I investigated and it seems Firefox is giving an error of: Specified "type" attribute of "video/youtube" is not supported.

Searching for that error reveals some old stuff about media elements

[2019-03-06 12:44] eduh opened #830 "PHP7 + Mysqli support"
Is there a roadmap available for Xerte so that it works with PHP7.x and Mysqli or PDO ?

[2019-03-06 18:15] eduh commented on #830
When I try to install the latest dev version it the install  says that the mysql extension is required. This extension is obsolete in php7 so how to continue?

[2019-03-07 02:04] torinfo commented on #830
Allthough the link for  more information still points to how to install the old mysql extension (fixed now), the setup actually tests for the availabillity of the PDO and Mysql PDO extensions.

[2019-03-07 09:07] eduh commented on #830
Thank you.
I dived into the `static function MysqlCheck() ` and found out the check is stricktly on PDO. I have a standalone apache \php\mysql stack and found out I was too lazy to enable the mysql pdo driver. So sorry for that. Problem solved when I did enable the driver.
Perhaps the install manual could be extended with a small notification that when using a standalone stack the PDO driver must

[2019-03-07 09:21] ronm123 opened #831 "Inconsistent results/issues with cross browser use of LTI and xAPI and different LMS/VLEs"
Hi all
I've been testing the LTI and xAPI functionality with the latest develop code after getting inconsistent results with 3.7.14. This was also the result of a provider testing with Blackboard and SCORM Cloud and reporting issues. Some of what isn't working with 3.7.14 is predictable due to required code not being part of that revision but the following is my results testing with the latest dev

[2019-03-12 13:08] ronm123 commented on #831
@torinfo following some further testing with latest develop I have edited my original post above and I'm a bit stuck now as to why there are different results with different browsers and LMS/VLEs. e.g. it would make sense if IE or Firefox didn't work regardless of LMS/VLE but this doesn't appear to be the case:

Current differences:
1. For some reason Firefox doesn't seem to send LTI scores to Moo

[2019-03-12 17:29] torinfo commented on #831
@ronm123
The Xerte code sends the LTI score during XTTerminate. It should not matter at all whether xAPI is enabled or not, or which LRS is being used.

There is a difference between LTI only (uses XTTerminate defined in modules/xerte/parent_templates/Nottingham/common_html5/js/xttracking_noop.js, line 1196) and LTI and xAPI (uses XTTerminate defined in modules/xerte/xAPI/xttracking_xapi.js, line

[2019-03-13 13:07] ronm123 commented on #831
@torinfo thanks Tom
I think the original testing I did with 3.7.14 was misleading because of different issues with xAPI but either way subsequent testing with latest develop is giving more consistent results but I'm not getting much further with the debugging etc.

There definitely seems to be a problem with Firefox and Moodle that doesn't exist with Firefox and Blackboard. However Firefox does se

[2019-03-13 14:37] torinfo commented on #831
@ronm123

You can check if the grade is being sent by setting a breakpoint on the AJAX calls. But as Firefox is sending the grade to Blackboard, I would be surprised if the calls is not triggered.

What has been logged in the debug file when you try to send a grade using firefox to Moodle?

The Stop tracking page is linked up with sending LTI grades, as the sending of LTI grades is done, when trac

[2019-03-13 15:43] ronm123 commented on #831
@torinfo as far as I can see when it works the Result Object has [grade] => 1 but when it doesn't work e.g. with Firefox the Result Object has just [grade] =>
I'll send you the debug.log for a Firefox attempt by direct email.

[2019-03-13 16:34] FayCross commented on #829
I've just tried the newest version of the mediaelement.js and this fixes this issue. I'll check it doesn't break anything else & update if it all seems ok

[2019-03-14 18:12] ronm123 commented on #831
@torinfo
Ok pretty confident about this now but not sure exactly why the different browsers behave differently in different VLE/LMS – would make more sense if IE didn’t work in both BB and Moodle or FF didn’t work in both rather than each not working in the other. But anyway here’s what I think and can replicate…

By default in Moodle when adding an external tool the launch container is set to def

[2019-03-20 10:44] FayCross opened #833 "Documentation page enhancement - editable tables"
Suggested by Peter Welch. Ability to include tables which have the row/column headings set in the editor & the other cells become text fields which can be completed by the students.

[2019-03-26 15:34] eduh opened #834 "xApi Dropdwonbox Learner id mode"
In the project properties I choose the LTI\xApi tab (Tsugi is installed) and choose 'email' from  xAPI LRS learner id mode. I can see the tsugi_xapi_student_id_mode  is updated. So far so good but when I refresh or call the property again it is switched back to 'Group' (while the db entry is correct)

[2019-03-27 12:26] FayCross opened #835 "Responsive text prevents browser zoom settings from working"
When an XOT project has responsive text turned on this overrides the browsers built in zoom settings. The header/footer bars will zoom but the text will remain at the same size. This obviously is far from ideal for accessibility!

[2019-03-28 13:26] #833 closed

[2019-03-29 10:32] eduh commented on #834
Just to add some additional info: I'm using the static.php method and added the mail properties to the hardcoded user array

[2019-03-29 14:12] torinfo commented on #834
The authentication mode of Xerte itself is not important, because that is not used.

The authentication of Xerte is used to authenticate content authors.

For xAPI, the learners need to be identified. Normally this is done through LTI, and for LTI you can (normally) use e-mail to be reported. If you do not use LTI, but use use the xapi_launch fetaure (lti is diabled, and xAPI is enabled) the only

[2019-03-29 14:12] #834 closed

[2019-04-05 14:42] #538 closed

[2019-04-05 14:42] #540 closed

[2019-04-11 10:53] #780 closed

[2019-04-11 10:54] #785 closed

[2019-04-26 12:59] FayCross commented on #547
Closing as documentation page was completed some time ago

[2019-04-26 12:59] #547 closed

[2019-04-26 14:54] #619 closed

[2019-05-15 10:33] ronm123 opened #836 "Strange issue with Bootstrap project template when using Edge browser"
Hi all
I was delivering some training yesterday and a strange issue came to light (Bootstrap and Edge) that I wasn't aware of and haven't noticed before but can replicate consistently across different laptops etc.

When creating a Bootstrap project using Edge browser it seems some features work but others don't. e.g. using edge add a section and new text element to a Bootstrap project and try chan

[2019-05-15 11:03] juliantenney commented on #836
I'm in a different office at the moment and don't have a machine with Edge, but will test when I get to one that does,

Julian

________________________________
From: Ron Mitchell <notifications@github.com>
Sent: 15 May 2019 11:33
To: thexerteproject/xerteonlinetoolkits
Cc: Julian Tenney; Mention
Subject: [thexerteproject/xerteonlinetoolkits] Strange issue with Bootstrap project template when usin

[2019-05-15 12:06] FayCross commented on #836
I can recreate if I am using current develop code but it works ok on Uon install (3.7). The error above doesn't appear when on our install so that seems to be the problem

[2019-05-15 12:08] FayCross commented on #836
Sorry - UoN install where it works is 3.6 not 3.7

[2019-05-15 12:16] FayCross commented on #836
@ronm123 possible fix - try removing '1' from the beginning of modules/site/edithtml.php file
That fixes it for me but I don't know why that's there to begin with

[2019-05-15 14:35] ronm123 commented on #836
@FayCross well spotted! ;-) Yes removing that fixes it for me too. That 1 has to be an error inadvertently left over from someone editing that file. Seems bizarre that it was only affecting Edge and only title fields too.

[2019-05-15 14:39] ronm123 commented on #836
Removed the 1 and committed the change to develop so closing the issue. Thanks @FayCross

[2019-05-15 14:39] #836 closed

[2019-05-17 14:16] FayCross opened #837 "Gap fill drop down menu - option to choose sorting method"
Request from [forum](https://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=18&id=1699&Itemid=759&lang=en#5721)

Instead of always just sorting drop down items alphabetically have the option to randomly sort them too

[2019-05-17 14:21] FayCross opened #838 "Transcript Reader - mobile display issue"
Issue raised on [forum](https://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=4&id=1690&Itemid=759&lang=en#5693)

When viewed on mobile the audio player is often off screen & you have to scroll a lot to see it. Make it automatically go to top panel on small screens

[2019-05-28 09:02] suuuz opened #839 "In Chrome, Bootstrap unexpectedly scrolls when clicking in embedded XOT with 'Interactivity > Hotspot Image'"
This (minor) issue occurs in Chrome, not in Firefox or Edge.

**Reproduction**
Open Chrome browser
Go to https://www.nottingham.ac.uk/toolkits/play_8222#page5section8 (Page 'Embedded Content', Section 'Xerte Learning Object')
Go to page 'Interactivity Hotspot Image' in the XOT.
Click on a hotspot
--> The Bootstrap aligns the XOT to the top of the page.

**Expectation**
--> The Bootstrap page doesn

[2019-05-30 15:11] #644 closed

[2019-06-14 08:10] FayCross commented on #404
Can't recreate

[2019-06-14 08:10] #404 closed

[2019-06-14 08:12] FayCross commented on #448
Can use Google Drive video embed code in the video field of any page where you would normally upload media

[2019-06-14 08:12] #448 closed

[2019-06-14 08:16] FayCross commented on #476
Staff & student accessibility guides have been updated

[2019-06-14 08:16] #476 closed

[2019-06-14 08:16] FayCross commented on #539
Can't recreate

[2019-06-14 08:16] #539 closed

[2019-06-17 17:56] ronm123 commented on #773
@torinfo I'm going from memory here but I'm sure we made a change that meant that the ditor styles menu was wide enough to show the full names of the styles. I can definitely achieve that by adding .cke_combopanel { width:200px !important; }.cke_combopanel { height:300px !important; } to the end of  \editor\js\vendor\ckeditor\skins\moono\editor.css. Perhpas that's what I did previously and it has

[2019-06-20 12:21] ronm123 opened #841 "mediaelements playbar issues Bootstrap template"
Hi all
I'm adding this here but I'm sure it has cropped up before. At the moment in Bootstrap projects where audio or video has been added directly it uses the mediaelements library and as far as my testing indicates there is a problem with the playbar in Chrome and Opera but seems fine in Firefox, Edge and even IE. Two problems as far as my testing goes:
1. The volume control sometimes wraps to b

[2019-06-20 15:52] FayCross commented on #841
Argh, I didn't know anyone wanted to move to use popcorn instead of mediaelement - I've nearly finished a big bit of work updating mediaelement on all the templates & improving the way media generally shows (making sure it's properly responsive on all pages which it wasn't always). It's taken a while as I've tried to also fix lots of minor bugs or odd things in the media pages as I've gone along b

[2019-06-20 16:54] ronm123 commented on #841
@FayCross sorry I might be wrong about what @torinfo was thinking anyway and possibly we need to be more specific about which templates or even page types too. I was just testing how the bug with the rail/volume/full screen video button could be fixed and it is with a newer version of mediaelement. Has your work been with the newer version anyway Fay?

I know @torinfo is planning to send out a doo

[2019-06-21 08:10] FayCross commented on #841
Yes I'm using new version of mediaelement

[2019-06-21 09:51] FayCross commented on #577
This should be fixed when we upgrade the version of jQuery we use: [https://bugs.jqueryui.com/ticket/7514](url)

[2019-06-21 11:11] torinfo commented on #841
@FayCross, @ronm123 I was certainly not planning to change over for this releas. The main reason for the change would be:
 - Consitency and one player to keep working with all the kinds of media
 - Tracking only needs to be implemented in one of the players and is already implemented in popcorn.

But like I said, not before this release.

[2019-06-26 07:01] obgeneralao commented on #822
Hi,

Is this issue solved with [2d1f1f8](https://github.com/thexerteproject/xerteonlinetoolkits/commit/2d1f1f851a71e5904f5d53ea4df4ca8251fe0fec)?

[2019-06-26 11:10] torinfo commented on #822
No regrettably not, but I will look into this.

[2019-07-03 16:06] FayCross opened #842 "Issues with emails sent when shared projects become available for editing"
Earlier I tried to edit a project that was already being edited by a colleague. Later I received an email containing this text:

'You've requested to be informed when the file "Statistics 2019" becomes available for editing. The file was made available at 03:35 pm on Wednesday, 3rd July'...

I didn't request to be informed of this though. In fact there doesn't seem to be an option to request an em

[2019-07-04 08:27] torinfo commented on #842
@FayCross Yes, and this functionality has not changed for the last 10 years or so.
I don't even know if you can disable the notifications, but if the e-mail domain is entered in the management page, and your e-mail happens to be username@domain, than you will receive these notifications.

[2019-07-05 15:00] ronm123 commented on #814
Hi all
I was reminded about this today and given the current focus on all things accessibility what do you think about this as a solution for now https://xot.xerte.org.uk/play.php?template_id=116#resume=53 e.g display a dotted box around the correct answers and in the default feedback to make that clearer for anyone who can't see the green clearly? The only problem is the feedback isn't currently

[2019-07-09 09:00] torinfo commented on #814
@ronm123 As far as I am concerned, this looks good. Only alternative would be to place checkmarks and/or crosses next to the words.  I do not have a preference.

[2019-07-10 08:51] FayCross commented on #814
Looks fine to me Ron

[2019-07-11 09:15] FayCross opened #844 "File path issue for swf files added via wysiwyg toolbar"
If you add a swf file to a project using the Flash button on the toolbar the file path is in this format in source view: "https://www.nottingham.ac.uk/toolkits/USER-FILES/11111-aaaa-site/media/flash.swf"

When previewed the swf doesn't show as the file path changes to: "FileLocation + 'media/flash.swf'"

You can get around this by manually adjusting path in source view to be in this format: "USER-

[2019-07-19 15:27] FayCross opened #846 "Firefox - changing page when swapping to fill screen"
To recreate:
- Create a project with 2 pages & set display mode to fixed size
- Preview & click forwards to 2nd page
- Click button to make it fill screen... the project will also automatically go back to page 1

It only seems to be happening in Firefox & seems to be related to enabling repsonsive.css

The x_continueSetUp1 function should only be called when css loads on first viewing the project

[2019-07-24 16:27] #829 closed

[2019-07-24 16:28] #841 closed

[2019-07-27 15:05] torinfo opened #847 "Xerte SCORM Package in Moodle not resuming"
Ron emailed as a reaction to a forumpost:

Did you see the post on the forums about Xerte SCORM objects not resuming in Moodle and my response? Before I responded to say resuming does work I quickly reminded myself by checking some previous tests and sure enough they resume to the page I last viewed if not completed. However I did some further testing this morning and it seems something with that

[2019-07-27 15:05] torinfo commented on #847
It's more complicated than that....

The problem is taht the (new) state has contains more data, and now is too long for SCORM 1.2. SCORM 1.2 only supports strings of max length 4k. So ... back to the drawing board.

SCORM 2004 should work because the limit there is 64k.

I am looking into
 - compression
 - Not storing the whole state

[2019-07-27 20:05] torinfo commented on #847
I minimized the data stored for 1.2 and that seems to work.

Although now the suspend data is stored, it was missing the currentpageid.
Also SCORM 2004 3rd Ed was missing the currentpageid. Fixed that as well.

[2019-07-27 20:07] #847 closed

[2019-07-29 09:55] ronm123 commented on #847
@torinfo my test projects re-exported as 1.2 and 2004 now work with these changes. Do we know what Xerte version/revision this previously stopped working?

[2019-08-13 10:55] ronm123 commented on #787
Just reminded myself of this issue and whether we changed anything following a post on the forums https://www.xerte.org.uk/index.php/nl/forum/general-chat/1743-external-link-to-a-specific-page-in-bootstrap#5837

It would definitely be good to add linkID functionality to (or back to) Bootstrap projects.

[2019-08-16 12:59] FayCross commented on #827
A few additional issues from my quick testing today:

- [ ] With attempts set to more than 1, when check is clicked with the text field empty a message appears saying you haven't answered question. The check button is now disabled so you can't try again

- [ ] Similiar to above (& mentioned in Ron's testing) with just 1 attempt allowed if you submit with an empty box it says incorrect & show the a

[2019-08-16 13:26] FayCross commented on #825
A few additional issues from my quick testing today:

- [ ] Not marking correctly. I have 4 possible answers & 2 answer fields shown on screen. I enter correct 2 answers (they are ticked as expected) but text below says 'Not all answers are correct'

- [ ] Attempts shouldn't be optional - if I remove it then null shows when previewed. If it is optional & not added then I think the text on the scre

[2019-08-16 13:34] FayCross opened #848 "PDF page in Edge"
In Edge browser the pdf doesn't scroll so you can only see top of document

[2019-08-16 15:04] FayCross opened #849 "Inventory page issues on mobile devices"
Reported on [forum](https://www.xerte.org.uk/index.php/en/forum/accessibility/1746-inventory-page-type-not-displaying-on-mobile-phone#5842)

Issue with the graph layout & accordion usability on mobile devices

[2019-08-30 09:51] FayCross commented on #530
Paste formatting button added with this commit: https://github.com/thexerteproject/xerteonlinetoolkits/commit/84b8da87ed07fac1aa7de924a45df2a1496c0ad0

[2019-08-30 09:51] #530 closed

[2019-08-30 09:56] FayCross commented on #773
@ronm123 I've just updated the version of ckeditor we use & manually changed the size of the editor styles menu as you mention in comment above. Looking back at old commits I think this was how it's always been done but as you say ideally we shouldn't do it that way as it'll get overwritten by any new updates.

Incidentally - should the block quote themes be styled on the styles menu? They just ap

[2019-08-30 10:12] FayCross opened #852 "Fontawesome icons not showing properly in text fields"
Font awesome icons can be added to single text fields that have a wysiwyg toolbar but they don't render correctly in editor. They show correctly when project is played. Icons added in large text fields in editor don't have this problem.

Editor:
![fa](https://user-images.githubusercontent.com/8926470/64013028-d7b20d00-cb16-11e9-93b4-fef39277c7f6.PNG)

Preview:
![fa](https://user-images.githubuserc

[2019-08-30 13:11] #852 closed

[2019-09-04 11:47] FayCross opened #853 "Issues with new functionality in interactive text page"
The issues are dependant on the interactivity type selected:

Show me (in order):

- [x] < & > buttons are the wrong way around

Find:

- [x] When I create a new page of ths type (& find: mark at end) I get an error on line 276 & the page won't load: 'Cannot read property 'childNodes' of undefined'. This was using the example setup with adjectives, nouns & verbs. Pages made before these changes st

[2019-09-08 19:33] torinfo commented on #824
I addressed these concerns, and also the concerns mentioned in #823

- I created a new hotspot editor
- hotspot connector and hotspot image support flexible hotspots and rotated rectangles
- annotated diagram and drag drop hotspots are limited to rectangles

When you edit existing hotspots in hotspot image, these are restricted to ractangles. Creaet a new hotspot to create a flexible hotspot

Ques

[2019-09-08 19:34] torinfo commented on #823
I addressed these concerns, and also the concerns mentioned in #824

- I created a new hotspot editor
- hotspot connector and hotspot image support flexible hotspots and rotated rectangles
- annotated diagram and drag drop hotspots are limited to rectangles

When you edit existing hotspots in hotspot image, these are restricted to ractangles. Creaet a new hotspot to create a flexible hotspot

Ques

[2019-09-13 13:19] FayCross opened #854 "Import Decision Tree templates bug"
When importing a decision tree template project it is changed it into a xot template project so won't load editor or play

[2019-09-13 17:26] torinfo commented on #854
I've seen this happening with old decision tree projects. Not with newly created ones.

It does NOT matter that the install is recent, it only matters when the LO was created. The learningObject node of template.xml in the zip file misses the targetFolder="decision" attribute.

[2019-09-15 07:55] JohnSmith-LT commented on #844
Hi Fay,

Is this fixed from the editor update? I can't reproduce... I uploaded a sample swf file from online, using the flash button on the ckeditor and in editor mode I see this:

![image](https://user-images.githubusercontent.com/3907362/64918472-7b95ec80-d796-11e9-9654-c7d0b4bf3382.png)

but in preview mode I see this:

![image](https://user-images.githubusercontent.com/3907362/64918459-60c3780

[2019-09-15 08:06] JohnSmith-LT opened #855 "Problem with Gap Fill ?"
Hi,

Was going to work on issue #837 but i'm not sure if mine is setup correctly as i'm seeing this with the Drop Down option selected:

![image](https://user-images.githubusercontent.com/3907362/64918548-d714aa00-d797-11e9-94ef-204dd6e67986.png)

As you can see only the correct word is showing up in the dropdown. Are others seeing this or have I done something silly in the setup or is it a bug? J

[2019-09-15 08:29] JohnSmith-LT commented on #855
Twas me not knowing what I am doing!! Have figured out the / delimiter...

[2019-09-15 08:29] #855 closed

[2019-09-15 10:31] JohnSmith-LT commented on #837
Hi @FayCross

Can you check this meets the need and close?

[2019-09-15 11:15] JohnSmith-LT commented on #819
This appears to be fixed.

[2019-09-15 11:15] #819 closed

[2019-09-15 11:29] JohnSmith-LT commented on #807
@torinfo Can you please check that this doesn't interfere with or somehow change the logic of the tracking code? Error was:

![image](https://user-images.githubusercontent.com/3907362/64920885-629c3400-d7b4-11e9-8476-6090e37c9b79.png)

[2019-09-15 11:43] JohnSmith-LT commented on #810
I can no longer reproduce this. Can anyone else reproduce: @fay @ronm123

[2019-09-15 11:46] JohnSmith-LT commented on #796
This id field is also used in opinion, inventory and hotspots page.

[2019-09-16 08:52] torinfo commented on #807
@JohnSmith-LT That looks perfectly fine. Thanks!

[2019-09-16 13:02] #853 closed

[2019-09-16 18:44] torinfo commented on #796
Yes, but we can add it to the quiz.css Than it will only be used for quiz.

[2019-09-16 18:57] #796 closed

[2019-09-18 08:53] FayCross commented on #854
Ok, that makes sense - it was the very first decision tree project made that I was trying to do this with. Would it be possible to add the targetFolder attribute to the xml when exported if it's not there? I realise there are probably very few projects this would affect though

[2019-09-18 08:58] FayCross commented on #844
I can't recreate now either

[2019-09-18 08:58] #844 closed

[2019-09-18 09:02] FayCross commented on #810
Yes - I can recreate. You have to go to next page & back twice as described above - the first time you go back to page 1 the text is still green but the second time you go back the text is red.

[2019-09-22 11:09] torinfo opened #856 "Something is wrong with the handling of spaces in folder names"
Folders can only contain letters, numbers and a space. (not relley necessary, because foldernames are never stored on disk but only in the database).

Also, it seems that previously they were stored with spaces replaced by a '_' like template names.

However that seems to have been changed in a previous release.

Except: folder rename still does that. This causes rss.php and rssdownload to fail, b

[2019-09-22 11:28] #856 closed

[2019-09-22 20:37] JohnSmith-LT commented on #846
Hi @FayCross

This is a very weird one indeed. I narrowed it down to these line. If you set the following breakpoints in xenith.js

![image](https://user-images.githubusercontent.com/3907362/65394049-9eb93100-dd80-11e9-8b26-d7c97b4b0d79.png)

and then follow your instructions to recreate then when you click the maximise button you land at 3205. then if you step through each of the breakpoints then

[2019-09-25 09:08] FayCross opened #857 "Hotspots disappear when project is resized"
The recent changes to hotspot page have meant that it now goes wrong when the project is resized:

View the hotspot image page on [xot.xerte.org](https://xot.xerte.org.uk/play.php?template_id=116#resume=55) & click a hotspot so it’s highlighted and then resize the window to various sizes – the hotspot remains in place and remains showing (this is the expected behaviour)

Repeat this with current d

[2019-09-25 09:17] FayCross commented on #857
Sorry I didn't realise that you'd already fixes this Tom!

[2019-09-25 09:17] #857 closed

[2019-09-25 09:27] FayCross commented on #837
Thanks @JohnSmith-LT

[2019-09-25 09:27] #837 closed

[2019-09-25 09:40] ronm123 commented on #590
Hi all
although this is an enhancement rather than a bug I was having a look whether we could quickly add at least some of this as part of the imminent release. e.g. even if we only add a simple option to prevent the background image on a title page and possible at LO level from stretching by including an option to make the image use cover instead. Possibly even making cover the default because pe

[2019-09-25 09:43] ronm123 commented on #826
I think this was fixed as part of the sub-template developments so will close the issue.

[2019-09-25 09:43] #826 closed

[2019-09-25 09:52] FayCross commented on #846
@JohnSmith-LT yes it's to do with the disabled attribute being removed from the responsive css style tag. The x_continueSetUp1 function is called when the responsive css file has finished loading (when project 1st viewed). The problem is that this css file is enabled/disabled when swapping between full screen/fixed size & FF seems to also trigger the event that says the css file has loaded when it

[2019-09-25 10:05] JohnSmith-LT commented on #846
I'm assuming that you tested it on Windows too but it does the same on a Mac in Firefox. It's a strange one to trace...

Maybe when the button is clicked we set a flag and test the flag setting in x_continueSetUp1 or in the  css.onload event. Or if the event should only fire once then we remove the event at the end of the event code so that it isn't called again...

I'm sure there must be a better

[2019-09-25 10:06] FayCross commented on #590
Your css won't work because the background images aren't actually added using css background but are actual images inside the x_background div. At the moment it looks like they are set to have height & width 100% which is making them stretch. You should be able to add some css to deal with this better but you can't use any of the css properties that affect background images (background-size/repeat

[2019-09-25 10:08] FayCross commented on #846
Yeah I think you're right that it needs looking at generally as it's a bit messy at the moment. I tried adding the flag to x_continueSetUp1 & that fixed this issue but caused it to look like the screenshot above.

[2019-09-25 10:15] ronm123 commented on #824
@torinfo I just tweaked the English language strings and also added html entity codes to represent the buttons within the instructions. All seems fine so will close the issue.

[2019-09-25 10:15] #824 closed

[2019-09-25 10:25] ronm123 commented on #590
@FayCross I knew it was something stupid I was doing wrong! :-(
I'll do some tests with object.fit instead and test what happens in IE if that is added.
I know we could also use something like https://github.com/constancecchen/object-fit-polyfill but probably a bit too tight to get that in and tested before the release.

[2019-09-25 11:52] ronm123 commented on #590
@FayCross I've tested this and can get it working by adding the following to the relevant bits of xenith if the optional property has been selected.
`$("#x_mainBg").css({
"object-fit"	:"cover"
});`
I guess I would need to do the same for .pageBg too.
However I can't decide how best to name and describe this. At the moment I've got the following:
`<backgroundFit optional="true" type="CheckBox" labe

[2019-09-25 12:37] FayCross commented on #590
Could it be a drop down with crop to fit vs. stretch to fit? Then we could add extra options at a later point if needed? The label next to the drop down could be simply 'Size'?

I think crop to fit should be the default option

[2019-09-25 12:49] ronm123 commented on #590
@FayCross Ok I'll change what I have for the moment to what you have suggested. I have this working for both LO background and page background but once I've committed it would be good if you or someone else could check and confirm that the condition for the page background is in the right place in xenith. There seems to be loads of places that reference pageBg and at the moment I have this check a

[2019-09-25 13:36] ronm123 commented on #590
@FayCross I have this working locally but am I missing something with default values?
If I have options="Crop to fit,Stretch to fit" data="cover,fill" defaultValue="cover" and create a new project with a background then all works fine however if I edit an existing project with a background already added then the new drop down list shows in the group and shows Crop to fit but doesn't actually work

[2019-09-25 16:10] ronm123 commented on #590
Have committed this so will close the issue. Can someone else test?

[2019-09-25 16:36] ronm123 commented on #590
Hi all
Could someone check the commits I've made here. It's mostly working but the page background option isn't changing when you navigate between pages so I'm guessing the condition I've added around line 2392 in xenith needs to be moved or also added somewhere for when the page is changed too?

[2019-09-25 19:11] torinfo commented on #590
@ronm123 Regarding the optional property not working. You have to make sure in code that if the option is not set, it will behave as if the option was set to the default.

I'll have a look

[2019-09-25 19:16] ronm123 commented on #590
@torinfo I think I did that but it’s only changing on first load not when navigating back and forth.

[2019-09-25 19:29] #590 closed

[2019-09-25 19:31] torinfo commented on #590
@ronm123 You almost nailed it. But you set the object-fit based on class, but all the page backgrounds have that class, so if one of the pages object-fit is different than the one before that, it suddenly resets the object-fit of that page too.

I just moved the setting of object-fit into the definition of $pageBg a few lines above your change. That seems to work fine.

[2019-09-25 20:32] ronm123 commented on #590
@torinfo great thanks seems to work fine now.
I've just committed a similar solution for the LO background option because to get it to work previously I'd added the same condition in two places. Now it's similar to your solution by setting a variable and then using that in the 2 places needed.

[2019-09-26 10:02] FayCross opened #858 "ckeditor config.js uses css files in modules/xerte/... regardless of what template is used"
editor/js/vendor/ckeditor/config.js sets css files used in wysiwyg editor. This includes the following files which are used regardless of which template is being edited:

- modules/xerte/parent_templates/Nottingham/common_html5/css/themeStyles.css
- modules/xerte/parent_templates/Nottingham/common_html5/css/editorStyles.css
- modules/xerte/parent_templates/Nottingham/common_html5/css/mainStyles.cs

[2019-09-26 12:24] ronm123 opened #859 "links added to text area content on the hyperlinks page do not display"
Hi all
I was looking at an issue reported to me directly and that was noticed on the Future Teacher project  that hyperlinks added via the URL option in the wizard on this page can end up displaying over the top of textarea content see an example here https://learningapps.co.uk/futureteacher/play_112#resume=20

I think someone must have worked on that because in my latest develop that same page di

[2019-09-26 13:08] FayCross commented on #859
I've partially fixed this so that the links in text aren't removed.

Current develop still has the issue with the images overlapping the borders & link though. For me the first time I view the page it overlaps but then if I refresh it's fine. It's because the height of each link block is set to match the tallest in the row & this is calculated as soon as the page loads (before the images have load

[2019-09-26 13:09] FayCross commented on #859
There's probably a better way of doing this layout now anyway without having to fix the height of the blocks - I'll look into it

[2019-09-27 08:10] #823 closed

[2019-09-27 09:58] ronm123 commented on #859
Thanks @FayCross I can see that links in the text are showing now.
I've just added a tooltip attached to the URL field to say that this can be left blank and links added to the text area instead.

BTW I was going to explain that the exception would be if your project is still using the old Flash engine but after viewing my test page with &engine-flash its seems the display of the page is all messe

[2019-09-27 15:21] FayCross opened #860 "Opinion page bug in IE"
In IE navigating away from opinion page throws an error which stops the next page loading
(it's line 592 that's causing problem)

[2019-09-28 08:06] #860 closed

[2019-10-03 09:50] torinfo opened #861 "Adaptive Content page does not work in IE"
The follwing construct is not supported by IE:

`data.edges.map(s => s.node.statement);`

It needs to be rewritten to:

`data.edges.map(function(s){
   return s.node.statement;
});`

[2019-10-03 21:16] torinfo commented on #861
Also, xapcollection.min.js does not load in IE

This turns out to be a silly locale issue. The code tries to set a variable in a try catch construct. IE raises an exception. The catch than checks whther it is an expected error (exports is not defined) and the code will continue, otherwise the exception is raised. But my Dutch IE returns the error: 'exports is niet gedefinieerd', which causes that

[2019-10-03 21:18] #861 closed

[2019-10-04 08:12] FayCross opened #862 "Password protected project errors"
Password protected projects are showing the login page like this:

![error](https://user-images.githubusercontent.com/8926470/66191747-ee540280-e686-11e9-9c05-cf6ae73a8060.png)

If I roll back [this commit](https://github.com/thexerteproject/xerteonlinetoolkits/commit/be87321acae768a99567ad015933ba54f8eac8eb#diff-0bdab972cc384c741ef8fa77d5bfd1f4) about workspace branding then these errors don't sh

[2019-10-04 09:28] ronm123 commented on #862
@FayCross I was wondering if this might have been a php version issue but I just created a quick test file on xot.xerte.org.uk and set that to password protected and sure enough that shows the same problem https://xot.xerte.org.uk/play.php?template_id=183

[2019-10-04 09:51] ronm123 commented on #862
[login_library.zip](https://github.com/thexerteproject/xerteonlinetoolkits/files/3689953/login_library.zip)

@FayCross can you try the attached login_library.php and confirm if that resolves the issue?

[2019-10-04 09:59] FayCross commented on #862
Thanks Ron - yes that removes the errors but I can't check right now whether actually logging in still works (only have access to my xampp version right now)

[2019-10-04 10:15] ronm123 commented on #862
Thanks @FayCross I've committed the change and hopefully @torinfo can quickly check that all is correct?

I've tested the revised file on one of my sites that was showing the same errors and the commit fixes the issue and allows login to view the LO. However this is not something I have used very often or encouraged others to use and I think we need to have a look at how this looks and works for a

[2019-10-04 10:53] torinfo commented on #862
@ronm123 I could reproduce as well. I don't see your commit yet, so cannot comment yet.

[2019-10-04 13:35] ronm123 commented on #862
@torinfo https://github.com/thexerteproject/xerteonlinetoolkits/commit/96bf73f3ef27f5254aff37b9b900c3c957b60d20

[2019-10-04 14:45] torinfo commented on #862
@ronm123 @FayCross COmitted alternate fix that sill loads branding.css. Otherwise braning.css would not be loaded in the normal case of login, i.e. with Db authentication

[2019-10-04 15:33] ronm123 commented on #862
@torinfo I committed a tiny change to your updated file just adding a space between the password string and the input field.

I think the language string where it currently says login area should probably change unless this is used somewhere else too? If's it's only used for LOs set to password protected then perhaps the language string should change to something like:

To view this project please

[2019-10-04 15:38] ronm123 commented on #862
For reference this is what it looks like now:
![image](https://user-images.githubusercontent.com/5167146/66220593-31cd6180-e6c5-11e9-89e0-0cdecee5b60c.png)
and with the additional css
![image](https://user-images.githubusercontent.com/5167146/66220708-66d9b400-e6c5-11e9-843c-6df34730f9a8.png)

[2019-10-04 16:04] torinfo commented on #862
@ronm123 I'll have a look. The function login_prompt is used for the login of password protected LO's. The function login_form is for the regular login.

[2019-10-09 14:10] FayCross opened #863 "Date picker in editor issues"
Hides / show page by time/date is no longer working as expected because of some changes that have been made to how the datepicker is set up in toolbox.js. Issues include:

- [ ] Can no longer leave it blank (need to be able to do this as hide from & hide until are both added but they should be able to be used in isolation e.g. hide from xxx without an until date)

- [ ] Can now select dates prior

[2019-10-10 07:49] #863 closed

[2019-10-10 07:53] FayCross commented on #863
Hide page from/until will now work with both old & new date format.

@torinfo you might want to check that these changes haven't broken the use of datefield in adaptive content & show graph pages. If it's ok could this (& the commit I've just made adding a link to search documentation in editor) be merged into v3.8 release please?

[2019-10-31 15:04] obgeneralao opened #865 "Scrollbar missing in Safari on ipad"
Hi,

When I play the XOT in Google Chrome in a windows laptop, I can see the scrollbar.

![Scrollbar](https://user-images.githubusercontent.com/13013814/67958500-3a687780-fc32-11e9-9a4c-5b0bd22cf187.png)

But when I played it in Safari on my ipad, the scrollbar is missing.

![Scrollbar_2](https://user-images.githubusercontent.com/13013814/67958557-54a25580-fc32-11e9-8ef6-83fb2c01331e.png)

[2019-10-31 15:41] ronm123 commented on #865
Hi
This is just the way iOS hides scrollbars by default as part of its UX design. If you use your finger to scroll the page the page and/or the tabbed content panel should still scroll if scrolling is needed e.g. if the content exceeds the height of the page or panel. If you view a scrolling webpage you'll see the same unless that webpage has css to change the default behaviour.

If you really wan

[2019-10-31 15:41] #865 closed

[2019-11-13 11:24] ronm123 opened #866 "Mathjax not rendering in interactive list page"
Hi all
I was alerted to a Mathjax issue that was showing the Mathjax correctly in the editor but not on preview/play and in this case the Mathjax had been added to the interactive list page. I've done some further testing and there does seem to be a difference between the interactive list page and others but I haven't tested every single page type. Replicate as follows:

1. Use the following sourc

[2019-11-16 15:46] JohnSmith-LT commented on #866
This appears to be the same for any page model that doesn't build the page completely before calling pageLoaded. It can be reproduced in Hotspot page by creating a hotspot with the same MathJax code above and when you click the hotspot you get the raw code. Adding:

try { MathJax.Hub.Queue(["Typeset",MathJax.Hub]); } catch (e){};

to line 196 of hotspot modelpage to reparse MathJax after clicking

[2019-11-16 17:24] JohnSmith-LT commented on #866
Hi @ronm123 ,

Can you check that this commit fixes the issue for Interactive List page and doesn't break MathJax in:

Decicion Tree, Drag Drop LabelGlossary, Hotspot Image, Interactive List, MCQ, Model Answer, Opinion and Quiz

just when you get a chance...

John

[2019-11-16 18:44] ronm123 commented on #866
@JohnSmith-LT I just quickly tested before and after your fix and mixed results...

Before fix:
Decision tree, Multiple choice, opinion and quiz all seemed to display the mathjax ok
interactive list, hotspot image and drag and drop labelling all showed mathjax code rather than rendered mathjax

after fix
Decision tree, Multiple choice, opinion and quiz still ok
hotspot image now ok
interactive lis

[2019-11-16 23:51] JohnSmith-LT commented on #866
Sorry about that @ronm123 , there was some funky thing going on in the Interactive List page that I assume @FayCross had added as it's attributed to making aria work and it was reloading the text a second time and wiping out the MathJax processing. I've just reprocessed it again and it seemed to work in my testing - maybe that section needs looking at.

Fixe Drag Drop Label too I think.

John

[2019-11-17 09:41] #255 closed

[2019-11-17 10:07] ronm123 commented on #866
@JohnSmith-LT all those page types seem to be rendering the mathjax now which is great. I did notice there's a bit of a rendering delay (or rendering duration) which seems most noticeable on the interactive list page but is quicker on others. I haven't used mathjax enough to know whether this has always been the case or perhaps whether it's just my local xampp install. Do you see the same thing? I

[2019-11-17 16:57] JohnSmith-LT commented on #313
Hi @FayCross and @ronm123

Does you think this commit is a useful addition to the bullets page, addresses some of the issues mentioned above and more importantly doesn't break any older LOs that use the bullets page (or at least don't change the functionality too far towards the unacceptable)?

It shouldn't modify the behaviour of any content that doesn't already include <li> and it can handle bot

[2019-11-17 17:04] JohnSmith-LT commented on #866
Yeah @ronm123 I do see that too although i'm using xampp locally so it's maybe not as much of a delay. In this instance I think it is to do with the aria code that I mentioned before which we might be able to improve upon as it seems to perhaps be a hack adding it twice. I'll wait to hear from @FayCross as I don't want to upset whatever it is there for.

Perhaps we need to look at all these areas

[2019-11-17 17:11] JohnSmith-LT commented on #839
This is a Chrome bug that has apparently been around since 2012 and persists across Windows and Mac versions - it isn't a bug within Xerte itself and happens with any iframe embedded in a page such as Youtube.

There is chatter online about possiblle workarounds but none appear to be 100%  solutions although this one sounds promising - https://github.com/shellinabox/shellinabox/issues/402

I will

[2019-11-17 18:12] JohnSmith-LT commented on #866
I know you like technology @ronm123 and not sure what you used to record the demo above but I use https://github.com/JohnSmith-LT/ScreenToGif to do screen capture on windows and you can save as an animated gif very easily and copy and paste into here or to emails. You can see an example in the other issue I mentioned you in about the timed/bullets page. Just in case you are interested...

[2019-11-17 18:17] JohnSmith-LT commented on #778
Hi @obgeneralao

I never got a reply to the above, not sure if you just didn't see it because I didn't use your name handle. Anyway, I still can't reproduce so I am going to close it but if it is still an issue then please re-open and let me know and possibly supply some iFrame code that doesn't work for you or a link to a public LO that is showing the bug in action.

Kind regards,

@JohnSmith-LT

[2019-11-17 18:17] #778 closed

[2019-11-17 18:21] JohnSmith-LT commented on #795
Hi @ronm123

Not sure why I seem to come out the woodwork around Christmas but I looked at what I last commented on and this one came up. How did you get on with this? Is it still ongoing or is this issue closeable?

[2019-11-17 19:52] JohnSmith-LT commented on #763
Seems to be a duplicate of issue #26 but perhaps when you add the page it can add a button to the toolbar or similar.

[2019-11-17 19:52] #26 closed

[2019-11-17 19:59] JohnSmith-LT commented on #573
JAWS screen reader apparently splits the alt text into blocks of 125 characters which is why numerous websites (https://stackoverflow.com/questions/27150277/what-is-the-limit-of-character-to-use-in-alt-text-of-img-tag-in-html) suggest less a max of 125 characters but the specification does not define a limit.

I will add this in and you can test.

[2019-11-17 20:38] JohnSmith-LT commented on #573
That's it there @ronm123

I've just called it Alt Text and use it if it has been added and is not empty otherwise I use the Tooltip as before. Let me know if you think the wording of any of these should be changed. Here's how it looks:

![image](https://user-images.githubusercontent.com/3907362/69013623-2a62ce80-097a-11ea-8b5f-d59c86c7d8fc.png)

[2019-11-17 20:51] torinfo commented on #866
@ronm123 @JohnSmith-LT

Do we want to add this to 3.8 as 3.8.4?

[2019-11-17 20:56] JohnSmith-LT commented on #866
I'd say yes but not sure it's 100% what it could be yet - perhaps if @FayCross has capacity to glance at this for 5 minutes she'll know whether fixing the aria thing is possible...

That being said, if it wasn't working before then it's probably already an improvement.

[2019-11-17 21:04] JohnSmith-LT commented on #465
Something like this @FayCross or did you have something else in mind?

![image](https://user-images.githubusercontent.com/3907362/69013991-ca6e2700-097d-11ea-9b1f-93f8054c936e.png)

[2019-11-17 21:35] JohnSmith-LT commented on #447
Is this the kind of thing you mean @FayCross ? This simple Quiz plays clapping if you get the correct answer and booing if you select one of the wrong answers.

![image](https://user-images.githubusercontent.com/3907362/69014379-95fc6a00-0981-11ea-86f1-a3a6ae9004a8.png)

I was able to add this using the wysiwyg using html5audio plugin for ckeditor

![image](https://user-images.githubusercontent.co

[2019-11-17 21:38] JohnSmith-LT commented on #379
Do you know if this is still an issue @torinfo ?

[2019-11-17 21:58] ronm123 commented on #313
@JohnSmith-LT looks good from your animation. I'm probably not going to get a chance to test until Tuesday now.

[2019-11-17 22:00] ronm123 commented on #866
@JohnSmith-LT @torinfo I'd say yes too.

[2019-11-17 22:03] ronm123 commented on #866
BTW @JohnSmith-LT I use snagit and could have saved as a gif but will give screentogif a try at some point.

[2019-11-17 22:12] ronm123 commented on #795
@JohnSmith-LT from memory I think @torinfo and I got this working in a separate branch for another project but I don't think it was yet merged into develop. I think we should leave this open and we'll close it once we've merged that code in.

[2019-11-17 22:15] ronm123 commented on #573
@JohnSmith-LT from your screenshot this looks good.  I'm probably not going to get a chance to test until Tuesday now.

[2019-11-17 23:47] JohnSmith-LT commented on #795
Sure, no worries.

[2019-11-17 23:55] JohnSmith-LT commented on #447
I decided just to commit it since I think we will use it in one form or another and it's easier for you to test. Have a look at this too @ronm123 when you get a chance and see what you think...

[2019-11-18 00:19] JohnSmith-LT commented on #814
Hi @ronm123 did this every get committed? I'm not seeing it working for me.

[2019-11-18 00:33] #519 closed

[2019-11-18 00:43] JohnSmith-LT commented on #696
This is fixed right? I am able to upload mp3svia both media and quota and via editor just fine.

[2019-11-18 00:43] #696 closed

[2019-11-18 08:22] JohnSmith-LT commented on #577
Hi @ronm123

This appears to fix this long standing bug by using "auto" for the dialog box height. Can you please check that it doesn't break something else?

https://github.com/thexerteproject/xerteonlinetoolkits/commit/067f63ce7fa015e227bf2760e210eea930a2eac9

John

[2019-11-18 08:50] JohnSmith-LT commented on #577
In fact that first commit, while apparently working, threw up lots of console errors where jQuery didn't appear to like "auto" dispite it being an option in the dialog plugin...

Since height was originally being set to undefined, simply removing it completely appears to fix things and retain the functionality that once a window is resized then it stays that size after closing and re-opening.

[2019-11-19 11:12] ronm123 commented on #313
@JohnSmith-LT just testing this and I wonder if we should add a tooltip either to the Page Text or the Add Bullets to Text labels. e.g.
If you want a mix of normal paragraph text which doesn't have bullets and bulleted text that does have bullets then apply the bullets to relevant text using the wysiwyg editor. If you apply bullets in this way then the option below to add bullets to text will be i

[2019-11-19 12:22] ronm123 commented on #573
@JohnSmith-LT I've been testing this and can see that if the alt text optional property is added for a particular hotspot it uses that and if it not for another hotspot it just uses the tooltip as before. I also tested toggling the option to show tooltips on and off and can see that picks up and shows the alt text if added and just the tooltip field if not. I also tested tts with NVDA and that rea

[2019-11-19 12:28] JohnSmith-LT commented on #573
Thanks @ronm123 good that the alt-text/tooltips are working as you'd expect.

The tabbing issue is probably the tabindex not being set, perhaps the first hotspot hasn't been getting one or it's getting the same one as the one before, like 1,2,2,3,4,5 etc and so it's skipping. Didn't think anything that I did would have affected that logic but will take a look later and see what I can do.

[2019-11-19 12:30] ronm123 commented on #465
@JohnSmith-LT @FayCross I don't think we should link to Xhibit with a logo in the footer like that. I think the current logos bottom right represent licensing etc rather than useful links/other tools. I do however think we need to look at the various links and blocks in the workspace as well as how some of those are populated and controlled via management and/or populated during installation and u

[2019-11-19 12:34] JohnSmith-LT commented on #313
Thanks @ronm123 - whatever you think looks best with the padding is fine by me - alternatively (or additionally) it might need some css on the <ul> and <ol> tags to look right.

I'll add the tooltip later so if you need want to update the css at the same time then let me know what you've added that looks best.

[2019-11-19 12:37] JohnSmith-LT commented on #465
Hi @ronm123, yeah that sounds reasonable. There are other places as you say - for example those Site 1, 2 & 3 can be changed in management but have never been populated by default...

[2019-11-19 12:57] ronm123 commented on #447
@JohnSmith-LT this seems to work really well and having the advanced options is great too. Is that something we can easily add to? e.g. in your example where it's a clapping or a boing in answer feedback it might be useful to have those simple sounds auto play and therefore an option to hide the audio player. Easy enough to achieve with some css e.g. `.ckeditor-html5-audio {
    opacity: 0;
}` but

[2019-11-19 13:01] ronm123 commented on #814
@JohnSmith-LT I don't think I ever committed that. From memory I think I thought if there was a way to add ticks and crosses that looked ok with list menus like @torinfo commented then that would be more consistent with what we do with other interactions.

[2019-11-19 13:09] ronm123 commented on #573
@JohnSmith-LT I'm not saying it's anything that has changed as a result of your commit but just an issue I noticed while testing. Obviously it is an issue we need to fix though and I'll test the same thing with other hotspot pages later.

[2019-11-19 13:10] ronm123 commented on #577
@JohnSmith-LT for me when I resize the popup with Chrome it just closes and then reopens original size.

[2019-11-19 13:15] JohnSmith-LT commented on #577
Yeah I think that's a bug with the jQuery UI library that may not be fixable at this version. What I was seeing before this commit was that occasionally when you went to resize it would close the window however when you reopened it it had collapsed to just a title bar and you couldn't get it back without reloading the LO. I can't make that happen anymore though - it always comes back at original s

[2019-11-19 13:20] ronm123 commented on #313
@JohnSmith-LT I committed the change from padding-bottom to padding-top. Looks ok to me but if you think there's a better solution then just revert my change.

[2019-11-19 13:26] ronm123 commented on #577
@JohnSmith-LT agree that at least having the popup open at original size and not just the title bar is better. Yes I think I have seen some examples where ideally the end user would resize either because there is a lot of content and therefore scrolling or just because they want to move and resize the window to be able to see the underlying content as well as the popup content. Will have a look la

[2019-11-19 13:53] JohnSmith-LT commented on #313
@ronm123 the formatting looks much better.

Is this too wordy, does it mention bullets too often and/or do you think we should put something in about the fact that you can do numbered bullets and sub lists ?

![image](https://user-images.githubusercontent.com/3907362/69152254-00bdba80-0ad4-11ea-98e9-4e1621212a96.png)

[2019-11-19 14:38] JohnSmith-LT commented on #573
@ronm123 sorry I know that's not what you meant. Anyway, it was the tabIndex being set to 1 which was shared with the page text paragraph. I've fixed now and hotspot 1 gets tabindex 2...

[2019-11-19 15:22] ronm123 commented on #313
@JohnSmith-LT I think it's probably worth adding both tooltips and then splitting the main guidance for each e.g.

Page text:
If you want a mix of normal paragraph text (without bullets) and text that does have bullets (including numbered lists and sub lists) then apply the bullets and numbers to selected text using the wysiwyg editor buttons. Note: The option below to add bullets to all paragraph

[2019-11-19 15:54] ronm123 commented on #573
@JohnSmith-LT great works correctly now. I tested for the same tab order issue with annotated diagram, drag and drop labelling and hotspot image and they don't seem to have the same problem. I think we do ideally need the same or similar optional alt text option for those image interaction pages too. I think hotspot image would be the same as hotspot connector but annotated diagram and drag and dr

[2019-11-19 18:19] JohnSmith-LT commented on #573
That's this updated on the Hotspot Image:

![image](https://user-images.githubusercontent.com/3907362/69173922-ae42c500-0af8-11ea-902a-e5fd05a24a6c.png)

I'm curious though because in the xwd file there is mention of a Hotspot Question but you can't add it anywhere? Has it been deprecated or is this a bug? Not sure i've ever seen it in action:

![image](https://user-images.githubusercontent.com/39

[2019-11-19 18:36] ronm123 commented on #573
@JohnSmith-LT I think that’s probably something that @torinfo removed because it was added as a new feature but wasn’t optional and was therefore breaking existing hotspot pages/projects.

[2019-11-19 18:58] torinfo commented on #573
@JohnSmith-LT @ronm123 Yes, it completely broke existing hotspot pages. So I am all for adding the possibility to add questions, but in a manner that is compatible with existing functionality.

[2019-11-19 19:00] torinfo commented on #573
@ronm123 @JohnSmith-LT I would like to propose to add commit https://github.com/thexerteproject/xerteonlinetoolkits/commit/009d0568f9f6e3cc52f3ab73ac86ca9a0e1fb55c to v3.8 now.

[2019-11-19 19:26] JohnSmith-LT commented on #313
The bullets page is now much more flexible than it was but is there anything else we need to add before we close this? The "timed text" reference could maybe be improved - i.e. we always had timed bullets but should we add an option to have different timings? Perhaps a comma separated list of different times to accomodate different length sections and/or to align transitions with narration?

Also

[2019-11-19 19:31] ronm123 commented on #573
@torinfo I would propose adding all of the commits @JohnSmith-LT has made these last few days.

[2019-11-19 19:31] JohnSmith-LT commented on #573
Yes fine with me @torinfo . Did you see that there are 3 commits in this issue? 1 and 3 do the alt text for Hotspot Image and Hotspot Connector pages and 2 fixes a tabbing issue in the connector that misses the first hotspot...

[2019-11-19 19:35] JohnSmith-LT commented on #573
Maybe cherrypick the best of the other ones. Not the audio one yet I feel as we may have to write our own plugin to do what we need and incorporate recording also... but definitely the MathJax and dialog box ones as they are bugfixes and possibly the bullet page although it might be best to wait on that too to see if Fay can answer some of the last questions I have asked since she logged the issue

[2019-11-19 19:39] JohnSmith-LT commented on #573
If you have time @torinfo can you open a new issue for this and maybe an outline of quick mockup of what you want it to do as i'm curious and not really seeing how it would work...

[2019-11-20 16:03] ronm123 commented on #573
@JohnSmith-LT just checking the ALT text addition to the hotspot image page and I've noticed a difference when it comes to existing projects. I'm not sure if this is the age of the projects I'm testing with or something else and I checked the wizards in my local copy of develop to see if I could spot a difference and couldn't. I did however notice that my \src\Nottingham\wizards\en-GB\ folder has

[2019-11-20 17:04] JohnSmith-LT commented on #573
@ronm123 I did notice that there was a_XOT version of the connector and one without that extension and when I looked at the connector page in the editor I could quickly see that the optional attributes married up to the _XOT version. I do not know why there are two different ones though...

As for why the alt-text option is not being added to existing hotspots but is to new ones I do not know. I d

[2019-11-20 18:37] torinfo commented on #573
@ronm123 @JohnSmith-LT
 - The fact that it doesn't work on the connector, is because of the fact that you added the property to the flexhotspot, and the flexhotspot is only used when a new hotspot is added. Not when an old hotspot is edited. Bit of a long technical story, but the hotspot and the flexhotspot is shared between more than one page, and they ALL need te be identical. So, I need to look

[2019-11-20 18:40] torinfo commented on #573
@JohnSmith-LT Please let me know which commits you're comfortable with to cherry-pick to 3.8. And I rather be carefull, and first commit a few to 3.8.4, and then later commit a few other ones to 3.8.5

[2019-11-20 19:42] ronm123 commented on #573
@torinfo just a quick correction - according to my tests it (new alt text option) shows as available with existing hotspot image connector hotspots but not hotspot image hotspots.

[2019-11-21 11:03] ronm123 commented on #573
@torinfo @JohnSmith-LT I would suggest the following commits:
97f78ce7379c360a51e06b9669106653ae3ab3a8
78787e776e2e8dcfec83084c94436bff255f84d6
1aabebf7a95baf84f0c1eb2742b5b3714e46217b
96313c6c4394161112accf90f3655e153f5aed4c
067f63ce7fa015e227bf2760e210eea930a2eac9
8b0990e84657d08e7cce5a5d3053550b91f0283e
384a612bb778e0a0d8a7a998a128022459ca577c
25a45df10873a1d8aaf9c47e1b9f6cfde8bed5ed
640833ae3f

[2019-11-21 11:05] ronm123 commented on #573
Also the tiny commit by Fay commenting out debugger 7f9d1683dc26897ac60d230d149c9af482637d6e

[2019-11-21 11:11] JohnSmith-LT commented on #573
Yeah to be honest I think the audio button is useful as it is

[2019-11-21 11:13] JohnSmith-LT commented on #573
@ronm123 do you mean only EXISTING hotspot image hotspots and newly ceated ones work?

[2019-11-21 11:51] ronm123 commented on #573
@JohnSmith-LT @torinfo

To be very clear:

Existing project with a hotspot image connector page and a normal hotspot page.
Select the existing hotspots on the connector page, or add new ones and the alt text option is available for both.
Select the existing hotspots on the normal hotspot page and the alt text isn't available but add a new hotspot to that interaction and the new hotspot does show t

[2019-11-21 11:53] JohnSmith-LT commented on #573
@ronm123 ah right, I get this now. Leave that with me and i'll see if I can fix that.

[2019-11-21 12:21] torinfo commented on #573
@JohnSmith-LT As long as you make sure that in all the xwd's the hotspot and the flexhotspot need to be consistent.

[2019-11-21 12:31] JohnSmith-LT commented on #573
So i've taken a look but it seems that in Hotspot Image there is no <hotspot> decalaration and it's now just the <flexhotspot> for new nodes but it has upgradefrom="hotspot"...

Without a declaration for <hotspot> in the xwd how do you add alttext for existing nodes?

![image](https://user-images.githubusercontent.com/3907362/69338270-b31f8a00-0c5a-11ea-9c2b-c876022dc3d2.png)

Should/can there be

[2019-11-21 12:38] JohnSmith-LT opened #867 "New Hotspot highlight appearance option"
Hi @FayCross @ronm123

During testing of the hotspots and the tabindex issues and while we have the new Hotspot highlight appearance and with "Show Highlight" turned on, it's still hard or impossible to tell which highlight has been tabbed to.

My question is, am I overlooking something or should we have a "On Focus" option too? For example in this image the middle hotspot on the foot is active:

[2019-11-21 12:41] JohnSmith-LT commented on #866
Meant to reply to this @ronm123 have used Snagit in the past and if you have the licence for that then it's probably as good or possibly better. ScreenToGif is a good free alternative, even for recommending to others. Animated gifs are great for this type of thing where they can be embedded easily and good for PDFs also for guides.

[2019-11-21 12:55] JohnSmith-LT commented on #573
So @torinfo adding back in the <hotspot> definition (well copying the <flexhotspot> definition and renaming to <hotspot>) puts the Alt Text option back onto existing LOs containing an older style hotspot but is this the correct way do you think or could/does that break something??

![image](https://user-images.githubusercontent.com/3907362/69339853-25459e00-0c5e-11ea-9dd9-24bd62e0cbc2.png)

I have

[2019-11-21 13:09] ronm123 commented on #867
@JohnSmith-LT @FayCross that's a good point John and more importantly I think I was testing the hotspot connector and hotspot image (and others) with a screenreader (nvda) and it might just be my lack of awareness of how to configure/use a screen reader but for instance I noticed the following differences:

1. using the hotspot image connector set to open pop-up content for each hotspot I can tab

[2019-11-21 13:13] JohnSmith-LT commented on #867
Yeah, when I tab to each hotspot it gives a brief flash (with no accessibility tech turned on) but that's it and then it's hard to see. If there are a lot of hotspots too then it's hard to see which one flashed.

[2019-11-21 13:20] ronm123 commented on #867
@JohnSmith-LT @FayCross sorry I forgot to add that I also think it's not just as simple as adding an on focus style or at least not if the learning design is such that the hotspots are not set to 'show highlight' and the interaction is set to click explore. e.g. in that scenario the learner is meant to click around in the image to find the hotspots. If they can simply use the tab key and see an on

[2019-11-21 13:23] torinfo commented on #573
@JohnSmith-LT Yes, that is how it works. Now, the hotspot in for example annotatedDaigram NEEDS to be the same. It also needs to include the alttext node.

As far as I can tell, these are the xwd's that need to be checked:
annotatedDiagram
dragDropLabel

[2019-11-21 14:06] JohnSmith-LT commented on #867
Yes definitely, I would only want the on focus to take effect if the highlight was on. I think as an addition to what we have now, only when highlight is turned on, it would definitely be useful but as you say more so for people who can see and we should definitely take this all into consideration as part of the bigger picture...

[2019-11-21 14:13] JohnSmith-LT commented on #573
Thanks @torinfo I have started working on this but now I have a few other questions and things that I wanted to note, even if just for the record...

You said that all the <hotspot> nodes need to be the same and I get that for consistencey however when I went to do the annotatedDiagram and dragDropLabel the Alt-Text option was already there. I'm assuming that this is because the <hotspot> node was

[2019-11-21 14:49] JohnSmith-LT commented on #573
I have just realised that the hotspots being shared means that you can drag a hotspot from one type of page to a different page and they work... this is going to mean that we can't do that with newly created <flexhotspot> ones ?

[2019-11-21 15:38] ronm123 commented on #573
@JohnSmith-LT I would say the alt text goes on the hotspots for both drag and drop labelling and annotated diagram.

If we take the bones in the foot example then for drag and drop labelling at the moment a screen reader just says drop zone for 1, drop zone for 2 etc. So what you might add to the alt text is something that describes what a sighted user sees within that particular hotspot. e.g. you

[2019-11-21 17:08] JohnSmith-LT commented on #573
Ok @ronm123 I think that i've now done all 4 page models and applied your comments correctly, can you please check when you get a spare minute...

As for the nvda issue, i'll take a look at that too but maybe we should close this if you are happy the alt text stuff is all ok now and open a new issue because as you say that will most likely affect a lot more of the interactions...

[2019-11-21 17:33] #465 closed

[2019-11-21 18:05] ronm123 commented on #573
@JohnSmith-LT just tested and the alt text options appear for existing as well as new hotspots now on all four page types. However I'm not sure what your changes cover and what they don't yet cover. So I'll itemise each page type as follows:

1. Hotspot connector
all seems to work fine including screen reader use picking up the alt text.

2. Annotated diagram
all seems to work ok including screen

[2019-11-21 20:12] JohnSmith-LT commented on #573
@ronm123 not sure what is going on with the Hotspot image in step 3. The only changes that have been made to that file are:

`$hotspot.attr("title", this.getAttribute("name"));`

to

[code]

which can't account for anything that you are seeing, especially the "play template ID equals...." Can you have a look in the underlying code for those hotspots (right click Inspect) to see if the xml file has

[2019-11-22 00:48] JohnSmith-LT commented on #854
Hi @FayCross & @torinfo & @ronm123

I've made an attempt to recognise imports of old projects created before the targetFolder attribute is present, by looking at the attributes present on the learningObject tag and calculating a probability. This was an export of a Decision tree LO where I exported it, took out the targetFolder attribute and re-imported and it went back in as a Decision tree. Scor

[2019-11-22 08:54] FayCross commented on #573
Only just getting round to looking at all of these issues you've commented on recently @JohnSmith-LT . Do you mind if I rename these new optional properties? Fields for alt text (e.g. for images) generally haven't been labelled as that as I'm not sure it would be understood but all users. We just use 'description' for image alt texts but maybe 'tooltip description' would be better for these?

Also

[2019-11-22 08:55] JohnSmith-LT commented on #854
To do:

- Identify the correct/best set of attributes that were present before targetFolder was introduced
- Perhaps reduce the score based on attributes that are present that are never present in other models
- Look at processing child tags and attributes and performing same correct/wrong processing above
- Pull attributes from xwd files although these will have evolved since targetFolder was int

[2019-11-22 08:55] FayCross commented on #866
I can't remember adding the reload in there but from my comment it was probably added after some screen reader testing a while ago. Not able to test today to see if it's still needed but leave it in for now & I'll try to look when back at desk next week

[2019-11-22 08:56] FayCross commented on #447
This is great, thanks @JohnSmith-LT. The align options don't work for me though - it's always on left regardless of which option I choose.

[2019-11-22 08:59] FayCross commented on #313
Is it worth branding this page under a different name as it's not really just a bullets page now? The name timed text would probably better describe it now. We could make the 'Add bullets to text' an optional property so it's not there by default on new pages but will still appear in editor & work as expected for any older ones. Personally I'm not a fan of really long tooltips to describe what thi

[2019-11-22 09:00] JohnSmith-LT commented on #447
Hi @FayCross yeah I need to do some work on that still to make someof the options work. I still haven't found how to detect if the player is in the editor or in the LO as I have added an option to hide the player (for feedback - works great with autoplay - if allowed by user) but then it hides it in the editor too and you can't edit it or find it easily...

I will get back to it soon.

[2019-11-22 09:03] JohnSmith-LT commented on #313
Sure @FayCross always happy with the extra input. Work your magic and if you and @ronm123 are both happy then close it when are done.

[2019-11-22 09:05] FayCross commented on #867
The ability to highlight on tab has been lost between 3.7(X) & 3.8. We're still on 3.7 at UoN & highlight still works on the three image hotspot pages:

[Hotspot Image](https://www.nottingham.ac.uk/toolkits/play_8203&page=50)
[Hotspot Image Connector](https://www.nottingham.ac.uk/toolkits/play_8203&page=31)
[Drag & Drop Labelling](https://www.nottingham.ac.uk/toolkits/play_8203&page=52)

On 3.8 it

[2019-11-22 09:13] FayCross commented on #854
This looks good John. I thought it would be easier to add the attribute on export but if this is way works then that's good too. I don't suppose there are lots of people out there who have lots of old exported projects that they are likely to import to be honest - I don't think anyone outside us few have ever reported this issue anyway!

[2019-11-22 09:14] FayCross commented on #313
@ronm123 are you happy for this page to be renamed? Bullets isn't really the page's main purpose any more (& hasn't been for some time)

[2019-11-22 09:49] FayCross commented on #573
@torinfo if you are adding some commits to v3.8 could you please include this https://github.com/thexerteproject/xerteonlinetoolkits/commit/90031d7b79de9d3490e5228b7fc195b91fff7201
I added some instructions for using the search functionality in Bootstrap but it wasn't quite in time for first 3.8 release
Thanks

[2019-11-22 09:56] JohnSmith-LT commented on #854
Cool. I've left notes about possible improvements to the detection but might not put a lot of effort into implementing them - what I did was easy to do so i'll probably just close this after @torinfo has a chance to comment in case i'm doing something seriously wrong.

[2019-11-22 10:01] JohnSmith-LT commented on #867
Yes I thought it did and I can see the faint highlighting on the drag-drop page but it's far from obvious.

[2019-11-22 10:06] JohnSmith-LT commented on #313
I'm still not 100% convinced that this shouldn't remain bullets but that we have a new Timed page which can have lots of things timed. In this page at present it is only really bullets and text outwith bulleted sections, although I suppose you could put images etc in the <p> blocks and they would animate too...

That said i'm definitely happy for it to be changed and then it could probably be impr

[2019-11-22 10:25] ronm123 commented on #313
@FayCross @JohnSmith-LT a few comments...

**page name**
yes as long as the change of name is just a string and we keep the model file etc as it is so that no existing projects are broken then I think it does make more sense to call it timed text. Perhaps Timed text (Incl bullets) so that there is still reference to its previous name in guides and screenshots etc?

**tooltips**
Agree that they sho

[2019-11-22 10:39] ronm123 commented on #313
I've created pages using the bullets page previously where I've included images that build too and the current functionality works quite well for this too if you are careful about where the image is added and what alignment is used. So this is already arguably 'Timed content' rather than just 'Timed text'.

There are a few ideas and possible functionality converging here though e.g. what about an

[2019-11-22 10:49] ronm123 commented on #313
Just thinking out loud here but worth adding while we are discussing this I think...

Historically we've had lots of different page types for different purposes. As we know over time and for various reasons many of them have become redundant or have far more flexibility than originally available e.g. the plain text page hasn't been just a plain text page for a long time! Likewise we've had separat

[2019-11-22 12:04] FayCross commented on #313
Timed content seems like a good name Ron. Do you think that if we are changing the name then it should wait until next release rather than be cherry picked into 3.8? It feels like something that should be in release notes rather than just added as if a bug fix.

[2019-11-22 12:33] ronm123 commented on #573
@JohnSmith-LT here's a demo of what I get with show tooltip unchecked with the normal hotspot image page. I tested with an existing hotspot image page, with a re-imported copy and with a newly created hotspot image page so I don't think it's due to any kind of corruption and as you'll see in the recording it's directly linked to whether the show tooltip is on or off. Obviously I'm testing with NVD

[2019-11-22 12:49] ronm123 commented on #313
@FayCross well it's quickly evolved into a more flexible and powerful page and that was one of the reasons for the longer tooltip text given that if cherry picked for an incremental update it wouldn't be part of the 3.8 release notes. Perhaps we need to add additional sections (not pages) to release notes in future to cover incremental updates where new features require/justify additional guidance

[2019-11-22 13:21] JohnSmith-LT commented on #573
Ah, so it is the screen reaer trying to be helpful - when there is no title attribute it looks for the next thing it can read and so it reads the href attribute which in this case is just #

If you get a minute can you try adding in this highlighted line (sorry we have locked down computers and I have requested temporary admin rights to install NVDA for testing but IT being their usual it will tak

[2019-11-22 13:33] JohnSmith-LT commented on #313
I like the idea of making the multi-navigator the timed page...

[2019-11-22 15:09] ronm123 commented on #573
@JohnSmith-LT I tried that but it wasn't making any difference. However I then checked the logic through those conditions and shouldn't line 244 be checking that the altext isn't undefine rather than is undefined? e.g. cuurent line 244 is:
`if (this.getAttribute("alttext") == undefined && this.getAttribute("alttext") != "")`
if I change that to:
`if (this.getAttribute("alttext") != undefined && th

[2019-11-22 15:14] JohnSmith-LT commented on #573
I did notice that @ronm123 and thought it was to do with the default being on or something but then I added that line i'm sure so yes it is a typo. Good catch. If you are happy then yes feel free to submit it.

I will try the portable application option to see if it works but we've all had our computers locked down dy default because of an audit outcome so I'd be surprised if that option is still

[2019-11-22 16:07] ronm123 commented on #573
@JohnSmith-LT sorry even though I did correctly find the cause/solution I referred to the wrong line in my last post! :-(

It was line 243 on 244 that was incorrect and I have committed that change now.

This has become a long discussion so for clarity I think the following are things that we perhaps still need to agree/implement:

- [ ] Change of name of the alt text fields: @FayCross suggested t

[2019-11-22 17:04] torinfo commented on #854
@JohnSmith-LT No comment, I am happy to go with it as is :-)

[2019-11-22 17:05] #854 closed

[2019-11-22 17:18] JohnSmith-LT commented on #573
Ah, yes that's the one I saw and that was there originally before I started work on this. I wondered if this was like that on purpose so that that section would be done if the tooltip flag isn't present - i.e in older LOs because otherwise older LOs may lose functionality... not sure though.

[2019-11-23 01:07] JohnSmith-LT commented on #573
First attempt @ronm123 at patching Drag and Drop for the new alt text - turned out to be easier than i expected which reduces my expectations of success! If you have a fully formed drag drop exercise then can you test when you get a moment and see whether the screenreader likes it and if any bits turn out odd?

I will get to your checklist tomorrow.

[2019-11-23 10:19] ronm123 commented on #573
@JohnSmith-LT tabbing to the targets with NVDA running now reads the title or alt text if added of those targets. But I assume your fix isn't yet attempting to resolve any other issues with drag and drop labelling?

At the moment tab to label, space, tab to target, space, works without NVDA running but not with NVDA running. However this applies to other page types too like categories and gap fill

[2019-11-23 11:10] ronm123 commented on #573
@JohnSmith-LT @FayCross it seems, as the saying goes, a little knowledge is a bad thing! ;-)

I skim read some of the basic NVDA tutorial at http://www.accessibilitycentral.net/nvda%20tutorials%20learning%20the%20basics.html and I wasn't aware there is a browse mode and a focus mode. It seems Ins + space toggles between the modes. From my testing it seems the tab, space, tab, space functionality (

[2019-11-23 12:45] JohnSmith-LT commented on #573
@ronm123 that's good news that at least the toolltips seem to be consistent in your testing. I haven't got to the other things but I plan to attempt them either later today or tomorrow as it would be great to drap a line under this one...

Regarding not reading the description, there are possibly a coupleof ways we could handle that:

- could we fire off a timer which after a certain time (perhaps

[2019-11-23 20:10] JohnSmith-LT commented on #573
Have committed some changes to address the first 2 points...

[2019-11-24 12:48] JohnSmith-LT opened #868 "Should we enable the FileManager plugin in CKEditor which adds upload features where appropriate"
**NOTE**: This post has been edited since it was first posted - see comments below.

When we initially adopted CKEditor it didn't have a File Manager and we relied on ElFinder to do all the uploading etc, however now that @FayCross has upgraded us to the latest CKEditor it does have a file manager and it integrates really well with all the other plugins; it natively lets you upload files directly

[2019-11-24 13:32] JohnSmith-LT commented on #868
Hmm, as good as this looks It would appear that I jumped the gun and this file manager is called CKFinder has a Commercial licence... We can still use the File Browser plugin though to allow upload from the dialog box.

I am going to edit the title and the text above to update these points.

[2019-11-24 15:05] JohnSmith-LT opened #869 "Related to #868, drag and drop functionality should but doesn't work"
This would be useful functionallity to have working:

![drag drop uploading not working](https://user-images.githubusercontent.com/3907362/69496606-d9982c00-0ecb-11ea-972a-a07679e89efa.gif)

It's the same for copy+paste uploading (like Github has) except it doesn't even fire the upload event.

[2019-11-24 15:17] JohnSmith-LT commented on #869
It seems like there is functionality built into the current editor to handle drag drop... did this work in the past @torinfo @ronm123 ?

[2019-11-24 16:58] JohnSmith-LT opened #870 "Pasted images upload with original filename and overwrite existing image with same name"
This was fixed as part of #567 and reported as fixed but nothing has changed in that uploadImage.php file yet it is now broken again... perhaps something has changed since the update to CKEditor 4 but it definitely needs looking at again.

Can you reproduce this @ronm123 ?

[2019-11-24 17:16] JohnSmith-LT commented on #870
I've modified the uploadImage.php file to fforce it to call pasted images pasted_image.EXT, pasted_image(1).EXT, pasted_image(2).EXT etc where EXT retains the extension/type of the original file.

I've also commented out several functions including sanitiseFilename since it's not needed if we are renaming the files to a format of our choosing...

[2019-11-25 10:54] ronm123 commented on #573
@JohnSmith-LT sorry didn't have a chance to test this until this morning...

The change to tooltip description seems fine as well as change to non-wysiwyg.

However with the hotspot image page, which has the option to control whether tooltips are shown or not, that didn't seem to work any longer e.g. tooltips were shown whether that option was checked or not. I looked at the if statement on line 2

[2019-11-25 11:28] ronm123 commented on #870
@JohnSmith-LT I'm not sure about this and have not had a problem with the way this has worked up to now. But I think I do have a problem with the way it works after your changes! ;-)

I might be wrong but my perspective on this is as follows and I thing we need to differentiate between drag and dropped files vs copy and paste images...

With the wysiwyg editor window open if I have a screenshot or

[2019-11-25 11:34] JohnSmith-LT commented on #870
Ah, ok, I screwed that up. Problem is that I couldn't get paste to actually work because I couldn't figure out how to enable it in the browser (perhaps that's something we need to add somewhere as a tooltip)

Leave this one with me and i'll figure that out and commit changes - there was something funky going on with the sanitiseName() function though because wasn't setup to have the 2nd parameter

[2019-11-25 11:52] ronm123 commented on #870
@JohnSmith-LT just to be clear - when you say you couldn't get paste to work how/what were you pasting? e.g.

1. I've always expected and assumed this should work like it does in an open email for instance e.g. If I have an image open and selected in PowerPoint, or Snagit or Photoshop etc and select copy and then switch to the email or Xerte and select paste then I expect that to paste and see the

[2019-11-25 12:03] ronm123 commented on #869
@JohnSmith-LT I guess this is directly related to the other issue about renaming images etc so you'll have seen my comments there but yes this has worked for me for quite a while. However I can't be sure about server differences etc e.g. it works for me with my local copy of xampp and it works on xot.xerte.org.uk but I tested on another one of my servers and got the same error as you. Not sure if

[2019-11-25 12:03] JohnSmith-LT commented on #870
Ok @ronm123 sorry about that... I've put it all back the way it was with that missing $response in place and i've restarted my machine and all seems to be working now. Can you check it's back the way it was for you?

I was definitely doing 1. above but a service must've stopped or something as it was only Chrome that didn't work and initially I got a purple-ish popop (like the upload successful me

[2019-11-25 12:09] JohnSmith-LT commented on #869
Yeah I think it was my computer playing games - some service must've stopped in Chrome because it's all working now after a restart and putting back the old file, with slight correction. Sorry for adding to your workload :-(

[2019-11-25 12:09] #869 closed

[2019-11-25 12:09] ronm123 commented on #870
@JohnSmith-LT yes seems like it works like it did again now.

I replied to #869 though and can replicate the error you reported with that install/server but assumed that was a server/firewall issue rather than Xerte code.

[2019-11-25 12:10] #870 closed

[2019-11-25 12:34] JohnSmith-LT commented on #573
I thought for a moment that you had the same code in the if and the else part but 1 is doing the title attribute and 1 the alt attribute so it looks absolutely fine to me if you are happy that the options are working as the should... it could be made smaller but it would lose readability.

I'm going to leave the 3 remaining points for now until @FayCross has a chance to comment on them and then we

[2019-12-06 15:59] JohnSmith-LT opened #871 "Problem with glossary and info panel on thumbnailViewer"
Reported on forum:

https://xerte.org.uk/index.php/en/forum/bugs-and-issues/1860-glossary-term-word-not-displaying-on-thumbnail-viewer-when-hover-text-overlay#6165

Was found to have several problems:

- [x] Glossary highlighted word was black text on black background
- [x] Glossary and panel would flash ash you move mouse across and glossry popup wouldn't show
- [x] On first load, before resize,

[2019-12-06 16:08] JohnSmith-LT commented on #871
Hi @ronm123 @torinfo and @FayCross have either of you come across this issue with thumbnailViewer before? Is it new or just never been spotted before?

If/when you get a chance can you test these commits to make sure they don't break anything you already have?

[2019-12-06 16:16] JohnSmith-LT commented on #871
There appears to be another issue, if you click the close button it opens the image in the browser (if that option is selected in the LO) and it closes the panel in the LO (as it should). But then you cannot open the panel again with that same thumbnail but must cllick a different thumbnail...

I don't think that is right... agree?

[2019-12-06 17:09] ronm123 commented on #871
@JohnSmith-LT don't think I'd seen the issue before but I guess it's quite a unique combination e.g. glossary term has to exists and term used also be added to the thumbnail description. Testing your two files I can see that the glossary popup now works but I think there's a problem with adding `#panelTxt .x_glossary {
		background-color: white;
	}`
Because on dark themes like Dark: Blue Grey that

[2019-12-06 17:20] JohnSmith-LT commented on #871
Thanks @ronm123, yes it's those strange combinations that probably don't get tested enough by us...

After commiting those changes I did think that it may be an issue in other themes - changing it to #ffffff may work better as you suggest so i'll go ahead and do that and look at the close issue and commit some more files over weekend for them.

Didn't realise Anne's install is managed by you !

[2019-12-07 00:34] JohnSmith-LT commented on #871
Hi @ronm123

I've now implemented your suggestion as well as fixing the close button opening the image (if that option selected) and the panel reappearing after closing it and clicking same thumbnail again.

John

[2019-12-09 11:08] ronm123 commented on #866
@JohnSmith-LT @FayCross @torinfo this is a slightly off-topic question but it relates to the interactive list page and possibly the difference between this and other pages so seemed worth posing here rather than a new issue...

I have some jquery added to optional script panes of various pages and it works in pages like the accordion, button and tabbed navigators but not the interactive list page.

[2019-12-09 11:42] ronm123 commented on #871
@JohnSmith-LT as far as my testing goes this works well now. @torinfo I'm not sure where we are with cherry picking or just making everything currently in develop part of 3.8.4 but if it's still cherry picking then I think this should be part of that too?

@JohnSmith-LT seems like this issue should be closed now.

[2019-12-09 11:45] JohnSmith-LT commented on #871
Cool, i'll close. Have told the person on the forum that you will be updating their install soon.

[2019-12-09 11:45] #871 closed

[2019-12-09 15:31] JohnSmith-LT commented on #866
Hi @ronm123

It really depends what you wish to do - there's always more than one way to skin a wild Haggis...

We really have 2 common ways that these types of multi-screen things are done:

The interactive list page is not dissimilar to how the Hotspot Image works - when the option is selected then the new data is loaded into position.
The Navigators have individual pages, creates at initialisat

[2019-12-09 16:02] ronm123 commented on #866
@JohnSmith-LT thanks I think we do struggle from not having regular enough verbal discussion to discuss this kind of longer term development stuff. In this particular case I have an immediate need and a longer term need:

1. Immediate need is to get this working from the optional script property of the interactive list page  without any change to model files etc.
2. Longer term I would look to add

[2019-12-09 17:09] JohnSmith-LT commented on #866
@ronm123 yeah I get that. I think the problem is that the Tabbed, Accordian etc naviigators are built using jQuery UI and the inteface is handled by jQuery UI plugin therefore the content needs to be in place.The Interactive List is not managed by jQuery UI and has been written from the ground up and this was just the easiest way to do this at that time...

It could certainly be rewritten to work

[2019-12-09 17:49] ronm123 commented on #866
@JohnSmith-LT thanks for your comments. For my immediate needs I've got this working by adding a click handler and calling the custom function but added a timeout to be sure the images are loaded. e.g.
`var myFunction = function() {
    $(  $("#pageContents").find('img') ).each(function( index ) {
  var imgpath=$( this ).prop('src');
   console.log(imgpath);
//do other stuff
});
};
$('.listItem').

[2019-12-18 00:15] JohnSmith-LT commented on #798
Hi @GaneshKandu

I'm just going through some Xerte issues that remain open and wondering if you can confirm the status of this one? I've looked at the code and it was seemingly patched in October 2018 but you replied that it still existed afterwards? Is this still the case?

https://github.com/thexerteproject/xerteonlinetoolkits/blob/1af4da3059fca472a8eede95ea853a3263abc4e2/website_code/php/manage

[2019-12-18 03:44] GaneshKandu commented on #798
@JohnSmith-LT its working now

[2019-12-18 03:44] #798 closed

[2019-12-19 21:11] FayCross commented on #866
Late to this but @JohnSmith-LT asked about whether there would be a problem from UoN point of view re. changing this page to load all sub-pages at once. No I don't think so. As you say it simply loads the content of each sub-page when a link is clicked rather than loading them all initially like navigators do. I can't think of any reason not to change this if needed.

[2019-12-19 22:05] FayCross commented on #313
Forgot to tag issue in commit: https://github.com/thexerteproject/xerteonlinetoolkits/commit/3b2d2847a1b111a419e5ab32d508e7dad3f47052

I've changed a couple of the default settings to better suit the new functionality & renamed page for now to Bullets / Timed Content. We can always change this if & when a new fully functioning timed content page is made

[2019-12-20 12:36] JohnSmith-LT commented on #866
Thanks @FayCross @ronm123 got it to work but I suppose it's one of those things that it maybe makes it easier and faster initially to only load what you need but it perhaps limits other possibilities. One to keep in the front of my mind for next time a page gets developed...

[2020-01-08 15:10] FayCross opened #872 "Export time-out issue"
I've noticed some projects where there are multiple unnecessary folders / files that are created in the user-files folder. I think this happens when the export of the project fails (e.g. times out because of the size of the media folder).

Is there a way to avoid this happening?

![export_fail](https://user-images.githubusercontent.com/8926470/71988929-a7971b00-3228-11ea-826c-6791f00104ac.PNG)

Al

[2020-01-08 18:28] torinfo commented on #872
It is caused by the fact that the export routine builds the whole structure of the zip file in the USER-FILES folder.

After a successfull export all those files are cleared again, but when something goes wrong, than the cleanup does not take place.

I'll have a look

[2020-01-15 11:06] #868 closed

[2020-01-22 12:39] ronm123 opened #873 "adding some kind of exclude/include page check for use with various bits of functionality"
Hi all
this isn't an issue but just to start a discussion about how best to do this...

During the last online meeting about the 2020 conference I mentioned some code for automating opening images in featherlight, that I had sent to @FayCross and @JohnSmith-LT by email, that I was planning to add as an optional property at some point. Fay started to add that as an optional property during that mee

[2020-01-29 10:56] ronm123 opened #874 "add option on menu connector to use menu item titles as button labels"
Request from forums https://www.xerte.org.uk/index.php/en/forum/wish-list/1928-menu-connector-labels#6275 to be able to change button labels on menu connector page with custom text different to actual page titles. Probably easiest way is to add an optional property to use menu connector titles as button labels instead of destination page titles.

[2020-01-30 10:57] FayCross commented on #531
I'm working on getting links to hidden Bootstrap pages to work at the moment but have come across something odd. At the moment you can add links to hidden pages with the Xerte page link button in the editor. If previewing with author support on the links work properly (because author support allows you to view hidden pages). When viewing play version the links don't just break but take you to the

[2020-01-30 11:41] ronm123 commented on #531
@FayCross no objections from me to making the change you've described so that when viewing the public view the links just don't work when the destination page is hidden. The additional checkbox sounds useful too.

On a related note we've had a small issue with the author support styling on the Future Teacher project recently because we are now adding additional/new pages to our public projects in

[2020-01-30 11:48] torinfo commented on #531
@FayCross Reading the original issue addressed here, it sounds like the link not working (or navigating to the next page) is not the intended behaviour.

However, I would prefer the link not working than linking to a different page.

[2020-01-30 12:01] ronm123 commented on #531
This is a classic example to me where we could end up with a much more flexible and powerful set of changes if we were able to have a verbal and interactive discussion about it at the beginning of an online developer day. e.g. the point I made earlier in the thread about being able to add hidden pages that don't show in the toc and open in a lightbox would make it very easy for authors to achieve

[2020-01-30 12:01] JohnSmith-LT commented on #531
@FayCross I agree that it's probably best if the link doesn't work than take you to the next page which might not even be relevant...

[2020-01-30 12:12] FayCross commented on #531
@torinfo yes - this issue relates to being able to link to a page that's hidden. I thought adding an extra check box to allow this would avoid any examples out there where people actually don't want to be able to do this and maybe by accident do have some links to hidden pages already in their projects.

It was while looking at how we could do this that I realised that links to hidden pages someti

[2020-01-30 14:49] FayCross opened #875 "Bootstrap page link issues"
I'm opening a new issue for this as it really needs dealing with outside issue #531
I've set up a project demonstrating some of the issues [https://xot.xerte.org.uk/play.php?template_id=191](url)

Issues are:

- [ ] If last page is hidden then relative links to last page go to first page (instead of last unhidden page)

- [ ] If page before currently viewed page is hidden then relative links to pr

[2020-01-31 10:25] #875 closed

[2020-01-31 10:29] FayCross commented on #875
Fixed all these issues. URLs using #pageX parameters now count only unhidden pages - this may mean some existing links aren't going to the page they previously did but I think this is preferable to the confused way things were done before.

[2020-02-04 15:07] ronm123 commented on #867
@JohnSmith-LT @FayCross I'm just revisiting this having upgraded a test server to 3.8.4 and I must have missed this previously because I was focusing on the alt text and screen reader usage. Someone just reported that their hotspot connector isn't working and on testing it is working just isn't showing any hightlights on tab.

I think it's clear that we definitely want the hightlights to show clea

[2020-02-04 16:08] ronm123 opened #876 "issue with FA icons and page types/wizards with more than one text box by default"
Hi all
this was just reported to me so I'm adding while it's fresh in my mind. The example was using an orientation page but the same issue happens with a summary page and possibly others too. To replicate:

1. Add an orientation or summary page
2. Turn on Show Toolbar
3. Add an FA icon to the first text box which should work fine
4. Try to add an FA icon to the second text box - it won't work and

[2020-02-05 09:25] torinfo commented on #867
@ronm123 @JohnSmith-LT @FayCross

What changed between 3.7 and 3.8 is that 3.7 uses canvas to display the hotspots, and 3.8 uses image maps and an jquery plugin to render the imagemap boundaries.

[2020-02-05 10:38] FayCross commented on #876
Yes I can replicate this (& there are loads of pages with more than one text boxes on XOT template - don't think there are any in Bootstrap template). I don't think it's an issue with any other buttons in ckeditor - I've tried a few out & they seem to work ok in multiple text fields.

I've tried upgrading fontawesome plugin in ckeditor but it still does this (actually I think we were already using

[2020-02-06 17:24] ronm123 opened #877 "upgrade font awesome across all project templates?"
Adding this as a point of discussion for the next developer day.
I received a question about the Font Awesome version available in Xerte and effectively a wish for 5.x. I can see that we have a 5.x folder in the XOT project template files but not Bootstrap or Decision and I think it's still 4.3 in the editor.

[2020-02-06 17:26] ronm123 opened #878 "Bootstrap upgrade"
We've discussed this before but as I've been asked about this again worth discussing on the developer day.
Can/Should we upgrade the bootstrap version in the bootstrap template and/or add a new upgraded Bootstrap template?

[2020-02-06 17:33] ronm123 opened #879 "xapi related enhancements to discuss during the developer day"
Please edit/add to this list for discussion as you see fit.

- [ ] Add option or possibly even default to view non-scoring pages in the dashboard
- [ ] discuss the additional xapi related management options and how they work
- [ ] Add basic xapi tracking to Bootstrap and decision templates
- [ ]

[2020-02-06 22:34] #787 closed

[2020-02-07 09:11] FayCross commented on #531
Done for Bootstrap template - would be useful to add same functionality to XOT template at some point. Instead of allowing hidden pages to be linked to there's a new optional property called 'stand-alone page' which removes the page from page menu but allows it to be linked to (either opening in same or new window). I thought it made more sense to do this & keep hidden pages as always hidden in li

[2020-02-07 14:20] FayCross commented on #878
Yes we should - but it's very time consuming to do. I started looking at it on last developer day but didn't get very far

[2020-02-07 14:21] FayCross commented on #877
We seem to have a lot of different versions of font awesome in different places. Regardless of whether we update I think they need to be tidied up

[2020-02-08 19:30] JohnSmith-LT commented on #876
Hi. This plugin hasn't been updated since 2017 by the looks of it, in which time CKEditor has moved on and we are using alater version than was available back then. I suspect that he has used a non standard way to access something (probably in the DOM) and the DOM structure has changed. Notice that when you insert in first and move to the second that the 'Alternative Description' doesn't populate

[2020-02-08 23:06] JohnSmith-LT commented on #877
Often wondered whether we should have a root/libraries folder and put single versions of all these things in there: jquery, bootstrap, fa, etc and then we update them in one place. We may share things between the engines in some cases but we at the very least have different versions between the editor and engines...

[2020-02-10 11:55] ronm123 commented on #867
@torinfo @FayCross @JohnSmith-LT I was having a quick look at the plugin we are now using via http://www.outsharked.com/imagemapster/ and I can't find any examples of showing the hotspot highlight on focus. It's probably something stupid and really obvious that I'm missing but none of their demos show the hotspots on focus either but they do on hover. At the moment we have a situation where we've

[2020-02-10 12:12] JohnSmith-LT commented on #867
Out o fthe box it doesn't appear to be something that they have considered or included: https://github.com/jamietre/ImageMapster/issues/150

However one of the examples works for me (http://jsfiddle.net/PerWiklander/NRADk/7/) so I think it's definitely something that we can add in using some script.

[2020-02-10 12:40] ronm123 commented on #867
@JohnSmith-LT good to know there's a possible solution.

[2020-02-11 10:38] ronm123 opened #880 "Issue with Xerte RSS feeds and the Xerte RSS Feed page type"
Hi all
I've been alerted to an issue with the Xerte RSS Feed page type when used with Xerte feeds and I suspect this happened when we added the RSS Xerte Download Feed page and related functionality but somehow we missed it.
Currently the Misc > RSS Feed page displays normal feeds like BBC news e.g. http://feeds.bbci.co.uk/news/world/rss.xml but not feeds from a Xerte install e.g. https://xot.xert

[2020-02-11 10:57] torinfo commented on #880
@ronm123 It's caused by the page model. This page model uses a intermediate service to get the rss feed data into a json file, and that service doesn't support the extra items we included in the Xerte feeds, i.e. the service is not standards complient.

We should deprecate the original rss in my opinion.

[2020-02-11 11:31] ronm123 commented on #880
@torinfo I thought the extra items were added in a way so as not to impact other things. I can't remember what version/revision we added this but if it was the initial 3.8 then any installs using that currently have broken rss pages if they have Xerte feeds added to them. I know that's a few if's but there's obviously a big difference between deprecating for future proofing and deprecating because

[2020-02-11 12:05] torinfo commented on #880
@ronm123 Yes we should be able to fix it by just using the rss download version.

I'll have a look.

[2020-02-11 12:06] torinfo commented on #880
@ronm123 I thought we tried to avoid using the extra items (which are standards compliant) when we detect that rss.php is used. Apparently we do not properly detect when rss.php ise being used.

[2020-02-11 12:17] ronm123 commented on #880
@torinfo sometimes things seem stupid with the benefit of hindsight e.g. I'm sure we checked everything was ok with the new page type but clearly we didn't check properly with the standard rss feed page :-(

[2020-02-24 08:54] torinfo commented on #879
@ronm123 Added some extra items, also I believe (but will check before Wednesday) that item 1 can already be done (but is not the default).

[2020-02-24 09:00] torinfo opened #881 "Dashboard hangs when refreshing screen with F5"
When you refresh the dashboard (or in some instances) change the dates, the data gets really weird and/or the browser hangs.

 - The appears to be caused by the fact that responses from the first query still come back to the browser and are treated as being part of the new query (caused by the refresh)

[2020-02-24 09:04] torinfo opened #882 "Add Recycle Bin to wizard"
Add a Recycke Bin to the wizard like the Recycle Bin in the workspace.

 - To be able to restore unintantially deleted pages
 - To be able to reuse/copy template pages in 'Simple' mode

It would make sense to forbid emptying the recycle bin in 'Simple' Mode

[2020-02-24 09:07] torinfo opened #883 "Improve checking of required php extensions in setup, and add checking of requirements to upgrade.php"
A lot of issues in the forum are caused by the fact that not all required php extensions are enabled. We try to test this in setup, but that test is incomplete, we should also test for:

 - php-zip (used by uploading templates and creating exports)
 - php-curl (optionaly, only needed if using xAPI, it is used in xapi_proxy.php)

But, we should also check requirements in upgrade.php, because setup

[2020-02-24 09:10] torinfo opened #884 "Forum wizard (see also #883)"
Create a report to help resolving issues on the forum, i.e. installation issues, error 500 issues, etc.

This is somewhat related to #883

It would speed up the problem resolving quite a lot.

[2020-02-24 09:13] torinfo opened #885 "Document/improve documentation on Tsugi installation"
- Prevent error display about session timeout
 - Patch needed when using Moodle authentication

[2020-02-24 09:14] torinfo opened #886 "Tsugi/LTI advantage"
Check/test LTI Advantage, or LTI 1.3

This should also enable better feedback from Xerte into LMS

See https://www.tsugi.org/md/ADVANTAGE.md

[2020-02-24 09:15] torinfo opened #887 "Restart/Resume session when not using SCORM"
- Use browser storage in non-tracking mode ?
- What to do/ how to treat a session in xAPI if it's divided in two?

[2020-02-24 09:18] torinfo opened #888 "Document Saml2 setup"

[2020-02-24 09:35] torinfo opened #889 "LTI add capabillity to add more than one key"
This is pecifically needed when a company and/or institution wants to sell/lent out LO's to different customers.

[2020-02-24 09:36] torinfo opened #890 "Hide all options and parameters on main LO page except Title in 'Simple' mode"
These settings can be quite overwelming.

Perhaps control this in management.php

[2020-02-24 10:01] torinfo commented on #886
Actually, it turns out that LTI 1.3 and LTI Advantage are not the same. LTI 1.3 implements OAuth2 and other improvements over LTI 1.1, and LTI Advantage leverages this by adding 3 extra services:

1. Names and Role provisioning services
2. Deep linking
3. Asiignment and grade services

See also https://www.imsglobal.org/lti-advantage-overview

Especially 1. is iteresting for xAPI consumer itmes, l

[2020-02-25 12:11] ronm123 commented on #879
@torinfo my main reference point for this has been our page types demonstrator on xot.xerte.org.uk which has an example of each page type and you'll see from the following screenshot that only shows a selection of the interactive pages:
![image](https://user-images.githubusercontent.com/5167146/75245951-b9c41d00-57c6-11ea-9b3c-0b66241f5f62.png)
However that install is 3.8.3 at the moment so in cas

[2020-02-25 12:15] torinfo commented on #879
@ronm123

First of all, thank you for that verification. Nothing changed in 3.8.4.

In my test, I got results similar to your last result, so I thought that it was already solved. Clearly there is something else in play also as shown by your other two examples.

It's most likely a difference in the tracking settings of the LO. Let's invesigate tomorrow.

[2020-02-25 12:38] ronm123 commented on #879
@torinfo I've been trying to spot where the difference lies since posting my last message. I'm now wondering if it's something that was working but now isn't because I duplicated the project that was showing the static pages (so all pages and settings are the same) set that to use xapi and tested and that copy only shows the interactive pages in the dashboard. Not quite sure if that points to a di

[2020-02-25 13:30] torinfo commented on #879
@ronm123 Does the original one (where you saw the static pages) have 'scored' or 'answered' records in the LRS?

[2020-02-25 16:17] ronm123 commented on #879
@torinfo both the original and the copy have scored statements from a quiz.

[2020-02-25 16:19] ronm123 commented on #879
The original (which shows the static pages) has scored statements from 4 months ago.
The copy (which doesn't show the static pages) has scored statements from today.

[2020-02-26 12:40] ronm123 commented on #880
@torinfo I think this is fixed now so I'll close the issue.
I removed all the optional properties but left a few bits in that are usually empty and so not used but thought we might want to add to the Xerte rss in future. Anyway at some point please check in case there are any issues but seems to work fine.

[2020-02-26 12:40] #880 closed

[2020-02-26 12:58] ronm123 commented on #867
@JohnSmith-LT @FayCross @torinfo
I was hoping to get this cracked today and from what I can see the bit added in the example John found is the script at the end e.g.
`mapHover = function () {
    if (typeof $.mapster === 'undefined') {
        return;
    }

    /* This bit highlights the map with js following the map polygon, which means we have to hack the color of the footer in here (try anothe

[2020-02-27 10:38] FayCross commented on #580
Forgot to link to this issue from commit: https://github.com/thexerteproject/xerteonlinetoolkits/commit/0baba6887f76ef3072855a7b6d6abad1ebf1c527

[2020-02-27 10:42] FayCross commented on #873
Forgot to link to this issue from commit: https://github.com/thexerteproject/xerteonlinetoolkits/commit/0baba6887f76ef3072855a7b6d6abad1ebf1c527

I haven't excluded whole pages from lightbox image functionality as authors may want, for example,  an extra image on a hotspot image page (added to text field via wysiwyg editor) to be lightbox image even though main hotspot image page shouldn't open in

[2020-02-27 12:13] #874 closed

[2020-02-28 13:41] FayCross opened #891 "Files missing from SCORM media folder - space vs. underscore issue?"
I've come across a project where the SCORM export is missing some of the media files that are used in it. The images show correctly in the editor & preview but when you view the project properties the images say not used against them (which I assume is why they aren't included in the export)

I have worked out that it's likely that the original image files that were uploaded to the project contain

[2020-02-28 15:34] ronm123 commented on #891
@FayCross is it possible that the files were uploaded via media and quota rather than the elFinder? If you upload files that way the spaces aren't replaced. Or is the project quite old and the files were uploaded via an older version of elFinder? I'm not sure it always automatically replaced spaces. I just did some quick tests with develop and on export even files that are reported as unused and h

[2020-02-28 15:40] ronm123 commented on #891
@FayCross tested again via linux and a 3.8.4 install and same results e.g. uploaded media via media and quota with spaces in file name, used one of those in a graphics and sound page, two others unused but are still part of the export.

[2020-02-28 16:10] FayCross commented on #891
Hmm, you're right. I've just tested with a copy of the project & it's fine. To be honest I noticed the 'not used' thing in the media list and the space/underscore difference and assumed that was why it didn't work for them. Is there any other reason why files might be missed out of an export? I've had occasions where exports fail because it times out with large media files but then it fails to dow

[2020-03-03 15:25] ronm123 opened #892 "ALT text attribute missing from icon added via LO icon optional property"
It was reported via the forums that a logo added via the icon optional property wasn't showing any alt text even when the description optional property has text added.

After investigating this I can see that in current develop xenith we have a check for icon alt text around line 1088 e.g.
`if (x_params.icTip != undefined && x_params.icTip != "") {
					$('#x_headerBlock img.x_icon').attr('alt', x

[2020-03-04 16:26] #892 closed

[2020-03-04 16:26] torinfo commented on #892
@ronm123 I had a look, and it's something that I changed in a commit to fix offline functionality.

I suppose that I meant to do the show and return if the type was 'LO' AND the package was an offline package, because than the ajax call is not sure to work.

So I changed the code on line 1073 accordingly:

`if (type == 'LO' && xot_offline)`

It seems to work better now. Can you confirm?

[2020-03-04 17:20] ronm123 commented on #892
@torinfo I don't understand the logic. The check for and setting of the alt text should apply regardless of any other checks shouldn't it? Anyway I pulled down the change and the alt text now appears when viewing the project from Xerte and when viewing a project exported as archive but it isn't showing when the project is exported as offline. Unless I'm missing something?

[2020-03-05 13:24] torinfo commented on #892
@ronm123 That is correct. It ill not work if the package is offline.

The first thing the rest of the code does is an ajax call, and we try to absolutley minimise calls to the internet for offline packages. I'll see if I can add the alt-text in the first if

[2020-03-11 10:04] FayCross opened #893 "Multiple footer bar buttons appear when changing to full screen"
The footer buttons & progress bar are duplicated when changing from fixed size to full screen mode. New ones are added to the footer every time you click to return to full screen view so you can end up with multiple versions of them:

![footer](https://user-images.githubusercontent.com/8926470/76405006-64b80780-637f-11ea-8275-3790b5cb42dc.png)

This only seems to happen in Firefox so it makes me w

[2020-03-13 08:43] torinfo opened #894 "MCQ question does'nt behave properly on Edge/IE"
If a question is too long it will show a horizontal scroll bar insetad of wrapping like it does in firefox and Chrome.

Issue is solved by setting the width of legend to 100% (This still needs to be done)

[2020-03-13 08:45] torinfo opened #895 "No way to set tracking weight of model Answer"
This came up in the forum. There is no way to set the tracking weight of a model answer. And when an answer is given (no matter what) the score is set to 100%.

See https://xerte.org.uk/index.php/en/forum/creating-effective-materials/1977-script-for-skip-score-tracking#6404

[2020-03-17 15:42] torinfo opened #896 "Sending score through LTI to gradebook broken"
Sending score through LTI does not work anymore

[2020-03-26 12:25] #867 closed

[2020-03-26 13:56] #894 closed

[2020-03-26 14:38] #848 closed

[2020-03-26 14:57] #838 closed

[2020-04-03 12:15] ingedonke opened #897 "Hidden page seems boken"
It is not possible to delete the date in Xerte Online Toolkits projects.  See a video of Katrien here (in Dutch). She tries to delete the date but as soon as she goes to another page it is visible again.  https://drive.google.com/file/d/1vT77CRMdobbnCtqHV-UXnDZF3xrMEYlT/view
We noticed that as long you do not open that hidden page it stays ok but as soon as you open the hidden page (in the editor)

[2020-04-03 12:29] torinfo commented on #897
@FayCross  Hmmmm... I think this is because of the way allowBlank has been added. T=If that field is NOT present in the xwd, than the editor assumes that the date may not be blank...

It works in en-GB. It is fixed by installing the latest nl-NL.

It only happens if you actively visit the hidePageToDate with an xwd that has not been updated yet.

[2020-04-03 12:50] torinfo commented on #897
@FayCross do you agree to change this line:

`} else if (value.length == 0 && options.allowBlank != "true")`

to

`} else if (value.length == 0 && (options.allowBlank != undefined && options.allowBlank != "true"))`

I'll test this for the case where allowBlank is set to false in the xwd and will let you know.

[2020-04-03 12:59] torinfo commented on #897
Alos, just to be clear (because this will cause issues for Welsh as well). This is NOT caused by the security fix. This was part of #863 (which was part of v3.8.4)

[2020-04-03 13:05] torinfo commented on #897
Nope... that won't do, because it will break what you're trying to achieve. Now all of a sudden datefields that you do not want to be blank can now be left blank.

I will not commit this fix. Only way to fix it is to install latest language pack.

[2020-04-03 13:05] #897 closed

[2020-04-03 14:17] ronm123 commented on #897
@torinfo thanks for pointing out that this will cause problems for Welsh as well. Am I correct in thinking as long as I've installed the 3.8.4 language pack this should be ok or are there relevant incremental updates involved in the language pack since 3.8.4 too? e.g. on xerte.org.uk it just says 3.8.

[2020-04-03 14:23] torinfo commented on #897
If you installed the langauge pack at the time you updated the install to 3.8.4 you're ok. The language packs are always updated together with releases. I can't use git to update the version number automatically.... (perhaps I should just use the version number of the Xerte Tookits package.

[2020-04-03 15:13] FayCross commented on #897
Thanks for sorting this Tom. Out of interest, where else is the datepicker used (not hide/show page)? I think my October changes were because you had used it elsewhere & changed slightly how it worked which had knock-on effects on the hide page stuff. It's worth checking that my changes didn't break anything in your use of it.

[2020-04-03 15:23] ronm123 commented on #897
@torinfo sounds like a good idea to use the toolkits version number. I've never been sure about this because of the lack of language pack version number.

[2020-04-03 16:05] torinfo commented on #897
@FayCross Hmm. Interesting. It's in the Adaptive Contents page. I'll have a look again on how we can make sure the code keeps working with out of date language packs, although I think its low priority.

@ronm123 I'll have a look

[2020-04-05 11:29] JohnSmith-LT opened #898 "Refactor Xenith engine code"
Xenith engine has got rather huge and spaghetti like and it's really hard for me to follow (having not been around the code for a while) so it must be impossible for anyone new coming in and it's only going to get more difficult for us to support unless we try and modernise it, group related code and refactor. It is getting on 8 years old now!

Anyway, i've run this past @FayCross a while ago but

[2020-04-10 00:57] JohnSmith-LT opened #899 "Add dynamic variable calculations"
I've been playing around with variables recently and exploring what they can do and they've turned out really great @FayCross and could actually be amazingly useful - you did a fantastic job implementing all of this. Hopefully my new VARIABLES code block will make it easier to develop these further and see where they can go.

One of the areas where I though they had great potential is for randomiz

[2020-04-10 08:58] FayCross commented on #899
This sounds great John. I’m not sure I follow your page variables pattern thing (couldn’t we just have a page variables optional property with the same table for LO level variables if you wanted these?) but the ability to calculate variables on the fly like in your example is great.

I don’t know whether you’ve noticed this side of it but a reasonably recent addition to the variables code was for

[2020-04-10 10:06] JohnSmith-LT commented on #899
Hi @FayCross , sorry just noticed that you had replied..

Yeah I think I was a bit sleep deprived while typing some of this and what you suggest about having an optional variables table on each page is probably the way to go - perhaps that even negates the calculations or perhaps that could still be useful.

I see what you mean about MCQ options since once they are populated they don't change if t

[2020-04-10 15:08] JohnSmith-LT commented on #899
So I made some changes to the code:

- Dynamic expressions are stored so that they can be referred to by id taken from the <span> tag
- Expressions change dynamically should the variable change within the page

Feel free to rip any of this apart @FayCross, i'm not precious about any of it...

[2020-04-17 20:13] JohnSmith-LT opened #900 "Problem with Database Passwords during Setup"
Hi @torinfo , @ronm123

Wonder if you've come across this issue before. I was in the process of setting up Xerte on a subdomain of a new site i'm creating and everything was going smoothly until I got to Page 4. I had already setup a MySQL database and had used LastPass to generate a 30 character password, as I normally do, with all characters turned on a-zA-Z0-9$_ etc

When I got to Page 4, only

[2020-04-17 21:12] torinfo commented on #900
@JohnSmith-LT I am surprised we did not run into this before!

Should be as simple as to replace the " (double quote) by a ' (single quote).

[2020-04-17 22:59] JohnSmith-LT commented on #900
Yes @torinfo i'm very surprised it's never happened before...

It's an easy fix as you say but I just wonder if allowing it here could cause other problems down the line. I'm going to be setting up another subdomain for testing anyway so i'll make some changes to single quotes before I set it up and see what happens.

[2020-04-18 09:39] torinfo commented on #900
@JohnSmith-LT It should not :-)

But better safe than sorry. The only place where the password should be used is in /website_code/php/database_library.php in db_connect. database.php itself is included in config.php.

[2020-04-21 11:13] JohnSmith-LT opened #901 "Speech Synthesis for certain/all elements"
Hi @torinfo , @ronm123 , @FayCross

Hope you are all well. A while back I had been playing around with the Speech synthesis Api for another project and then I saw this post on the forum:

https://www.xerte.org.uk/index.php/en/forum/accessibility/2009-adding-text-to-speech#6454

and wondered if you thought it might be something that would be useful in Xerte. I've mocked up some simple code which:

[2020-04-21 12:00] ronm123 commented on #901
Hi @JohnSmith-LT have a look at the top right of our page types demonstrator https://xot.xerte.org.uk/play.php?template_id=116#resume=1

I added that previously and use it for some of the LOs on the futureteacher project and some of the code is similar but no highlighting in my version ;-)

`<span class="speechbuttons"><button id="speechplay" title="Speak the page text"><i aria-hidden="true" class

[2020-04-21 12:15] JohnSmith-LT commented on #901
Ah, I knew you would be on top of all the cool features @ronm123 !

That looks like a great addition to the future teacher pages. The highlighting is a bit gimmicky but it's interesting that you can do it so simply - what i'd really like to get working is a bouncing ball type indicator like you see on kids programmes when song lyrics are on screen.

Yes, cvopy me in on any meetings and there is de

[2020-04-22 09:18] torinfo opened #902 "Glossary not working anymore"
I was made aware that the glossary did not work anymore (at least in Chrome and develop). Need testing in 3.8.5.

It turns out that when hovering into a glossary word, it tries to remove any popup that is already present. In that part of the code it checks for the folowing (around line 956 in xenith.js):

`if ($x_glossaryHover != undefined) {
	$x_glossaryHover.remove();
}`

It triggers an error th

[2020-04-22 09:36] JohnSmith-LT commented on #902
Oops, think it was me when I migrated the variables code out of Xenith. Looks like I dropped the $x_glossaryHover var at line 51 at same time.

I'll fix after meeting.

[2020-04-22 11:06] JohnSmith-LT commented on #902
Hi @torinfo

Fixed the issue - it was me who dropped the variable.

Also noticed and issue on an LO i'm working on where I have to wrap all the words in a <span> in order to highlight them in sequence - occasionally the regexp ends up with <a><span>WORD</span>SPACE_HERE</a>   , i.e "word " in the comparison "word "=="word" which fails so i've thrown in a few trim()s that should fix things but can

[2020-04-22 11:13] ronm123 commented on #902
@JohnSmith-LT in terms of testing is it just wherever a glossary is used or could this affect other areas too?

[2020-04-22 11:18] JohnSmith-LT commented on #902
Just where they are used, but perhaps special use cases like use of images or where you have done some sort of dom maniputaion on the glossary word, like in my example I wrapped a glossary word in a span. The changes really only affected the removing of the glossaryHover bubble.

There shouldn't be anything and it's just luck that @torinfo reported the glossary problem that I found there could be

[2020-04-22 11:30] ronm123 commented on #902
@JohnSmith-LT  I can't see any issues in the projects I've checked but I pulled down the latest commit before checking. @torinfo was the issue reported to you by someone using develop or is the issue part of 3.8.5 too?

[2020-04-22 11:37] torinfo commented on #902
@ronm123 Only in develop.
@JohnSmith-LT As far as I can tell the issue is resolved. Thank you!

[2020-04-22 15:27] #902 closed

[2020-04-22 23:34] JohnSmith-LT commented on #899
Added this check also because it was trying to update variables on the menu page and causing a console error.

62d6f74ac9a4dadba0d9578f4eb33f8b2ffd17d5

[2020-04-28 09:55] FayCross opened #903 "Error at end of xampp install"
I've just set up develop from scratch in xampp and got these two messages at end of the setup process:
![install error](https://user-images.githubusercontent.com/8926470/80473852-9c363f80-893e-11ea-90d0-64b2b6dd61f9.PNG)

[2020-04-28 10:30] #903 closed

[2020-04-28 11:11] FayCross commented on #903
Closing this as it was my error - I accidentally was using an old develop zip rather than the one I'd just downloaded (this must have been an old error that's been fixed in new develop)

[2020-04-28 11:21] FayCross commented on #899
Thanks for this @JohnSmith-LT - I've just tried this & it works really well.

[2020-05-04 11:53] JohnSmith-LT opened #904 "onTimerTick / onTimerZero events don't work on Text page"
From: https://xerte.org.uk/index.php/en/forum/creating-effective-materials/603-navigation-using-page-timers

Due to the non-standard naming convention of this page, it needs a slight tweak in order to work.

[2020-05-04 12:02] #904 closed

[2020-05-04 15:34] ronm123 commented on #690
Hi all
I've had it reported that when visiting a Bootstrap project it automatically scrolls to below the header rather than the very top of the page. Sure enough if you visit our bootstrap demonstrator via https://xot.xerte.org.uk/play.php?template_id=137 you land down the page and the header isn't shown until you scroll back up. After some testing it seems this happens if the navbar is set to bel