[2020-05-05 09:31] ronm123 commented on #690
@FayCross @torinfo @JohnSmith-LT unless I'm missing something it never ceases to amaze me how we all miss the impact of very simple changes :-( But perhaps I am missing something here and that this changed recently rather than ages ago so correct me if I'm wrong...

Ages ago we added an optional property so that the navbar in the bootstrap project could be below the header instead of above the hea

[2020-05-06 12:08] FayCross commented on #690
@ronm123 This fix has the opposite problem - if you have the page links above the header it now scrolls to the top of the header so the links are hidden. I'll look into & fix

[2020-05-06 12:48] #690 closed

[2020-05-06 12:51] FayCross commented on #690
I've added a div with id 'alwaysTop' that's used to scroll to top of page on page loads. This is always above header block & page links so that it doesn't matter if the header or page links bar is top or is either are hidden - the top of the page will always be shown initially. The only exception to when pages are loaded at top of page is when it's a link to a specific section - then the pages wil

[2020-05-07 07:46] #846 closed

[2020-05-07 07:47] FayCross commented on #898
@JohnSmith-LT If you go back to a page you've previously viewed you now get some console errors that I think are caused by these commits. xenith.js line 3770: list is not defined

[2020-05-07 07:55] #893 closed

[2020-05-07 12:39] JohnSmith-LT commented on #898
Thanks @FayCross , does that fix it for you?

[2020-05-07 14:55] FayCross commented on #898
Yes - thanks

[2020-05-08 09:11] JohnSmith-LT commented on #899
Hi @FayCross should we close this or do you think there is anything else that we could/should try adding in along similar lines?

What about accessing variables programmatically (ar can you do that already?)? I.e in a script block and even possibly an update event for a particular variable?

so you add an event like:

XENITH.VARIABLES.onChange("firstname", function (old_value, new_value) {
  alert

[2020-05-13 11:40] torinfo opened #905 "Missing 'Completion Not Required' icon"
In 3.8 the Completion Not Required Icon is not renedered correctly.

This is caused by the new Fontawesome 5 font.

[2020-05-13 11:41] #905 closed

[2020-05-28 12:50] JohnSmith-LT commented on #876
Fixed in https://github.com/thexerteproject/xerteonlinetoolkits/commit/e6cba16a284aab6a421d502c9ac6de7e3a4d9759

[2020-06-05 11:17] FayCross commented on #898
I've just committed a change to Bootstrap template that allows variables to be used in that template. I've just copied the code from the xenith & tweaked a few things so it's also using your refactored version of doing this @JohnSmith-LT

[2020-06-05 12:47] FayCross commented on #467
Closing as no idea what this was supposed to mean - I created lots of issues / new feature requests during a dev day years ago but this one doesn't include much info. If anyone else knows what it referred to please reopen!

[2020-06-05 12:47] #467 closed

[2020-06-05 12:50] FayCross commented on #478
Closing as this was one of the many issues / new feature requests added during a dev day years ago. Feel free to reopen but it seems like Tom's tracking work over last few years covers this.

[2020-06-05 12:50] #478 closed

[2020-06-05 12:52] FayCross commented on #474
Closing as this was one of the many issues / new feature requests added during a dev day years ago. Feel free to reopen but it seems like Tom's tracking work as well as variables functionality covers a lot of this.

[2020-06-05 12:52] #474 closed

[2020-06-05 12:59] FayCross commented on #460
Closing as these are the default settings for new projects now anyway (fill screen, responsive, pgUp/pgDn to change page). Feel free to reopen if you think work is still needed on this

[2020-06-05 12:59] #460 closed

[2020-06-05 14:19] FayCross opened #906 "Bootstrap image path issues & 404 errors"
When you add an image to a Bootstrap project via the WYSIWYG toolbar the images display correctly but you also get a 404 error in the console for each image. The path in the console suggests that initially the image attempts to load when including 'FileLocation + fileName.jpg' rather than after the correct URL has been evaluated. Try this project in Chrome & you'll see the error in console: [https

[2020-06-05 14:31] FayCross commented on #906
Actually if you follow that link it doesn't seem to show the 404s when you first view - you may have to refresh before you see them

[2020-06-05 14:52] ronm123 commented on #906
@FayCross well spotted! I'm just about to join a meeting so can't test further at the moment but I checked a few versions/revisions and at least with a quick glance it looks like it's a recent issue e.g.

the example with the issue that you linked to on xot.xerte is 3.8.5-13
the same issue exists in develop and also 3.8.5-23
However I tested on a 3.8.5 install and the issue doesn't seem to exist o

[2020-06-05 15:43] FayCross commented on #906
We're on 3.7 here & have 404s appearing in console. It's odd though - I have some older projects with images added via the wysiwyg toolbar where you don't get the 404s, even though looking at the underlying xml I can't see anything obviously different between them.

[2020-06-05 21:43] #906 closed

[2020-06-09 17:54] torinfo opened #907 "Setup with database name containing a '-' fails"
When the database name contains a hyphen '-' during setup, the database creation fails. As this happenas with some hosting providers this can be very annoying indeed.

Fix is simple. Place the database name between ` ` in the sql create commands.

[2020-06-09 17:56] #907 closed

[2020-06-17 23:38] jayaich opened #909 "Lockfile issue - invalid email addresses"
I have been receiving a few messages from our mail system about emails trying to be sent from our Xerte server. Looking at one of these messages shows:

`A message that you sent contained one or more recipient addresses that were`
`incorrectly constructed:`

`  09:37:20),@...ac.uk: missing or malformed local part (expected word or "<")`

As can be seen the recipient part of the address is '09:37:2

[2020-06-18 08:07] torinfo commented on #909
@jayaich I don't know what the original idea was to do it like this. I don't know if the lock date was added at that time, or all the dates. However, it is important to make sure this works properly, because we intend to use the lockfile more (even to lock oneselve, to try and prevent users from opening the editor window more than once (in a different tab, or a different browser).

I could also im

[2020-06-18 10:28] ronm123 opened #910 "Flashcard flip button not working on MacOS Safari"
I received a report that the flash card page doesn't work on Safari on MacOS and specifically the flip button doesn't trigger flipping the cards. I tested this and can replicate the issue but I can't spot why it's an issue. @FayCross does this ring any bells with you?...

As far as my testing goes this works on Safari on iOS but not on Safari on MacOS. It works fine on Chrome and Firefox on MacOS

[2020-06-18 11:08] FayCross commented on #910
Hi Ron, I don't have a way of testing Safari on MacOS. Off the top of my head the backface-visibility style was there to force the button on the back of the card to be hidden (I think some browsers showed the button in an odd way without this). I can't remember what the purpose of the emptyDiv was. I'm guessing it was some kind of spacer to make sure the content above never overlapped the buttons

[2020-06-18 11:19] ronm123 commented on #910
@FayCross ok thanks. If the emptyDiv is just a spacer, (and it looked like that when I made it red to check) then changing the 4em to 4px seems to fix the issue with Safari on MacOS. I'll test wether it should be a higher px value before I commit that change.

[2020-06-18 14:39] ronm123 commented on #910
@FayCross I tested this further and couldn't see a problem as a result of changing the height of the empty div from 4em to 4px so I committed that change. However that didn't really seem right so I tested further and with the empty div assigned a background colour and restored to 4em I could see that on Safari on Mac for some reason the flip button was behind the empty div and with the div at 4em

[2020-06-18 14:39] #910 closed

[2020-06-25 08:00] FayCross opened #912 "User metrics"
Ability to retrieve metrics info from management pages. For example:

Number of users
Number of active users (those with projects)
Number of LO's
Number of public LOs
Number of LOs set to private
Number of plays per LO.
Number of LOs set to shared
Number of Exports and type of Export

Download as csv

See forum thread [here](https://www.xerte.org.uk/index.php/nl/forum/general-chat/1630-xerte-user-

[2020-06-26 01:55] AlejoMSTdeA opened #913 "Create a scorm in XERTE and I have mounted it in moodle 3.6 and no progress or grades are recorded"
Buenas, soy nuevo usando XERTE, y realice un material educativo, y se exporto como SCORM 1.2 y lo subí a la plataforma Moodle 3.6 y no me registra progreso, ni califica nada, además nunca me sale finalizar intento ni nada por el estilo, alguien me podría ayudar, les agradecería mucho. he intentado muchas veces y no se como lograrlo. ya estoy algo preocupado con ello.

Good morning, I am new using

[2020-06-26 10:31] JohnSmith-LT commented on #876
A few more fixes applied in de4507a24210aa4242d43766ef98caa918f27616 so i'm now going to close this.

[2020-06-26 10:31] #876 closed

[2020-06-26 11:24] torinfo commented on #913
Which version of Xerte are you using

[2020-06-28 20:18] #900 closed

[2020-06-28 20:54] JohnSmith-LT commented on #758
Hi @ronm123, found this while looking through the issues - I had no idea it was this old!

Anyway, I think we've now addressed the first item but is the second item still required and what would the options look like?

Also, what would the option be on the other pages and what would the functionality do?

[2020-06-28 21:06] JohnSmith-LT commented on #589
Hi @FayCross @ronm123 do either of you know if these are all done or any are still outstanding and required?

[2020-06-28 21:09] JohnSmith-LT commented on #580
Hmmm found this one too @ronm123. Now that the lightbox plugin is 99% complete (i hope) should we combine these perhaps into a new issue and see what is still outstanding and required and we can perhaps take a look at them with fresh eyes and having 3+ years of additional developments to bounce off?

[2020-06-28 22:35] FayCross commented on #589
I don’t think any of these exist in the XOT template. In Bootstrap template you can customise header & footer colours but anything else would have to be done with a theme or css. I don’t think it’s particularly high priority.

[2020-06-29 08:42] ronm123 commented on #589
@JohnSmith-LT @FayCross Yeah I agree this is not high priority. I think it might still be desirable at some point but as Fay says it hasn't existed in the XOT template although I seem to recall we had the ability to do this from the authoring interface in the Flash days! ;-) Might be thinking about the developer tool rather than the xot editor though.

[2020-06-29 08:49] ronm123 commented on #580
@JohnSmith-LT yes I think it probably is worth combining this and #758 into a new issue and then closing the old ones. As I originated both those issues leave it with me and I'll put on my to do list to close the old issues and create a new one in time for our next dev day if not sooner. Some of this overlaps with what we had on the meeting agenda and discussed during the last meeting and obviousl

[2020-06-30 02:19] Srondon commented on #913
Version 3.8

[2020-07-02 23:00] jayaich commented on #909
Pull request #914 merged.

[2020-07-02 23:00] #909 closed

[2020-07-08 20:39] ronm123 commented on #866
@FayCross @JohnSmith-LT I was alerted to an issue with mathjax and the sortable grid page so was going to add that as a new issue but I'm guessing it might be relevant to this previous discussion so adding it here. I've tested and replicated this on latest develop code and 3.8.5 but I don't know if the recent change to the mathjax verson we are using has had any impact or if it's the same for earl

[2020-07-09 16:02] JohnSmith-LT commented on #866
What about the latest patch i've committed Ron. It gives a not very nice flash of the original content but without reworking the page and/or using a different drag/drop tool we may not be able to get much better as jQuery seems to be doing something funky when you start and stop dragging...

[2020-07-09 16:21] ronm123 commented on #866
@JohnSmith-LT I think that would be OK John e.g. I see what you mean about the not very nice flash but this is better than it not working at all. However after clicking to check answers the mathjax display breaks again:
![image](https://user-images.githubusercontent.com/5167146/87065010-62b86500-c208-11ea-85b9-d4a224384baf.png)
Do you get the same?

[2020-07-09 20:03] JohnSmith-LT commented on #866
Ah ok Ron, I never checked that and I never checked the keyboard tab control either. Have fixed both in same way…

John

From: Ron Mitchell <notifications@github.com>
Sent: 09 July 2020 17:22
To: thexerteproject/xerteonlinetoolkits <xerteonlinetoolkits@noreply.github.com>
Cc: Smith, John <J.J.Smith@gcu.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [thexerteproject/xerteonlinetoolkits]

[2020-07-10 09:04] ronm123 commented on #866
@JohnSmith-LT thanks that seems to work now. Shame about the flashing between code and rendered mathjax but at least it works and I'm sure that's more noticeable when we're testing that it will be for a learner completing the interaction.

[2020-07-10 09:08] ronm123 commented on #866
@JohnSmith-LT @FayCross I just quickly scanned through all the previous discussion here and obviously we discussed more than the original subject line suggests so I'm not sure if we should now close this issue or not or perhaps leave it in place for the next developer day? If either of you think it should be closed now then please do.
Cheers
Ron

[2020-07-27 16:56] JohnSmith-LT opened #915 "XOT Drag Drop strange behaviour"
Hi all,

@torinfo made an update to the DragDrop page in May but this seems to have introduced a couple of strange behaviours:

- [ ] Drop target drawn really wide of the image
- [ ] Drop targets all bunched into top left corner
- [x] Labels float off targets after resize
- [ ] Labels not reset after they return to label holder
- [x] Drop targets screwed up if you zoom in far enough and out again

[2020-07-28 07:33] torinfo commented on #915
@JohnSmith-LT Thank you for this. I'll have a look. The reason for the patch is that if you did not answer anything, navigated to the next page, and than navigated back again, nothing worked. You could drop 1 label, but the others would not work. I'll try to find the original complaint.

[2020-07-28 08:24] JohnSmith-LT commented on #915
Hi @torinfo , I did some further investigation last night and the majority of these issues are NOT to do with what you changed, perhaps you just made them a bit easier to see...

Perhaps this is new or perhaps it's been a fatal flaw in the way we've done pages since the beginning of Xenith code but this page doesn't seem to maintain state at all between page changes despite being wrapped within a

[2020-07-29 12:53] JohnSmith-LT opened #916 "XOT Gap Fill issues"
Alongside the Drag Drop page there are at least 4x open issues with the Gap Fill page:

- issue with audio on gap fill page if both narration and audio feedback options are added Page types XOT template bug futureproofing - https://github.com/thexerteproject/xerteonlinetoolkits/issues/813

- Gap Fill answer incorrectly treated as wrong after going over pages using next/back buttons - https://githu

[2020-07-29 20:54] ronm123 commented on #916
@JohnSmith-LT just catching up on some of this and for now just a simple comment that I think a lot of testing that I/we do is using a page types demonstrator with one of each of the page types after the other, or a new project with a particular page type added amongst other page types, but rarely a sequence of the same page type. I think in normal development there is also a tendency to vary the

[2020-08-06 11:14] ronm123 opened #917 "Issues with Answer X of Y page type (model=topXQ.html)"
Hi all
we're working through various page types whilst drafting an accessibility statement and I'm adding issues here labelled Accessibility (as well as any other relevant labels) and some are just general bugs/fixes needed that aren't necessarily accessibility specific but cropping up during testing. So the first is a couple of issues with the Answer X of Y page:

Accessibility checks reveal that

[2020-08-06 12:07] torinfo commented on #917
The only option to make it translatable now is to make it a optional language string. It might be possible to just add the string to the default parameteres, without adding a node in the xwd. I don't know if it gets picked up. I'll test that. If we are bale to do that, we can put it in the xwd, it is possible to translate it, but it will not appear as a language strin in the wizard. Like I said, I

[2020-08-06 12:16] torinfo commented on #917
No. You really have to add a language option. Otherwise it's not visisble for Xenith

[2020-08-06 13:18] ronm123 commented on #917
@torinfo thanks Tom. So I've added it to topXQ.xwd and I'm checking if the value is undefined or null in the model and making it "Answer" if so but as it's a new language variable it doesn't appear as a language text box in an existing Answer X of Y page only when you add a new Answer X of Y page. Remind me do we have a solution for that so that it appears as a language string option in existing p

[2020-08-06 13:32] ronm123 commented on #917
I've tried adding mandatory="true" to the end e.g. <answerFieldLabel label="Answer Field Aria-Label" type="TextInput" wysiwyg="false" language="true" mandatory="true"/> and running rebuild but that doesn't seem to be working. But a quick search didn't reveal other language nodes with mandatory in them so perhaps that isn't enable for language nodes or am I missing something stupid?

[2020-08-06 14:00] ronm123 commented on #917
@torinfo I've committed this https://github.com/thexerteproject/xerteonlinetoolkits/commit/6553cc99c3d264ec993c2b2e6e3590efb292baad but not sure how to make the language option appear for existing pages.

Also will leave you to deal with the null null issue unless you can summarise what is needed to fix that?

[2020-08-06 14:04] torinfo commented on #917
@ronm123 Will have a look at the language options and the null null issue.

[2020-08-06 15:18] ronm123 opened #918 "Change lang="en"dynamically according to language option in LO?"
@torinfo during accessibility testing with Alistair the need for correct lang="xx" value came up as being important. There's an example of why it is important here: https://webaim.org/techniques/screenreader/#language

I had a look at the player files and it seems we have lang="en" in the xot player and nothing in the bootstrap and decision players. So a few questions:

1. Should we be adding lang

[2020-08-06 15:47] ronm123 opened #919 "transcript options for wherever narration, sound and/or audio is added?"
Adding this here for discussion during the next developer day...
The question of how to enable a transcript option wherever authors can add narration, sound and/or audio via the wysiwyg toolbar came up during accessibility testing. We know it's possible to add a link in any text area to an uploaded transcript for that media but the question is can we do more than this e.g.
1. Include an optional p

[2020-08-06 15:54] ronm123 opened #920 "review wherever images can be added and add a caption optional property too"
When adding images via the wysiwyg editor there is both an alt text option and a separate caption option. However we have various pages where images are added via optional properties and these only provide an alt text option without a separate caption option. The question is should we and can we add a caption option to those current optional image properties?

For discussion during next dev day.

[2020-08-06 16:55] ronm123 opened #921 "enable featherlight in editor and info cdata in groups"
During discussion about accessibility we're wondering about extending the the help available within the wizards for relevant pages e.g. a bit link we currently link to some pdf guides from certain pages but instead linking to an external Xerte LO and opening that in a lightbox.

One example was a guide to adding alt text correctly so rather than just tooltip text we might link to a graphical guide

[2020-08-06 17:35] torinfo commented on #921
@ronm123 Featherlight is added to the editor (at least it is included in module/xerte/edithtml.php). So there is probably a different issue that prevents this from working.

[2020-08-06 20:38] torinfo commented on #918
Committed as 77a8249d8cfaef8fa2a5c402f4dacc996cc0ca8e

[2020-08-06 20:38] #918 closed

[2020-08-06 21:09] torinfo commented on #917
@ronm123 Fixed your commit about the language option in 7bd8c9fab2742601fa37c9c0c69c810d78154555

I don't know if it will always show for existing topXofY instances, it should. You can force it by selecting a different language, and then reselecting the language. I'll check why it doesn't always seem to work with the madatory is true. If you use mandatory="true" alwaus add a defaultValue too.

[2020-08-07 08:32] ronm123 commented on #917
@torinfo thanks Tom. I pulled down your commit and cleared cache but the language option still didn't appear on my existing page. However temporarily changing language to a different language and then back again did then reveal the new options in the existing page so at least there is a solution for those who want to change the default value on existing pages.

I'm not sure what your intention was

[2020-08-07 09:06] ronm123 opened #922 "Bullets page accessibility"
For discussion during the next developer day...

Alistair suggested removing the bullets page because it potentially fails WCAG 2.2.2 https://www.w3.org/WAI/WCAG21/Understanding/pause-stop-hide.html

Obviously removing the bullets page is not viable or desirable because it will have been used in lots of existing learning objects. I don't think we should make it a deprecated page either especially

[2020-08-07 09:20] torinfo commented on #917
@ronm123 It is an automatic reaction from me that wherever there are counters or constructs like {i} of {n} to use these replacement strings, as the translated strings in a different language sometimes need a different ordering of words.. I admit, that they are not needed in this case, and if you think it will lead to confusion I will remove it. Let me know. Also fixed the issue with all of them b

[2020-08-07 09:30] ronm123 opened #923 "Accessibility of pages where something is revealed as a result of an interaction but not given focus"
We may already have separate issues about individual pages but I'm adding this as a general issue for discussion during the next developer day. We have a number of pages like annotated diagram, hotspot image and others where infor is hidden by default and then revealed after the click of a label, button or hotspot etc. Tab order is usually correct in terms of getting to those links, buttons and ho

[2020-08-07 11:05] ronm123 opened #924 "Testing Font Awesome"
@torinfo @JohnSmith-LT I was going to do a test of accessibility and Font Awesome with latest develop but also had been testing use of v4 and v5 FA icons anyway. I don't know when or how this happened but for me at least it seems that at the moment the v4 icons aren't showing when you play a XOT project - not even the navigation icons in the footer.

To replicate using latest develop:
Create a new

[2020-08-07 11:26] ronm123 commented on #924
I had to edit my original message because it didn't like the pasted code. Also I forgot to mention that I'm unsure whether we should change the link paths or the actual folder names for the 5.6.3 css. I'm thinking it's better to just correct the links so that they correctly point to the folders we already have rather than add the hyphen back in to the folder name?
Also from what I read the first/m

[2020-08-07 12:13] torinfo commented on #924
Hi Ron,

Apparently I committed that yesterday. That should NOT have been committed yet, because I wanted to test this and make sure that the v5 icons would work in xot. They do not at the moment. Anyhow, I'll have a look and see what the best way to fix it is.

[2020-08-07 13:03] torinfo commented on #924
@ronm123 I cleaned up the fontawesome 5 folder, and included the all.min.css. The folder is now 2.4 Mb.

If I leave out the commented line, the icons in the footer do not work. That is because the icons are activated in css, with content. That should still work, provided the corret font is chosen, and the correct font-weight is chosen:

`#x_nextBtn:after { content: "\f138"; font-family: "Font Awes

[2020-08-07 13:07] torinfo commented on #924
@ronm123 Adapting the themes easier than stated above. Just adapt

`#x_footerBlock button {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 1.9em;
  width: 1.5em;
  padding-right: 0;
  margin-left: 5px;
  font-weight:900;
}`

(Change the font and add font-weight)

[2020-08-07 13:22] ronm123 commented on #924
@torinfo trouble with that is what about all the themes that people may have adapted/created themselves and also the thmes they created via xhibit? I suggest we just re-enable keep the original folder if that works?

[2020-08-07 13:27] torinfo commented on #924
@ronm123 We can do that as well of course. I'll commit that.

[2020-08-07 14:05] torinfo commented on #924
Committed 1abb368b323e702dc3e2d568c19d9638686dce88

[2020-08-07 14:59] ronm123 commented on #921
@torinfo I've tried to get this working but simply can't see why it isn't! To verify the featherlight css and js was actually loaded I added a background color to the css and an alert to the js and both worked. I also inspected the editor where I've added the link and that shows exactly what should be in place e.g.
`<a data-featherlight="iframe" href="https://xot.xerte.org.uk/play.php?template_id=

[2020-08-07 15:07] torinfo commented on #921
Could this be, because the data is loaded dynamically, i.e. we need to do something to let featherlight do it's work, like we have to trigger mathjax to rescan the contents?

Or call using javascript: $.featherlight({iframe: 'editor.html', iframeMaxWidth: '80%', iframeWidth: 500,
	iframeHeight: 300});

[2020-08-10 09:00] ronm123 commented on #917
@torinfo although I would normally agree to put everything under author control I think in this case we would have to add a tooltip to explain what the {i} is representing and achieving and I'm not sure that's worth the risk of someone just replacing the whole string or leaving it empty. e.g. if someone removes the whole sting because they don't understand it or think it appears visible on screen

[2020-08-10 09:16] ronm123 commented on #921
@torinfo I don't know but including the data-featherlight="iframe" should work but isn't.  I was going to explore whether I needed to do anything about the size of the lightbox once the basic opening of the lightbox was working.

[2020-08-10 10:12] torinfo commented on #917
@ronm123 I have committed this change. It's 'Answer' at the moment. Be aware that existing LO's will still have Answer {i}, so the label at the moement is Answer {i} 1, Answer {i} 2, if you don't reset it.

[2020-08-10 10:19] torinfo commented on #921
@ronm123 What I think is happening is that featherlight is loaded, and on 'document ready' searches all the data-featherlight elements, and does it's thing.  In our scenario, the link is loaded dynamically after the 'document ready' event, and thus, nothing happens. I tried to place

`$.featherlight({iframe: 'editor.html', iframeMaxWidth: '80%', iframeWidth: 500, iframeHeight: 300});`

in the oncl

[2020-08-10 11:09] ronm123 commented on #917
Thanks @torinfo I'll reset my test LO and obviously nobody else will have used this yet apart from us.

The bad news is that we have similar issues with all the other page types where we have text entry including dialogue, dictation, documentation, gap fill, model answer and modify exercise. None of those have text box labels and I guess some will be a simple fix where it's just a single text box

[2020-08-10 11:12] torinfo commented on #917
@ronm123 I am afraid not....

[2020-08-10 11:28] ronm123 commented on #917
@torinfo and I was afraid you were going to say that! ;-)

[2020-08-10 11:29] JohnSmith-LT commented on #921
Is it the same version? I'm sure we had an old version and a newer version of featherlight on the site. If you look at the network tab (filter featherlight) for the editor and for an LO then check both versions are the same as I think iframe was added later...

[2020-08-10 11:34] JohnSmith-LT commented on #921
@ronm123 regarding the infopanel thing above - if you open the editor and add the Variables option then you'll see that Fay has added instructions within the group.

[2020-08-10 11:58] JohnSmith-LT commented on #921
Yes, the editor uses a different version, we should just get rid of that old version on the site...

![image](https://user-images.githubusercontent.com/3907362/89780276-06977800-db09-11ea-8c0f-0ff7e28b86b1.png)

![image](https://user-images.githubusercontent.com/3907362/89780346-2d55ae80-db09-11ea-8938-6762b6c4e3de.png)

[2020-08-10 13:00] ronm123 commented on #921
@JohnSmith-LT thanks for the tip re variables group and info link. I was trying to use <info>...</info> within the group rather than info="..." within the group.

regarding the different versions of featherlight - so was the old version in the editor because we use it somewhere and if we change it to the same version used elsewhere will it break anything? What file exactly does the include of feat

[2020-08-10 13:22] ronm123 commented on #921
@JohnSmith-LT @torinfo I found a featherlight folder at \editor\js\vendor\featherlight\ so replaced the files in there from \modules\xerte\parent_templates\Nottingham\common_html5\js\featherlight\ and if then use the console to inspect the versions I can see the newer css but not the newer js. What am I missing?

[2020-08-10 13:24] JohnSmith-LT commented on #921
Not sure it is ever used, maybe @torinfo may know but anyway, i've just changed the featherlight file and edited the Variables doc link to your link above and it now works, albeit that the min dimensions haven't probably been set yet...

![image](https://user-images.githubusercontent.com/3907362/89787299-1e74f900-db15-11ea-8b79-bee95d8cab70.png)

[2020-08-10 13:46] JohnSmith-LT commented on #921
Sorry @ronm123 just saw the previous message.. you the edithtml.php file is loading the featherlight.js file NOT the featherlight.min.js file so that needs editing at /modules/xerte/edithtml.php (and probably in the other places too for bootstrap etc...)

[2020-08-10 13:59] torinfo commented on #921
@ronm123 @JohnSmith-LT I replaced the geatherlight instances in all 3 edithtml.php files and removed the old featherlight folder.

Not committed yet. Do you want me to commit?

[2020-08-10 15:18] ronm123 commented on #921
@torinfo yes please commit unless @JohnSmith-LT has any reasons why you shouldn't?

[2020-08-10 15:21] ronm123 commented on #921
BTW the easiest way to fix the sizing would be to include `.featherlight iframe {height: 90vh;width: 90vw;}` somewhere.

[2020-08-10 15:26] ronm123 commented on #917
Closing this for the Answer X of Y page but will open a new issue to check off the others as we do them.

[2020-08-10 15:26] #917 closed

[2020-08-10 15:37] ronm123 opened #925 "ensuring text entry fields have appropriate aria labels for the page types listed below"
Similar to the issue we found for the Answer X of Y page (which is now fixed) we have other page types with text entry where there aren't currently labels or aria labels for those text fields. These include the following added as a check list so that we can tck them off when done rather than have a separate issue for each:

- [x] Dictation
- [x] Documentation
- [x] Gap Fill (in each mode)
- [x] Mo

[2020-08-10 15:40] torinfo commented on #921
@ronm123 @JohnSmith-LT Committed the necessary changes to edithtml.php (3x) to use the featherlight used by xenith, and removed the one installed in the editor folder. I did NOT commit any changes to the textGrapghics page (but I did verify that adding a onclick event works, but as John said, your original solution should now work as well.

[2020-08-10 15:53] JohnSmith-LT commented on #921
Sounds good to me. Just to confirm that I only tested inserting that link <a data-featherlight="iframe" href="https://xot.xerte.org.uk/play.php?template_id=151">view this guide</a> into the info field used by the Variables group by editing the html using dev tools in Chrome and featherlight automatically picks that up without having to do any onclick event etc...

[2020-08-10 16:06] torinfo commented on #921
@JohnSmith-LT Yes. I understood that. Just to prevent double work.

@JohnSmith-LT @ronm123
Who is going to add the info field and the change to the css file?

[2020-08-10 16:20] ronm123 commented on #921
@JohnSmith-LT this was just a proof of concept test I don't have an info field at add/commit at the moment just one I'm testing this with which I'll do locally. So I'll do that when we have a real world example and I have one in mind.

What css file should I add the`.featherlight iframe {height: 90vh;width: 90vw;}` to? You mentioned the editor css but what file exactly?

[2020-08-10 16:32] torinfo commented on #921
@ronm123 The css files used in the editor are specified in editor/js/vendor/ckeditor/config.js.

You could add a css file in that folder and include that in the config.js. The xerteedtor.css in that folder is almost what you want, but that css file is only included in case a them is used, different than the default theme. (See config.js). Let me know if you wnat me to add that file.

[2020-08-10 16:48] JohnSmith-LT commented on #921
If you need me to look at it @ronm123 then let me know and I can do tonight.

[2020-08-10 17:04] ronm123 commented on #921
@torinfo @JohnSmith-LT it seems overkill to create a whole new style sheet just for this little bit of css! I checked what existing sheets are loaded with the editor open e.g.
![image](https://user-images.githubusercontent.com/5167146/89809494-889c9680-db33-11ea-8683-e94d08fa9ebd.png)
and there's one named xerte_buttons.css which is obviously one of ours and not likely to be overwritten and with t

[2020-08-11 14:23] ronm123 commented on #925
Hi all
The answer x of y page was listed as a separate issue that is done and closed now and I've committed the model answer solution and ticked that off above too. I'm going to work on the modify exercise next but I'm adding some notes and examples here of the strings and code used so far in case anyone else works on the other page types listed above.

Example xwd entries:
Top XQ
`<answerFieldLab

[2020-08-11 15:06] JohnSmith-LT commented on #921
Seems to me like the /editor/css/complex.css (though strangely named) appears to be the generic css for the editor as it has all sorts of stuff in there from structure to loading spinner definitions?

[2020-08-11 15:09] ronm123 commented on #925
Hi all
on the modify exercise page we now have the following but not yet committed:

`<textarea id="initText" rows="5" aria-readonly="true" readonly></textarea>
	<p id="answer"></p>
	<textarea id="answerTxt" aria-label="Answer" rows="5"></textarea>
	<button id="button"></button>
	<textarea id="modelTxt" rows="5" readonly aria-live="polite"></textarea>`

The last text area doesn't appear until clic

[2020-08-11 15:35] ronm123 commented on #925
BTW I should add that if we do need aria-labels on those read only text areas then it would mean at least 2 if not 3 additional language field options are needed in the wizard e.g. a label for each field or at least one for answer and another for the two read only fields. So I think not something we should do unless really needed.  @JohnSmith-LT @torinfo @FayCross any thoughts on this?

[2020-08-11 16:57] JohnSmith-LT commented on #925
I'm not really up on all the accessibility guidance at the moment but is this where we could use aria-labelledby to reference another  element if that is more relevant?

[2020-08-12 10:22] FayCross commented on #925
On the modify exercise page I'm not sure we necessarily need the read only text areas as text areas. I think they have probably only been done like this so they look visually like the text area that is editable. Would it make more sense to just have these as normal div / p elements and add some styling to make them look similar (border, margins etc.). I am happy to do this if you agree.

[2020-08-12 10:34] JohnSmith-LT commented on #925
I did think the same but not sure whether click and Ctrl-A, Ctrl-C would be used much on this page and if so an input field limits Ctrl-A to it's content whereas a <div> doesn't... we could perhaps mitigate with some js to catch Ctrl-A... depends on how this page is actually used and how often I suppose...

[2020-08-12 10:34] FayCross commented on #922
I'll look at adding these

[2020-08-12 10:38] FayCross commented on #925
I don't think this would be a huge problem as the editable text field initially contains the same text as the first read only text field anyway. Perhaps that could do with a 'reset' button so you can easily return to the initial version

[2020-08-12 16:34] ronm123 commented on #925
I think a reset button would be good but I quite like the way that the 3 text areas appear just can’t find the answer to ether or not wave is reporting correctly that labels are also needed.

[2020-08-12 16:38] ronm123 commented on #921
@JohnSmith-LT I can’t check at the moment but is that ours or part of the core editor code? What’s needed works in xerte_buttons.css but I know that name and primary purpose of that perhaps means complex.css would be better if that’s one of ours too?

[2020-08-12 16:57] torinfo commented on #921
@ronm123 @JohnSmith-LT Yes, that's ours too.

[2020-08-13 10:57] ronm123 commented on #923
I think I've fixed all of these so closing the issue. Will re-open if there are still pages not yet done.

[2020-08-13 10:57] #923 closed

[2020-08-13 12:30] ronm123 commented on #924
This is fixed now so will close it. There is an accessibility issue with FA icons on some specific page types but I'll add that separately.

[2020-08-13 12:30] #924 closed

[2020-08-13 12:39] ronm123 opened #926 "use of FA icons within list item titles on interactive list page and possibly other pages - aria-labels include code."
On an interactive list page if an FA icon has been used in the list item title the aria-label includes code which is the read out to a screen reader user e.g.
`aria-label="<span class=&quot;fa fa-file &quot; style=&quot;color:#000000;&quot;>&amp;nbsp;</span> Click to reveal information"><span class="fa fa-file "`

This might happen in other page types to so needs checking.

[2020-08-13 13:38] JohnSmith-LT commented on #926
Hi @ronm123

I read this in the doc you sent the other day and have been meaning to email you about it. Is there a reason/desire for us to be inserting FontAwesome tags like this:

<span class="fav2"><i aria-hidden="true" class="fa fa-ambulance " style="color:#000000;" title="Ambulance "></i><span style="position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;">Ambulance

[2020-08-13 17:02] ronm123 commented on #926
@JohnSmith-LT I'm not sure whether we need all that or not. However I think mostly there isn't a problem and I closed the other issue about versions etc but added this because there's definitely an issue when used on the interactive list page as part of the list titles and therefore links but I think that's because the links are being wrapped around whatever is added to the list titles and the ari

[2020-08-14 13:35] ronm123 commented on #926
@JohnSmith-LT just thinking about your comments and questions again a couple of comments...
1. I don't think it's the current editor functionality that is at fault here in terms of the interactive list title issue. e.g. Add an interactive list page then add a list item and use an FA icon at the start of or within that list title. What you see in source view is something like the following:
`<p><sp

[2020-08-14 15:34] JohnSmith-LT commented on #926
Yes, I think it could be split out into 2 or even 3 issues:

1. Wrong Aria text
2. Verbose FA code (possibly - i'm still not 100% sure if the spans are used at some point in the styling or otherwise of the extra FA decoration - spining, box, etc)
3. Update FA icons

We can most likely fix 1. very quickly, 2 & 3 possibly get combined with development of a new editor plugin at some point. Agree that

[2020-08-14 16:12] FayCross commented on #531
Closing as this functionality is now in XOT & Bootstrap templates. I've found a few bugs while doing this work that I'll add as separate issues

[2020-08-14 16:12] #531 closed

[2020-08-14 16:14] FayCross commented on #580
Item no. 3 in Ron's list has just been committed - are the others done? Can we close this?

[2020-08-14 16:18] FayCross opened #927 "Menu Connector page issues (minor)"
- [ ] When a menu button links to a standalone page that will appear in a lightbox the 'visited' check doesn't appear on the button when it's been visited

- [ ] If this page is between the 'first page' & 'last page' optional properties then a menu button is created to link to itself. This should probably check it's not creating a button to itself

[2020-08-14 16:21] FayCross opened #928 "Decision Tree 'Go to page' optional property issue"
On a decision tree result step there is an optional property 'go to page ID'. This is currently a text field rather than the drop down menu populated with page names. Needs to be changed to something similar to those used on connector pages

[2020-08-14 16:23] FayCross opened #929 "Multiple perspectives page link issue"
Relative page links (next, prev, first, last) don't work when using the 'Page link' optional property.

[2020-08-14 16:26] FayCross opened #930 "Hotspot Image Connector page link issue"
When using 'destination page' the relative links (first, last,next, previous) don't work. There is an extra optional property called 'Relative destination page' that contains these options which isn't needed if the 'destination page' relative options worked

[2020-08-14 16:38] FayCross opened #931 "Issues with using the browser back/forward buttons in XOT template projects"
Now that that moving pages in XOT projects updates the browser history you can use back/forward buttons in browser to retrace your steps back through a project. Some pages disrupt this and add extra unnecessarily to history.

For example, on an interactive text page set to 'explore', if you toggle between each group a few times & then use browser back you need to click multiple times to reach prev

[2020-08-14 16:48] FayCross opened #932 "Xerte page links bug when changing 'Page ID'"
When you create a Xerte page link to a page with the optional property 'Page ID', the link is populated with this id rather than the unique identifier from XML. This causes the links to break if the page id is later changed. It would be best if they both used the PG1234 way of linking as this shouldn't change

`<a href="#" onclick="x_navigateToPage(false,{type:'linkID',ID:'intro'}); return false;"

[2020-08-15 17:22] JohnSmith-LT commented on #926
@ronm123 i've committed some code, can you check when you get a chance that it fixes the verbose aria-label and then I can update the other 6 pages that set aria-label.

[2020-08-17 08:19] ronm123 commented on #926
@JohnSmith-LT that works fine John. What are the other 6 pages where you found the same issue?

[2020-08-17 08:59] JohnSmith-LT commented on #926
Ah, good. Not sure the others have the issue - I just searched "aria-label" and the following 7 pages come up where that is set so I though that they may have the same issue but haven't checked them yet.

- Multi-Navigator
- Accordion Navigator
- Button Navigator
- Model Answer
- Modify Exercise
- Answer X of Y (you said you already fixed this one?)
- Interactive List (now fixed)

If you have a te

[2020-08-17 09:36] ronm123 commented on #926
@JohnSmith-LT I tested this by adding an FA icon to the beginning of the item titles on each of those pages. As far as I can tell the issue only happens under the following conditions:
An FA icon (or other styling like colour or italic etc) has been added to the item title e.g. accordion pane title, button navigator pane title etc
IT also only happens when that item title becomes a navigation link

[2020-08-17 10:10] JohnSmith-LT commented on #926
I've added some more notes above  - Modify Answer looks fine to me but Modify Answer has same issue with verbose aria-label text when you enable the Copy button and change it's label in the language options to include a FA icon ...

I think even if these don't exhibit the issue within the screen reader we should try to fix as many as we can since an attribute with a " in it results in invalid html

[2020-08-17 10:42] ronm123 commented on #926
@JohnSmith-LT a few comments:
re Answer X of Y where you have indicated maybe we should change it same as list for consistency? Not sure what you mean?
I hadn't been checking language options or button labels - that opens a much bigger can of worms! :-(
So what started off as an issue about FA icons and aria labels on interactive list page and possibly others actually was just a coincidence and it

[2020-08-17 13:09] JohnSmith-LT commented on #926
re Answer X of Y - I knew you and @torinfo worked on this less than a fortnight agao but looking back it wasn't aria related as far as I can see...

It was only because I searched "aria-label" that I realised some of the language ooptions may be an issue, however it's only in those  7 files above that aria-label is used so at least that reduces the issue slightly... however as you say, now that ma

[2020-08-17 22:57] JohnSmith-LT commented on #932
Hi @FayCross can you check that this fixes your issue and doesn't break anything else you are doing? I'm not sure why we favoured pageID in this situation but given that it required extra code and bigger if condition it must've been for a reason...

[2020-08-18 07:33] FayCross commented on #932
Thanks John - I’ll check next week as don’t have access to computer at moment. No need to look at the other issues I logged - they were mostly to remind me of things to look at next week.

[2020-08-18 13:49] JohnSmith-LT commented on #928
Did this before receiving your last message so will commit and you can just test later...

[2020-08-25 13:24] ronm123 opened #933 "sortable grid layout issue if mathjax used"
I had it reported to me that there's an issue with the layout of the sortable grid page. It turns out this possibly only occurs when mathjax is used in the moveable tiles rather than plain text. Here's an example:

Page 1 with mathjax https://xot.xerte.org.uk/play.php?template_id=218#resume=1
Page 2 with text rather than mathjax https://xot.xerte.org.uk/play.php?template_id=218#resume=2
Page 3 wit

[2020-08-25 13:30] ronm123 opened #934 "need to add alt text options for left and right logo options in bootstrap"
The header group of options in Bootstrap doesn't have fields for alt text for each of the logo options. So if one or both logos are added they show up as accessibility issues due to missing alt text.
Need to add an alt text option for each logo and then make use of that alt text if added.

[2020-08-25 13:38] ronm123 opened #935 "The hamburger menu 'collapse' button in Bootstrap needs an aria label"
This shows up as an accessibility issue because the collapse button doesn't have an aria label. Can be temporary fixed within an LO using something like `$(".btn.btn-navbar").attr("aria-label", "collapse");` but ideally we need to add/insert an aria label by default.

[2020-08-25 14:06] ronm123 opened #936 "hide/show footer tools button needs aria label"
This shows up as an accessibility issue even though the button has a title attribute. Will add an aria label but use the same value as used for the title.

[2020-08-25 14:09] ronm123 commented on #936
Fixed with https://github.com/thexerteproject/xerteonlinetoolkits/commit/e83b07fc36881ba38021b42f9e614716b807c69e

[2020-08-25 14:09] #936 closed

[2020-08-25 22:16] JohnSmith-LT commented on #933
Hi @ronm123 I patched this back in July but it's obviously not made it onto that server yet

https://github.com/thexerteproject/xerteonlinetoolkits/commit/15f6d7bdcebb87b80c7cd464e8a9e225281efb50

[2020-08-25 22:41] JohnSmith-LT commented on #933
I think this does beag the question: why do we have to jusmp through so many hoops with MathJax and why does it have to be continually re-rendered manually?

For example, on JQuery-UI page they have a draggable. I edited it to include \[Q=v/w\] and then loaded mathjax script (smae one we use in Xerte) via $.getScript().. The result is this:

![MathJaxNoRerender](https://user-images.githubuserconte

[2020-08-26 08:42] ronm123 commented on #933
@JohnSmith-LT re your previous comment about having patched this: I know you patched the issue with the mathjax showing code instead of mathjax and you're right that probably just isn't part of xot.xerte.org.uk yet but the issue I raised here is different and perhaps I didn't make that clear enough :-( This was about the layout not the rendering of the mathjax. In the screenshot below (from the ex

[2020-08-26 08:46] ronm123 commented on #933
BTW obviously there are obviously two slightly separate topics here now e.g.
1. layout of the sortable grid page especially when mathjax is used.
2. issues with mathjax more generally and why it doesn't work in xerte like it does in the jquery example.

[2020-08-26 09:13] JohnSmith-LT commented on #933
Ah ok, as soon as you mentioned MathJax I focussed on that, so this is what you mean (with the LO open full screen or on a larger monitor it isn't so obvious, yes the grid is bigger but at least all the text is viewable)

![image](https://user-images.githubusercontent.com/3907362/91283565-a8ae9580-e782-11ea-94df-3d76f64823a8.png)

I don't think it's the MathJax per se, I think it's more to do with

[2020-08-26 09:23] JohnSmith-LT opened #937 "MathJax re-render issue with drag drop"
I''ve moved this into it's own issue

Question - Why do we have to jump through so many hoops with MathJax and why does it have to be continually re-rendered manually?

For example, on JQuery-UI page they have a draggable. I edited it (in Debug Console) to include \[Q=x/w\] and then loaded mathjax script (same one we use in Xerte) via $.getScript().. The result is this:

![MathJaxNoRerender](https

[2020-08-26 09:28] JohnSmith-LT commented on #937
If I setup the example above, in xerte, with their example code I get this, which works fine ???

![MathJaxXerteNoReRender](https://user-images.githubusercontent.com/3907362/91286867-e4e3f500-e786-11ea-9965-ac1b0c0f7103.gif)

[2020-08-26 10:28] ronm123 commented on #933
Sorry @JohnSmith-LT I forgot to post my screenshot in my previous post :-(
![image](https://user-images.githubusercontent.com/5167146/91292920-26789e00-e78f-11ea-8d9a-76487c51b965.png)
That's what I meant about the difference between whether mathjax is included or not.

[2020-08-26 10:40] JohnSmith-LT commented on #933
Yes, I realised when I was moving the other stuff that what you could be referring to was the 1st column, the labels which is different in both cases. Suspect it's something to do with the size of the other columns though and the calculations - would be interesting I think to see a box with both MathJax and a really long word in a single box to see what happens in that case, if that's easy for you

[2020-08-26 15:55] JohnSmith-LT commented on #937
So I traced the problem to the removeFocus() method. If I just stick a return in there then MathJax doesn't need to rerender on every start drag but obviously this code did something that is now not being done... It's the .html() that is re-writing the html of the node but apparently if you clone and attach then it should preserve th MathJax...

One for @FayCross me thinks ;-)

[2020-08-27 16:02] ronm123 commented on #921
I just committed `.featherlight iframe {height: 90vh;width: 90vw;}` to complex.css so will close this issue.

[2020-08-27 16:02] #921 closed

[2020-08-28 14:38] ronm123 commented on #925
Hi all
you will have seen that I've made quite a few commits resolving various accessibility issues and most of this has been issues reported by using the Chrome Wave plugin and a copy of our page types demonstrator. It would be really good to fix as many of these as possible to coincide with the public launch of our accessibility statement and a new release to go with that. I'm going to add a few

[2020-08-28 15:32] ronm123 opened #938 "audio slideshow error reported by Wave when headings are empty"
Testing with wave. When the audio slideshow page has empty headings on each page, as is sometimes desirable as it is in our demonstrator https://xot.xerte.org.uk/play.php?template_id=116#audioslideshow then wave reports a missing headings error. We should probably check if the heading is empty and if so hide the relevant h3 tag too so that an error isn't reported.
I suspect the same issue might ap

[2020-09-01 01:11] obgeneralao opened #939 "Hotspot image and Hotpsot image connector"
Hi,
When I edit the image, the window opens where you can edit the hotspot, but the buttons would not work at all. I am using Chrome and I tried it with Firefox as well, I got the same issue.

Thanks for looking into this.

[2020-09-01 12:53] ronm123 commented on #916
@JohnSmith-LT @FayCross @torinfo re gap fill and correct/incorrect feedback. I'm adding this here because I can't find where we've discussed this before even though I know we definitely have discussed it before!

During the accessibility testing Alistair reported that the gap fill in drop down mode only uses colour to indicate which answers are correct e.g. green which doesn't work for colour blin

[2020-09-02 07:57] ronm123 opened #940 "checklist of accessibility issues reported by Wave"
The following is a list of accessibility issues reported by wave when viewing each page of our page types demonstrator https://xot.xerte.org.uk/play.php?template_id=116#xertepagetypes
Some of these (but not all) are listed as separate issues all tagged under accessibility but it seemed worth adding a checklist that we can tick off individual items either as they are done or as the individual issue

[2020-09-04 12:30] ronm123 opened #941 "where to add code to hide WCAG accessibility logo and link in xot template?"
Hi all
In the Bootstrap code I added the WCAG Accessibility statement link and logo to the footer in rloObject.html, some options to hide the logo and/or change the alt text and link in the wizard and then the code to deal with all that in application.js all that seems to work fine.

I'd also previously added the WCAG logo and link to colourChanger.html for XOT projects and again I think that all

[2020-09-06 13:41] torinfo commented on #941
@ronm123 Probably best to put it in colourChanger.html, because that should be easier than trigger xentith code when courChanger is opened, but also that option is doable. In colourChanger.html you can just use x_params. That's available in the model files as well.

[2020-09-07 09:33] ronm123 commented on #941
Thanks @torinfo I was just being stupid! ;-( Was checking for x_params values but was showing as undefined because I hadn't added the optional group to the project! Committed now https://github.com/thexerteproject/xerteonlinetoolkits/commit/2f1752af8a00d89488419ccb9def1f9f14948f00 so will close this issue.

[2020-09-07 09:33] #941 closed

[2020-09-08 09:33] FayCross opened #942 "Bootstrap - Hidden pages appear in search results"
If a hidden page contains search terms then it will still appear in search results even though page doesn't exist.

[2020-09-08 09:37] FayCross opened #943 "Bootstrap carousel 'dots' issue"
The dots in the corner of the carousel that normally are highlighted as each slide shows & can be clicked to jump to another slide do not work when the carousel is set to auto-play

[2020-09-08 10:12] #938 closed

[2020-09-08 11:21] FayCross opened #944 "XWD language properties can't be mandatory"
In this commit (https://github.com/thexerteproject/xerteonlinetoolkits/commit/4ec8790d0b3937a51a92ecd0a3ffe26f36e1202c ) I'd like the new pinAlt language property to be mandatory so it can be edited on existing interactive diagram pages however it doesn't get added to the editor. It looks like mandatory="true" in xwd only works for normal properties & not those marked as language="true"

[2020-09-08 11:28] FayCross opened #945 "Project properties - Give Project - co-creator bug"
When you are the project creator you can't use the 'give project' function in the project properties window to give a copy of the project to yourself (your name won't appear in the list). This makes sense as you should probably just duplicate the project instead. However, if you are a co-creator on a project you can find your name on the 'give project' panel & attempt to use this to give yourself

[2020-09-08 11:33] FayCross opened #946 "Interactive Diagram - diagram editor"
Is the only way to edit Interactive Diagram pages still via the Flash editor that opens in a new window? Does this still work for anyone? I get 'This text is replaced by the Flash movie.' when I try to edit this page on https://xot.xerte.org.uk/

If this is the only way to create one of these pages then do we need to deprecate it (or come up with a new way of doing this before the end of the year

[2020-09-08 11:43] FayCross opened #947 "Hotspot editor not working in develop"
When I create a new hotspot I can't save the changes I make to its size & position or change to the polygon hotspot tool. It opens the editor, allows me to resize etc. but neither the tick or cross buttons do anything. No errors in console. I have to refresh the page to get out of the hotspot editor & then of course the changes aren't saved. Works fine in 3.8 but not in current develop.

[2020-09-08 12:14] FayCross commented on #932
Just tested & now works. Like @JohnSmith-LT said I don't know why we were looking at pageID before for links so please reopen issue if anyone knows why it wouldn't be ok to take this out

[2020-09-08 12:14] #932 closed

[2020-09-08 12:28] FayCross commented on #928
@JohnSmith-LT thanks - just tested & works well. Will also continue to work if anyone did manually enter a pageID into text field

[2020-09-08 12:28] #928 closed

[2020-09-08 12:48] #929 closed

[2020-09-08 13:04] #930 closed

[2020-09-08 13:15] FayCross commented on #447
I've just tested this in develop & there are some things that don't work as I'd expect:

- [ ] Align centre doesn't work (appears on left)

- [ ] Auto play doesn't work in preview in Chrome for me but it does auto-play in editor if I return to the page where I've added it

- [ ] Editing an existing instance of this in the editor is temperamental. When first added I can right click to get audio pro

[2020-09-08 13:40] #942 closed

[2020-09-08 15:18] JohnSmith-LT commented on #947
Hi @fay, think this is fixed now. Can you check?

[2020-09-08 15:42] FayCross commented on #947
Thanks - looks fine now

[2020-09-08 15:42] #947 closed

[2020-09-08 15:43] FayCross commented on #939
Hi, this has now been fixed https://github.com/thexerteproject/xerteonlinetoolkits/commit/25d9a087b0ec902d25f31e707c6e37ac8291d4c3

[2020-09-08 15:43] #939 closed

[2020-09-08 16:04] #946 closed

[2020-09-08 21:08] JohnSmith-LT commented on #946
I know you closed this @FayCross but I fixed it anyway (well in Chrome at least) so that older projects can still use it up to December 2020, if required...

[2020-09-09 08:52] JohnSmith-LT commented on #943
Hi @FayCross I created a quick mockup and cannot reproduce this, i.e. they work fine for me? Is it some specific example that you are using and/or do you have a link to a non-working example?

![CraigDavidCarousel](https://user-images.githubusercontent.com/3907362/92577094-31006080-f282-11ea-8d3f-47065a76bfe8.gif)

@JohnSmith-LT

[2020-09-09 13:14] ronm123 commented on #943
@FayCross @JohnSmith-LT just tested in my local develop works for me to with or without autoplay enabled.

[2020-09-09 13:38] JohnSmith-LT commented on #943
Probably should say that I only tested in Chrome on Windows 10 so it could be browser bug...

[2020-09-09 16:23] ronm123 commented on #943
Good point @JohnSmith-LT but I just tested with Chrome, FF and Edge and all worked fine. But this is with develop so @FayCross was your issue with develop or your older live version? ;-)
BTW I's be inclined to make the dots a bit bigger e.g.
`.carousel-indicators li {
    width: 1.0em;
    height: 1.0em;
}`

[2020-09-10 08:47] FayCross commented on #943
Hmm, it was reported to me on our main install but I did check on develop too before posting this. I'm wondering if I hadn't quite brought my xampp up to date though before I did that (wouldn't have been too out of date with develop but perhaps wasn't quite). I'll check & see if I can still recreate. Thanks for testing it

[2020-09-10 08:49] FayCross commented on #944
Not high priority now that the Interactive Diagram page is deprecated but it still might be useful to allow at some point.

[2020-09-10 10:29] JohnSmith-LT commented on #944
Hi @FayCross it probably is high priority now because i've just added an aria-label language field for Dictation page and have run into the same problem - fine for new pages but isn't added to existing ones...

Did you not see this @ronm123 with the modelAnswer page when you added the `<answerFieldLabel label="Answer Field Hidden Aria-Label" type="TextInput" wysiwyg="false" language="true" mandato

[2020-09-10 11:03] ronm123 commented on #944
@JohnSmith-LT now that you mention it I think I did notice but didn't raise it because there are so many other things on the list. There's a balance to be had I think e.g. we're adding default values in the code so if the wizard option doesn't appear then that default value is used e.g. Answer. Yes that would be incorrect for another language but in the case of aria-labels only relevant to screen

[2020-09-10 11:12] JohnSmith-LT commented on #944
Hi @ronm123 yes defaults are good too but that forces the english version of a word and doesn't allow author to change...

It's all moot now though because I'm pretty sure i've fixed it. Just about to commit so please test as i'm a bit wary of changing too much in the editor at such a late stage...

[2020-09-10 13:01] jayaich opened #948 "properties_library - invalid susbstr call"
In the middle of trying to sort out a problem and I noticed a PHP warning about an invalid call. The relevant line is in the file website_code/php/properties/properties_library.php   line 846 (looking at the github version). The code around this line shows:

         default:
            if (substr($accessStr,0,5) == "Other")
            {
                $accessStr = "Other";
                $acc

[2020-09-10 16:05] jayaich commented on #948
Actually you will need to swap around a couple of lines because otherwise you'll be taking a substr of the string 'Other'.
So swap around the lines:

            $accessStr = "Other";
            $accessTranslation = PROJECT_INFO_OTHER . " ('" . substr(5) . "')";
to:

            $accessTranslation = PROJECT_INFO_OTHER . " ('" . substr($accessStr,5) . "')";
            $accessStr = "Other";

[2020-09-10 16:56] JohnSmith-LT commented on #948
Thanks John, i'll merge that into our next release which is imminent...

[2020-09-10 16:58] #935 closed

[2020-09-10 16:58] #934 closed

[2020-09-10 17:09] FayCross commented on #825
Various fixes committed in this commit https://github.com/thexerteproject/xerteonlinetoolkits/commit/b2c90656d03d61101bbc53c0639e3a65f9afba3e

[2020-09-10 19:04] JohnSmith-LT commented on #943
Hmmm, is this what you meant @FayCross ?

![CarouselIndicatorsNotWorking](https://user-images.githubusercontent.com/3907362/92787188-ca259900-f3a0-11ea-9350-0153fb94366a.gif)

I didn't change anything and now they work if you click them but the indicators don't work...

[2020-09-10 19:23] FayCross commented on #943
Yes, that's it @JohnSmith-LT I thought they didn't work when you click them but I've just tried again and they do. It's just without the highlight of the dots changing you easily lose track of which slide you're on so if you try to click the current dot it doesn't seem like it's working.

[2020-09-10 19:50] JohnSmith-LT commented on #943
It's very strange because it was obviously working when I recorded the first gif... I didn't change anything and there are no errors from today's commits or anything so not sure why it would change for me also?!?

[2020-09-10 19:57] #948 closed

[2020-09-11 14:17] ronm123 opened #949 "dynamically change html title in bootstrap and xot projects as each page changes"
Another suggestion from the testing with James is that we should change the html title for each page in the xot project but also I guess in the bootstrap project. So I was just testing this in Bootstrap and around line 1433 in application.js we have the following:
`$('#pageTitle').html(page.attr('name'));`
So I added the following below that:
`$(document).prop('title', page.attr('name')  +' - ' +

[2020-09-12 00:43] JohnSmith-LT commented on #949
Hi @ronm123 don't think so in bootstrap. We just added this in xenith

https://github.com/thexerteproject/xerteonlinetoolkits/blob/38bbf1b71d2b5809ed128a5167b36f453c50fb8f/modules/xerte/parent_templates/Nottingham/common_html5/js/xenith.js#L3264

so something along lines of

`$(document).prop('title', $('<p>' + page.attr('name') +' - ' + $(data).find('learningObject').attr('name') + '</p>').text()

[2020-09-12 07:20] ronm123 commented on #949
Thanks @JohnSmith-LT that works and have committed this for both Bootstrap and XOT so will close the issue.
BTW didn't bother calling the existing function in Xenith as it's only one line.

[2020-09-12 07:20] #949 closed

[2020-09-13 21:04] JohnSmith-LT commented on #898
I'm going to close this because refactoring of any more of xenith is going to be scapped I think. I think if this is going to go ahead then it probably needs to come from the ground up and be OO right from the start and i'm not 100% sure now that this is the correct mudule pattern to use  - perhaps using classes and compiling back to ES5...

[2020-09-13 21:04] #898 closed

[2020-09-15 14:33] jayaich opened #952 "File upload spinner not working correctly (fixed in PR)"
Whilst investigating a large file (300MB+) upload failure, it was noticed that the spinner started and then stopped a second or two later. The file upload carried on it seems in the background. No popup window appeared saying the upload had occurred, so the user was left confused as to what had actually gone on.
File uploads can occur via 2 mechanisms (that I am aware of):

1) By editing a project

[2020-09-16 14:00] Raji-P commented on #913
Hi, I also tired SCORM package export using Version 3.8 and facing the same issue, Could someone help us pls!

[2020-09-17 01:52] obgeneralao opened #953 "Import pages shows please login (in develop branch)"
Hi,

Every time I try import pages, it asks me to login and there is nothing to login

[2020-09-17 06:14] Raji-P commented on #913
Hi, Hope this could help you.
I tried with version 3.8, Added quiz page and then added "Stop Tracking Page" after the quiz. Then exported it as SCORM and added it to moodle. This is adding the score to gradebook in moodle

[2020-09-18 09:36] torinfo commented on #953
Which authentication method are you using?

[2020-09-18 14:47] jayaich commented on #952
The PR also includes a commit for when an oversize file is uploaded. currently the error defaults to being an 'invalid file type' error. This commit checks the file size against the PHP max upload size, and states that the file is too big if it is over that limit.

[2020-09-19 04:00] obgeneralao commented on #953
Hi,
I used Db.

[2020-09-21 15:55] JohnSmith-LT opened #954 "Glossary terms don't show in the Glossary Dialog for Modern: Urban Blue theme"
From here:

https://www.xerte.org.uk/index.php/en/forum/bugs-and-issues/2210-glossary-background-colour-different-from-hover-over#6873

[2020-09-22 08:24] ronm123 opened #955 "possible small issue with the link/lightbox plugin"
@JohnSmith-LT while updating the release notes I think I found a small bug with the link/lightbox plugin.
I was adding images and setting those images to align center and trying to attach links to the images.
I think what I found (but wanted to test further) that this all works fine when the image is set to no alignment or left or right aligned but when set to centre the link url doesn't get saved

[2020-09-22 09:01] JohnSmith-LT commented on #955
Hmm... that's a strange one. I'll look into it...

[2020-09-22 09:57] ronm123 commented on #954
@JohnSmith-LT leave this one with me. In return I'll add an an issue I discovered while updating the release notes which may me an issue with the link/lightbox plugin but hopefully an easy fix :-(

[2020-09-22 09:57] #954 closed

[2020-09-22 20:17] JohnSmith-LT commented on #955
Hi @ronm123

Have spent an hour trying to reproduce this and I did see it once but the rest of the time it is working normally on an image that is centre aligned... not really sure what you were seeing but can you detail the steps to reproduce as i've been tracing the plugin in and out with various alignments and it always picks up what is there and writes what i'm changing it to...

[2020-09-22 21:12] ronm123 commented on #955
Hi @JohnSmith-LT I wondered whether perhaps this was a difference between the show toolbar option vs just expanding the toolbar option like we had once before but it's not. Here's a recording and although this is my local xampp develop install I first noticed this on our xot.xerte install which is 3.9.
![image_link_test](https://user-images.githubusercontent.com/5167146/93938129-b5da8800-fd20-11ea

[2020-09-23 11:10] JohnSmith-LT commented on #954
Hi @ronm123 it seems that this is an issue in another theme (Modern Sleek Grey) also so perhaps these all need looked at:

https://www.xerte.org.uk/index.php/en/forum/bugs-and-issues/2214-text-with-glossary-text-term-not-displaying-when-using-theme-modern-sleek-grey#6885

[2020-09-23 12:02] ronm123 commented on #954
@JohnSmith-LT slightly different issue to the OP but yes I've just committed a fix for the sleek grey theme and will check the others too.

[2020-09-23 15:27] JohnSmith-LT opened #956 "Glossary term problem reported on forum - link breaks if term is in a link"
Hi @ronm123

I know you answered this in the forum (https://www.xerte.org.uk/index.php/en/forum/bugs-and-issues/2213-using-the-same-word-as-a-glossaet-term-and-a-link-results-in-link-not-working#6888) with a workaround but this is still an issue if people don't realise since it actually breaks the links. Not sure why we even have glossary terms as < a > tags but we could switch these to < span> an

[2020-09-23 20:21] JohnSmith-LT commented on #955
Yes it's a strange one because I still cannot reproduce:

![TestLightboxCentreAlignedImage1](https://user-images.githubusercontent.com/3907362/94065239-c6ebcd80-fde2-11ea-8a1a-416054825876.gif)

[2020-09-23 23:28] JohnSmith-LT opened #957 "Problem with Import code or am I missing something?"
@torinfo when I use the Import button, some projects show up as having no pages to import...

![image](https://user-images.githubusercontent.com/3907362/94084112-a6307180-fdfc-11ea-80d6-1f7e30751c42.png)

Despite them obviously containing pages...

![image](https://user-images.githubusercontent.com/3907362/94084180-ceb86b80-fdfc-11ea-8bbb-cc190d2ae22e.png)

Is there some condition or subset of pag

[2020-09-23 23:37] JohnSmith-LT commented on #952
Have merged. Thanks @jayaich

[2020-09-23 23:37] #952 closed

[2020-09-24 14:46] torinfo commented on #957
@JohnSmith-LT Don't know by heart. There is no condition as far as I know. Could it be difference between preview.xml and data.xml?

[2020-09-24 15:37] ronm123 commented on #957
@JohnSmith-LT I just tested that theory from @torinfo and that seems to be the answer! e.g.
1. created a new project (import test) and imported some pages from another project then previewed but didn't publish and also cancelled when prompted to publish when closing the editor.
2. Opened another project and tried importing pages from import test and it showed no pages in this project.
3. Published

[2020-09-24 15:39] JohnSmith-LT commented on #957
@torinfo Yes you are 100% spot on... in my mind I would have though you might want to copy pages that you are still editing but don't want to publish yet, for example, you create a template and you need to copy that into several other LOs so that you can insert specific info only... In that case we'd probably need some way to switch between the preview and published xml...

Perhaps we just need so

[2020-09-24 16:30] ronm123 commented on #957
@JohnSmith-LT I think the days of needing a difference between preview and publish to avoid end users seeing changes that we don't yet want them to see are long gone since we've had the ability to hide pages. I always advise people to publish as a matter of habit during editing and hide any pages they don't want to show in the published version. So yes perhaps just a tooltip or even addition to th

[2020-09-24 18:56] JohnSmith-LT commented on #957
Yeah ok, that makes perfect sense... thanks @ronm123

[2020-09-24 18:56] #957 closed

[2020-09-25 09:07] JohnSmith-LT opened #958 "I think that we should rename Xerte to Jerte ?"
Not really... this is a tongue in cheek way to get your attention however it may be somewhat necessary, at least under the hood, in the future (near or far)...

Due to ever increasing browser security and cross-origin requests being blocked at server level, loading XML from remote servers is becoming increasingly difficult... I point you to this Forum post (https://www.xerte.org.uk/index.php/en/fo

[2020-09-25 09:43] ronm123 commented on #958
If it wasn't for the X shaped logo I'd have suggested changing to Zertee long ago if only to stop people pronouncing it Exerte! ;-)

I think there are a few separate issues here...
1. The workflow (and justification or not) of people exporting in whatever format and importing into the VLE rather than linking or embedding from a Xerte install.
2. VLE vendors having a vested interest in only support

[2020-09-25 09:58] FayCross commented on #956
I think a tags were probably used to make them easier for screen reader or keyboard only users to access them. It's fine to change them to span tags as long as they can still be tabbed to & accessed by screen readers etc.

[2020-09-25 10:33] ronm123 commented on #933
@JohnSmith-LT @FayCross I'm wondering if the mathjax issue I reported previously here is separate from the alignment issue. I had an example shared with me that doesn't use mathjax and only has two columns but the layout is clearly wrong when the Text Alignment option is set to Left rather than Right or Top. I can't spot where to fix this so I've put a copy on xot.xerte and you both have co-author

[2020-09-25 14:21] JohnSmith-LT commented on #958
Thanks for the tip about the Offline version @ronm123 and in actual fact I asked Rich on the forum to try that and it did indeed work on Canvas... EXCEPT, strangely none of the FontAwesom icons load... and the FA library gives a CORS error too like before..

Perhaps in the short term we should add a message and/or change the "Offline" version to something else since he is obviously using it online

[2020-09-25 14:28] JohnSmith-LT commented on #956
That's a good consideration @FayCross that I hadn't thought of... I think just adding a tabindex="0" to the < span> will solve that issue but i'll test it... Thanks...

[2020-09-25 14:34] ronm123 commented on #958
@JohnSmith-LT dunno about the FA issue. However I looked at the screenshots he posted and one possible change he could make hisself is to temporarily use one of the older themes that use images for navigation buttons rather than FA icons. That won't resolve FA icons in the content itself but should at least restore navigation controls. Obviously not worth doing that if we find a quick fix for the

[2020-09-25 20:42] JohnSmith-LT commented on #956
Hi @FayCross. Now I know VERY LITTLE about the accessibility stuff so I did some reading about aria-label and role on < span> and < div> and between that and the tabindex="0" I have it working "I think"... the new code comes out as:

<span class="x_glossary" def="DEFINITION" tabindex="0" role="tooltip" aria-label="TERM" title="">TERM</span>

Now to the best of my knowledge I haven't broken tabbing

[2020-09-28 10:02] ronm123 commented on #955
@JohnSmith-LT I've just been looking at this again and I can reproduce this consistently including on installations upgraded to 3.9 not just develop.
I tested on installations that are still 3.8.5-23 and they work fine but don't contain the lightbox plugin code.
I also tested by creating a new project and plain text page in 3.8.5-23 and then exported that and imported into 3.9 and with that plain

[2020-09-28 10:35] ronm123 commented on #955
BTW happy to have a quick zoom to demo this.

[2020-09-28 12:43] ronm123 opened #959 "Bootstrap subsection links not working reliably"
Hi all
just posting this because I was asked about it after a couple of posts on the forums have gone unanswered https://www.xerte.org.uk/index.php/en/forum/bugs-and-issues/1749-subsection-links-in-bootstrap-template

I've tested and can see the problem but can't work out why or what the solution might be.

[2020-09-28 15:49] JohnSmith-LT commented on #955
Hi @ronm123 , I get your hesitation but if you need to upgrade then at the very least then you should be able to just disable the lightbox plugin and then it won't add in that functionality - just remove xotlightbox from https://github.com/thexerteproject/xerteonlinetoolkits/blob/3e348620c4c03f1c90c9fd4a847399df7b1fb8a1/editor/js/vendor/ckeditor/config.js#L26 .

It's really hard to debug this sinc

[2020-09-28 18:04] torinfo commented on #955
@ronm123 @JohnSmith-LT I cannot reproduce this on a local development install. Ron, you've got access to the same install (let me know if you don't have the creds anymore). Can you reproduce in that install?

BTW what tool do you use to create the screencaptures?

[2020-09-28 18:50] ronm123 commented on #955
@torinfo not sure what install you mean but I created a project named image link issue (id 230) on xot.xerte and you both have co-author access. I'm using Chrome and in that project you'll find a plain text page containing a line of text, then a new para, then an image aligned left with a link attached.
In the editor select the image and then check the link - all should be fine.
Then double click

[2020-09-28 19:23] JohnSmith-LT commented on #955
@torinfo I haven't been able to locate my login for xot.xerte for a long time. Could you resend please when you have some time...

@ronm123 Can you reproduce this on an up-to-date develop? I tried again and like the gif I sent, centre align still populates the link fine when I click the link button (both on menu and context menu) and also lets me change the url... wondering if it has something to

[2020-09-28 20:01] ronm123 commented on #955
@JohnSmith-LT yes I can reproduce on latest develop and 3.9. I can reproduce with Chrome and Firefox on different laptops too. I can reproduce consistently on xot.xerte.org. The html is simple as can be. Please try these exact steps:
Add a new plain text page
with the show toolbar ticked add a para after the default line of text and insert an image
with the image selected click the link icon and a

[2020-09-28 20:40] torinfo commented on #955
@ronm123 @JohnSmith-LT
Iteresting. I can not reproduce it on your page Ron, but if I insert a new page above, than I can in the xot.xerte.org.uk install. I have not been able to reproduce on my develop install.

[2020-09-28 23:27] JohnSmith-LT commented on #955
@ronm123 I have been able to replicate on develop! It is definitely related to the problem we had before and I can only reproduce if the Show Toolbar checkbox is ticked... previously I was noticing that when you tick that box the ids of all the ckeditor boxes on the page change to a different id yet the plugin seemed to hold onto the ref for the old editor...

Can you confirm @ronm123 on one of yo

[2020-09-29 09:35] ronm123 commented on #955
@JohnSmith-LT @torinfo I have to confess I'm glad you've finally both been able to reproduce this - I wasn't making it up! ;-)
However to summarise what I've said in previous posts here:

- I can reliably replicate it on both develop and 3.9 and different browsers and different PC's.
- I can also replicate it with and without show toolbar checked.
- There are times when I then can't replicate it o

[2020-09-30 13:24] #959 closed

[2020-09-30 13:45] FayCross commented on #956
@JohnSmith-LT I think that's fine. Tabbing to definition & accessing tooltip while still allowing the link to work seems fine. @ronm123 would you be able to check with screen reader please? I've just tried with Windows narrator & can't seem to access definition but I think that's probably just because of my inexperience with it. If it's fine then we'll need to also make this change in the Bootstra

[2020-09-30 14:09] ronm123 commented on #915
@JohnSmith-LT @torinfo @FayCross I was going to add a new issue with the drag and drop labelling page but it seems appropriate to add it here...
I was asked to look at an example containing two drag and drop labelling pages mixed in with other pages and where both drag and drop labelling pages were set to match mode. These work fine when first visiting the page but when you then move away and retu

[2020-09-30 14:39] ronm123 commented on #956
@FayCross no I don't think it does work with a screen reader but I don't think it did before the change @JohnSmith-LT has made either. I suspect the pop-up needs to be given focus or have aria-live="polite" added or something like that?

[2020-09-30 15:20] FayCross opened #960 "Editor opening in new window vs. tab"
I have often seen people lose track of where the editor is when they are first learning Xerte, especially after previewing as this then opens another new window. When editing a project I tend to copy the URLs of editor & preview into new tabs as I find it much easier to navigate between editor & preview in this way than search through multiple browser windows. If I do this in 3.9 I now always get

[2020-09-30 16:15] JohnSmith-LT commented on #956
Hi,

Maybe I got it wrong, this says that the role="tooltip" should be added to the tooltip container and not the initiator and perhaps instead we add aria-describedby="x_glossaryHover" to the < span>

![image](https://user-images.githubusercontent.com/3907362/94711545-27798e00-0340-11eb-8720-eeb2144f6f56.png)

https://www.accede-web.com/en/guidelines/rich-interface-components/tooltips-aria/#:~:te

[2020-09-30 16:39] FayCross commented on #956
@JohnSmith-LT Yes i noticed this but I've been trying this for the past hour & just can't get it to work. It doesn't seem to work with role="tooltip" on tooltip div & aria-describedby on span & I've tried various rewrites of code alongside this but can't get it to work. I thought maybe it didn't like that the tooltip tag doesn't exist until it's rolled over but just using hide/show doesn't help ei

[2020-09-30 18:29] FayCross commented on #956
This now works in NVDA (can't get working ion Windows Narrator though)

[2020-09-30 19:37] JohnSmith-LT commented on #956
Well done @FayCross , it's working for me too on NVDA but is it not a bit verbose? Mine seems like it is reading everything out twice...

[2020-09-30 19:42] FayCross commented on #956
I think it's because it reads the glossary word on the page out, immediately followed by the contents of the tooltip (which starts with that same word) e.g. 'Cat, cat: an animal that says miaow'. I think I marked it up so that the tooltip div was referenced in 'aria-described-by' - it might be better to specify just the definition bit of the tooltip

[2020-09-30 19:52] JohnSmith-LT commented on #956
Yes, perhaps that's it - thought it was reading the description twice too but was probably mistaken or had messed with the code at my side... Have you tried emulating the image above with the glossary word actually in the link? Do you think that is sensible or is the screen reader output very verbose and awkward or should we try to skip that and put the glossary on the next occurance of the word?

[2020-09-30 19:57] ronm123 commented on #956
I tested this with NVDA and Narrator and got the same as you @FayCross e.g. the tooltip was read by NVDA but not Narrator. I tried changing the role attached to x_glossaryHover to alert rather than tooltip and then it was read by both but I'm sure that's not correct. So I changed it back to tooltip and investigated Narrator settings. It turns out that by default the option to "Hear advanced detail

[2020-09-30 20:15] #944 closed

[2020-10-01 08:03] FayCross commented on #625
Various fixes made in this commit: https://github.com/thexerteproject/xerteonlinetoolkits/commit/3bb96a77b8203b8cdd195ef0f288e93587f91af3

[2020-10-01 08:16] FayCross commented on #625
I've fixed a number of the issues above but these are still outstanding. Would be useful to discuss as next dev day as I haven't used this page much so need to check I'm not misunderstanding anything before making more changes:

- [ ] Should 'average' label be 'score' instead? It only seems to be score of first attempt so would score be clearer?

- [ ] What makes a page complete seems inconsistent

[2020-10-01 08:58] JohnSmith-LT commented on #625
Hi @FayCross, I was going to bring this very thing up (point 2) at the next dev meeting because in adition to what you have said (and what seems in direct contradiction to what @torinfo put in the "code of practice" doc for pages) when leaving (at least some) interactive pages, dragDrop for example, the submit handler is called to determine the completion status of the page and this also puts corr

[2020-10-01 10:53] FayCross opened #961 "Allow font to be changed via accessibility options"
Would it be useful to add a new option to the accessibility dialog that allows users to change the project font? For example, there are fonts that are designed to increase readability for people with dyslexia (https://gumroad.com/l/OpenDyslexic)

Any thought?

[2020-10-01 11:15] ronm123 commented on #961
@FayCross yes I think it would. Might be best to include it as an option under author control where the author could decide to disable that option but have it enabled by default. Fonts can vary dramatically in size for the same font size though so we might need to carefully test for layout across all page types and themes if that is the case.

[2020-10-01 18:50] JohnSmith-LT commented on #960
Hi @FayCross

1. I doubt it will have any impact on lockfiles or anything else since the tab shoudl still behave as a named window would. In actual fact it is probably best practice now to allow the device and browser to decide where the new page is opened (based on user settings) rather than forcing a new window...

2. maybe make sure it has "toolbar=yes,location=yes" in the window.open features?

[2020-10-01 20:25] torinfo commented on #960
Hi @FayCross

1. No, not the lock code perse. But the the woindow gets a name, and that name is used to give focus to that window if you reopen the same LO again. If you give the window a name, it will always be created as a popup window. So don't know how to fix that. Perhaps keeping the returned valy will allow the tab to get focus, but I doubt that.
2. @JohnSmith-LT Regrettably that doesn't see

[2020-10-01 20:37] JohnSmith-LT commented on #960
Yeah @torinfo they've messed around with so many of these (because of some potential vulnerability) that many things have become impossible... if we only expect one widow to be open at a time then it might be sufficient to just store the return ref as you suggest and then call the focus method if it exists and clear it if the window gets closed... if there could be multiple windows open (like the

[2020-10-03 16:07] JohnSmith-LT commented on #955
Update on this @ronm123 and @torinfo and it gets weirder and weirder because the link is stripped out BEFORE you even click the link button... Can you try to reproduce this one @ronm123 ?

So follow your instructions:

Add a new plain text page
with the show toolbar ticked add a para after the default line of text and insert an image
with the image selected click the link icon and attach a link to

[2020-10-03 17:50] JohnSmith-LT commented on #955
So @ronm123 on a hunch I re-wrote the Show Toolbar code to just toggle the editors that were in the wrong state and now miraculously I cannot reproduce this using your steps @ronm123 or any others that I can think of...

Can you please test this at your end and @torinfo can you cast an eye over the Show Toolbar code that i've changed to see if you think that will interfere with anything else in th

[2020-10-04 10:48] ronm123 commented on #955
@JohnSmith-LT @torinfo A few comments...
1. I know this is a nightmare and very weird especially as there seems to be so many variations of being able to reproduce and then not being able to reproduce.
2. I've just be testing for about an hour and notice additional weird behaviour but also something that I can consistently reproduce too.
3. @JohnSmith-LT yes I can reproduce the dev console steps w

[2020-10-04 10:53] ronm123 commented on #955
@JohnSmith-LT @torinfo just a note to say I edited that previous summary to remove some typos and make it clearer with some additional punctuation etc.

[2020-10-04 11:32] JohnSmith-LT commented on #955
Hi @ronm123 , I was just jesting about being off the hook... It is interesting though that during my, probably inferior, testing I could only reproduce the link being stripping out by the centre align button ONLY IF the lightbox plugin was enabled and not without it...

Hmm, i'll definitely give it another go with your suggested steps... as you say I think some of these things have perhaps been th

[2020-10-04 12:33] ronm123 commented on #955
@JohnSmith-LT sorry if I missed that instruction but to be clear I wasn't testing with the lightbox plugin disabled only with it enabled. I did test on an earlier Xerte version before the plugin existed and couldn't reproduce the error on that but that was early on in all this testing so can revisit that if needed or likewise test locally with the plugin disabled if needed too.

[2020-10-04 13:35] JohnSmith-LT commented on #955
No leave it with me again @ronm123 and i'll see what I can come up with - I have a few more ideas to try to see if I can figure out what is going on... I googled too and don't see anything online about the centre justify image stripping out links so it must be local to us but I just find it very strange that it does it without even clicking on the plugin again - although i'm working on the assumpt

[2020-10-04 14:09] ingedonke opened #962 "Greek in Word search show latin letters"
In the "Wordsearch" game the greek words:
a) appear amongst latin letters in the grid and
b) with lowercase letters, despite that I wrote them with capitals. (attachment 5.jpg)
![5](https://user-images.githubusercontent.com/5703781/95017776-a847cb00-065b-11eb-9c65-80e7c63dbc53.jpg)

[2020-10-04 14:28] ingedonke opened #963 "Insert page menu to small"
Sometimes times the insert pages menu is to small. Is it possible to change this a bit?
![1](https://user-images.githubusercontent.com/5703781/95018228-a03d5a80-065e-11eb-881d-41885806ec5b.jpg)

[2020-10-07 15:15] FayCross opened #964 "Import Bootstrap pages"
Would be useful to allow import of pages from other projects in Bootstrap in same way as you can in XOT projects

[2020-10-07 15:21] torinfo commented on #964
Yes. I agree!

[2020-10-07 15:58] torinfo opened #965 "Latest Blackboard cannot import SCORM packages anymore"
The error is:

Unexpected end of ZLIB stream.

![blackboard](https://user-images.githubusercontent.com/5166596/95356196-b51c2700-08c6-11eb-946d-b678626acd1c.jpg)

[2020-10-07 15:59] torinfo commented on #965
This is caused by two empty files and one file with a rediculous name.

[2020-10-07 16:01] ronm123 commented on #964
+1
Perhaps pages and/or specific sections.

[2020-10-07 16:03] #965 closed

[2020-10-07 16:15] ronm123 opened #966 "Add column option to navigator options in Bootstrap and/or possibly via editor"
Adding this here for discussion during the dev day tomorrow...

1. In Bootstrap projects we currently have Add Navigator which then has Accordion, Carousel, Pills or Tabs as an option. It would be good to add columns to those options and for instance just divide span12 by the number of columns added. I know this can be achieved by pasting code but in fact having done this in a project recently it

[2020-10-07 16:42] FayCross commented on #964
I'll leave this open as I've only got it working for whole pages (not individual sections)

[2020-10-07 17:01] ronm123 commented on #964
@FayCross pages better than nothing! ;-)

[2020-10-08 07:54] FayCross opened #967 "PDF page duplicates page contents on every view"
When PDF page is viewed for first time it looks fine. On every subsequent view it duplicates the PDF so you end up with a long scrolling page filled with lots of versions of PDF

[2020-10-08 08:16] ingedonke opened #968 "Adding 2 videos in the panel of the navigator in bootstrap not possible"
Adding 2 videos in the same panel of the navigator in bootstrap is not possible.

[2020-10-08 10:17] FayCross opened #969 "Flash after 2020"
Changes that need to be made in preparation for Flash end of life:

- [x] Project properties > project tab: remove check boxes to change between Flash / HTML5

- [x] Project properties > export tab: remove check boxes to export as Flash / HTML5

- [x] Should any projects that are still set to use Flash be forced to use HTML? Or can we flag them to users in workspace in some way so they know which

[2020-10-08 11:27] #967 closed

[2020-10-08 12:58] FayCross opened #970 "Surfacing global variables"
I've just committed a change allowing variables in Bootstrap & XOT templates to be surfaced in projects using format {varName}. This will work for things like {x_lastUpdatedLocale} but there are probably lots of other useful variables we could create in order to be surfaced in this way.

- No. project plays (other tracking data?)

- Creator / editor names

[2020-10-08 13:40] ronm123 commented on #970
@FayCross sounds good. However I've pulled down the changes and added {x_lastUpdatedLocale} to a page in an XOT project but it's just displaying that as {x_lastUpdatedLocale}
I've cleared offline files and refreshed - what am I missing?

As for other variables I think perhaps original creation date in addition to the last updated date might be useful.

[2020-10-08 13:46] FayCross commented on #970
There's an opt property at LO level that turns this on. We could have it on for all projects by default if you'd prefer - I just thought it might be best to avoid doing the checking through all text fields for markup if if wasn't needed.

[2020-10-08 13:49] FayCross commented on #963
@ingedonke I've committed a possible fix for this - see if it looks better for you

[2020-10-08 13:52] ronm123 commented on #970
@FayCross ah sorry didn't spot that. Didn't look for it but good idea to include it as an option. Yes probably best off by default for the reason you describe. At some point we'll need to list what they are somewhere too.

[2020-10-09 10:39] FayCross opened #971 "Multi-Navigator + page"
Tabbed Navigator + page to be changed to allow other types of navigator (accordion, button & slideshow)

[2020-10-09 12:35] FayCross commented on #970
Using {lastUpdated} {dateCreated} {numViews} will now load this info in projects. Variables using x_ format still exist but I've also added these simple var names following @JohnSmith-LT comments yesterday. Do we want to restrict surfacing of variables other than these? Is there any harm in allowing surfacing of any global vars?

[2020-10-09 13:09] JohnSmith-LT commented on #970
Hi @FayCross , don't think there is any harm in it, I just think that we've backed ourself into a corner on several occasions where there are things now that we can't change for fear of breaking future projects... My thinking is that at some point we will probably want/need to restructure xenith and make it modular and then a lot of the variables will not be accessible because they will be behind

[2020-10-09 13:25] FayCross commented on #970
No that makes sense re. a variables object.
I knew someone would ask about getting them to update... there's nothing to do this at the moment but it does stick a span around the text that's replaced the {...} markup with a 'globalVars' class. If we gave the span some info about specifically what it's replaced then we could get them to update on subsequent page views. The variables code already doe

[2020-10-09 13:39] FayCross commented on #970
Changed so it's now globalVars.lastUpdated, globalVars.dateCreated & globalVars.numViews Not sure globalVars is best name but can be changed before next release if needed

[2020-10-12 09:55] JohnSmith-LT opened #972 "Page links broken in Bootstrap from 3.9 onwards"
I think this is related to changes @FayCross made in september to fix links. I'm about to commit a change that 'i think' fixes it but since @ronm123 is away it will probably need @FayCross  and/or @torinfo  to double check before being pushed as a fix  since i'm not sure if it would break something else...

[2020-10-12 10:04] JohnSmith-LT commented on #972
Not sure what happened with whitespace on that commit sinc eI never chose to commit those changes?!? but anyway the important changes are at lines 1311 -14

[2020-10-12 10:11] FayCross commented on #972
I’ll try this in a bit. I‘m not sure I can recreate the problem though - I tried yesterday (develop not 3.9) & links worked fine without Page ID set.

[2020-10-12 10:52] JohnSmith-LT commented on #972
Hi @FayCross it was the manual links that you insert in the text that I found to be the problem, the page menu links work fine

[2020-10-12 21:19] FayCross commented on #972
Ah, I realised it was those links but the links I tested with were pointing to 1st page & going to 1st page was what happened when link failed (so it wasn't apparent to me that it wasn't working). Could you test this is still ok for you @JohnSmith-LT please? This should allow links with & without custom IDs to work, as well as sub-section links & links to stand alone pages (no matter where they ar

[2020-10-13 10:05] JohnSmith-LT commented on #972
Hi @FayCross this all looks good to me now...

[2020-10-13 19:37] torinfo commented on #972
@JohnSmith-LT @FayCross Should I cherry-pick both those commits to 3.9?

[2020-10-13 19:43] JohnSmith-LT commented on #972
Yeah I think @FayCross reversed mine anyway but I tested all above and they worked for me...

[2020-10-13 20:22] FayCross commented on #972
Yes please @torinfo
@JohnSmith-LT your fix worked but caused a problem if there was a stand-alone page before the page being linked to (wouldn’t be apparent in vast majority of projects!) I tested pretty extensively last night & think this is ok now. Thanks

[2020-10-13 20:23] #972 closed

[2020-10-19 15:49] kiolalis opened #973 "Encoding in greek"
In some cases I think there is a problem with encoding in greek. E.g.: in the graph of the "Opinion interaction" a popup with "&Delta;&rho;&alpha...etc." appears and in the output of the "Results Page" when we put "Download PDF File" characters are not recognized. For more details, see the attachments.

![3](https://user-images.githubusercontent.com/2521530/96474609-aa08b580-123b-11eb-8ead-41b5b25

[2020-10-26 14:26] torinfo commented on #899
@FayCross @JohnSmith-LT What can we do with this?  Is it pssible to use expression in some way? I see that [{{[a] + [b]}}] works, but can I use an expresson change the value of a variable? Something like John suggested: [b, {{[a] + [b]}}]

[2020-10-28 10:25] ronm123 commented on #899
Hi all
you'll no doubt have seen the questions about dynamic values/functionality on the forums e.g. https://www.xerte.org.uk/index.php/en/forum/wish-list/2260-varibles-manipulation-score-1 and https://xerte.org.uk/index.php/en/forum/wish-list/2258-password-coding-a-page-in-an-lo#6967
Definitely worth discussing during the next dev day but at the moment those posts have gone unanswered apart from

[2020-11-05 00:16] JohnSmith-LT opened #974 "Glossary links not working in Flashcards"
Reported on Forum

https://www.xerte.org.uk/index.php/en/forum/bugs-and-issues/2270-glossary-not-displaying-on-words-within-flashcard#6990

[2020-11-05 12:09] FayCross opened #975 "Min / max numeric stepper in editor"
Numeric steppers in the editor need to have a min & max value or else they don't work. There are some fields where this isn't particularly useful (e.g. the page timer for example is set to 1200 limit (20 mins) & there was a forum post where they wanted a 40 min timer). It would be useful for the fields to still work when min / max isn't set in xwd.

[2020-11-06 11:01] #975 closed

[2020-11-10 12:33] JohnSmith-LT commented on #974
Think this is working now...

[2020-11-10 12:33] #974 closed

[2020-11-10 12:34] JohnSmith-LT opened #976 "Learning Object Title link to home page"
This was added as an enhancement request to the Forum; question is are there any good reasons not to or to allow as an option?

https://www.xerte.org.uk/index.php/en/forum/wish-list/2282-learning-object-title-link-to-home-page#7013

John

[2020-11-10 12:41] JohnSmith-LT opened #977 "Alter Wordsearch css to make solution a little easier to see"
Based on this post https://www.xerte.org.uk/index.php/en/forum/accessibility/2255-word-search#6954 people are using wordsearch page but perhaps finding some aspects challenging.

John

[2020-11-11 13:55] ingedonke opened #978 "Video starts again in the media lesson"
Hi,

In the Dutch part of the Xerte forum we got the question if it is possible to let the video in the media lesson stop at the end instead of starting again. Is this possible?

Bye,
Inge

[2020-11-18 10:14] FayCross opened #979 "Allow WCAG Accessibility URL to be set in management pages"
Allow WCAG Accessibility link URL to be managed from management pages. You can set a different URL as the author on individual projects but to change for all projects you have to edit colourChanger.html / application.js directly which can easily be lost on upgrade

[2020-11-18 13:15] ronm123 commented on #979
Just to add to this I've also been asked the following:
whether it's possible to change the logo in each case e.g. projects and workspace.
whether where we  have the text link to the accessibility guide in colour changer should be followed by a text link to the accessibility statement in addition to the logo link we now have.

Any options added to management should probably reflect the options ava

[2020-11-18 14:10] torinfo opened #980 "dragDropLabel - hotspots are completely off when returning to the page"
In the dragDropLabel using the 'match' exercise, the hotspots are placed completely in the wrong position when returning to the page.

So the first time, everything looks ok and works fine. However, when navigating to a different page and returning, the hotspots are in a different position. I thought I already fixed that some time ago. I also see that @JohnSmith-LT changed some code on July, but I

[2020-11-18 14:49] ronm123 commented on #980
@torinfo I added this to a previous issue and commented end of Sept https://github.com/thexerteproject/xerteonlinetoolkits/issues/915 including creating an example that we all have access to in order to test and replicate.

[2020-11-18 17:27] JohnSmith-LT commented on #980
Hi @torinfo & @ronm123 does this fix sort it for you? Xenith resize code has been storing origSize in data() during the image resize code but it seems that this now wasn't persisting when you change page and return...

Since we are only supporting IE9+ I have used $image.prop("naturalWidth") and $image.prop("naturalHeight") to calculate the scaling and this seems to work on this page in my basic t

[2020-11-18 17:47] ronm123 commented on #980
@JohnSmith-LT I'll try to test before we start the dev meeting tomorrow.

[2020-11-18 19:25] torinfo commented on #980
@JohnSmith-LT Regrettably it does not seem to fix it for me. It's better, and sometimes it's ok, but not all the time.

[2020-11-19 00:23] JohnSmith-LT commented on #980
Thanks @torinfo I used one of the naturalHeight commands incorrectly but upon fixing it I was getting some strange errors where the droptargets had a left,top of 0,0 in certain situations (like returning to a drag drop page after resizing on a different page)

It seems that position().top() and position().left() have a few issues occasionally... have now changed to .css('left') and 'top' and I can

[2020-11-19 15:42] ronm123 commented on #980
@JohnSmith-LT @torinfo not sure if your testing matches mine but I did some testing locally and then added the updated model file to one of the installations where this had been reported previously and after a clearing of offline files the two examples they had on that installation seem work be working fine now even when in match mode. As I described at the end of https://github.com/thexerteprojec

[2020-11-19 15:46] torinfo commented on #980
@ronm123 @JohnSmith-LT My testing so far also is successful :-)
So I agree that these issues can be closed.

[2020-11-19 16:23] #980 closed

[2020-11-19 16:24] #915 closed

[2020-11-19 17:39] ronm123 opened #981 "borrowing functionality from or adding to the standalone pages and also deep linking etc"
Hi all
As we discussed during the meeting this afternoon...

1. It would be really useful to be able to add a link on any page that opens up another earlier or later page in a lightbox without having to make that page a standalone page set to lightbox.

2. Having opened that lightbox page it would be really useful to be able to set another xerte page link in that page to either close the lightbox

[2020-11-20 12:56] ingedonke commented on #962
This is solved.

[2020-11-20 13:04] JohnSmith-LT commented on #962
Hi @ingedonke I think this should stay open for now as it doesn't work if you have 2 different language wordsearches in the same LO, even if the first is english, then you have the second.

I plan to look at that again but just haven't had time yet!!

John

[2020-11-20 13:08] JohnSmith-LT commented on #973
Hi @kiolalis & @ingedonke

Do you have a test LO that you can share here that demonstrates this and then I can play around with the encoding? I suspect that the PDF just needs to be told what encoding to use to solve this...

John

[2020-11-20 13:34] ingedonke commented on #973
Hi John,

Here a link to an example, also a download link.
https://dev.tor.nl/~tom/xotdev/play.php?template_id=795
https://dev.tor.nl/~tom/xotdev/website_code/php/scorm/export.php?template_id=795&scorm=false

Bye,
Inge

[2020-11-22 01:50] JohnSmith-LT commented on #973
Hi @ingedonke & @kiolalis

So i've nearly ironed out all the issues. Firstly, in the Canvas, the labels were showing the full HTML entity reference (&gamma; &lambda; etc) instead of the symbol - canvas apparently cannot process them so I first rendered them in a div tag and then captured the text representation using a simple function:

function htmlToChar(h){
    return $("<div>").html(
        x

[2020-11-23 09:57] JohnSmith-LT commented on #973
Hi @ingedonke  & @kiolalis

I've now uploaded the files. I had to pretty much rewrite the results page to use the latest jsPDF since the version that we were using didn't properly support importing of unicode fonts - this also meant that I had to upgrade AutoTable and rewrite those parts to use the new API...

Since I now had to include 4 files (jsPDF, AutoTable, + normal/bold fonts) I also rewrot

[2020-11-23 10:14] ingedonke commented on #973
@JohnSmith-LT @kiolalis I will test it this week and let you know. Thanks for all your work :)

[2020-11-25 15:33] ingedonke commented on #579
Hi all,

Is this something that could be solved? So the image wil be responsive and that you can set the widht of the text to  none, small, large or something?

[2020-11-25 19:50] JohnSmith-LT opened #982 "Strange bug, LO defaults to yellow if google font doesn't load..."
@torinfo / @ronm123

Can either of you reproduce this bug? Was working on some stuff tonight and put the laptop into airplane mode as the kids were having skype music lessons. Anyway, I refreshed the LO i was working on and it loaded yellow:

![image](https://user-images.githubusercontent.com/3907362/100275156-6d755b80-2f57-11eb-8e82-c8142e1acd0c.png)

I though I must have enabled Black on Yellow

[2020-11-25 23:45] jayaich opened #983 "Play/publish object from management page gives error"
From the Xerte management page, if the 'User projects' tab is selected and a user chosen, then a user project is selected and edited, clicking on the 'Play' or 'Publish' buttons gives a small popup window simply saying 'error'.
The web server log shows:
`PHP Fatal error:  Uncaught Error: Call to undefined function is_user_admin() in <redacted>/editor/upload.php`

Unfortunately the code change to u

[2020-11-25 23:49] jayaich commented on #983
Pull request #984 created to fix this.

[2020-11-26 14:59] ronm123 commented on #982
@JohnSmith-LT @torinfo just had a look at this and it seems the attempt to load the Roboto font was coming from the Black on Yellow theme and isn't even used in that theme so I've removed it. Probably my fault that it was in there from when I added SCSS to that theme. Not quite sure why the Black On Yellow theme is being automatically loaded by xenith when an LO is set to another theme like the de

[2020-11-26 16:35] JohnSmith-LT commented on #982
Thanks @ronm123 I cannot reproduce it now so i'll close this.

[2020-11-26 16:35] #982 closed

[2020-11-30 15:10] ingedonke commented on #591
Hi,
Maybe we can also add to the list to show a line between the popup and the hotspot like the glossary does. Here an example:
![image](https://user-images.githubusercontent.com/5703781/100626771-83539980-3326-11eb-8c0d-15a99562b35d.png)
Bye, Inge

[2020-12-02 12:25] ingedonke opened #985 "Dialog page: Variables does not work in hint and/answer field"
Variables does not work in hint and/answer field of the dialog page.
![image](https://user-images.githubusercontent.com/5703781/100872278-dc940800-34a1-11eb-9bdc-10f2a2cc29cd.png)

[2020-12-07 19:40] ingedonke opened #986 "Prevent deep linking"
In certain circumstances it is undesirable to be able to deep link ta a page in a Nottingham template. For example Escape Room. Is it possible to create a optional parameter to prevent deep linking from the url?
I heard yesterday that also in other cases students are hopping pages with this technique because since the last version it is more visible in the url that is works that way ;)

[2020-12-13 15:50] JohnSmith-LT opened #987 "Duplicating a Quiz Question results in undefined in the tee navigation"
![XerteQuizQuestionUndefined](https://user-images.githubusercontent.com/3907362/102016818-cff19880-3d5a-11eb-9132-55f9d72f1846.gif)

[2020-12-13 15:52] JohnSmith-LT commented on #987
Related to https://github.com/thexerteproject/xerteonlinetoolkits/issues/713

[2020-12-14 08:38] torinfo commented on #987
@JohnSmith-LT I cannot reproduce that.
![copy_sub_node](https://user-images.githubusercontent.com/5166596/102058684-21983280-3df0-11eb-8191-97fb44ade4c1.gif)

[2020-12-14 08:39] torinfo commented on #987
@JohnSmith-LT Is this 3.9 or develop? I tested in develop.

[2020-12-14 10:39] JohnSmith-LT commented on #987
Up to date develop... XAMPP though if you think that may alter things...

[2020-12-14 10:51] JohnSmith-LT commented on #987
Hmmm I can't reproduce it now @torinfo... but i've definitely seen it before (#713)... seems to be sporadic. Will close this now and keep an eye on it

[2020-12-14 10:51] #987 closed

[2020-12-14 11:09] torinfo commented on #987
@JohnSmith-LT Does it happen if the session is expired?

[2020-12-14 11:40] JohnSmith-LT commented on #987
I don't think that was it because I just opened it last night to do a quick quiz page to get a few screenshots... As soon as you referesh it updates or as soon as you edit the field then it updates...

[2020-12-15 23:54] FayCross commented on #987
I can reproduce this - it only happens if you have renamed the label that shows in the tree during the same session. I won't reopen this though because of the existing issue https://github.com/thexerteproject/xerteonlinetoolkits/issues/713

[2021-01-19 18:03] torinfo opened #989 "not compatible with php 8.0"
The latest xampp uses php 8.0

Xerte does not work with php 8.0 yet.

[2021-01-21 11:30] ronm123 commented on #989
@torinfo I was curious about this so tested a new install with the latest xampp and PHP 8. I haven't tested extensively but in terms of the install routine I first got the following error:
Fatal error: Uncaught Error: Call to undefined function get_magic_quotes_gpc() in page4.php:28 Stack trace: #0 {main} thrown in page4.php on line 28.
If I comment that out there are 3 more errors re $magic_quote

[2021-01-21 11:35] torinfo commented on #989
@ronm123 Yes 7.4 seems to work fine

And yes you have the same observations as I have. The setup is easy to fix. Have not looked at all yet to the launching of the XOT project editor, but it is probably also easy to fix. I have not looked yet.

[2021-01-21 13:49] ronm123 commented on #989
@torinfo you may have noticed that after testing this and seeing a clean install again I updated page3.php in setup to change the default pod info for pod 1 and news/other resources pod. Well I tested that with a new install with PHP 8 and noticed that although the workspace showed what I wanted when viewing via management I was getting an error. So I thought perhaps I'd made a syntax error in pag

[2021-02-04 15:50] #986 closed

[2021-02-13 14:53] torinfo opened #990 "State handling in Nottigham template"
I thought we already had an issue for this, but I cannot find it.

If your have more than one instance of a certain pagetype in a Nottingham LO, the answers and state of these instances influence each other. @JohnSmith-LT I thought we already discussed this somewhere.

In this case it propped up fro the x of y page type. An answer of instance 1 is accepted as a corret answers for instance 2.

Do w

[2021-02-13 15:53] JohnSmith-LT commented on #990
Hi @torinfo,

We discussed at a developer day and I demonstrated the issue and a possible fix but unfortunately it hasn't moved on much simply due to severe lack of time on my part.... I think it was captured in issue #916

There is a branch called xenith_maintain_state that has the suggestions in it. Basically it creates a complete new model for each page in an array. I think I only perhaps got t

[2021-02-14 11:52] torinfo commented on #990
Hi @JohnSmith-LT,

Thank you. I'll have a look. This issue was discussed here:

https://github.com/thexerteproject/xerteonlinetoolkits/issues/915#issuecomment-664855424

I'll see what we can do...

[2021-02-17 13:34] FayCross commented on #969
I've just added an extra point above about the RSS template that's no longer useful. We could do with talking about all of this at next dev day.

[2021-02-17 13:49] FayCross commented on #990
@torinfo The old way of dealing with this was to save any data that is needed later & might be changed by other pages to an element on the page & then reference it via that element when needed. See the interactive text page for an example: there's a var groupInfo which is used but also saved to $('#pageContents').data('groupInfo') (you could do this in leavePage function if the value of the variab

[2021-02-17 13:58] torinfo commented on #990
@FayCross  Thank you for this. Good to know. The quick (very dirty) fix I did now is reset everything in the pageChanged......

[2021-02-17 14:35] #985 closed

[2021-02-17 14:46] FayCross opened #991 "New editor field for page children links"
Some pages require you to specify another item from the tree (not at page level) in order to create a link of some type. For example, the decision tree page requires you to select a child of the page (another Q or a result step) to link to from each answer option. At the moment this is done by giving each child of the page an id & typing the id into the target box to create the link. The 360 image

[2021-02-17 16:47] FayCross commented on #991
I've added this functionality to editor but need to change xwds for pages where it would be useful

[2021-02-23 17:07] ronm123 opened #992 "3rd party cookies loaded by default in Bootstrap"
Hi all
I think I mentioned this during our last meeting but I might be wrong about that! :-(

I was asked about the 3rd party cookies being loaded in a Bootstrap project and also about the need for a link to a cookie policy.
In the example shared with me there were additional 3rd party cookies being loaded because the project had YouTube and O365 content embedded but I tested new and empty Bootstr

[2021-03-04 17:01] FayCross opened #993 "Lightbox enhancements / minor bugs"
These came up in testing of 360 image page but actually apply on all page types

- [x] Allow customisation of lightbox background opacity (& colour?) at project &/or page level
- [ ] When project is shown at fixed size rather than full screen the lightbox fills & is centred on whole screen rather than just project area

[2021-03-04 17:08] FayCross opened #994 "Image 360 page enhancements & issues"
Future enhancements:

- [ ] Option for cube map images
- [ ] When initial view is set, open the hotspot editor towards this view
- [ ] Add a way of seeing other hotspots on the image when creating a hew hotspot

There are some inconsistencies between browsers:

- [ ] Tooltips can appear too narrow when they contain longer sentences (IE & Edge)
- [ ] Scene title bar text vertical alignment isn't ce

[2021-03-24 12:18] FayCross opened #995 "Peer review - problem with links in emails"
When using peer review, the emails that are sent containing submitted comments include a link to the play version of the project. This happens even when the project is private (so then the link doesn't work)

[2021-03-24 12:24] ronm123 commented on #995
@FayCross have you checked this with develop code? I think I already added a fix for this including checking if apache is true and therefore using /play_xyz as the link too. But without checking I can't remember if I removed the link if not public.

[2021-03-24 12:42] FayCross commented on #995
@ronm123 No it's 3.8. Although, having a look at the code I think this would still be a problem. This is the [file](https://github.com/thexerteproject/xerteonlinetoolkits/blob/49cd9bc20f91f9676bf241666612a41685498bc5/website_code/php/peer/peer_review.php) that sends email & there's no check done there

[2021-03-24 14:18] ronm123 commented on #995
@FayCross this is weird! I'm sure I didn't dream it and sure I tested the changes I made because I noticed the same thing as you. I may have changed the files in one of my online installs without including those changes in my commit. I don't have time right now but I'll add to my todo list to check. I'm sure my thinking at least was as follows:

Show peer link in the email if the project isn't pub

[2021-03-24 14:26] ronm123 commented on #995
@FayCross I'm not going nuts and wasn't dreaming I did fix this and have the test emails to prove it! ;-)
So I know what install I have the changes on but need to track down where I made those changes in my local files.

[2021-03-24 15:42] FayCross commented on #995
Thanks @ronm123!

[2021-03-24 15:44] ronm123 commented on #995
@FayCross try https://github.com/thexerteproject/xerteonlinetoolkits/commit/6141a65b1b70ce3d0977a3e6eb73e440f324bae7 and let me know?
Should work fine but I've added a note that I either need to add a bit more code, or use a copy, for the new feedback.php page otherwise that also includes a peer link if the project isn't public. But that feedback page isn't linked anywhere yet and @torinfo was goi

[2021-03-31 08:26] FayCross opened #996 "Warning message when deleting projects that aren't private"
It would be good to have an extra warning when attempting to delete a project where the access is something other than private. Currently you just get the 'are you sure you want to delete message' but this could have extra info in it when the project's public.

[2021-03-31 08:36] FayCross opened #997 "Keep records of deleted projects"
At the moment, when projects are deleted they are removed from the USER-FILES folder and the info about it is removed from the database. It would be useful to keep a record in the database of what was deleted - e.g. who created the project and when it was deleted instead of just having it completely disappear.

[2021-03-31 09:04] ronm123 opened #998 "another notification requirement: x has just shared project named xyz with you"
Reminded by the two new issues Fay has added about notifications etc this is another one I was asked about e.g. "Would it be possible to be notified via an alert of some sort that someone has shared a project (or projects) with me?"

[2021-03-31 09:51] torinfo commented on #998
In general, this is not that easy in Xerte. Xeret does not know the email adresses of it's users.

The email address that Xerte tries to use is the login name combined with the email domain set in the management page. If that happens to be the correct email address, we can send an email to the user.

I think we should enable useres to set their own notification emailadress and also enable them to

[2021-03-31 10:04] ronm123 commented on #998
@torinfo when I was asked about this I did mention that most Xerte installs don't have user email details but in fact the question was about a pop-up alert when logging in rather than an alert sent by email. e.g. a user with lots of projects may not spot a new project shared with them and apparently projects are often shared but the person sharing doesn't always send details via email.

[2021-03-31 10:31] FayCross commented on #996
It would be great if you could take a look @torinfo - Thanks

[2021-03-31 10:31] FayCross commented on #997
Same with this one @torinfo - I tend to stay away from anything that makes changes to database. Thanks

[2021-03-31 10:33] FayCross commented on #998
Could this be done with something like a star icon next to projects in the workspace that have been shared with you but you haven't viewed yet?

[2021-03-31 10:47] FayCross opened #999 "Deleted projects only appear in recycle bin for user that deleted them"
If I add a co-author to a project and then delete it, I can see it in the recycle bin and can no longer edit it. The co-author can still see it in their workspace and can still edit it. Ideally it should also be moved to the recycle bin of everyone it's shared with too (or perhaps just be hidden from their workspace completely)

[2021-03-31 10:48] ronm123 commented on #998
@FayCross I did wonder about some kind of visual change to newly shared projects. Could just be the name in a different colour but yes an icon of some sort might be better.
Then again combining the two other enhancements that you mentioned earlier perhaps a pop up window that shows a history of recent changes e.g. list of projects deleted, shared, updated etc.
Perhaps something to discuss during t

[2021-03-31 10:51] ronm123 opened #1000 "search workspace for project by ID"
This crops up regularly and we already have searching by project ID via management so perhaps an easy addition to the standard workspace.

[2021-03-31 11:02] torinfo commented on #999
@FayCross Interesting. I'll have a look.

[2021-03-31 11:03] torinfo commented on #998
@ronm123 @FayCross Yes, let's discuss this on the dev day. Notification by email (if the email is available) does not require a database change. All the other proposals need some kind of administartion in the database.

[2021-03-31 20:32] torinfo commented on #999
@FayCross There is a check that filters out LO's that are in the recyclebin. For whatever reason this did intentionally NOT happen for co-authors. So co-authors could still see the LO.

I fixed that.

[2021-03-31 20:34] #999 closed

[2021-04-01 12:01] torinfo commented on #996
I added functionality to warn about published projects (including enabling LTI) and also (separately) about shared projects.
Message is different for multi select and for single select.
@FayCross @ronm123 Could you please verify and change the messages is needed?

[2021-04-01 12:03] #996 closed

[2021-04-01 14:48] torinfo commented on #1000
@ronm123 It uses the search plugin functionality of the javascript tree that we use. Fortunately, the latest version adds the ability to change the search, to search on more items than only visible text of the node.

I updated the jstree.js component (used in workspace and editor) and added the capability to search for IDs. Please let me know what you think.

[2021-04-01 15:04] #1000 closed

[2021-04-01 16:57] torinfo opened #1001 "Reported by Erasmus MC - xapi_launch does not honour security settings"
If only xAPI is enabled, and xapi_launch is used, the LO does not hounour the security settings, i.e. it is possible to view a Private project.

[2021-04-01 16:58] #1001 closed

[2021-04-02 10:24] torinfo opened #1002 "New functionality that closes ligtboxes when navigating to another page results in DOMException, cross-origin frame"
@FayCross  I get an error in xenith.js when the Xerte object is embedded in (what looks like) a lightbox.
It crashes on the parent.window.$

Futureteacher uses this a lot. I don't have an example where you want to use this.

[code]

[2021-04-02 10:39] torinfo commented on #1002
See xenith.js around line 1860.

For now I've enclosed the problem code in a try block, and that works fine. Don't know if it will still close the light box you want the code to close.

[2021-04-02 10:41] #1002 closed

[2021-04-07 11:10] ronm123 commented on #995
@FayCross @torinfo I've noticed a different issue with the peer review page but seemed better just to add a comment here rather than add it as a separate issue especially as I'm not sure what specific change has caused this...
With latest develop if I now view an xot project via peer review and try the 'View in lightbox' option the lightbox flashes open but then closes immediately. The same option

[2021-04-07 12:32] FayCross commented on #995
Possibly to do with a change I made in this commit https://github.com/thexerteproject/xerteonlinetoolkits/commit/2368bfc1a4bc98a292c371c8a5929bb981b12b12#diff-f66f1c409c7dcf18db3236ef83736345c2f1d0caec82dfb7a164f3df02789631 where I force light boxes to close on page change? I think I introduced this as using page up/down keys when light box open would change page in background but still leave ligh

[2021-04-07 13:11] ronm123 commented on #995
@FayCross thanks for the pointer Fay but actually I think the cause is this later commit by @torinfo https://github.com/thexerteproject/xerteonlinetoolkits/commit/065731d1d8b5171713f2429a59e7bde812ac4995
e.g. it's the added try around 1875
`else {
		// If the whole Xerte object is loaded in a lightbox, we could trigger a DOMException (cross-origin)
		// So enclose in a try block
		try {
			if (par

[2021-04-07 13:26] torinfo commented on #995
@FayCross @ronm123
Ron, I only added the try block around the code. The actual close was added by Fay as she explained in the previous comment. As it causes more issues than just the cross-origin issue, we should probably look at a different way of dealing with the issue Fay tried to solve. For example by closing the lightbox if the pg up/pg dn key is used.

[2021-04-07 13:30] torinfo commented on #995
@ronm123 The cross origin issue I had was completely diffrent..... The Xerte object was shown in a lightbox in a completely different environment (FutureTeacher) and Xerte tried to close THAT light box. That issue was solved by adding a try ... catch block. I think we explicitly want to allow external content in a lightbox.

[2021-04-07 13:48] ronm123 commented on #995
@torinfo agree that we explicitly want to allow external content in a lightbox. And sorry if I missed that it was still the code that @FayCross added which caused this and not the additional code that you added but what started as me noticing the issue with the peer review lightbox link is obviously a much wider issue and would currently break some existing projects where lightbox links open exter

[2021-04-07 14:05] FayCross commented on #995
I’m fine for that whole block to be removed in develop & I’ll look at a better way of fixing the keyboard change page issue when I’m back. The issue I was trying to fix is probably much rarer than the issues it’s caused. When not using keyboard to change page you have to close light box to get to navigation buttons anyway.

[2021-04-12 14:51] torinfo commented on #989
This has been fixed (see 5788a93bbe699a8518c278c324bf7bba9c0bc807, 315a74b230dc1c711b8a8a3e90043e30d08c1557 and 07b2830b8149a9e362fc9216856f50f9f6463467)

[2021-04-12 14:51] #989 closed

[2021-04-12 20:22] torinfo opened #1003 "Workspace hangs sometimes - ajax handling in workspace"
The ajax routines use a singleton XMLHttpRequest structure setup in website_code/scripts/ajax_management.js

Sometimes (especially if the workspace contains meny items) the call back of the refresh_workspace is already changed to something else before the answer of the http request is received. The result is that the workspace 'hangs'.

We should refactor this code to use $.ajax calls.

As an exam

[2021-04-13 13:43] torinfo opened #1004 "Legend of graph in opinion page shows html"
The legend of graph in opinion page shows html (See also this forum message: https://xerte.org.uk/index.php/en/forum/bugs-and-issues/2496-opinion-page-which-displays-html-code-on-the-chart#7335)

[2021-04-13 13:54] torinfo commented on #1004
This already seems to be fixed by 6a387d3971d4ef800090b3529bb24286f08b9630

[2021-04-13 13:54] #1004 closed

[2021-04-23 14:41] FayCross opened #1007 "Appearance of create folder dialog"
When you create a new folder in workspace it looks like this where buttons are outside the dialog border:

![newFolder](https://user-images.githubusercontent.com/8926470/115887791-304fbf80-a44a-11eb-990d-ee10a0b654dd.PNG)

[2021-04-23 15:51] ronm123 opened #1008 "max-width optional property - changes to some page types needed for full compatibility"
I've committed the max-width optional property and set the default value to 1400px. I've tested with a typical Page Types project and all seem fine except for title, bleedingImage, mediaLesson, connectorHotspotImage, memory, and the new timeline page. Although the timeline page is currently a problem on themes that aren't full body width too.

So to add new pages or missing pages they need to be a

[2021-04-29 11:38] FayCross opened #1009 "Import button on insert page menu"
This must have been here for some time but I haven't really noticed it before. In XOT template on the last page you can insert via the insert page menu there's an extra button after the before/after/at end buttons that's labelled 'Import pages'. Is this needed or can I remove it? I think we should recommend people use the main import pages button rather than this one.

![editor3](https://user-imag

[2021-04-29 11:43] FayCross commented on #1009
I've just decided to remove this - if anyone can think of a good reason for this button to stay there then we can put it back.

[2021-04-29 11:43] #1009 closed

[2021-04-29 12:04] #1007 closed

[2021-04-29 12:24] FayCross commented on #1002
@torinfo My original change was so that if page up /down buttons were used to change page then any lightboxes open above page would close first. I've changed the whole way this is done now (https://github.com/thexerteproject/xerteonlinetoolkits/commit/0668742bbdb90810b488973c124bfb6126d3792a) so page up/down won't work to change page if there's a lightbox open. This shouldn't cause any new problem

[2021-04-29 12:58] FayCross commented on #969
@torinfo Can the RSS feed template be made inactive as part of v3.10 upgrade? I guess there would have to be something in upgrade.php that makes this change directly in the database (if active anyway - at UoN I've already disabled it manually)

[2021-04-29 13:58] torinfo commented on #969
@FayCross Will do (in upgrade.php)

[2021-04-29 14:05] FayCross commented on #993
Closing this as I don't think the second point about not having the lightbox centred (even when LO is fixed size) is actually desirable

[2021-04-29 14:05] #993 closed

[2021-04-29 14:19] FayCross commented on #39
This will be release in v3.10

[2021-04-29 14:19] #39 closed

[2021-04-29 14:22] FayCross commented on #569
Closing as this template is now deprecated now flash isn't supported

[2021-04-29 14:22] #569 closed

[2021-04-29 14:24] FayCross commented on #580
Closing as most of the issues have been dealt with & those that haven't are in issue #758

[2021-04-29 14:24] #580 closed

[2021-04-29 14:34] FayCross commented on #995
Fixed lightbox issues in peer review with https://github.com/thexerteproject/xerteonlinetoolkits/commit/0668742bbdb90810b488973c124bfb6126d3792a

[2021-04-29 14:34] #995 closed

[2021-04-29 14:39] #479 closed

[2021-04-29 14:40] #481 closed

[2021-04-29 14:47] FayCross commented on #960
Closing as you can use Ctrl click to open in new tab rather than new window: https://github.com/thexerteproject/xerteonlinetoolkits/commit/139d710cb69256071ecd7a0153f8a6a3dc582f0c https://github.com/thexerteproject/xerteonlinetoolkits/commit/58d16b98af6fce109b46a756b1653194c451c8c0

[2021-04-29 14:47] #960 closed

[2021-04-30 11:18] FayCross opened #1010 "Hide property groups when all children are removed as conditional parameters"
I want to have a group of properties in a page which are conditional on another property's value. The individual form fields are hidden correctly but it leaves behind an empty group box:

![conditional](https://user-images.githubusercontent.com/8926470/116687577-52e35a80-a9ad-11eb-9e31-a0e5e654fbc2.PNG)

I've tried also adding the condition to the group in the xwd but this doesn't work:
`<notesGro

[2021-04-30 13:06] torinfo commented on #1010
@FayCross I agree that this would be a good feature and the easiest would be to allow the condition on the group as well. I'll implament that.

[2021-05-05 11:57] FayCross opened #1011 "Changing access settings for projects that haven't been published."
If you don't publish a project but still make it live the play link will say 'This project does not contain any pages.'

It would be good to have an alert to prompt publishing if the data.xml file is empty when you change the access settings.

[2021-05-07 12:21] FayCross opened #1012 "Lightbox text same colour as lightbox background in some themes"
In themes where the text is white over a dark background the text doesn't show up in lightboxes (because the background is also white). This is a problem when images with captions are opened in lightboxes (captions don't show up) and also pages such as 360 image where other content can open in lightboxes.

- [ ] Dark: Blue Grey
- [ ] Dark: Grey
- [ ] Flat: High Contrast
- [ ] Flat: Black on Yellow

[2021-05-07 13:41] FayCross opened #1013 "Standalone pages and narration"
When standalone pages have their footer hidden any narration also gets removed.

[2021-05-07 13:59] #1012 closed

[2021-05-07 14:01] FayCross opened #1014 "MathJax doesn't load in lightboxes"
Some pages allow you to add text content that will open in a lightbox (e.g. Hotspot Image Connector, 360 Image & Highlight Text)

When MathJax is included in the lightbox content it doesn't display properly & just shows underlying MathJax markup

[2021-05-07 15:20] FayCross opened #1015 "Crossword page"
A couple of bugs with the new page:

- [x] Console shows it's trying to use various pngs which aren't part of develop - they seem to be number images e.g. 1.png
- [x] When you try to create a crossword if often says it can't use some of the words (I understand not all words may fit together to make a grid) but these often change when you refresh. So sometimes it works and sometimes it doesn't. I g

[2021-05-07 15:43] ingedonke commented on #1015
@FayCross Thx for testing. Can you share your example with me in https://xot310beta.dlearning.nl/ so I can try to reproduce this?

[2021-05-12 08:33] FayCross commented on #1015
@ingedonke I've just shared it with you. The first page is never created successfully - normally it just says it's because the word 'bean' can't be included but if you refresh it a few times you sometimes get a longer list of words that won't fit. The second page where I've removed the word bean seems to always work. On page 1 I think it would be better to just load the words it can in a crossword

[2021-05-12 12:50] #1014 closed

[2021-05-12 15:11] #1013 closed

[2021-05-13 08:55] FayCross commented on #1015
@ingedonke I've pasted Taskeshi's comments from his recent testing into this issue too. Thanks

[2021-05-14 14:22] ingedonke opened #1018 "Bootstrap print functionality adds url below picture when lightbox function is on"
Hi,
 When I activate the print option (PDF) with a bootstrap, it gives the URL in text below for each image. After I deactivated the lightbox images, the URLs of the images are no longer in the PDF.
![image](https://user-images.githubusercontent.com/5703781/118284279-8c998280-b4d0-11eb-8c8a-8b213fc6bf38.png)

[2021-05-14 14:57] ingedonke opened #1019 "Bootstrap adding a text block after a XOT, the XOT does not work anymore"
Hi,

When you add a XOT page to a bootstrap project (in this case Button sequence) and in the same section you add a text block after the XOT, the button sequens does not work anymore.
![image](https://user-images.githubusercontent.com/5703781/118288877-14818b80-b4d5-11eb-81bb-bd26b650839e.png)

[2021-05-19 09:39] FayCross commented on #1019
@ingedonke have you got a link to an example of this? I can't recreate it. Thanks

[2021-05-19 09:51] #1018 closed

[2021-05-19 11:28] #766 closed

[2021-05-19 15:36] #827 closed

[2021-05-20 10:29] ingedonke opened #1021 "Timeline media page"
@Fay It is not possible to add a link to a stand-alone page in a Xerte object. We can not find what is wrong. Can you take a look?
I added a link in the example on the https://xot310beta.dlearning.nl/.

[2021-05-20 10:45] ingedonke commented on #1019
I tried this in the xot310beta installation but it seems to work ok there and also in our 3.9 installation. So I close this issue. It had something to do with their installation I think.

[2021-05-20 10:45] #1019 closed

[2021-05-20 10:54] FayCross commented on #1021
@ingedonke is the project shared with me? I can only see projects that I've made when I login there.

[2021-05-20 10:59] ingedonke commented on #1021
I shared it now with you :)

[2021-05-20 11:25] #964 closed

[2021-05-20 11:31] FayCross commented on #878
Close as duplicate of #469

[2021-05-20 11:31] #878 closed

[2021-05-20 13:41] #1010 closed

[2021-05-20 16:04] FayCross commented on #23
You can now do this on Hotspot Image Connector page (add 'sound' optional property and change 'type' to 'auto-play'

[2021-05-20 16:04] #23 closed, assigned to nobody

[2021-05-20 16:08] FayCross commented on #442
Closing this as it's quite vague. Lots of new bits of help have been added in recent years

[2021-05-20 16:08] #442 closed

[2021-05-20 16:12] FayCross commented on #464
This can be done in v3.10 by sharing a folder of projects with multiple users

[2021-05-20 16:12] #464 closed

[2021-05-20 16:16] FayCross commented on #577
Closing as you can now open content in a lightbox rather than dialog & this is more suitable for cases where there's lots of text etc. to show.

[2021-05-20 16:16] #577 closed

[2021-05-28 11:51] #811 closed

[2021-05-28 11:53] #916 closed

[2021-05-28 11:53] #810 closed

[2021-05-28 11:53] #807 closed

[2021-05-28 12:14] FayCross opened #1022 "Bugs with gap fill answers on results page"
When in drag drop mode the answers you submit aren't always shown correctly on the results page:
- [x] If the answer given is a distractor then it doesn't show on results page & it looks like gap wasn't filled
- [x] If all answers are incorrect then the answers shown on results page don't represent what you actually did. e.g. they might be in the wrong order (so look like you put a word in gap 1 r

[2021-05-28 12:52] torinfo commented on #1022
I'll have a look

[2021-05-28 16:08] FayCross commented on #542
Closing as it's a duplicate of #582

[2021-05-28 16:08] #542 closed

[2021-05-28 16:09] FayCross commented on #445
Closing as it's a duplicate of #582

[2021-05-28 16:09] #445 closed

[2021-05-28 16:17] FayCross commented on #588
Closing this as you can now do this with conditional xwd properties

[2021-05-28 16:17] #588 closed

[2021-05-28 16:25] #665 closed

[2021-05-29 16:24] ronm123 opened #1023 "menu connector not showing ticks where buttons are generated via the first page to last page options."
Hi all
I just committed an optional property to allow the menu connector to span multiple columns. https://github.com/thexerteproject/xerteonlinetoolkits/commit/92e82d98a75c97a24dea92a6df03c958732fed94
That all works fine except in testing I noticed a bug and can't work out what's causing that bug. As far as I can see it's not my commit that has caused this because I checked on a separate copy of

[2021-05-29 19:31] FayCross commented on #1023
I made some changes to this page a couple of weeks ago so I might have caused this. I’ll look when I’m back in.

[2021-05-29 21:46] torinfo commented on #1023
I made some changes too, so I will check as well.

[2021-06-04 15:57] ronm123 opened #1024 "show title issues in Bootstrap"
Not sure if this has always been an issue or whether it's something that has changed or indeed if it's deliberate for some reason. But it was pointed out to me today that the show title option on a text element inside a bootstrap accordion navigator doesn't work. e.g. it doesn't show that title whether ticked or not. I did some testing and it's a bit more nuanced than that e.g. the nav set to pill

[2021-06-05 15:15] obgeneralao commented on #1024
Hi Ron,

I just updated to the latest devel and I still encounter this issue in the bootstrap sidebar navigation since long before.

![Xerte_1](https://user-images.githubusercontent.com/13013814/120896369-c7b44f00-c653-11eb-8af6-c9c6eba8507f.gif)

[2021-06-08 11:21] ronm123 commented on #1024
Hi all
so I've investigated the various issues with this and have a solution but having just discussed with Tom it's something we are going to delay until the next dev day because there are implications for existing projects. e.g. if we change the code so that child titles are now showing (regardless of navigator mode) where they weren't before then we potentially have lots of unwanted titles show

[2021-06-08 11:46] ronm123 opened #1026 "Bootstrap section menu issues and solution"
Hi all
adding this here for discussion during next dev day. We have a potential solution for most of this but needs discussion on the next dev day. However to summarise:
Tom reported the following (which has also been discussed on forums previously):
On the first page of a site template the  'correct' section menu is highlighted when you scroll down. This is done by switching the class 'active' on

[2021-06-10 09:52] FayCross opened #1027 "Allow redrawing of charts and tables where variables are used"
I've made a commit which allows for variables to be used in charts and tables on several pages (chart, table, sortable grid and documentation). This works on the first view of the page but the tables and grids won't be redrawn if the variable values are later changed and the page is viewed again. Variables in page text are normally changed when this is done as they are added to the page within a s

[2021-06-10 11:24] #1023 closed

[2021-06-10 12:17] FayCross commented on #78
Closing as I can't recreate this now

[2021-06-10 12:17] #78 closed

[2021-06-11 08:11] ronm123 opened #1028 "allow use of variables for images and dynamic image location and urls and dynamic url location"
This has cropped up a few times on the forum and during #Xerte21 and in other conversations particularly regarding images but also urls.

It seems at the moment we don't expose variable values to the image or url fields in the wizard or editor but would be useful if we could.

Re Images there's a discussion and response by John on the forums about a way this could be achieved: https://xerte.org.uk

[2021-06-11 10:23] FayCross commented on #1028
@ronm123 This already works in XOT & Bootstrap when you add images via WYSIWYG editor. It worked originally but had broken in an earlier release and was then fixed last year (https://github.com/thexerteproject/xerteonlinetoolkits/commit/c2dcd80098c726aa5fb8cabb1b3ef6165c1b6cc5)

It wouldn't be too hard to also get this working for images and other files added via a URL field in the editor too - th

[2021-06-11 10:37] FayCross commented on #1028
@ronm123 I've just made a quick change so that variables will now work in iframe & links added in text editor

[2021-06-11 10:39] ronm123 commented on #1028
@FayCross my immediate 'use case' doesn't require the url values to be updated via student text fields just the ability to edit a list of urls in the variable table for use in a different install rather than having to go through everywhere in a project where those urls need changing. As I was typing this I see you have made a commit so I'll pull that down and see if it works for this 'use case'.

[2021-06-11 11:06] FayCross commented on #1028
I'll have to do the same change in Bootstrap too - I'll commit that later

[2021-06-11 15:52] ronm123 opened #1029 "IE11 incompatibility with Bootstrap"
Hi all
I had it reported to me that students were saying that the Xerte bootstrap resources they were pointed to do not work in IE 11. I don't have a link to the exact example(s) but I did some testing and first I tested with our Bootstrap demonstrator https://xot.xerte.org.uk/play.php?template_id=137#page1 which works fine so I figured perhaps it was something to do with what had been added to th

[2021-06-11 15:55] ronm123 commented on #1029
Sorry if you received this via email already I had to edit because it was meant to say there **does** seem to be an incompatibility but the initial post said doesn't.

[2021-06-11 17:30] torinfo commented on #1029
We would have to use a polyfill

See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isInteger

[2021-06-14 08:44] ronm123 commented on #1029
@torinfo @FayCross So I tested this by changing the code to the following and it seems to resolve the IE 11 issue. Or at least now the test projects I'm using loads and allows navigation. But is this correct or is there somewhere else this is all used that needs testing? If ok shall I commit?
`// check if it's a valid page index
	if (pageRefType != 'id') {
		pageID = $.isNumeric(pageID) ? Number(p

[2021-06-17 15:12] torinfo commented on #1029
@ronm123 No, I don't think that's correct, but I have not been able to verify this yet. Will do so a.s.a.p.  I want to be able to include this in the release.... :-)

[2021-06-17 15:25] ronm123 commented on #1029
@torinfo @FayCross thanks for your responses here and by email.
Obviously what I pasted above didn't all go into the code display so it starts at the // and when I tested certainly worked for me. But as Fay has said it really needs testing against some examples and with reference to why it was done that way in the first place. I was surprised that it hasn't been reported before but I guess IE11 is

[2021-06-18 09:59] FayCross commented on #1029
Could you try this @ronm123 I couldn't recreate the bug in my IE11 but this removes isInteger and still works with my test projects

[2021-06-18 10:42] ronm123 commented on #1029
@FayCross could you reproduce it with the release notes? https://xot.xerte.org.uk/play.php?template_id=81
I've tested locally with a copy of that when checking the issue and now with your fix in place it works fine.

[2021-06-18 11:52] FayCross commented on #1029
@ronm123 Yes I could, but not with my local tests - even though the isInteger line was definitely being reached (not missed because of an if statement or anything like that).

[2021-06-18 11:52] #1029 closed

[2021-06-18 12:01] FayCross opened #1033 "Importing pages that include images in folders bug"
If an image (or other file) is in a folder within the media folder, the image is not included in the import when a page is imported into another project. The file path in the editor field is correct but the folder & file isn't copied over into the media folder.

[2021-06-23 12:33] obgeneralao opened #1034 "Cannot create a new folder in Workspace"
Hi,
I am having an issue where I cannot create a folder in the Workspace in the develop branch. It has been a while that I was able to create a folder. Interestingly, I can still create a subfolder under an already existing folder.
In the meantime, my workaround is, I created a folder inside an already existing folder then drag it to the Workspace. Now I have a new folder on the Workspace.

Thanks

[2021-06-23 20:34] torinfo commented on #1034
@obgeneralao Which version of Xerte Toolkits are you using? Any error messages in the php log on or in the browser's console?

[2021-06-24 06:26] obgeneralao commented on #1034
Hi
I am on **develop** branch.
Attached is the debug file when I created a new folder.
[debug.log](https://github.com/thexerteproject/xerteonlinetoolkits/files/6706806/debug.log)

[2021-06-24 09:21] torinfo commented on #1034
I cannot reproduce on my install of develop.

It would be good to see the php error log, which you can normally find in the apache2 error log.

[2021-06-24 14:30] obgeneralao commented on #1034
This what I got in apache2/logs/error_log. The timestamp is consistent with the debug.log file.

_[Thu Jun 24 06:21:38.700329 2021] [mpm_prefork:notice] [pid 1643] AH00169: caught SIGTERM, shutting down
[Thu Jun 24 06:21:52.743577 2021] [ssl:warn] [pid 19867] AH01882: Init: this version of mod_ssl was compiled against a newer library (OpenSSL 1.1.1j  16 Feb 2021, version currently loaded is OpenSS

[2021-06-27 14:56] torinfo commented on #1034
Ok. So that does not explain anything. Are you using the latest develop? I still cannot reproduce.

[2021-06-27 15:01] torinfo opened #1035 "Textcorrection page stays blank"
@FayCross  An existing textcorrection page gives a blank page. The code stumbles on line 133 that seems to be added by you on May 19, 2021. Specificlly it stumbles on $(answer), where answer is a string.

Does that ring any bells?

[2021-06-27 19:09] FayCross commented on #1035
@torinfo I've just had a look at this and I think it's related to answer in xwd being changed from type="textArea" to type="script". I think this was done to make sure it's just plain text being added (otherwise marking wasn't done reliably). The line it's failing on for you is making sure any line breaks in the text from the script field aren't lost when shown on screen. Not sure why your example

[2021-06-27 19:33] torinfo commented on #1035
Yes, sure. I'll place it in xot310beta and share with you so you can export if needed.

[2021-06-27 19:41] torinfo commented on #1035
@FayCross LO 27 is just the textcorrection page that shows the problem in xot310beta.dlearning.nl. It is shared with you.
Thank you for looking into this. Let me know if you want the zip file.

[2021-06-27 20:58] #1035 closed

[2021-06-27 21:03] FayCross commented on #1035
I think this fixes it.  $(answer) doesn't seem to have been doing anything useful - I think I must have changed lines above this and not taken this out. I've removed it and tested with your example & newly created pages & they seem to work ok.

[2021-06-27 21:04] torinfo commented on #1035
@FayCross Thank you!

[2021-06-29 12:16] torinfo commented on #1034
Ok, I probably fixed this in d5b2b0046a10d4b5c79e7e733afcbeb1bfc9885c. Could you please verify?

[2021-06-29 12:17] torinfo commented on #1034
Still do not understand why I could not reproduce, but it was definitely a bug.

[2021-06-29 12:37] obgeneralao commented on #1034
Hi,
This is very interesting. I still could not create new folders in Workspace using Google Chrome and Edge even updating the develop branch. However, I successfully created the folder in Workspace with IE 11.

[2021-06-29 12:41] torinfo commented on #1034
Caching?

[2021-06-29 12:45] obgeneralao commented on #1034
There. It is working now in all 3 browsers. Thank you very much.

[2021-06-29 12:49] #1034 closed

[2021-07-01 14:29] FayCross opened #1036 "Group sharing tab in project properties"
The group sharing tab still shows in project properties when there are no groups available to share with. Could this be hidden unless there are groups available? This is assuming that the groups have to be set up in the management pages - or am I missing something and users can set up their own groups?

[2021-07-01 15:25] FayCross opened #1037 "Hotspot Question bugs"
- [x] There needs to be a way of viewing what the correct answers were if you didn't get them all right
- [x] If you complete activity the page is locked to new selections but if you then resize the page you can start clicking hotspots again
- [x] Ideally the string 'You have x answer(s) right and y wrong' would change if all are correct to something like 'You have selected all correct answers' an

[2021-07-01 16:42] FayCross opened #1038 "Misleading notes text"
The notes tab in project properties says 'These notes are only visible to yourself' but they are also visible to co-authors on the project. Should we just change the label on this to make it clear that they aren't completely private or is there a way to have separate notes for each user who has access to a project (probably much harder to do)?

[2021-07-02 08:21] #1038 closed

[2021-07-02 11:41] FayCross opened #1039 "Bootstrap preview %TRACKING_SUPPORT%"
When creating a new Bootstrap project in v3.10 '%TRACKING_SUPPORT%' can be seen at the top of the project on preview.

Although this doesn't stay on screen in this way when previewing existing Bootstrap projects (made before upgrading to 3.10) it can be seen briefly flashing on screen and then disappearing when the project has loaded.

![newBS](https://user-images.githubusercontent.com/8926470/124

[2021-07-02 12:05] ronm123 commented on #1039
This appears to be because site preview.php doesn't contain `$page_content = str_replace("%TRACKING_SUPPORT%", $tracking, $page_content);` whereas site play.php does. I just added that line to preview.php and it seems to resolve the issue. Shall I commit that?

[2021-07-02 12:51] FayCross commented on #1039
@ronm123 sounds like that will do it. I thought it wasn't showing when previewing older projects but it seems like it's there but the pages are slightly scrolled down (so it's off the top of the screen). Thanks

[2021-07-02 12:59] ronm123 commented on #1039
@FayCross have committed so will close the issue. I'm sure @torinfo will advise if it isn't as simple as that! ;-)

[2021-07-02 12:59] #1039 closed

[2021-07-02 15:44] torinfo commented on #1039
Thanks @ronm123 and @FayCross Yes, that should do it. I'll cherry-pick later to 3.10

[2021-07-02 15:45] #937 closed

[2021-07-02 15:45] torinfo commented on #1036
@FayCross Fixed this, will commit later and cherry-pick to 3.10

[2021-07-02 15:46] torinfo commented on #1037
@FayCross Will have a look

[2021-07-02 16:00] FayCross opened #1040 "MathJax appears duplicated in Gap Fill & Sortable Grid pages"
Gap Fill - drag a label containing MathJax to the correct gap and then move to a different page and back again. The MathJax now shows duplicated below the label:

![gapfill](https://user-images.githubusercontent.com/8926470/124299774-b88ec700-db55-11eb-82b9-41fa97a46331.PNG)

Sortable Grid - when dragging labels in the grid you see hints in the background to show which other labels will be moved a

[2021-07-02 16:24] torinfo commented on #1036
Fixed in fc3f136178b6fe0bf5510ae360fdab1cc3a53934

[2021-07-02 16:24] #1036 closed

[2021-07-07 13:35] ingedonke opened #1041 "Text correction page correct answers shown navigating back"
Hi,
If you navigate in the LO and do not fill in the answers in the Text Correction page and then go back to that page, you get the right answers and you can't do the excersise (see screenvideo). Can someone take a look? The status is 'Find (Mark at End)'.
https://www.screencast.com/t/qWrZOsizsZa
Bye,
Inge

[2021-07-21 13:15] #579 closed

[2021-07-21 14:01] ronm123 opened #1042 "further improvement needed to upload limit error messages"
I had a request to change an upload limit on a server I look after and in fact it was to reduce the limit back to what it was following a temporary increase. This all worked fine in terms of reviewing PHP info values but I asked my contacts to test uploading files above and below the limit and it seems there is some variation in the error message displayed.
So the PHP max_upload_filesize is set to

[2021-07-23 10:29] #284 closed

[2021-07-30 09:27] ronm123 commented on #992
Hi all
there weren't any responses to this and I've been asked about it again so I'm going to re-list and prioritise the questions/actions:

1. In the site rloObject.htm we have the following:
`<div class="addthis_sharing_toolbox"></div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50f40a8436e8c4c5" async="async"></script></div>`
This means that even if th

[2021-07-30 11:33] torinfo commented on #992
It is not difficult to laod a script dynamically. We already do that with the theme's js file in xenith.js using $.getScript. (Also script.js is laoded dynamicaly but I do not understand what it's for).

2. Yes, I think it would be good to switch them off by default, and using verion seems like the best solution for that.
3. I think in tis case we could change our version of mediaelements.
4. What

[2021-08-02 12:41] ronm123 opened #1043 "Questions about use of conditional variables and perhaps json structure..."
I've been asked about the following:
-------------------------------------------------------------------------------------------------------
Do you know if there is a simple way to build variables in Xerte that have a number of properties associated with them?  For example

Name =sodium (melting point =56, group =1, valency=1)
Name=potassium (melting point =88, group=1, valency=1)
Name =chlorine (

[2021-08-05 10:59] FayCross commented on #1043
There's no easy way to do this just with variables but you can use variables and some custom script to get this working. See this example [https://xot.xerte.org.uk/play_278](https://xot.xerte.org.uk/play_278) - refresh the page a few times and you should see the data change.

Add variables to project containing placeholder vars for all the info you want to get:

![vars](https://user-images.githubu

[2021-08-05 11:01] FayCross commented on #1043
You can use these in the script fields to get and set variable values:
[code]

[2021-08-05 11:08] ronm123 commented on #1043
Thanks @FayCross I'll pass the info on.
Shall we leave the issue open and discuss on the next dev day?

[2021-08-05 11:11] FayCross commented on #1043
Yes, it feels like there should be a simpler way of doing this with just variables but the problem is getting the info into the editor. The way I posted above should work though - from the way your question is worded I guess the user isn’t unfamiliar with code to attempt it like this.

[2021-08-05 11:45] ronm123 commented on #1043
@FayCross I don't know the user as I was asked about this by someone else on behalf of the user. But yes I came to the same conclusion so will pass your suggestions on and see how they respond. I'm aware of how some other tools try to make this kind of thing easier for authors rather than just pure code so yes let's add as an agenda item for the next dev day.
Thanks
Ron

[2021-08-09 11:53] torinfo opened #1044 "Glossary in bootstrap does not work on mobile devices (works in Nottingham)"
In bootstrap template you cannot click on glossary words. So Glossary works only with mouse-over. That does not work on mobile devices.

In Nottingham, this does work.

[2021-08-11 13:58] FayCross opened #1045 "Group sharing enhancements"
Some ideas of how the new group sharing functionality could be improved:

- [ ] Allow all Xerte users to view who is in a group before sharing a project with them
- [ ] Allow a member of a group to view who else is in it by clicking the group's folder in the workspace
- [ ] Allow users to remove themselves from a group without the Xerte administrator having to do it
- [ ] Create a group administra

[2021-08-11 14:42] #1044 closed

[2021-08-21 09:42] obgeneralao opened #1046 "Enable resuming does not work on some page types where # is amended in URL"
Hi,

I am in develop branch. I have a few of  **Tabbed Navigator +** contents and whenever I refresh my preview (F5), it brings me back to the very first page, not to the (updated/refreshed) current page.

[2021-08-21 18:21] torinfo commented on #1046
@obgeneralao @FayCross Indeed. It's caused by the fact that somehow if you select a tab, the #page anchor is removed from the URL!

[2021-08-28 07:23] GaneshKandu opened #1048 "SQLSTATE[HY000] [1045] Access denied for user 'user'@'host' (using password: YES)"
Hi,

I am getting this issue while install of 3.10 (git v3.10.4-3-g176ec48) ( Downloaded from [https://xerte.org.uk/index.php/en/downloads-1/category/3-xerte-online-toolkits](https://xerte.org.uk/index.php/en/downloads-1/category/3-xerte-online-toolkits) )

```SQLSTATE[HY000] [1045] Access denied for user 'user'@'host' (using password: YES)```

MySQL 5.5.62
OS Centos 6
Browser FireFox 91.0b6
PHP 5

[2021-08-30 08:35] torinfo commented on #1048
@GaneshKandu I downloaded the same zip file and installed it on xampp. That works fine.

So, in principle, it works. There are 3 locations where you need to supply a username and password. Two of those are related to MySQL, one is not.

The first username/password needs to be a mysql user that is allowed to create a database. It is on the age where you specify the mysql server (localhost y default

[2021-08-31 09:50] GaneshKandu commented on #1048
Thanks !

[2021-08-31 09:50] #1048 closed

[2021-09-01 10:02] FayCross opened #1049 "Positioning of glossary tooltip"
Reported on [forum](https://www.xerte.org.uk/index.php/nl/forum/bugs-and-issues/2635-word-list-woordenlijst-in-dutch-only-partly-displayed#7633)

When glossary definitions take up quite a lot of space (e.g. when they contain images) they can be cut off so you can't view the whole definition.

[2021-09-02 14:15] FayCross opened #1050 "Lightbox links bug when in tables"
Lightbox links added to text in tables doesn't always work. When the link works the HTML looks like this:
`<td data-featherlight="iframe" style="text-align: center;"><a data-featherlight="iframe" href="https://www.nottingham.ac.uk/toolkits/play_8203">Test</a> links
      </td>`

and when it doesn't work (the lightbox opens but the iframe remains blank) the HTML looks like this:
`<td data-featherli

[2021-09-02 14:51] FayCross opened #1051 "Error when disabling save session button (if it doesn't exist)"
When a project does not include the save session button, adding the navigation buttons optional property and unchecking 'save session button' causes errors and the header and footer bar don't load.

[2021-09-08 18:46] ingedonke opened #1052 "Bootstrap jumping to embedded xot page"
When I add a single page to a bootstrap learning object it sometimes jumps to that embedded page instead of staying on top. See this example: https://xot310beta.dlearning.nl/play.php?template_id=51
I shared the learning object with the demo team in https://xot310beta.dlearning.nl/

Not all pages behave like this by the way. I can't figure out why some pagetypes do this and some don't. For example

[2021-09-08 20:57] torinfo opened #1053 "fillGap missing Check button"
@FayCross I think you added a <span tabindex='0'>  to the fillGaps page for accessibilty reasons (on line 201).

Strangely enough, a <table> within the <span> has a height of 0. This causes the Check button to be placed at a really strange location, or not visible at all. I don't understand why the table would have a height of 0.

If I give the span a 'display:block'  that does not change anything

[2021-09-09 10:38] ronm123 opened #1054 "Quiz page focus issue"
Reported by OU on forums https://www.xerte.org.uk/index.php/nl/forum/accessibility/2661-quizzes-and-audio-player-controls#7649

When selecting next question in a quiz the focus jumps to the top of the page but should stay in the quiz controls.

[2021-09-09 10:41] ronm123 opened #1055 "Audio controls accessibility when colours are changed"
As reported by the OU on the forums https://www.xerte.org.uk/index.php/nl/forum/accessibility/2661-quizzes-and-audio-player-controls#7649

Possible issue with accessibility of audio controls when colours are changed.

[2021-09-09 15:05] FayCross opened #1056 "Remove default/full screen button from footer?"
Is this button actually useful anymore? Should we remove it by default and only show it if the display mode has been set to fixed size? In the vast majority of cases I can't see it as being useful.

[2021-09-10 15:45] ronm123 opened #1057 "Problem with Access > Other if a url contains hyphen"
This issue cropped up during testing today that if the url added under other contains a hyphen e.g. https://xerte-site.org.uk then when you click Change Access it looks like the correct value is saved but when you click away from the access tab and/or revisit the Access properties then the value in the form field is stripped back to before the hyphen e.g. displayed as https://xerte

The text at th

[2021-09-14 14:55] ronm123 commented on #1052
I've had this reported from elsewhere too and the suggestion is that it's something that has changed with 3.10 e.g. happens on existing resources where it didn't happen before the 3.10 upgrade. Also that the page type doesn't matter e.g. happens if the flash card page is the first page too.

It looks like it's an issue with 3.10 xot projects not a problem with Bootstrap. e.g.
A 3.9 XOT project emb

[2021-09-15 15:06] ronm123 commented on #1052
@ingedonke @torinfo @FayCross I'm getting reports of this problem from elsewhere now too. Obviously it doesn't stop the bootstrap project loading but the jump is very noticeable and especially bad when the embedded LO is on the first page too.
Are you able to replicate this and any idea how to resolve it?

Here's a demo on xot.xerte.org.uk which is a copy of our bootstrap demonstrator with the emb

[2021-09-15 15:07] ronm123 commented on #1057
Thanks for fixing this @torinfo will close the issue.

[2021-09-15 15:07] #1057 closed

[2021-09-15 15:17] FayCross commented on #1052
@ronm123 I'll have a look into this now

[2021-09-15 15:30] FayCross commented on #1052
@ronm123 it was to do with the x_focusPageContents function that you added in February. I've got it to just ignore that if the project's being shown in an iframe but you might want to check that's ok as I haven't looked at what the purpose of your code was and whether it's still important when the project's embedded

[2021-09-16 08:25] ronm123 commented on #1052
@FayCross thanks for looking at this and committing the solution. I've tested and can confirm it resolves the reported issue and reflecting on this it makes sense that the focus on first load of the LO should only happen when the LO itself is the main focus. But I'm guessing (because I haven't checked yet) that the same function is called on page change too which probably means that checking that

[2021-09-16 08:28] FayCross commented on #1052
@ronm123 - yes, I did wonder whether something else needed to be added to account for when it's embedded but does actually need to be in focus. Let me know if you need a hand with any of this later.

[2021-09-16 09:24] #991 closed

[2021-09-16 10:09] ronm123 commented on #1052
@FayCross I've had a quick look and test now and yes we need something else to be added so that it works when using the XOT embedded but I'm not sure what the best solution for that is. Obviously this was part of the accessibility fixes and as per the comment around line 2475 //focus pageContents after page load and page change.
So as it stands now with the self == top condition added it works as

[2021-09-16 10:16] torinfo commented on #1052
There is a completely different way we could fix this and it would solve another issue as well, but has its own challenges:

When embedding a XOT object in a bootstrap, and the bootstrap is started with LTI/xAPI, all the embedded XOTS are also started with LTI/xAPI. This has the unwelcome side effect that all embedded LO's are tracked/launched even if the user is not actually interacting with them

[2021-09-16 10:17] torinfo commented on #1052
@FayCross @ronm123 See above...

[2021-09-16 10:41] ronm123 commented on #1052
@torinfo @FayCross hmmm it gets more and more complicated doesn't it! :-(

Does the trigger need to be an image? Could it just be a round play button (Transparent SVG image) overlaid in the centre of the LO if embedded and until clicked/activated?

So for the focus code if self == top || activated == true and I guess similar for the LTI code?

Obviously with Vimeo and YouTube etc they automaticall

[2021-09-16 11:31] torinfo commented on #1052
@FayCross @ronm123 Well... transparent overlay could be a solution. It would mean some changes to xenith though, becuase tracking should not start if embedded from bootstrap. Also, if embedded from bootstrap, there will be a get url parameter embed=true.

We should check accessibility as well. But perhaps its a good thing for accessibilty as you can make users aware that this is an embedded LO.  I

[2021-09-16 11:41] torinfo commented on #1052
@FayCross @ronm123 For tracking, the overly will not work if the first page, or the page displayed is an interaction. It will be much to compicated to change the tracking code in the individual models. So for tracking, the LO just should not start at all.

[2021-09-16 13:45] FayCross commented on #1052
@ronm123 @torinfo just committed another fix that might be quicker than looking at overlays (probably best for us to discuss that at next dev day?). Not 100% sure this is quite what you are after Ron but is a bit better than previous commit. If not in iframe then pageContents is focused on load and on every page change. If in iframe then pageContents is only focused after page change (so user must

[2021-09-16 14:25] torinfo commented on #1052
@ronm123 @FayCross That should fix the whole issue with the focus I think

Should I push this to master?

I have the whole overlay working as well, and that works fine as well as far as I can tell. But Fays fix gives us time to think this through.

[2021-09-16 14:29] FayCross commented on #1052
@ronm123 probably best placed to say whether it's ready for master. Let's talk about the overlay next Thursday

[2021-09-16 14:33] torinfo commented on #1052
@FayCross @ronm123 Yes. I agree.

[2021-09-16 14:34] ronm123 commented on #1052
@FayCross yes that sounds like a good compromise and big improvement (when in an iframe) to the focus not changing even after page change. Partly this was about a keyboard/screenreader user being able to tab/access content efficiently and when embedded in a page with other contents then obviously the tabbing/focus needs to work with all of the contents on the page not just the embedded LOs. So I h

[2021-09-16 14:52] torinfo commented on #1052
@ronm123 @FayCross Yes, that was my idea as well. Push Fays fix and show overlay on dev-dy. And yes I have a working installation we can play with. I'll create some examples and will share the links.

[2021-09-17 08:56] torinfo commented on #1052
I rolled this out to several clients who complained before, and it seems this has resolved the issue of the jumping around!

[2021-09-17 09:31] #1052 closed

[2021-09-23 09:05] FayCross opened #1058 "Yellow flash before themes load in XOT template"
On first view (before files are cached) you can often see a yellow flash before the project properly loads.

[2021-09-23 09:51] FayCross commented on #997
Other info that we might want to keep log of (copied from Trello board):

- [ ] Deleted projects (no longer deleted from database)
- [ ] Change of project ownership via management pages
- [ ] Date/time of project saves (& info about which user saved)
- [ ] Date/time of change of access (private/public)
- [ ] Creator info when a project is given to another user

[2021-09-23 10:43] #1056 closed

[2021-09-23 11:29] #1058 closed

[2021-09-23 11:41] FayCross commented on #1046
Looking into this now. This is also a problem on the following pages:

- [ ] Multiple perspectives
- [ ] Tabbed navigator +
- [ ] Thumbnail viewer
- [ ] Interactive text
- [ ] Annotated diagram
- [ ] Interactive list

[2021-09-23 12:33] obgeneralao commented on #1046
Is it possible that the nested pages(of those main pages listed above including Multi-Navigator) will have page anchors as well?

[2021-09-23 13:46] #1046 closed

[2021-09-23 13:53] #931 closed

[2021-09-23 14:11] #1051 closed

[2021-09-23 15:23] FayCross commented on #1053
@torinfo Do you have an example? It seems ok when I create a table in there:

![img3](https://user-images.githubusercontent.com/8926470/134536293-140487c6-d6c9-4651-b450-69e1bd97df41.PNG)

[2021-09-25 12:59] ingedonke opened #1059 "Interactive text page reveals answers when navigating back"
When you are on a interactive text page and go to the next page and then back the right answers are shown with a dotted line.
Here a link to an example https://xot.ru.nl/play.php?template_id=119#page17

[2021-10-03 14:24] obgeneralao opened #1060 "Fixed Display Size missing"
Hi,

The new develop branch does not have the option of 	**Fixed Display Size** in Optional Properties anymore.

[2021-10-05 15:16] ronm123 opened #1062 "accessibility issue with graphics and sound page"
Reported by OU on forums https://www.xerte.org.uk/index.php/nl/forum/accessibility/2661-quizzes-and-audio-player-controls?start=6#7697

With a graphics and sound page set to have the page text aligned left and the image and sound on the right or indeed any of the text align options other than top a screen reader reads the image and then the audio controller before the page text.

I think this is b

[2021-10-05 15:22] ronm123 opened #1063 "Accessibility issue with drag and drop labelling"
A question on the forums https://www.xerte.org.uk/index.php/en/forum/accessibility/2683-keyboard-users-how-to-access-descriptive-text-on-drag-and-drop-page-using-keys#7680 has highlighted an issue with the drag and drop labelling page when used by keyboard only users. e.g. if the text attached to each hotspot contains links those links can't be reached by a keyboard only user because tabbing away

[2021-10-06 09:24] FayCross commented on #1060
If you change the display mode to 'fixed size' then the fixed display size optional property will become available for you to add

[2021-10-06 09:44] #1060 closed

[2021-11-02 10:43] ronm123 commented on #1055
Closing this as it seems it was due to 3rd party plugins that we have no real control over.

[2021-11-02 10:43] #1055 closed

[2021-11-05 10:42] ronm123 commented on #992
Hi all we discussed this during the dev day yesterday and to quickly summarise:
I was testing using play.php to replace %addthisscript% but then the challenge was how to pick up the LO properties as to whether social icons are hidden or not. So the suggestion was to do this in application.js instead.
So I commented out the script line in rloObject.htm and then in application.js around line 1203 af

[2021-11-05 13:22] torinfo commented on #992
I think you add the script to late. If I am not mistaken, then the
'''$(".addthis_sharing_toolbox").show(); '''

Tries to laod the icons, but the script is not loeded yet. Try to load the script as early as possible.

[2021-11-05 15:03] ronm123 commented on #992
@torinfo I did have the append script line before that show icons line at first but that wasn't working so I tried it the other way around. I'll try again and then respond again...

[2021-11-07 03:54] stutteringp0et opened #1064 "Support/documentation/example site offline"
The website used for all documentation, is offline

https://xot.xerte.org.uk/

I'm loving the software, but having access to these documents would be massively helpful.  Without them, I'm feeling my way through the system - and it isn't very efficient.

[2021-11-07 06:00] stutteringp0et commented on #1063
How long has the website been down?

[2021-11-07 09:15] torinfo commented on #1064
Apologies, the website has been down since last Friday due to a configuration error during maintenance.

The website is online now. Again apologies for the inconvenience.

[2021-11-07 09:15] #1064 closed

[2021-12-15 15:15] FayCross opened #1065 "Allow users to give projects away"
It would be useful to be able to properly give a project you created to another user. At the moment the 'give this project' tab in project properties gives a **copy** of the project to another user rather than giving the actual project to the user. It would be useful for this tab to include the option to give ownership of the project to the specified user too. At the moment this is only possible b

[2022-01-06 10:13] FayCross opened #1066 "Outlook preview link issue"
When adding links to emails in Outlook you sometimes get a preview box for the link:

![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/8926470/148366397-620200ea-af10-4cb7-997b-61cbbeaa1892.png)

This includes the text 'Learning Object Title. Overview for the content below' rather than any real text from the project itself. Ideally this should be customisable in the same way a

[2022-01-06 12:00] ronm123 commented on #1066
@FayCross I can't reproduce this and don't ever see a preview when adding a link to an email. I tested the link from your example too and don't see that preview. I wondered if perhaps this was with Outlook online rather than local but quickly tested there too and don't see this. Could it be some kind of proxy server caching or something else at Nottingham picking up that preview? Do you get the sa

[2022-01-06 13:27] FayCross commented on #1066
@ronm123 The previews are apparently on by default ([Link previews](https://support.microsoft.com/en-us/office/use-link-preview-in-outlook-com-and-outlook-on-the-web-ebbfd8ce-d38e-40ef-bb8c-a5362e881163)) but in my experience they don't work consistently for all links you add. I get one for https://xot.xerte.org.uk but not if I link to a project from there - I'll play around and see if I can recre

[2022-01-06 14:24] ronm123 commented on #1066
@FayCross so according to that [Link previews page](https://support.microsoft.com/en-us/office/use-link-preview-in-outlook-com-and-outlook-on-the-web-ebbfd8ce-d38e-40ef-bb8c-a5362e881163) on the support site this does only work on Outlook.com and Outlook on the web and not local Outlook? That said I checked in my online Outlook and the option is on but I still don't get previews.

I can see the pl

[2022-01-06 15:02] FayCross commented on #1066
Good idea - I'll give that a go. None of the XOT projects I've tried seem to show the preview

[2022-01-07 10:20] FayCross opened #1067 "Twitter card code in Bootstrap bugs"
The new twitter card code is breaking Bootstrap projects. Themes no longer load correctly and %TWITTERCARD% can be seen at the top of the project so isn't being replaced with the meta tag correctly. This happens even when the twitter card optional property isn't added

[2022-01-07 10:37] ronm123 commented on #1067
@FayCross are you testing this via a local develop install? I can't reproduce via my local develop with various existing and new Bootstrap projects with and without the optional Twitter card property added. Could it be caching? @torinfo do you see this problem?

[2022-01-07 10:41] FayCross commented on #1067
It's definitely not a caching issue. I can see on https://xot310beta.dlearning.nl/ as well as local xampp. After another look it's only an issue in preview & not play

[2022-01-07 11:04] ronm123 commented on #1067
@FayCross ok so I've just added the same code from play.php to preview.php if you pull that down does that fix it for you?
I'm wondering why the same issue doesn't happen with xot project preview because the code isn't in there either. @torinfo do I need to add the %TWITTERCARD% replace code to xerte/preview.php too?

[2022-01-07 11:12] FayCross commented on #1067
@ronm123 yes that's working now. Thanks

[2022-01-07 17:12] FayCross commented on #1067
@ronm123 I looked at this quickly earlier too as I didn't know why it was working in XOT. It looks like preview.php loads play.php which is different to the way it works in the Bootstrap template.

[2022-01-08 19:48] torinfo commented on #1067
@FayCross @ronm123 Yes, xot preview just includes play.php. Probably a good idea to do the same for site and decision. I don't know why that is not done. I'll verify and if theresis no reason to keep them separately, I'll make that change because it definitely makes maintenance easier.

[2022-01-13 14:30] FayCross opened #1068 "Bootstrap section menu bug when sections are hidden"
If a Bootstrap page contains hidden sections the section menu highlighting stops working correctly:

section 1 - link to this section scrolls and highlights correctly when clicked
section 2  - HIDDEN so no link in section menu
section 3 - link to this section scrolls to correct section but highlights section 4 link
section 4 - link to this section scrolls to correct section but no highlight is sho

[2022-01-18 11:04] ronm123 opened #1069 "page links to panes in multi-nav not working"
not sure if this is already a know issue but we've noticed it on a future teacher resource and I've now tested in 3.10 and develop and it does seem this has stopped working.

e.g. multi-nav set to tabs with 3 panes tab 1, tab 2, tab 3
page links in the page text to each of the tabs which show in the page links menu as -tab 1, -tab 2, -tab 3
I think this did work but now doesn't?

[2022-01-19 11:30] FayCross commented on #1069
@ronm123 It's taken me ages to recreate this as it only seems to be when the tabs are named numerically. See this example: [Link example](https://xot310beta.dlearning.nl/play.php?template_id=59) where the links to tabs A,B,C work but the links to tabs 1,2,3 aren't right.

Does this fit with your examples where you've seen the links not working correctly?

[2022-01-20 10:35] FayCross commented on #1069
There are two bugs with links to tabs:

- [ ] Links to tabs with numeric names don't work (see link above)
- [ ] Links to tabs **on the same page** don't work

[2022-01-20 10:39] FayCross commented on #1069
@ronm123 could you see if this fixes it for you? I haven't looked at the additional bug I found yet, so make sure your tabs don't just have a number as their name when testing. Thanks

[2022-01-20 10:45] ronm123 commented on #1069
Thanks for checking this @FayCross and sorry it took you ages to find the issue with numeric names. That wasn't the issue I noticed even though I referred to creating tab1 tab2 etc to test because the FT resource where I first noticed this didn't have numeric names. However it was the issue with the links being on the same page rather than a previous or later page and those links on previous or la

[2022-01-20 10:47] FayCross commented on #1069
@ronm123 no problem. If it did work previously then it's probably the work I did sometime ago to get the url to reflect page changes that broke it as that rewrote a lot of the linking code. I think I have a fix for the other bug too so will commit shortly after testing

[2022-01-20 10:49] ronm123 commented on #1069
@FayCross just tested and yes thanks that fixes the same page issue which is great. I'll update xenith in the FT install where I noticed this and add the links back in. Actually I might wait until you've checked and committed the numeric name fix too.

[2022-01-20 11:10] #1069 closed

[2022-01-20 11:11] FayCross commented on #1069
@ronm123 second issue should also now be fixed

[2022-01-20 12:37] #1068 closed

[2022-01-21 10:07] FayCross opened #1070 "Export project download speed"
Downloading projects via the export tab in project properties can be very slow and often fails all together if project contains media. I've just had a situation where in order to download a SCORM package of a project I have had to:

1. duplicate the project
2. download an MP4 from the project
3. delete the MP4 via the media browser
4. download the SCORM zip
5. upzip SCORM, add MP4 back in & zip up

[2022-01-21 10:16] ronm123 opened #1071 "Issues with group sharing"
This is in response to a forum post https://xerte.org.uk/index.php/en/forum/bugs-and-issues/2796-group-sharing-permissions#7875 where it was reported that where a user is part of a group and where the shared project they have been given access to is shared with co-author access the shared users cannot duplicate the project.

I tested this and it seems the duplicated project is created in USER-FILE

[2022-01-21 10:24] ronm123 commented on #1070
@FayCross what's the size of the projects that are failing? Is this on your online server or via xampp? I suspect this might be a server configuration issue because although large projects can take some time in my experience they do work and shouldn't time out.

BTW from memory I think there's some fall back code involved if one of the required extensions (probably zip) is not installed/enabled so

[2022-01-21 10:33] ronm123 commented on #1071
BTW after having tested this in a workspace where I have about 6 folders and then lots of individual projects in the root I notice that the group folder appears at the very bottom of the list and therefore can be easily missed. Using the sorting options doesn't appear to affect the position of the group icon/folder. Not sure if anything can be done about this e.g. ensure that the group folders app

[2022-01-21 11:00] torinfo commented on #1071
@ronm123 No, I was not aware of this, so thanks for confirming the issue raised on the Forum (I did see that one, but have not have time to check)

The fact that the group folder is shown last is by design, but I do agree it would make more sense to show them after the user's normal folders. I'll see if we can improve on that.

[2022-01-21 11:02] torinfo commented on #1070
@FayCross Yes, please make sure that the php zip extension is installed (because it uses a much better zip library). If the extension was installed, please let me know the size of the mp4.

[2022-01-21 11:13] FayCross commented on #1070
@ronm123 @torinfo thanks - I'll look into server settings. It wasn't a huge video

[2022-01-27 13:05] FayCross opened #1072 "Skip to main content link in Bootstrap"
It would be useful to have a (hidden until tabbed to) skip to main content link in the Bootstrap template in a similar way to the one we have in XOT template. At moment you have to tab through page links & section links before you can access the main content.

[2022-02-03 09:08] FayCross opened #1073 "Allow customisations to Results page PDF"
Requested on the forum - the ability to customise the downloadable file produced by the results page so that it resembles something that's more like a certificate. More details here: [Customise the downloadable PDF](https://www.xerte.org.uk/index.php/en/forum/creating-effective-materials/2472-customize-the-downloadable-pdf-results-page?start=6)

[2022-02-03 09:39] FayCross opened #1074 "Lack of consistency in what can be used as video source in the various video pages"
From forum: https://xerte.org.uk/index.php/en/forum/general-chat/2806-interactive-video-can-i-use-a-url#7924

There's no consistency in what can be used as the source for videos when using a video on YouTube. For example, the video page will accept https://www.youtube.com/watch?v=msTEuI0eLZA (URL from browser address bar), https://youtu.be/msTEuI0eLZA (URL shown when you click share button) and em

[2022-02-03 09:45] FayCross opened #1075 "New page icon needed for Interactive Video page"
The Interactive Video page has the same icon on the page tree as the Media Lesson page. As they also contain nested items that look the same, this is confusing. This screenshot shows one of each page but they look the same:
![icons](https://user-images.githubusercontent.com/8926470/152318441-f76b802c-1aef-4e84-ba46-444a156b80da.PNG)

[2022-02-03 14:41] FayCross opened #1076 "Twittercard bug in SCORM exports"
The %TWITTERCARD% text can be seen at the top of SCORM exports:
![scormTwitter](https://user-images.githubusercontent.com/8926470/152364458-2423ac89-76df-4d5d-b714-ff75b6eeeab0.PNG)

[2022-02-03 16:04] #1075 closed

[2022-02-07 11:12] ronm123 commented on #1065
I've had a request for this now too e.g.
Would it be good to also allow a creator to transfer the ownership of their objects to other people? For example, before a user leaves the University, they can clear unused objects and pass their objects to another colleague. When the owner is unavailable, Xerte administrators can help them too.

[2022-02-07 11:18] ronm123 opened #1077 "Request for a management enhancement re indicating deleted projects in management"
I've received the following request:
On Management.php, would it be possible to display which object is in the user's recycle bin? I think it will be helpful when we transfer ownership between people. If it's in the recycle bin, we do not need to transfer them unless it's accidently deleted by the owner.

[2022-02-07 11:30] ronm123 commented on #1065
Just to add to this while it's in my mind...
I think one of the advantages of enabling a user to do this before they leave is that they may have better insight into which projects should be transferred to different users. On the other hand if this is about a user leaving in some cases at least they are perhaps more likely to do this (rather than just leave without doing it) if the option included

[2022-02-17 14:27] FayCross opened #1079 "Tabbed navigator+ page: next/previous buttons to move between nested pages"
Request from a user at UoN. On tabbed navigator + page, each tab of the navigator can contain a number of nested pages. If the tab has more than one of these then a list of links is shown at the top of the pane. It would be useful if, instead of the links (or in addition to them), the pane could contain a forward/back button to move between the nested pages.

[2022-03-03 14:11] ronm123 opened #1080 "interactive list page show first pane by default and change focus on list item selection"
On the interactive list page ideally we need to change focus to the selected pane once a list item is selected.
Also we should display the first pane by default and/or provide an optional property for this.
The following code added to an LO achieves this but need to somehow add to the model/wizard etc
`setTimeout(function(){
        $('#listHolder .listItem').first().click();
    }, 20);
$( ".list

[2022-03-04 10:40] FayCross commented on #1015
Closing this as most of bug list are now fixed. Moving around grid with keyboard could probably be slightly improved but it's not too bad

[2022-03-04 10:40] #1015 closed

[2022-03-04 10:49] FayCross opened #1081 "Crossword - marking of letters in grid relies solely on colour"
The crossword page currently uses green background on cells in the grid to indicate if they are correct. This needs to change so that the marking is also done in a non-colour dependant way. Possibly ticks/crosses after the clues when the whole word has been completed correctly. Although I this won't be simple to do as I think the the marking doesn't look at the whole word at the moment and just at

[2022-03-04 11:16] ronm123 commented on #1081
@FayCross I don't have time to check right now but is it possible to add ticks just via css with :before or ;after like we did with gapfill etc e.g. https://github.com/thexerteproject/xerteonlinetoolkits/commit/559347ad7f3d6975c8cd206f840a0f9308647293

[2022-03-04 11:18] FayCross commented on #1081
The marking is only done on the crossword at the moment (not on clues) so it would need to be ticks & crosses on every individual letter in crossword. I think that would look quite messy. I will have a look at how other online crosswords do it

[2022-03-04 18:01] #1037 closed

[2022-03-04 18:03] FayCross opened #1082 "Hotspot Question - marking of correct / incorrectly selected hotspots relies solely on colour"
The hotspot question page (when show answers is checked) uses a green outline to show the correct hotspots. This needs to be changed to also include ticks & crosses next to each hotspot.

[2022-03-04 18:19] #605 closed

[2022-03-04 18:22] #1066 closed

[2022-03-04 18:25] #471 closed

[2022-03-09 11:26] FayCross opened #1083 "Session timeout & editor error messages"
At the moment, if your session times out while editing you aren't given any indication of this and may not find out until you try to play/publish when you get the useless 'error' alert message. Most users then close the editor, not realising that they may then lose work.

- [ ] Alert users when session times out and allow them to log back in easily (ideally from within the editor)
- [ ] Provide mo

[2022-03-09 11:33] FayCross opened #1084 "Notify logged in users of upcoming downtime / log them out"
When upgrading etc. it would be useful to be able to ensure no users are currently logged to Xerte (as far as I know this isn't possible at the moment). You can prevent new people logging in but if users are already logged in then they can continue working. Is there a way to do this? Either by forcing them to log out (without losing work) or notifying them of upcoming downtime with an alert?
Also,

[2022-03-09 12:29] FayCross opened #1085 "Lockfile time limit"
Should we have a time limit for how long the lockfiles are valid for? At the moment you can have an error message that a project is locked because someone may still be editing but the date is several years old! We find quite often that lock files aren't deleted for some reason when they should have been so this isn't particularly rare. I don't know whether lock files are only updated when the edit

[2022-03-09 12:35] FayCross commented on #630
I've just opened a new issue relating to this (perhaps old lockfiles can be ignored after a certain amount of time) - https://github.com/thexerteproject/xerteonlinetoolkits/issues/1085

[2022-03-10 09:59] FayCross commented on #1008
@ronm123 I'm looking at fixing something on bleedingImage page at the moment so was going to also get it working with max width optional property. I've added it to workingPages array and the page seems to work ok with no other changes. What is it you think should be changed? If the image is set to be against the edge of the screen (no image margin) then when max width is on, it's moved over to be

[2022-03-16 13:38] FayCross opened #1086 "Workspace folders bug in develop"
The workspace list of projects no longer shows any folders (so you can't access projects within existing folders). If you try to create a new folder you get an 'error creating folder' message and no folder appears. It looks like the folder is created in database but doesn't show in workspace. Probably one for you @torinfo!

I first saw this in xampp but it's also a problem on https://xot310beta.dl

[2022-03-16 13:43] FayCross opened #1087 "Allow access to editor when project is shared as read-only"
At the moment read-only access to a project only gives viewing access to a project (edit button is disabled). It would be useful to allow read only access to editor so that people can view how a project has been made without being able to edit it. You can give copies of projects to people if you don't want them to edit the original but obviously then if you change the original then they can't view

[2022-03-17 10:31] torinfo commented on #1086
@FayCross Is this better? I think it is still broken for import pages.

[2022-03-17 10:32] torinfo commented on #1086
See https://github.com/thexerteproject/xerteonlinetoolkits/commit/654a43702ff7c9ee487e7f980749011ced03b256

[2022-03-17 11:53] FayCross commented on #1086
@torinfo yes - that's fixed in Workspace but it doesn't show folders when importing pages in the editor. I do also still see the error creating folder message when creating a folder but the folder does appear anyway

[2022-03-19 13:41] torinfo commented on #1086
@FayCross Thank you. I'll check the other issues early next week.

[2022-03-23 09:37] FayCross opened #1088 "Including HTML tags in ckeditor text"
Sometimes users want to include HTML tags (that are visible on the screen as text) in their project text. If you type HTML tags into the ckeditor when not in source view it will automatically use &lt; for < and &gt; for > so the tag appears as text on the page. When you preview the project it show the tag as expected. However, when you move to a different page in the editor and then back, the &lt;

[2022-03-25 12:12] #1082 closed

[2022-03-29 13:48] ronm123 commented on #1086
@FayCross @torinfo I've only just noticed that this applies to 3.10.5 too? So installations upgraded to 3.10.5 aren't showing folders in the workspace! Or am I using an earlier 3.10.5 and the fix was added later?

[2022-03-29 14:53] ronm123 commented on #1086
@torinfo @FayCross I noticed the other day that my local develop wasn't loading any longer but didn't have time to investigate at the time. I don't know if this is due to these changes in display_library.php and I don't know why you aren't getting the same problem? With debugging on I get a blank screen but with debugging on I get the following error:
Parse error: syntax error, unexpected ':', exp

[2022-03-29 15:00] ronm123 commented on #1086
@torinfo is this perhaps a PHP compatibility issue? My local xammp is PHP 5.6.8 and in our release notes we say PHP v5.1.2 or later.