[2022-03-29 15:08] torinfo commented on #1086
Yep. This function (on line 365) specifies a return type, which is supported, starting PHP 7.0. I would suggest to just remove the
': bool'.
Can you test and commit, or do you want me to do it.

[2022-03-29 16:28] ronm123 commented on #1086
@torinfo was offline but just got back in and tested and although that removes the error and I now get further with the header and footer loading the left and middle panes of the workspace are completely empty.

[2022-03-29 19:23] torinfo commented on #1086
@ronm123 Could be caused by other compitibility issues with PHP 5.6. To be honest, would be easiest to drop support for that.

No errors in the PHP log?

[2022-03-30 08:24] FayCross commented on #1086
@torinfo do we need to add something to release notes ASAP about requiring a higher version of php or are these changes only affecting develop and not released code at the moment?

[2022-03-30 09:07] ronm123 commented on #1086
@FayCross @torinfo I think it's only affecting develop installs at the moment but I agree if we are having to change the minimum compatibility then we need to make that known prominently and not just in the release notes but on the download page and set up screens too. Obviously it's long overdue that we specify and move to a later minimum version of PHP and even 7.0-7.3 are EOL. But I guess we co

[2022-04-02 03:21] obgeneralao commented on #1046
This issue reoccurs in the **master** branch.

[2022-04-02 09:33] torinfo commented on #1046
@obgeneralao Master is the current release. The last release was on June 30, 2021. So this fix is not in master yet. This will happen on the next release.

[2022-04-05 09:23] cyberhomeless opened #1089 "CSRF and XSS chaind"
testing your web application i found two security issue that lead to exploit admin i explained the issue in my repo:
https://github.com/cyberhomeless/vulnerabilitys/blob/main/xerteonlinetoolkits/XSRF.md

![image](https://user-images.githubusercontent.com/66825349/161722978-3df98d61-48a4-4b0b-8224-725dde031bdc.png)

[2022-04-13 11:56] FayCross opened #1090 "Management: User projects bugs"
I've just used the user projects functionality in management for the first time since upgrading and have come across a few odd things.

1. When viewing a list of projects owned by a user, projects sometimes appear more than once. This seems to be related to how many people the project is shared with. For example, if a project is shared with one other user then the project appears in the list twice

[2022-04-13 12:01] FayCross commented on #1077
It would also be useful to know which projects are live (not private). This (and whether it's in recycle bin) could be done with icons next to the project's name

[2022-04-13 16:44] FayCross opened #1091 "ckeditor - fill empty blocks"
A previous change to the ckeditor config file (https://github.com/thexerteproject/xerteonlinetoolkits/commit/5854aa14057895ae8e8424295f70fa18838b945b) means that the layout of pages created before this change, where empty lines are used to space out text, changes once the page is viewed in the editor and published (even if no changes are made to the text on that page). This is confusing to authors

[2022-04-13 16:49] #983 closed

[2022-04-21 09:00] #1091 closed

[2022-04-22 12:23] FayCross commented on #1090
Fixed appearance and scroll bar issues in https://github.com/thexerteproject/xerteonlinetoolkits/commit/f211612c323c4bd2166d2e5bdd2c48080bb8b02a and I've added a few new bugs to list above

[2022-04-22 12:29] FayCross opened #1092 "extend.php - not working"
Should we just remove extend.php? The login page looks terrible and nothing works once you've logged in anyway.

[2022-04-22 13:24] FayCross opened #1093 "Folder properties not working in develop"
In the workspace, when you select a folder and click 'i' the folder properties don't appear. You instead see the same list of tabs as you would normally see for a project but with an error message at the top.

The workspace folder properties and project properties still work correctly.

This is a bug in develop but not in v3.10

[2022-04-22 13:30] FayCross commented on #1092
Possibly related to this - what should catalog.php do? It shows login box but shows permission denied with both admin account and normal user login

[2022-04-22 18:09] ingedonke commented on #591
I've got a question about the hotspot connector. The request is if we can add hotspot icons like in the 360 page and the Interactive video page. And also that the popup is connected to the hotspot. They also make an example drawing. Is this something we can do?
Maybe it is also possible that the user could add normal images to the 360 page?
![index](https://user-images.githubusercontent.com/570378

[2022-04-22 18:20] ingedonke opened #1094 "3D image page"
I got this request. "We now have the 360° image. But we would also love to have a page for 3D images. So you can walk around a 3D figure and see it from all sides can view. And then on with options for adding hotspots, audio, interactions (go to page)."
Is this something we can do?

[2022-04-27 14:51] FayCross commented on #591
I like the idea of being able to upload normal images to 360 image page - or maybe just having a separate 'interactive image' page.

[2022-04-27 15:05] FayCross commented on #1094
[Online 3D Viewer](https://github.com/kovacsv/Online3DViewer) allows you to embed 3D models ([e.g. embed in Xerte page](https://xerte.nottingham.ac.uk/play_40066)). It's open source so might be possible to properly integrate into a new Xerte page with hotspots etc.

[2022-04-28 13:43] #1026 closed

[2022-04-29 09:40] FayCross opened #1095 "Incorrect username/password error message"
If you get username/password incorrect when logging in, the boxes just clear with no error message. An error message should be added. Requested on forum

[2022-04-29 09:57] ronm123 commented on #1095
I think if any work is done on this it's also worth tracking failed login attempts and reporting that somehow. Perhaps to whatever email is stored in management or a log file.
Also re the failed login I suggest we just say failed username or password rather than reporting which is incorrect.

[2022-04-29 10:15] ronm123 commented on #1093
@FayCross I've just tested this with my local xampp develop and in fact if I select a folder and then select properties all I get is an empty grey window. However testing via an online install that is develop I get the same as you e.g. select a folder and select properties but the properties window shows project properties rather than folder properties. I checked on a couple of 3.10.5 installs and

[2022-04-29 11:35] torinfo commented on #1093
@FayCross, @ronm123 Yes, I need to look into this. This is caused by a merge that only partially succeeded. I'll clean up the mess (hopefully today).

[2022-04-29 12:43] #1070 closed

[2022-04-29 12:45] #1059 closed

[2022-05-03 01:05] JohnSmith-LT commented on #1081
This probably needs someone to rework the css file as I've just hijacked the gapFill css section to add ticks and crosses on the :after pseudo element instead of the :before. Probably needs some more extensive testing also...

[2022-05-03 01:40] JohnSmith-LT commented on #1076
Hi @FayCross does this fix it for you?

[2022-05-04 09:12] FayCross commented on #1081
@JohnSmith-LT I can see the ticks being added next to the clues after I submit my answers but they always seem to be ticks - even when the wrong answer is submitted

[2022-05-04 09:16] FayCross commented on #1076
@JohnSmith-LT yes, that's fine now. Thanks

[2022-05-04 09:16] #1076 closed

[2022-05-04 09:20] JohnSmith-LT commented on #1081
Probably something I'm overlooking for some fringe cases @FayCross - I only did a bit of testing but it was seeming to work fine:

![image](https://user-images.githubusercontent.com/3907362/166654355-0d85dc7c-9a08-49d7-bde7-23919948a733.png)

Can you share your example that doesn't work and i'll try to figure out where it's going wrong?

[2022-05-04 09:23] JohnSmith-LT commented on #1081
Is your Capitalisation on? Both of these have it on, image above was 3 attempts, image below was single attempt:

![image](https://user-images.githubusercontent.com/3907362/166655014-a4abbbaa-d6e4-426d-8755-18df43289d11.png)

[2022-05-04 09:26] JohnSmith-LT commented on #1081
In fact, scrap that, I also tried with mixed letters and it seems to work for me:

![image](https://user-images.githubusercontent.com/3907362/166655434-25ecb713-90ad-455c-b5b4-7801516fe497.png)

[2022-05-04 09:34] FayCross commented on #1081
I'm not changing any settings - just creating a crossword page & adding words to it. I've done a bit more testing and it's odd. See this example: https://xot310beta.dlearning.nl/play.php?template_id=66

Page 1 works:
![crossword1](https://user-images.githubusercontent.com/8926470/166656387-b113a20d-5dfc-46a9-9411-53d2b068a485.PNG)

Page 2 doesn't:
![crossword2](https://user-images.githubuserconten

[2022-05-04 10:37] #388 closed

[2022-05-04 10:38] JohnSmith-LT commented on #1081
Ah right, that's my fault then @FayCross because I'm matching the words to the contents of the <p> tags in the Across/Down fields... didn't think about different words/clues... Not sure why they are all being considered correct though?!?

Leave that with me...

[2022-05-04 11:15] FayCross opened #1096 "Alt text on images opening from lightbox links"
When a link is created that opens an image in a lightbox, there is no way to add alt text for that image. There needs to be a new field in the link dialog:

![imgLink2](https://user-images.githubusercontent.com/8926470/166670980-cfaef132-9beb-4bd2-8550-e3dd07e7a3ba.PNG)

[2022-05-04 12:02] JohnSmith-LT commented on #1081
Try that latest commit @FayCross, seems to be working with those cases now:

![image](https://user-images.githubusercontent.com/3907362/166677395-cb7dc50d-f9e0-41f4-b15b-e6fadb4b59e3.png)

[2022-05-04 12:26] FayCross commented on #1081
@JohnSmith-LT thanks, that's working for me too now

[2022-05-04 12:26] #1081 closed

[2022-05-05 08:33] FayCross commented on #1096
@JohnSmith-LT I think that works fine but I'll keep open until Ron has tested. Thanks

[2022-05-05 09:17] JohnSmith-LT commented on #1074
Hi @FayCross and @ronm123 this commit possibly has the chance to break the most LOs so probably needs testing with a lot of LOs that contain videos, across all the pages that can have video added.

I've basically intercepted all the video URLs and if any match a current YouTube or Vimeo format then the URL will be changed into the most basic of each URL. Currently i've tested with the 43x differen

[2022-05-05 10:03] JohnSmith-LT commented on #1096
Thanks @FayCross

[2022-05-05 10:11] FayCross commented on #1074
@JohnSmith-LT I haven't tested this yet but it's worth tagging @torinfo in this too. In last dev meeting he was talking about moving all pages that use mediaelement for video to use popcorn instead. Not sure if that will affect any of this.

[2022-05-05 10:18] JohnSmith-LT commented on #1074
Thanks @FayCross, Yeah I wondered whether I should have tagged @torinfo in this too...

Some of the pages already use PopCorn obviously and a few of those urls above didn't work on those pages but because the function is basically just translating to a known good url then it can probably just be incorporated into that check. It shouldn't cause any issue I don't think, I think it's more important t

[2022-05-05 12:45] torinfo commented on #1074
@JohnSmith-LT @FayCross We did migrate a lot of the pages to popcorn (as I have implemented xAPI tracking in popcorn). Also, because of the plugin setup of popcorn it's easier to add services like vimeo and youtube. We've added peertube.

I'll look into the code and see where we can put them in popcorn.

The code is in the torinf fork of xertetoolkits (torinfo/xerteonlintetookits) and I need to cr

[2022-05-05 16:00] JohnSmith-LT commented on #976
Clearing stuff up @FayCross @ronm123

Can you think of any good reason not to add this as an optional property?

[2022-05-05 16:01] JohnSmith-LT commented on #973
Hi @ingedonke

Did you ever get around to testing this and can this issue be closed now?

[2022-05-05 16:07] JohnSmith-LT commented on #969
Hi @torinfo just identifying some issues to work on and came across this...

How easy is it to disable this in the Workspace so that no more can be created, since it's flash only now? Seems this is the only remaining part of this issue so it can be removed.

[2022-05-06 07:13] #63 closed

[2022-05-06 07:18] #313 closed

[2022-05-06 08:58] FayCross commented on #976
I don't think it would cause any problems to do this - unless it makes things confusing for accessibility (can we make it obvious what this link would do for screen readers?)

There's an optional property already called home page which allows you to change the page (when navigation is historic) that the home button links to (by default it's the 1st page). The title link should probably be the same

[2022-05-06 09:01] JohnSmith-LT commented on #976
Sounds good @FayCross, just going through older issues to see if any of them are no longer relevant and trying to get a set that I can work on to try to get the number down again.

I'll add this and come back with something that you can cast an eye over.

[2022-05-06 09:03] FayCross commented on #969
It's just a field in the database that needs changing (originaltemplatesdetails > active) so just through upgrade.php I think. I turned it off at UoN by manually changing that field

[2022-05-06 09:29] JohnSmith-LT commented on #969
Ok, thanks @FayCross, there's at least 1x other open issue linked to this so I think we should just go for it since it hasn't worked properly for a while anyway and now doesn't do anything because of Flash - will hold off to see if @torinfo agrees

[2022-05-06 09:36] torinfo commented on #969
@JohnSmith-LT @torinfo Is hould have done this prior to releaseing 3.10.

This is indeed making the template inactive in upgrade.php. I would do that in the function _do_cleanup. This woiuld be the rist db change in that function. I can do that if you want. @JohnSmith-LT What is the related issue?

[2022-05-06 10:11] JohnSmith-LT commented on #969
@torinfo if it's easier for you to do it then yes, please do - I'll probably mess it up!

The other issue was this https://github.com/thexerteproject/xerteonlinetoolkits/issues/296 but I've closed it now.

[2022-05-06 11:31] JohnSmith-LT commented on #553
I've added a css rule to apply a slight shadow to these boxes *if* the colour has been changed of any section (when colour is set then a <span> is added). If you make just a word white then you only get a shadow on that word:

![image](https://user-images.githubusercontent.com/3907362/167123165-df87da6e-b41c-4dd6-b54c-889e348c4245.png)

It's not perfect as it adds the shadow even if you make the w

[2022-05-06 11:57] JohnSmith-LT commented on #1074
I need to also do some work in the editor since the Preview button for most of these URLs now doesn't work even though they play fine in the LO. Does your work @torinfo include using Popcorn for video display in the editor because it seems that the functionality you are using for xAPI tracking may also be capable of being used to finally add the sync point functionality that is missing since the f

[2022-05-06 12:01] JohnSmith-LT commented on #418
Do you know if this is still an issue @FayCross after doing all the accessibility stuff a while back or might this have been resolved now by that work?

[2022-05-06 13:11] #451 closed

[2022-05-06 13:14] FayCross commented on #454
Yeah, I think we can close this. I'm not sure it was even me that wanted it... I was just the one putting all the ideas into here at that dev day I think (in 2016!) Good point that you could do this with media lesson now anyway

[2022-05-06 13:14] #454 closed

[2022-05-06 13:20] FayCross commented on #418
Looks like it's been fixed. Only plain text appears in title attribute now

[2022-05-06 13:21] #418 closed

[2022-05-06 13:44] FayCross commented on #553
@JohnSmith-LT can I change this slightly? I think the background of those 1 line text fields is always black regardless of theme so we probably only need to target white text.

`.inlinewysiwyg p span[style*="#ffffff"]`

![shadow](https://user-images.githubusercontent.com/8926470/167145114-0e82642b-547f-437e-9f58-59da8e3f5e82.PNG)

[2022-05-06 13:46] JohnSmith-LT commented on #553
Ah, perfect @FayCross, go for it - I knew there was a way to do that but I couldn't remember how and couldn't find it quickly on Google.

[2022-05-06 13:47] #440 closed

[2022-05-06 13:47] #441 closed

[2022-05-06 13:48] #459 closed

[2022-05-06 13:50] #477 closed

[2022-05-06 13:52] FayCross commented on #483
Closing this as we now have the [release notes](https://xot.xerte.org.uk/play.php?template_id=81#home) project.

[2022-05-06 13:52] #483 closed

[2022-05-06 13:55] #365 closed

[2022-05-06 14:07] FayCross commented on #570
Closing as this seems to now work ok with (ldap) usernames in upper or lower case

[2022-05-06 14:07] #570 closed

[2022-05-06 14:13] #842 closed

[2022-05-06 14:39] JohnSmith-LT commented on #973
Thanks @ingedonke

[2022-05-06 14:39] #973 closed

[2022-05-06 15:11] FayCross commented on #444
These pages could do with being looked at as images responsiveness could be improved.

When page 1st loads the image is sized appropriately but stays that size if browser size changes:
- [ ] Tabbed navigator +
- [ ] Hangman

- [ ] Memory game: cards are always a fixed size and images on them stretch to fit the space

[2022-05-09 17:17] JohnSmith-LT commented on #977
Hi @FayCross @ronm123

Can you take a look at these changes when you get a chance to make sure that they work for you and please feel free to make any changes to aid accessibility - might not be best that it is so colourful but not really sure how else to address the issue that people were unable to locate their words when the Wordsearch is solved...

[2022-05-09 21:20] JohnSmith-LT commented on #1021
TimelineJS library seems to be mangling the code because we have href="#" because links with urls work fine. Have added the main text back in after the timeline is loaded so that at least a Xerte Link in the main page text box now works...

To get links within the items to work is going to require changing the library code.

[2022-05-09 21:32] #1021 closed

[2022-05-10 13:54] ronm123 commented on #1096
@JohnSmith-LT @FayCross have just tested this. John's fix is definitely an improvement given the Alt text option when choosing image from the menu didn't exist before and I can't see this breaking anything however a couple of things I noticed in testing...

Firstly if I wanted an image to open in a lightbox I would rarely link to an image in this way e.g. from a text link. I would typically just a

[2022-05-10 14:42] ronm123 commented on #977
@JohnSmith-LT @FayCross I've just been testing this and I have to confess it's not a page type I've used much myself so apart from our page types demo examples I don't have much memory of using or testing this but noticed a few things...

When getting all the answers correct the whole grid turns green - has that always been the case? e.g. you get all the words and see them as strikethrough on the

[2022-05-11 00:13] JohnSmith-LT commented on #978
Video now has Autoplay option and also stops at end.

[2022-05-11 00:13] #978 closed

[2022-05-11 01:02] JohnSmith-LT commented on #976
Have added some code @FayCross - not complete but can you cast a quick eye over it to see if this is what you intended. @ronm123 do you have any suggestions?

I know it most likely still needs work for the other themes etc... but what about functionality and/or editor layout, etc

[2022-05-11 08:37] FayCross commented on #1096
@ronm123 good point about grabbing the optional property info about whether a caption should be used - that would be good to have too. I also agree about needing to make it clearer that you need to change from iframe to image to make sure the image is responsive etc. I initially forgot this last week when testing and it took a while to work out why it wasn't working as expected.

[2022-05-11 10:17] ronm123 commented on #976
@JohnSmith-LT @FayCross Just tested this and seems to work well. A few comments...

At the moment the tooltip on the link says Goto Home page - I wonder if that should be Go to Home page e.g. with a space between Go and to?

I wonder if we should add a tooltip to the wizard for the Link LO title to Home Page checkbox to make it clear that if ticked the LO title will link to the home page or first

[2022-05-11 10:35] FayCross commented on #976
@ronm123 Yes, I agree with your comments above and was already making these changes as you sent this. I'll commit in a minute so could you test it works as you'd expect after that please. I've changed so that home page drop down is a conditional property which only shows when it will be used. So it appears when navigation set to historic or if link LO title checkbox is ticked. If navigation is set

[2022-05-11 10:41] FayCross commented on #976
@ronm123 feel free to change tooltip text - I wrote it before I read your comments above

[2022-05-11 10:43] ronm123 commented on #976
@FayCross @JohnSmith-LT I've checked all the bundled themes and a few custom one that I have. There only seems to be an issue when the header colour isn't dark and therefore the header text isn't white e.g.
futureteacher white on white but focus ok
orangeandpurple beige on beige but focus ok
flat white white on white but focus ok
informal sketch white on white but focus ok
django blue on blue but

[2022-05-11 10:54] ronm123 commented on #976
@FayCross I've pulled down your changes and the tooltips seem fine but I'm not sure about the conditional property change....

Do you have existing projects set to historic where the homepage option has been changed and do they still work as they did?

Also isn't there a scenario where for those existing projects set to historic navigation and/or new projects set to historic navigation that the au

[2022-05-11 11:02] FayCross commented on #976
@ronm123 That still works doesn't it? If I change the navigation to historic, then add home page optional property then I can see the drop down menu even if the check box isn't checked (& when I preview the home btn goes to page I've specified and the title isn't a link). If I change the navigation to linear then when I add the home page property I don't see the drop down until I check the box. Is

[2022-05-11 11:10] FayCross commented on #977
@JohnSmith-LT @ronm123 The issue that Ron mentions with whole grid going green when you solve it (manually, not by clicking solve puzzle button) is a new bug. It works as expected in 3.10.5
![new](https://user-images.githubusercontent.com/8926470/167835979-48357a81-7a84-4b11-bafd-1b9823faa510.PNG)
![old](https://user-images.githubusercontent.com/8926470/167835997-e9159b4f-7d72-4a9e-a3a4-21d391b27c

[2022-05-11 11:12] ronm123 commented on #976
@FayCross ah sorry I hadn't realised that you changed it so that the navigation setting also changes what is shown. I had my test changed to linear and so with the checkbox unchecked wasn't seeing the homepage menu. :-(

Yes it works great then and I guess you've checked existing projects are ok.

With the theme issues I have listed with a small number of themes is the only way to deal with that t

[2022-05-11 11:19] FayCross commented on #976
@ronm123 - yes, it works for historic projects that are already using home page functionality.

I changed themeStyles.css earlier so it shouldn't require changes to individual themes - I've only check UoN ones so far though so worth having a look at the ones you found problems with earlier again

[2022-05-11 12:11] JohnSmith-LT commented on #976
Thanks @FayCross and @ronm123 I wasn't quite sure how to finish this one off or make it work best with the themes but that all seems to work and look great now.

[2022-05-11 12:31] #472 closed

[2022-05-11 12:38] FayCross commented on #664
Duplicate of #1026 which has been fixed

[2022-05-11 12:38] #664 closed

[2022-05-11 12:45] FayCross commented on #839
This no longer seems to be a problem. Bootstrap project doesn't unexpectedly scroll when interacting with embedded XOT hotspot image page

[2022-05-11 12:45] #839 closed

[2022-05-11 12:52] JohnSmith-LT commented on #977
Thanks @ronm123 and @FayCross for the feedback. So i've committed a fix for the contrast issues and I also noticed that when you tried to select a box that was already part of a solved clue then it didn't change to orange - fixed both

Regarding the letters all changing to green, I still don't know why that was happening but didn't before because the line that was doing it was indiscriminate and w

[2022-05-11 13:09] ronm123 commented on #976
Thanks @FayCross @JohnSmith-LT I just checked the themes I listed and the only one that still has an issue is Django because it has the color set in the following:
a:-webkit-any-link {
  color: #007cdb !important;
  text-decoration: none !important;
}
in /django/scss/_webkitCustoms.scss

That's a theme contributed by one of Tom & Inge's colleagues but I guess an easy fix would be to exclude #x_hea

[2022-05-11 13:23] FayCross opened #1097 "Drag & drop labelling bug"
Labels placed on drag & drop label page don't adjust to be in the correct position if page changes size:

![dragdrop](https://user-images.githubusercontent.com/8926470/167860197-a75be597-b2a2-4936-b9be-48c729e07d6f.PNG)

[2022-05-11 13:54] ronm123 commented on #977
@JohnSmith-LT I duplicated my test page and removed some of the places for testing more quickly. With the default theme selected and no colours added I'm not getting the same colours as you e.g. no green  but purple and dark yellow when using the solve option and blue when solving manually. So manually correct looks like the following:
![image](https://user-images.githubusercontent.com/5167146/167

[2022-05-11 15:04] ronm123 opened #1098 "controlling what happens after clicking download on the results page"
Issue reported on the forums https://xerte.org.uk/index.php/en/forum/bugs-and-issues/2862-pdf-document-downloaded-from-results-page-does-not-display-all-text-cuts-off#8093 this was a report of two separate issues:

#1 truncated text in the pdf
Tom had already fixed this and is in 3.10.5

#2 Different browsers behaving differently after clicking the download button
The report was that the LO closes

[2022-05-11 16:52] JohnSmith-LT commented on #1097
This is very similar to the bug that kept giving back in 2020 #980
We thought it was fixed but maybe there were other things that didn't get tested correctly.

[2022-05-12 08:18] FayCross commented on #1097
Yes, I thought this was an old problem that had been fixed too. The page model hasn't been changed for a couple of years though so I don't think it's a new change that's reintroduced it.

[2022-05-12 08:24] JohnSmith-LT commented on #1097
Could try rolling back to before those fixes and see if it worked then and whether the fixes for the returning to the page introduced the resize issue or whether it existed prior to this bug also...

[2022-05-12 16:28] ronm123 commented on #977
Hi @JohnSmith-LT all sounds good! Have run out of time today but will try to test again tomorrow and respond once I've tested.

[2022-05-13 09:35] ronm123 commented on #977
@JohnSmith-LT @FayCross I've been testing this but have to go offline for an hour or so now so a few comments before I do...

With the custom colours added I get the following:
selecting - I get the select colour
on finding a word I get the found colour
after clicking solve puzzle any words not yet manually found become the complete colour and manually solved remain the found colour
Manually selec

[2022-05-13 12:43] FayCross commented on #977
@ronm123 I see this:
- **select**: highlights letters as you click & drag with mouse to select words
- **found**: the letters in the words I've found
- **complete**: the words that I didn't find after clicking solve
- **solved**: not used?
- **highlight**: after whole puzzle complete (manually or solved on btn click) clicking a word will highlight the letters in the word on the grid

I think addin

[2022-05-13 12:50] FayCross commented on #977
If you add hide words optional property then you have no idea when the puzzle is solved (as you can't see crossed out word list and letters no longer turn green). Even if we don't add feedback then maybe something simple like a tick at bottom right of grid would indicate it's complete.

Also, when word list is hidden the layout isn't quite right as the space for the list is still there, just empty

[2022-05-13 13:09] #1063 closed

[2022-05-13 13:10] #1097 closed

[2022-05-13 13:34] JohnSmith-LT commented on #977
Hi @ronm123 ,so to add to what @FayCross has added:

I changed the solve/ended state to keep any that you found and any found using solve as different colours - that is different from before (but easy to change back) and thought it might be useful - I do notice though that the actual words list does just change to all the same colour and wondered whether similar functionality should be there.

Whe

[2022-05-13 14:49] ronm123 commented on #925
@FayCross I think perhaps the drag and drop labelling was listed as a separate issue and fixed with that. I know it doesn't have text fields but I vaguely recall working with @JohnSmith-LT where we added the Tooltip description optional property. e.g. without  an optional property added to each target all a screen reader hears when tabbing to each target is drop zone for 1, drop zone for 2 etc whi

[2022-05-13 14:49] #925 closed

[2022-05-13 16:18] JohnSmith-LT commented on #977
Sounds like a plan @ronm123

[2022-05-13 20:16] JohnSmith-LT commented on #1096
Rolled codebase back to 29th April and that strange flashing cursor still appears so it's not something introduced by new code @ronm123 but I've never noticed it before either... it happens all over the plugin. I will take a look to see if I can figure out why it is happening...

![StrangeCursor](https://user-images.githubusercontent.com/3907362/168383066-6dc18e56-f208-491d-9f9f-271daee2c4c5.gif)

[2022-05-14 12:03] JohnSmith-LT commented on #1096
Figured out the flashing cursor @ronm123

Presumably, like me, you have accidentally hit F7 or have turned on this accessibility feature in Chrome:

![image](https://user-images.githubusercontent.com/3907362/168424861-68724011-e921-4bd4-bd2a-7eb5929f60e3.png)

[2022-05-18 12:54] FayCross opened #1099 "Glossary bug"
In develop, if a glossary word appears in a normal link's href then it tries to turn it into a glossary hover link and causes the HTML tags to show on screen as text ([example of bug](https://xot310beta.dlearning.nl/play.php?template_id=67#page1)). In previous versions, the glossary word was ignored in tag attributes so worked as expected only on normal text ([example of this working](https://xot.

[2022-05-18 13:08] FayCross commented on #1074
Not sure if this is related to the work to move to using popcorn but some videos in video page which were responsive in v3.10 are now fixed size in develop. For example, [3.10](https://xot.xerte.org.uk/play_326#page1) where using YouTube embed code, it is made responsive but [develop](https://xot310beta.dlearning.nl/play.php?template_id=68) same YouTube embed code on same page is showing as fixed

[2022-05-18 14:15] FayCross opened #1100 "Media lesson - overlay media option not working"
If you add a MCQ to the media panel on the media lesson page you get a checkbox 'overlay media'. This used to put the question on top of the video instead of beneath it but now it doesn't seem to change anything. The question always appears below the video. Also, the subtitles added here don't seem to appear at all. I know that's probably not the best way to do subtitles now but it seems to not wo

[2022-05-18 16:12] ronm123 commented on #1072
@FayCross I remembered seeing this and I think a recent forum post and agree we should try to get this added in time for the next release. I'll add it to the agenda for the next dev day but will also have a look if I can add it without problems in a similar way that I added it to the XOT template.

[2022-05-18 16:33] torinfo commented on #1074
I'll try to push the popcorn cahnges to develop a.s.a.p.

I'll let yoiu know when done.

[2022-05-18 16:35] torinfo commented on #1100
@FayCross I'll try to push the popcorn changes to develop a.s.a.p. and will check this.

[2022-05-19 14:06] ronm123 commented on #1072
@FayCross I've added a partial solution for this and can demo and discuss during the dev day. In the meantime a few notes...
After testing I realised the skip link couldn't simply point to #mainContent because that then always returned to page 1. So I added some script to application.js to change the skiplink on page change and to point to the relevant page[x]section1.
Originally I tried adding th

[2022-05-19 17:23] JohnSmith-LT commented on #1096
Let's keep this open until I can get the Tip: in screen in the box as I think that's a very good idea.

[2022-05-20 09:16] ronm123 commented on #1086
@FayCross @torinfo I'm adding this here rather than starting a new issue because I think it might be a related bug... I just noticed that there is something strange when trying to import pages from one Bootstrap project into another and you can see this in develop as well as 3.10.4+ e.g. on our xot.xerte install e.g. I was trying to import pages from a project that exists in a folder but when I se

[2022-05-20 10:03] torinfo commented on #1086
@ronm123 Yes, It's a known issue. I broek this when merging part of the folder sharing functionality intto develop. I am working on a fix. The issue is that content in subfolders is not shown.

[2022-05-20 17:41] #1022 closed

[2022-05-23 08:48] JohnSmith-LT commented on #1096
I've added this tooltip now to the plugin so if you are both happy with this @FayCross and @ronm123 then feel free to close now.

[2022-05-23 11:36] JohnSmith-LT commented on #1099
Hi @FayCross I think I've fixed this by letting the browser create a document fragment from the section and then traversing the DOM tree and only looking at text nodes. If you are happy that this is working then please close the issue although...

...as a consequence of all this glossary work there are now a couple of flags in use to "ignore whitespace" and also replace "multiple terms" that are t

[2022-05-24 10:23] FayCross commented on #1096
@JohnSmith-LT That's great - works really well.

[2022-05-24 10:23] #1096 closed

[2022-05-24 13:11] JMarco27 opened #1101 "Modify Exercise"
Could the following changes be considered?

1. Could the **Initial Text** property be an Optional Property?  Sometimes it's useful to see the original text after the learner has started editing it in the **Answer Prompt** box, but this may be unnecessary, and the learner may be confused if presented with two identical boxes.

2. Is it possible for the **Model Answer** property to be a formattable

[2022-05-24 16:11] #976 closed

[2022-05-24 16:17] #1028 closed

[2022-05-25 17:31] JohnSmith-LT commented on #1098
Hi @torinfo @ronm123 @FayCross

I've changed the code for this slightly (using the FileSaver library) as suggested by the thread at the link above and modified it for Firefox 98+ detection only.

It seems to work the same as the window.open but perhaps gives us more opportunity for changing the blob in future to make it possible to get back to similar functionality for Firefox 98+. Might also let

[2022-05-25 20:07] JohnSmith-LT commented on #1098
This appears to have been fixed in FF 101 which is in beta just now...

https://bugzilla.mozilla.org/show_bug.cgi?id=1756980

[2022-05-25 20:26] JohnSmith-LT commented on #789
Was going to look at clearing this issue @ronm123 but the Opinion page seems to have been turned off on the v3.6 release notes - is this on purpose or accidental?

https://xot.xerte.org.uk/play.php?template_id=81#v3.6

[2022-05-25 21:12] JohnSmith-LT commented on #969
@torinfo I've implemented this now, as you said, in _do_cleanup rather than as a database upgrade.

Have tested several times and all seems to work for me but please cast an eye over when you get a spare moment to make sure that I haven't messed up somewhere and close if you are happy :-)

[2022-05-25 21:37] ronm123 commented on #789
@JohnSmith-LT just had a look and have made a change so it's showing again now. This was because previously an LO could be shared via it's xAPI link but still private under access, however I think @torinfo changed that so projects shared via xAPI but not LTI have to also be public. I think that's correct and the embedded opinion was still private so I changed it to public.

[2022-05-25 21:48] ronm123 commented on #1098
@JohnSmith-LT just tested your commit for this and yes now in FF it opens in a new tab and automatically downloads. I guess even if it's fixed in FF 101 we should keep the new tab for now because it will take a while before people have upgraded?

[2022-05-25 23:05] JohnSmith-LT commented on #1098
Yeah @ronm123 I think this is the best that we are going to get for these FF  versions. If it is fixed in FF101 then we have the option of only using the new method only for FF98/99/100 and then reverting to the old method or alternatively we could just make the new code that i've added the default way because it appears to work the same as before in Chrome and Edge by bringing up the Save As dial

[2022-05-26 08:38] JohnSmith-LT commented on #1084
There's a pull request in @FayCross / @torinfo (since 2018) which allegedly does provide a way to notify users - not looked that closely at the contents of it although it does have conflicts already that need fixing:

https://github.com/thexerteproject/xerteonlinetoolkits/pull/792

[2022-05-27 10:55] torinfo opened #1102 "Cannot select transcript from media browser"
From the forum:

Hi, I am trying to use the Transcript Reader template and upload a time text file.
I can upload the prepared XML file, but I am unable to see the uploaded file in the media browser. But the file is there on OS level.
Same happens with text files, they are not shown.

[2022-05-27 10:55] torinfo commented on #1102
This is caused by the exclusion of certain mimetypes in elfinder

[2022-05-27 11:01] #1102 closed

[2022-05-30 15:43] ronm123 opened #1103 "Check spelling button crashes editor"
From the forums https://xerte.org.uk/index.php/en/forum/bugs-and-issues/2878-spellcheck-using-orientation-page-type#8153

After quickly testing this it seems that it doesn't matter what page or textbox is active when clicking the spelling button/menu and selecting Check Spelling it hangs the editor. I checked this in develop, 3.10 and 3.9 and same result in each. (Testing with Chrome and haven't c

[2022-05-30 20:27] JohnSmith-LT commented on #1103
Unfortunately @ronm123 the WSC was turned off in January... The "spell check as you type" service still works though...

https://webspellchecker.com/blog/2022/01/13/spell-checker-wsc-dialog-plugin-for-ckeditor-4-finally-deprecated/

Looks like they've switched to a paid service...

[2022-06-01 16:35] JohnSmith-LT commented on #1098
Don't worry about it @FayCross, i've just been working through some of the issues - they'll get closed when they get closed! :-D

[2022-06-01 17:34] JohnSmith-LT opened #1104 "Problem with the Opinion page chart and formatting"
Is it my imagination or are there a few problems with the Opinion page (that I've never noticed before) @ronm123 @FayCross ?

This demo asks 11 questions:

![image](https://user-images.githubusercontent.com/3907362/171463889-d70a286a-a7e7-47de-8d23-c636f3a67141.png)

But the first Question text is centred (or at least an attempt has been made to centre it - it's slightly off) and the rest (althoug

[2022-06-01 21:37] JohnSmith-LT commented on #1104
Seems that qTxt class was being applied to the question holder but no style had been setup. The questions were not centre-ing  because the 'center' style had been added in the editor to the <p> tags but they weren't expanding to full width...

These two bugs are present here too @ronm123 - not sure how long they have been like that...

https://xot.xerte.org.uk/play.php?template_id=81#v3.6section22

[2022-06-01 21:39] JohnSmith-LT commented on #1104
Messed up the commit tagging https://github.com/thexerteproject/xerteonlinetoolkits/commit/f97044449739c913f8a5a7e2ecfd19149ad488e8

[2022-06-01 23:59] JohnSmith-LT commented on #789
Is this Print button useful as is or does it need some Optional properties to control:

- Whether print is allowed?
- A field to allow the title at the top to be configured
- Selection of what html sections to include in the printout - at present we have #textHolder, #qNo and #diagram

Looking for any more suggestions @FayCross @ronm123 @torinfo

[2022-06-02 10:56] JohnSmith-LT opened #1105 "Popcorn files loader, as implemented, isn't caching files"
The Popcorn files loader, as implemented in the Interactive Video page is using $.getScript which does an ajax load of each of the required js files. The problem is that the .js files have been cache busted and therefore load fresh each time an LO with that (and possibly other pages) load. At least they don't appear to reload if you add several IV pages to the same LO but I think, given that they

[2022-06-02 14:29] JohnSmith-LT commented on #1105
AdaptiveContent.html could also benefit from rewriting in this way also https://github.com/thexerteproject/xerteonlinetoolkits/blob/db03c12854de11be69f8739fa17e44d48e1a245b/modules/xerte/parent_templates/Nottingham/models_html5/adaptiveContent.html#L680

[2022-06-02 16:17] torinfo commented on #1105
@JohnSmith-LT I agree this is better. I didn't know about the central functionality. This also holds for mediaLesson and Adaptive content, and probably others as well. I will take care of the merge and implementation in other pages that use popcorn now (in my fork)

[2022-06-02 20:40] JohnSmith-LT opened #1106 "A couple of Editor thumbnails are still using old theme"
![image](https://user-images.githubusercontent.com/3907362/171733824-45093492-1859-468b-ab08-b4abf549fa2a.png)

![image](https://user-images.githubusercontent.com/3907362/171734131-8b29da5c-4451-48a4-a458-e3b1cdd904aa.png)

[2022-06-06 09:07] ronm123 commented on #1103
@JohnSmith-LT @torinfo @FayCross thanks John. Does this mean we should remove that button or is it required for the spell check as you type service? Given that it currently hangs the editor would be good to remove/disable it before the release.

[2022-06-06 09:34] ronm123 commented on #1104
@JohnSmith-LT that LO is embedded from one of my installations and I just checked it...
There's no relevant custom css applied and the labels e.g. New Themes are just plain text inputs so no alignment styling applied there. Not sure why the first label isn't aligned left like the others but it's obviously not centred either.
Re the question results in the chart not showing the labels - that seems

[2022-06-06 09:50] JohnSmith-LT commented on #1104
Hi @ronm123 both those things are now fixed in develop

The Question titles were centred using the Editor but the container was collapsing to minimum size - i've expanded the container to 100% and now the titles all work centred.

[2022-06-06 09:54] ronm123 commented on #1104
@JohnSmith-LT I put your changed model and css file in place in my install from where the LO is embedded and initially I could see the labels on the chart on hover were now correct. However then I couldn't see the LO at all so I put the older model and css in place but still not working. I'm probably missing something and I doubt this is due to your commits here. Will email you and @torinfo with f

[2022-06-06 10:20] ronm123 commented on #1104
@JohnSmith-LT @torinfo sorry rushing this and probably doing something stupid :-( Or possibly just caching. My install where this is embedded from is now latest develop and as you say John the titles are now all centred. Also because my install is now develop you'll see that on the release notes page we now get the play button that you have to click before the LO is available.
@torinfo is better p

[2022-06-06 10:24] ronm123 commented on #1104
@JohnSmith-LT @torinfo BTW in testing this and getting what was probably just caching issues and because I had the console open I was getting a pause with a call to debugger somewhere but can't replicate that now.

[2022-06-06 14:23] JohnSmith-LT commented on #1104
@ronm123 I checked that link again and your LO isn't loading because it cannot find loadjs. You will need to pull down the latest xenith.js file also as loadjs has been added to better handle dependency loading and catch missing files which the previous $script loader couldn't do.

[2022-06-06 14:23] ronm123 commented on #1106
@JohnSmith-LT I've created an example of the Timeline Media page in our page types demonstrator https://xot.xerte.org.uk/play_116#timelinemedia so have added and committed an updated thumbnail for that page type.
I don't have a good example of the interactive video page type so haven't created an example or new thumb for that.

Going through that thumbnail folder brings back distant memories! ;-)

[2022-06-06 14:32] ronm123 commented on #1104
@JohnSmith-LT it's loading for me. Do you not see the LO with the big white play icon overlay? I updated my install to latest develop so it should have all the files and that was over 4 hours ago. Caching at your end?

[2022-06-06 14:37] JohnSmith-LT commented on #1104
Yes @ronm123, was caching. I don't get a debugger pause so not sure what that was...

[2022-06-08 09:28] ronm123 opened #1107 "Activities fail a WCAG 2.1 AA Success Criterion when zoomed at 400%"
Reported on forums by OU https://xerte.org.uk/index.php/en/forum/accessibility/2882-activities-fail-a-wcag-2-1-aa-success-criterion-when-zoomed-at-400
Xerte activities fail WCAG 2.1 AA Success Criterion (1.4.10: Reflow) when zoomed at 400%. The header and footer obscures the body content. Please view attachment. Please advise if this can be corrected.

I don't think the header is the problem but t

[2022-06-08 09:29] FayCross commented on #1104
@JohnSmith-LT looks like you & @ronm123 have sorted some of this out now. I haven't used the opinion page so probably aren't best placed to comment on how it works but above you asked 'do we think that the numeric parts should display a % sign afterwards?' and yes, I think that would make more sense.

[2022-06-08 09:37] FayCross commented on #1106
@JohnSmith-LT no, I'm afraid not. @ingedonke - do you have a good example of the interactive video page that we could use in the page examples project & screenshot for the insert menu?

[2022-06-08 09:51] FayCross commented on #1107
@ronm123 yes, there are a handful of pages that use the x_footerBlock height in working out the space available to layout the page contents so these will need to be changed to cope with sticky footers.

At the moment, there are two layouts:
1. default - fixed header & footer with page content scrolling between them
2. mobile - fixed footer with header scrolling with the content above it (also reor

[2022-06-08 09:54] FayCross commented on #498
@JohnSmith-LT sounds good - I don't have any ideas for extra options to add

[2022-06-08 10:10] FayCross commented on #1107
Another related thing to look at is what the footer bar does when the buttons don't all fit on. I think the buttons on left should be minimised (with the >> button there to reveal them) if the zoom level means the footer bar goes like this:
![zoom](https://user-images.githubusercontent.com/8926470/172590804-9d93bc69-9666-4b13-ba27-dbe994e9449e.PNG)

[2022-06-08 10:24] FayCross commented on #969
I've just upgraded my xampp and it's removed the option of creating new RSS projects. I haven't tried a brand new install though - I guess it's also turned off by default in those?

[2022-06-08 10:37] JohnSmith-LT commented on #969
Hmm, I'm not sure @FayCross, @torinfo is a change to upgrade.php enough for new installs also  - i.e is upgrade.php run after new install or is there somewhere else that would need changed in order to fix this in a new install?

[2022-06-08 10:42] FayCross commented on #789
@JohnSmith-LT yes - there should be a way to turn print on/off.

Options to specify what text should be included would be useful but I think by default it should be page name, instruction text, feedback & graph. At the moment, the feedback's not included but the completion language string (you have completed the questionnaire) text is.

[2022-06-08 10:44] FayCross commented on #789
@JohnSmith-LT there is a bug with print button. If you have the default layout (1 question per page) then the print button appear as soon as you submit the 1st answer. It should only show when graph is drawn.

[2022-06-08 10:46] FayCross commented on #1104
Can the numbers on the graph be made bigger? They are so small in an example I just made that I didn't realise they were numbers and was looking for an option in editor to turn the numbers on

[2022-06-08 10:51] ronm123 commented on #1107
@FayCross yeah agree, what happens to the footer buttons should be more elegant than it currently is and also when viewed on a mobile the buttons are arguably too small but I think that was partially to allow all of the buttons to fit especially if some of the optional buttons are included like help and glossary etc.

Also agree that we shouldn't necessarily try to pick up zoom level and respond t

[2022-06-08 10:53] ronm123 commented on #969
@FayCross @JohnSmith-LT @torinfo wasn't this discussed previously and because that template required flash it was disabled/hidden?

[2022-06-08 11:00] FayCross commented on #1099
@JohnSmith-LT I was testing the download results page changes in different browsers and have found that this line in the glossary code is stopping any projects opening in IE (it doesn't like =>)

line 4501:
`tempText = nodes.length === 1 ? nodes[0].textContent : Array.from(fragment.childNodes).map(x => x.outerHTML).join('');`

We spoke about whether we still support IE in last dev meeting but don'

[2022-06-08 11:02] torinfo commented on #969
@JohnSmith-LT @FayCross No, only upgrade.php is not good enough. There is a setup/basic.sql that inserts a few templates in the database, and that needs changing as well.

I can do that for you if you want.

[2022-06-08 11:03] #1098 closed

[2022-06-08 11:16] FayCross commented on #1107
@ronm123 I'm not sure I agree about fixed header. Viewing the page examples project on my phone, the page with the longest title has the header block taking approx. 40% of height, while footer bar is maybe just 15% of height. Fixing header instead would make a lot less space for page content. Probably one to discuss at next dev meeting!

[2022-06-08 11:53] JohnSmith-LT commented on #969
Thanks @torinfo. I've changed the entry in line 90 of setup/basic.sql to:

(8,'xerte','Rss','Rss','Easily create and maintain an RSS Feed.','2008-04-02','RSS Feed',0,'*',0)

The 0 on the very end seems to be the 'active' flag.

I've committed the change so if you just confirm that I've not messed up ;-) then we should be good to close this one!

[2022-06-08 13:00] torinfo commented on #789
@JohnSmith-LT @ronm123 @FayCross I am in the process of merging all my/our work into develop and this is an interesting one, as I implemented this the same way it w3as implemented inthe Results page and the adaptiveContent page by using html2pdf.

Attached are the results of both methods. I think it would be best to try to standardize on one method. Agreed? So which one to use. I like the headers

[2022-06-08 13:32] ronm123 commented on #1107
@FayCross yeah sorry that comment was misleading I guess neither header or footer can be fixed. I was testing on a local copy of my accessibility testing LO and on a page with narration added. In that case the footer including the narration takes up more space but what I really imagined is that it needs to work more like the Flexbox example both on mobile and on desktop https://philipwalton.github

[2022-06-08 13:44] FayCross commented on #1099
@JohnSmith-LT that works, thanks. I've tested the glossary fix too where it was breaking if link URLs included a glossary word and that works now too.

One thing that I don't know whether it's really a problem though. Previously you could have the link text include a glossary word like this: [example 1](https://xerte.nottingham.ac.uk/play_41054#page1) but now it won't pick up on that:  [example 2]

[2022-06-08 13:46] ingedonke commented on #1106
Hi Fay,

This is the link to the Dutch examples (I shared this project with you
in xot.xerte.urg.uk). Maybe this is something to use?
https://xot.xerte.org.uk/preview_164#interactievevideo

Bye,
Inge

<https://github.com/JohnSmith-LT>
Logo_DLearning

Inge Donkervoort
Tuinstraat 8c
5241 AA Rosmalen

*T* +31 (0)85-1308364
*M* +31 6-50267104
*E* ***@***.***
*I* www.dlearning.nl <http://www.dlearning.

[2022-06-08 14:41] JohnSmith-LT commented on #1099
Yeah that is probably a side effect of the conditional in the nodes parser and could probably be changed if it was an issue further down the line but I think that was more quirky than useful and I'm happy to leave that as it is now since it's probably better to be clear what something does rather than having it multi-layered like this...

[2022-06-08 15:32] #956 closed

[2022-06-09 07:56] #814 closed

[2022-06-09 08:44] ronm123 commented on #1106
@ingedonke @FayCross @JohnSmith-LT I've drafted a possible example of the interactive video page to use in our page types demo and then obviously to generate the thumbnail too. However in doing so I'm noticing some issues with this page type that means it doesn't really work properly on smartphones - at least not my iPhone. Got a meeting shotly but will add a separate issue and list what I've foun

[2022-06-09 08:54] ingedonke commented on #1106
Hi,
I think this is a suitable (good) example. The layers are fine on my Phone only the categories page is a bit difficult to use on the Phone. But thats ok.

Bye,
Inge

Bye,
Inge

Ron Mitchell ***@***.***> schreef op 9 juni 2022 10:44:41 CEST:
***@***.*** @FayCross @JohnSmith-LT I've drafted a possible example of the interactive video page to use in our page types demo and then obviously to gener

[2022-06-09 08:57] JohnSmith-LT commented on #1106
Not sure about a real iPhone (or any other device for that matter) but on the iPhone simulator in Chrome it's often really difficult to see where the Play button actually is in order to be able to click this to move on... Is there a better way that this could be achieved or is it a non issue in real life? Seems like a close button or a Play button actually on the overlay would be better as it woul

[2022-06-09 09:09] JohnSmith-LT commented on #1106
Also, not sure if anyone can reproduce this bug, but if you go to page 2 and then return to page 1 (of your LO @ronm123) then the video player can get stuck in some kind of strange play/pause condition where both buttons are showing in the two different control bars at the same time but you cannot click either so the video is now stuck:

![image](https://user-images.githubusercontent.com/3907362/1

[2022-06-09 09:15] JohnSmith-LT opened #1108 "Problems with Interactive Video page"
I'm moved these issues from the Thumbnail issue since they probably could do with their own...

[2022-06-09 09:16] JohnSmith-LT commented on #1108
ot sure about a real iPhone (or any other device for that matter) but on the iPhone simulator in Chrome it's often really difficult to see where the Play button actually is in order to be able to click this to move on... Is there a better way that this could be achieved or is it a non issue in real life? Seems like a close button or a Play button actually on the overlay would be better as it would

[2022-06-09 09:17] JohnSmith-LT commented on #1108
Also, not sure if anyone can reproduce this bug, but if you go to page 2 and then return to page 1 (of your LO @ronm123) then the video player can get stuck in some kind of strange play/pause condition where both buttons are showing in the two different control bars at the same time but you cannot click either so the video is now stuck:

![image](https://user-images.githubusercontent.com/3907362/1

[2022-06-09 09:19] JohnSmith-LT commented on #1106
Hi @ronm123 I've created a separate issue with some of my findings although I'm not seeing the issue of overlays (underlays) not appearing layered correctly... I am using the Chrome iPhone simulator though and not a real device so this could be a Safari thing...

[2022-06-09 09:25] JohnSmith-LT commented on #1108
You can also quite easily, by scrubbing the timeline, get stuck in an infinite loop that you cannot get back out of:

![StrangeVideoLoop](https://user-images.githubusercontent.com/3907362/172813925-a7c04a96-e04c-4321-9c04-0cd02b788b94.gif)

[2022-06-09 10:31] torinfo commented on #1108
@ronm123 @JohnSmith-LT Let me get the popcorn things in there, and revisit.

[2022-06-09 10:38] ronm123 commented on #1106
@JohnSmith-LT have added the example to the page types demo now https://xot.xerte.org.uk/play_116# and committed the thumbnail too. I think we're missing some other thumbnails/examples so won't close this issue yet.

[2022-06-09 10:39] JohnSmith-LT commented on #1108
Thanks @ronm123 and yes I agree that testing on a real device and across multiple versions is really the only way to do this but strange that some of the popups and looping is happening on the emulator at all. Perhaps Popcorn will fix some of these...

[2022-06-09 11:01] ronm123 commented on #1106
@JohnSmith-LT @FayCross @torinfo @ingedonke while I was working on the English page types demo to add the thumbnails and examples of timeline media and interactive video as reported by John in this issue I noticed that we only have place holder pages for 2 other page types and also a strange issue with the Wordsearch page. I think the missing example pages may be listed/discussed elsewhere but may

[2022-06-09 12:35] FayCross commented on #1106
@ronm123 - xot.xerte.org.uk is 3.10 so doesn't include image sequence page yet. I'll add the example as soon as it's upgraded after the next release. I've struggled to think of a good example for Highlight text but I'll try to make one

[2022-06-09 12:35] ronm123 commented on #1108
@JohnSmith-LT @torinfo @FayCross I've pulled down latest develop and tested my interactive video example via my iphone 7. I don't think the popcorn changes have been committed yet have they?
Anyway what I currently get from develop on my iPhone 7 is the same as I get from 3.10.4 on xot.xerte so screenshots from develop attached below. What's curious is that some of the text content overlays do app

[2022-06-09 12:49] FayCross opened #1110 "Complete drag & drop by clicking only"
Add ability to complete drag & drop activities using a mouse but without having to drag the label. So, in a similar way to how it works using the keyboard - click label to select it and then click hotspot to drop it.

- [x] Categories
- [x] Drag & drop labelling
- [x] Matching texts
- [x] Sortable grid
- [x] Timeline / matching pairs
- [x] Gap fill (drag & drop)

This is required for AA in WCAG 2.

[2022-06-09 12:56] JohnSmith-LT commented on #1108
Maybe something you could try locally @ronm123 is to change the z-index at line 119 of the css file for this page - it is 4 by default but I can't see there being much that you want to appear above an overlay so maybe bump it up to 1000 and see if that fixes it... maybe iPhone (Safari?) is just layering things differently and going above 4 by the time it gets to the Popcorn video display...

![ima

[2022-06-09 13:01] FayCross opened #1111 "Default values for text in xwds"
Should we start to move away from the way we use the default text in fields within the editor? At the moment, you have to override strings like 'Enter Page Title here' with the text you want to use instead. Would it be better to have these fields empty by default instead?

As long as the fields are labelled sensibly and have a tooltip hint with extra info if needed they don't need the default text

[2022-06-09 13:16] FayCross opened #1112 "Accessibility of login page"
There are simple things that could be done to improve accessibility of main login screen:

- [ ] There's no alt text on Xerte or Apereo logos on header or any of images on footer bar
- [ ] 'Username' & 'password' strings need to be marked up as labels for the login input fields
- [ ] More meaningful text on the 'Show me!' button
- [ ] Use headings, regions and roles on the different areas?

The lo

[2022-06-09 13:39] FayCross opened #1113 "Accessibility of workspace"
Various issues with accessibility of workspace:

- [x] There's no alt text on Xerte or Apereo logos on header or any of images on footer bar
- [x] Rename logout to log out (pronounced very oddly in screenreader!)
- [x] 'Sort' string needs to be marked up as label for the combo box
- [x] The language selector label tag is empty
- [x] Use headings, regions and roles on the different areas
- [x] Lots

[2022-06-09 13:47] FayCross opened #1114 "Escape key to remove hover tooltips"
Allow tooltips that appear on hover or focus via keyboard tabbing to be removed with Esc key. https://www.w3.org/WAI/WCAG21/Understanding/content-on-hover-or-focus.html

- [x] Glossary hover tooltips
- [x] Hotspot tooltips in 360 image page

There might be other places where a tooltip is used too?

[2022-06-09 13:57] FayCross opened #1115 "Change format of glossary"
Glossary button opens a table containing glossary terms and their descriptions. This might be better done using a description list: https://www.w3.org/WAI/WCAG21/Techniques/html/H40

[2022-06-09 14:08] ronm123 commented on #1107
@FayCross do you mean you've been attending or delivering accessibility training?

Not sure this is something else rather than the same issue as reported by the OU just with a slightly different point of reference. You'll have seen that Alistair replied to the forum post so then I did too asking a couple of questions about how/why it was reported and also possible contribution. Not seen a reply ye

[2022-06-09 14:13] FayCross opened #1116 "Bootstrap - visual indication of which page is currently being viewed on page menu"
Should we have a visual indication of which page in page menu list is the current page? For screen readers we should use aria-current="page" on the current page's link.

The section menu already has a visual indicator of which is the current section but needs aria-current="true" for screen readers

[2022-06-09 14:26] FayCross commented on #920
Where captions are possible they should use format:
`<figure><img...><figcaption>Caption here</figcaption></figure>`

This is done already by images added via wysiwyg but not in other places (graphics & sound page / lightboxes)

[2022-06-10 07:53] #1112 closed

[2022-06-10 08:52] JohnSmith-LT opened #1117 "New Audio Recorder button in WYSIWYG editor requires testing"
Hi @ronm123, @torinfo, @FayCross this has been a long time idea and I've finally got something up and running and committed this morning. This relates to several issues #23 #24 #25 #447 #525

The functionality isn't finalised yet - I just wanted to get it up there so that it can be tested in practice and can get some feedback but it seems pretty robust to my testing (in Chrome only at present)

I

[2022-06-10 08:59] ingedonke commented on #1117
Hi @JohnSmith-LT Great!! I'm going to test this today :)

[2022-06-10 09:14] ingedonke commented on #1117
Hi @JohnSmith-LT When I press recording nothing happens. I tried it in Chrome and Edge. Do I have to do something else in the configuration before it works?

[2022-06-10 09:23] ronm123 commented on #1117
Hi @JohnSmith-LT @ingedonke it works great for me! ;-)

In Chrome I can also go to the settings menu and choose my different input sources and they all show and work correctly.
While I was at it I tested in Firefox too and with that the recording works but that is using the built-in laptop mic and the settings menu just shows Microphone 1 three times rather than the different named microphones tha

[2022-06-10 10:22] JohnSmith-LT commented on #1117
Not sure @ingedonke, perhaps it's a caching issue? Try clearing your cache and try again.

Thank @ronm123, i'll look into the sources issue in Firefox later but great that is works for you in Chrome at least - the sources update as you hotswap devices and I have some extra code that is commented out which I haven't implemented yet which, from memory, keeps the selected source selected after the de

[2022-06-10 10:28] JohnSmith-LT commented on #1117
So @ronm123 I've tested in Edge (latest) and I suspect the same may be the case in Firefox - but Edge doesn't return a deviceID which is used to identify and choose the audio context for the recording so I will have to investigate if there is a way to use the groupId somehow (although it suggests that it may be the same for a group of devices, perhaps where you have a webcam with audio and video s

[2022-06-10 10:37] JohnSmith-LT commented on #1117
Ok @ronm123 @ingedonke I just committed a small change that made the device selection less specific and tested in latest Edge and it's working there now too, as well as Chrome.

I'm on work laptop and don't have Firefox installed so can't test there but will test later there but if either of you get the chance to test in FF before me then that would be great.

[2022-06-10 11:13] ronm123 commented on #1108
@JohnSmith-LT @torinfo I just tested changing the z-index of #panelHolder .overlay but unfortunately that doesn't resolve the issue. I have Chrome installed on my iPhone so tested with that too because it picks up changes instantly rather than caching (and changing the background colour of the overlay each time helps confirm that too) but still the same problem with the overlay being under the vid

[2022-06-10 11:24] torinfo commented on #1117
@JohnSmith-LT In xot310beta.dlearning.nl (which automatically pulls every 10 minutes) I can record a fragment and place it in a text page. However, I only see 1 microphone in chrome.

When I use my own develop install (also on a linux box and on the same PC) I see my two microphone, and they have proper device names. But upload and place player gives a console error on parsing a json file. It trig

[2022-06-10 11:43] ronm123 commented on #1117
@JohnSmith-LT @torinfo I've only been testing locally but after Tom's last message I'll do a quick test on xot310beta too.

On my local machine I get the following:
Chrome works fine and displays my different devices correctly names in the settings menu and I can slect a device and then switch to record and record via that device.
Edge works the same as Chrome.
Firefox only displays two options bo

[2022-06-10 11:56] ronm123 commented on #1117
@JohnSmith-LT @torinfo I just tested via xot310 beta and initially there was a difference but I think I had this locally too...

Testing with Chrome first time I tried it under the settings menu I only saw Microphone 1 and when clicking record I got a browser pop-up asking me to allow xot310beta to use my microphone. Options were Allow or Block but no mic selection menu like I had locally with Fir

[2022-06-10 12:58] ronm123 commented on #1090
@FayCross @torinfo while it's fresh in my mind I'm adding another bug here that I've just discovered and probably haven't tried before...

- [ ] Login to management, locate an authors XOT project, visit properties and try to enable LTI for that project. After checking the LTI box and clicking update I get: Session is invalid or expired so can't enable LTI. In fact it's probably not specific to cha

[2022-06-10 13:13] JohnSmith-LT commented on #1117
Thanks @ronm123 and @torinfo for your feedback. I had a hunch that it might be a permissions thing - I will see if I can figure out how to get the permissions and devices to persist in FF. They all say that they adhere to standards, and they have improved greatly, but the number of hoops you have to jump through just to get this stuff to where it is now is ridiculous!!

If @ronm123 can't find a wa

[2022-06-10 13:23] FayCross commented on #1090
@ronm123 I can remember seeing that but for some reason haven't included it in the original list. It is particularly odd as if I login to management.php and attempt to change access setting then I get the session invalid message but if I log in to Xerte as myself, then login to management, I can then change the access settings without seeing a session message.

[2022-06-10 13:59] torinfo commented on #1117
@JohnSmith-LT I revisited xot310beta, and it shows the names of the mics, and I can insert the player in the content :-)

[2022-06-10 14:04] torinfo commented on #1090
@ronm123 @FayCross I can replicate in xot310beta.

I'll have a look.

[2022-06-10 16:09] JohnSmith-LT commented on #1117
I've made some changes to the interface, made the Timestamp option look a lot nicer and added a filename cleanser and popup if any are entered -

- allows letters, numbers, underscore _ and hyphen - (can be changed easily enough)
- replaces multiple spaces and underscores with single underscore
- removes leading and trailing underscores before adding timestamp

![image](https://user-images.githubu

[2022-06-10 21:27] JohnSmith-LT commented on #1115
Hi @FayCross not sure if you've seen this article which suggests that VoiceOver and NVDA both don't do well with definition lists and that their findings suggest that a table or unordered list is still the best, with use of scopes and roles...

https://snook.ca/archives/html_and_css/definition-lists-v-tables

It was written 10 years ago so not sure if it still hold up but probably worth looking in

[2022-06-10 23:41] JohnSmith-LT commented on #1114
Is that the kind of thing that you were thinking? I tried adding keydown event handler (with a check for escape) like all the other events and it works for tabbing but with mouseover the event wasn't getting to the handler - so I now add/remove it from the document.body every time the popup opens/closes.

[2022-06-11 00:58] JohnSmith-LT commented on #1114
I think I've done both now @FayCross

[2022-06-11 01:00] #24 closed

[2022-06-11 01:00] #25 closed

[2022-06-11 09:46] JohnSmith-LT commented on #1114
So I had to change this @FayCross to remove the handler in the "mouseleave" event rather than in the event handler because what was happening was that if you hovered and left then the handler remained attached until later down the line when you pressed escape and that could interfere with other functionality (like full screen video or similar) I suppose...

Seems to work ok in both pages now but I

[2022-06-11 10:52] #36 closed

[2022-06-11 11:49] ronm123 opened #1118 "New back to top button optional properties - issue and questions?"
Have just committed back to top button optional properties for the Bootstrap template https://github.com/thexerteproject/xerteonlinetoolkits/commit/24c4b33aa32388920351c2c330764ad5fd85bb17 but there's an issue that I can't spot why and also some questions:

1. Option to hide the back to top button - works fine. Keeping this at LO level for all pages for now.

2. Option to change to a circle with a

[2022-06-11 12:48] JohnSmith-LT commented on #1118
Hi @ronm123 does that fix it for you?

That section runs every time a section is added so your code was running 15 times in my test (15 sections). That's fine but your selector $(".top-round") was equally running for that section and every one that went before so it was changing 1, then 2, then 3, all the way to end... still not sure why that was an issue though.

I've rewritten to create the butt

[2022-06-11 12:57] JohnSmith-LT commented on #1118
You could also create two new css rules for the optional colours and then just add or remove the two css classes to show the two states.

[2022-06-11 13:02] ronm123 commented on #1118
@JohnSmith-LT thanks John I can see that at least changes all the buttons now and so works but yes I wasn't sure where to put this and it would probably be better to split it up so that the check whether to hide the button and so not add it, use the default button or change to a circle is where it is now but the style of the circle is moved elsewhere. I just couldn't work out the best place.

[2022-06-11 13:12] JohnSmith-LT commented on #1118
Yeah, I had a quick look @ronm123 and couldn't see straight away off the top of my head where best to put it. I'll take another look later if you want and relocate it.

[2022-06-11 13:47] ronm123 commented on #1118
@JohnSmith-LT if any of it needs changing feel free. It obviously needs to run on page load and page change and initially tried where I thought that should be but then it wasn’t picking up the optional properties and probably something I was doing wrong. Also I did think about adding additional classes for the hover colours etc but looked at how we were already dealing with optional hover colour o

[2022-06-13 10:47] ronm123 commented on #1118
@JohnSmith-LT thanks for your help with this. I've just committed a change https://github.com/thexerteproject/xerteonlinetoolkits/commit/04ef266e999ece8dbfb94cb1d97a9e8c0bcae24f with the description:
improve the efficiency of the optional back to top button code e.g. only check if the button is hidden or set to round in the loadSection function, then apply the additional optional styling at the en

[2022-06-14 11:03] ronm123 opened #1120 "allow for theme logos to be logo.svg rather than just logo.png"
I'm working on new themes for xot and bootstrap where ideally a theme logo should be included that is .svg rather than .png. I can probably get around this by adding script to the theme's .js files but it seems to me it would be useful to change our existing code in xenith and application.js to look for logo.x regardless of file extension. Perhaps even logo.jpg, logo.gif, logo.heif, logo.heic, log

[2022-06-15 10:24] ronm123 commented on #1117
@JohnSmith-LT just had a quick meeting with Alistair who is delivering an accessibility session with Xerte today. I quickly demoed the recorder you have added which he thought was great but instantly asked "is there an option to add a transcript?"

In discussing that we wondered about two options:
1. add a tip/reminder about including a transcript e.g. the record pane already includes a tip so per

[2022-06-15 14:28] torinfo commented on #1093
@FayCross I'll have a look at that.

[2022-06-15 14:58] FayCross commented on #1093
Closing this as the folder properties not showing bug is fixed (I'll move the outstanding bug about duplicating folders over to https://github.com/thexerteproject/xerteonlinetoolkits/issues/1086 as I commented on the wrong issue)

[2022-06-15 14:58] #1093 closed

[2022-06-15 15:00] FayCross commented on #1086
I've tested and folders now show in workspace and when importing projects in the editor. The one outstanding issue here is that if you select a folder in the workspace and click duplicate, the folder and all its contents should be duplicated (as mentioned in issue https://github.com/thexerteproject/xerteonlinetoolkits/issues/1093)

[2022-06-15 15:14] FayCross commented on #1115
@JohnSmith-LT interesting - I will have to do some testing. We could just leave it as a table - perhaps with a header row with 'term' & 'definition'

[2022-06-15 15:58] JohnSmith-LT commented on #1115
Maybe try finding some more recent guidance on this. Personally I don't think there's anything wrong with using a table like this but perhaps the markup could be improved upon to make it more accessible...

I will have a hunt when I get time and post anything here that I find that is more recent... Perhaps NVDA, VoiceOver and other screen readers are better at dealing with the mentioned issues tha

[2022-06-15 20:50] JohnSmith-LT commented on #1120
Hi @ronm123, there are many ways to do this... probably the simplest (which uses the built in dependency loader) is something like this:
[code]
It's probably the shortest I can think of off the top of my head but not so efficient if you have several logo.*** in your folder since it will attempt to load them all in parallel and then will go through them in the order specified and insert the first o

[2022-06-15 21:23] #1086 closed

[2022-06-15 21:24] torinfo commented on #1086
As stated in de commit comment:

This never worked properly before.
 1. If the temlates were a mix of Nottingham and site, the current code would
    not have worked.
 2. If One of the templates did not have valid access permissions, none of the
    templates would have been copied
 3. Subfolders were not copied
 [develop](https://github.com/thexerteproject/xerteonlinetoolkits)

[2022-06-16 08:20] FayCross commented on #1115
@JohnSmith-LT I tried it with NVDA yesterday a definition list of two terms and definitions was announced as 'list containing four items' and didn't make it clear that the term and definition were related in any way. I will close

[2022-06-16 08:20] #1115 closed

[2022-06-16 08:55] ronm123 commented on #1120
@JohnSmith-LT thanks John but I probably should have explained more clearly and included a snippet of our existing code from xenith and application.js.

When I think about it further there are a few reasons why we should change the existing code and this is about the default logos not the author options per project. The following is my understanding of the current situation but I could be wrong!

[2022-06-16 10:07] JohnSmith-LT commented on #1120
This maybe is better than the two above as it waits for one to either download or send back 404 before displaying or moving on to try next. This way you get the least 404 errors but still not perfect and perhaps still not even what you want...

var logos = ['svg',  'png', 'jpg', 'gif', 'heif', 'heic', 'webp', 'avif'].map(function(ext) {return 'logo.'+ext;});
(function (path) {
    function tryNext

[2022-06-16 10:12] ronm123 commented on #966
@torinfo @JohnSmith-LT @FayCross rather than start a new issue I've revisited this post I made ages ago. I'll add this to the agenda for our meeting on Friday too but in preparation for that discussion here's some notes/questions:

I'm working on a new XOT and Bootstrap themes for a university and looking at some of their existing resources (with which they want to use the new themes) it reminds m

[2022-06-16 10:30] FayCross commented on #1120
@ronm123 @JohnSmith-LT - Should we add a logo field to the database? So, use the logo specified in the database and if it's not in there then fall back to try all the types of logo.xxx. This would help minimise 404s

[2022-06-16 10:47] JohnSmith-LT commented on #1120
I suppose I never thought of the server route of doing this...

We already put a placeholder in the play/preview file which is then replaced on-the-fly when the file is loaded off the server. When export is called it permanently replaces the marker with code to load the file...

So in our case we can just put %LOGO% where we want it in the rloObject.htm file and then, after checking which, if any,

[2022-06-16 10:52] #1114 closed

[2022-06-16 11:15] ronm123 commented on #1120
@JohnSmith-LT @FayCross I think either the database or %LOGO% option would work. I guess the considerations would be:

database - perhaps better long term but possibly requires a change by site owners if they currently use the default location option.
%LOGO% - perhaps better as a quick way of enabling different logo formats without requiring intervention.

Either way we should add an option to hid

[2022-06-16 12:42] JohnSmith-LT commented on #1120
Haven't done any PHP for a while so thought i'd attempt to at least get rid of those 404 errors...

The code I've committed adds a %LOGO% placeholder and then checks for logo.svg, logo.png, logo.jpg and logo.gif in the common_html5 folder and the first one it finds it loads, otherwise it clears the placeholder...

Not sure that does what you want in terms of different logos for different themes bu

[2022-06-16 13:04] ronm123 commented on #1120
@JohnSmith-LT just quickly tested and can see that removes the 404 errors from play and preview of XOT projects. It's always been a bit embarrassing when liaising with different people from different IT teams and looking at Apache error logs to have to say don't worry about those logo errors!

So yes it would be good to add the same functionality to remove the same 404 errors with Bootstrap and I

[2022-06-16 13:27] ronm123 commented on #1120
@JohnSmith-LT at the moment I think the logic is as follows:
both XOT and Bootstrap automatically load logos if found in the default module locations e.g.
/modules/xerte/parent_templates/Nottingham/common_html5/logo.png /modules/site/parent_templates/site/common/img/logo_left.png
You've now resolved that bit for the XOT template apart from wherever else that needs to be replicated for export and L

[2022-06-16 13:54] ronm123 commented on #1120
@JohnSmith-LT @FayCross I've added and committed the optional property to hide the logo in xot but added the following comment:
add option to hide rather than replace automatic logo on xot template. Note: this is just the option to hide with tooltip etc. The code in Xenith still needs to be modified to hide the default logos. Not sure if that should be done by adding && x_params.icHide != 'true' i

[2022-06-16 14:16] torinfo opened #1121 "Add codesnippet plugin to ckeditor"
I thin kit would be a good idea to add the codesnippet plugin into the ckeditor toolbar.

See https://ckeditor.com/docs/ckeditor4/latest/features/codesnippet.html

[2022-06-16 14:32] JohnSmith-LT commented on #1120
Hi @ronm123 last question hopefully...

Do any of the XOT themes actually have a default logo.png that I can see loading? If not then where do they go? I tried putting one in the futureteacher theme folder and it didn't load by default - do I need to do something else to make it load or is it in the wrong place?

[2022-06-16 15:02] ronm123 commented on #1120
@JohnSmith-LT it should just be the presence of a logo.png in the root of a theme. But it looks like something has broken this because now even a logo added to a project doesn't seem to be showing? None of the bundled themes have a logo but I have a few custom themes with logos and now they aren't showing the logo either! :-(

I checked my optional property commit in case I had made a mistake and

[2022-06-16 15:09] ronm123 commented on #1120
@JohnSmith-LT @FayCross as far as I can see the last change to xenith.js was 5 days ago so unless I'm wrong about that it must be a change elsewhere that has stopped the logos from working and that change must have been today because I've had logos displaying this morning.

[2022-06-16 15:19] JohnSmith-LT commented on #1120
Oh.. for goodness sake it will probably be my changes! D'oh... If the logo doesn't exist in common_html5  them I don't put the <img> in the page so it can't then be updated by code... let me try that...

[2022-06-16 15:24] ronm123 commented on #1121
@torinfo I think at least some users would like that too.

While we're talking about editor plugins and/or changes did you see my question in https://github.com/thexerteproject/xerteonlinetoolkits/issues/966 about whether there is a suitable solution for columns/grids etc?

Also looking at the features list I think we should also include the following:

Accessibility checker
https://ckeditor.com/d

[2022-06-16 16:33] #1113 closed

[2022-06-16 16:38] FayCross opened #1122 "Accessibility of project properties window"
Issues with accessibility of project properties window:

- [ ] Can't change tab using keyboard (none of the tabs can be tabbed to)
- [ ] All the checkboxes are images so can't be tabbed to or changed via keyboard
- [ ] White text on orange background buttons don't pass colour contrast checks

[2022-06-17 09:40] JohnSmith-LT commented on #1120
Hi @ronm123 I've worked on the XOT logic for this just now and in my testing (and from what you've described) it seems to work for me:

- If you choose a valid log in the LO then it uses that
- Else it looks for a 'logo' with one of the 4 extensions ['svg',  'png', 'jpg', 'gif'] in the theme folder
- Else it looks for a 'logo' with one of the 4 extensions ['svg',  'png', 'jpg', 'gif'] in the defau

[2022-06-17 11:14] ronm123 commented on #1120
@JohnSmith-LT just tested and at first I thought "something wrong - it's not working" :-( but then I realised that I'd only read your post but not yet pulled down the changes! ;-)

Tested with logo.png and logo.svg in the theme - works well and loads the svg as the priority.
Tested adding a logo via the optional property - works fine again.
Tested using the hide optional property - works fine.
Tes

[2022-06-17 11:17] FayCross commented on #1074
@torinfo @JohnSmith-LT Is the video page now supposed to be using popcorn? I've just set up some test projects so I can test if different source formats still work but it seems to still be using mediaelement:

[v3.10 test project](https://xerte.nottingham.ac.uk/play_41125)

[develop test project (created on https://xot310beta.dlearning.nl/)](https://xot310beta.dlearning.nl/play.php?template_id=74)

[2022-06-17 11:20] FayCross commented on #1074
Actually, I'm confused. The first page with the MP4 is loading all the mediaelement stuff as well as popcorn - is that right? I thought popcorn was going to replace the use of mediaelement.js but maybe not?

Anyway, you can see from comparing the two projects above that there are issues with what used to work and what now works, as well as issues with sizing (and resizing) videos in develop.

[2022-06-17 11:23] torinfo commented on #1074
Thank you for this project. It will help me fix issues.

Popcorn itself uses mediaelemsnts if the video is an mp4. It will use the youtube and vimeo players when the video is youtube or vimeo.

The video page itself will NOT use popcorn for iFrames, but just embed the video. In that case NO tracking will take place.

[2022-06-17 14:15] #1092 closed

[2022-06-18 09:51] JohnSmith-LT commented on #1107
What about something like this as a temporary fix (the condition window.devicePixelRatio > 3 most likely needs to be more complex):

Create a next project, add a Plain Text page and add a Styles and Script box to that page.

Put this in the Styles box:
[code]
And put this in the Script box:
[code]

Requires people to zoom back out to navigate etc but at least they can see the full content - not te

[2022-06-18 12:39] ronm123 commented on #1107
@JohnSmith-LT I just tested this with a local copy of the page types demo. I haven't gone through every page but it does seem like a reasonable fix and better than what happens right now. Not sure if we can more accurately pick up the PixelRatio for different resolution monitors? e.g. on my 4K monitor triggering it at >=6 is better than >=4 but on my had monitors >=4 seems about right.

I also won

[2022-06-19 11:56] JohnSmith-LT commented on #1107
Yeah the calculation is a lot more complex than just `window.devicePixelRatio >=4` because that also factors in pixel density, etc. On Retina displays it will be double so there may need to be some browser sniffing but I haven't come across any handy function that just works. If we can get the figure for some devices and the browser info then we can probably write something but it will never be fo

[2022-06-21 12:22] ronm123 opened #1123 "auto columns option for plain text page (and other pages?)"
@JohnSmith-LT @FayCross @torinfo
I've committed the new auto columns optional properties for the plain text page https://github.com/thexerteproject/xerteonlinetoolkits/commit/07271b543aff9565b0b51f5c6f8843add59cfe04
I think even if we don't add this anywhere else, it's useful for the plain text page. The options include how many columns, gap/gutter size and ruler style, width and colour. e.g.
![im

[2022-06-21 14:20] JohnSmith-LT commented on #1120
Hi @ronm123  I've now committed the code to do the same logo thing for Bootstrap and it seems to be working fine for me for all 3x scenarios. Only issue is that for some reason making the < img> dynamic broke the CSS so i've updated that in custom.css here (https://github.com/thexerteproject/xerteonlinetoolkits/commit/fd7f0f52d2f6f5d6add000a5151ecf6dd124b43c#diff-c1c06bab11ea58ef851e71a02ab7853846

[2022-06-21 16:18] JohnSmith-LT commented on #1120
By "broke the CSS" I mean that the left logo should be on the left and the right on the right but just now they stack on top of each other because (if you right click inspect on a logo) the containing div expands to full width. I had it working at one point by changing the custom.css to div.logoL here

#overview div.logoR .logoR {
  float:right;
  margin-top:20px;
}

but now that doesn't seem to g

[2022-06-21 16:39] ronm123 commented on #1120
@JohnSmith-LT @FayCross I just tested on a 3.10 install with a logo.png and logo_left.png in the blue and grey bootstrap theme.
logo.png loads on the right and logo_left.png loads on the left.
If I just have logo.png in the folder then just that logo shows aligned right and no console errors about not finding a logo.
If I have neither then I get console errors that the files cannot be found in the

[2022-06-21 19:23] JohnSmith-LT commented on #1120
Hi @ronm123

I've fixed the defaulting issue - if you put a wrong URL in now you get a missing image icon

I've also fixed the left/right logo issue (I think)

I've also added a max-height: 200px to the XOT image and that seems to stop the SVG filling the screen - not sure if 200px is the right value though and needs done in Bootstrap too...

[2022-06-22 04:55] obgeneralao commented on #1046
Hi,
This issue is happening in [v3.10.5](https://github.com/thexerteproject/xerteonlinetoolkits/releases/tag/v3.10.5).
Once topic  in `xerteonlinetoolkits/preview.php?template_id=172#page2` is clicked, I was expecting a behavior something like `xerteonlinetoolkits/preview.php?template_id=172#page2#topic0` but the address bar changed to `xerteonlinetoolkits/preview.php?template_id=172#topic0` and r

[2022-06-22 08:15] JohnSmith-LT opened #1124 "%TWITTERCARD% not being replaced in exports"
Not sure how long this has been in the wild but %TWITTERCARD% is not being replaced in any of the exports except for the Scorm 1.2 export.

I'll fix this when I update the 5x exports with the logo code but just checking @torinfo @ronm123 @FayCross that  the 3x exports (deployment, archive, offline) should have the TWITTERCARD activated (if included) but the 2x Scorm and xAPI should have it left bl

[2022-06-22 08:34] JohnSmith-LT commented on #1120
Morning @ronm123

Yes it's most likely something to do with the specificity but that's what I was meaning by "broke the css" earlier - if left the < img> tag in the rlo.htm file and let xenith change it then it behaves different from changing the < img> tag in the PHP file and I couldn't figure out the issue...

There is something not quite right with custom.css rules though which may now be havin

[2022-06-22 08:50] torinfo commented on #1124
@JohnSmith-LT TWITTERCARD is new to develop, so not in 3.10.5 yet. Adn I also noticed that the %TWITTERCARD% was not replaced in all cases,but did not have the time yet to fix it.

I suppose that it could be usefull on export, but @ronm123 is better placed to answer that.

I think you observation is correct: It has not use for the xapi, lti, and two flavours of scorm.

[2022-06-22 08:53] JohnSmith-LT commented on #1124
Thanks @torinfo. Leave that with me then - I'll replace it deployment, archive, offline and clear it in the rest when I update the logo code in these files.

[2022-06-22 09:01] ronm123 commented on #1124
@JohnSmith-LT @torinfo We have discussed this previously and as you say Tom you was going to have a look at where else the code was needed to replace %TWIITERCARD% either with the card code or just removing the placeholder.

The trouble is it's not an exact science and is a bit more nuanced...
For the Twitter cards to work the LO needs to be public facing. That is very unlikely with SCORM and LTI

[2022-06-22 09:14] ronm123 commented on #1120
@JohnSmith-LT @FayCross that's interesting ignore those hash links! I use that in email quite a lot to prevent automatic bulleting and indenting but here the hash + number seems to be picking up links to issues! :-(

[2022-06-22 09:23] JohnSmith-LT commented on #1120
I don't think it's a big deal to fix the CSS to make it work as it did before, just pointing out that it's probably why you are not seeing any difference in the code - the browser just seems to be reacting to the current, strange css in a non-predictable way... not even sure why it was working in the first place since many of those rules are not even applying...

So just to be clear @ronm123, you

[2022-06-22 09:24] torinfo commented on #1124
xApi in groupmode could be interesting, because it enable you to track at least the number of times it is used.

[2022-06-22 09:38] ronm123 commented on #1120
@JohnSmith-LT yes sorry John I think it's all working fine (I think) apart from the presentation. I've been busy with other things and noticed that I need to fix an issue with the new alternatiing section code in Bootstrap because it seems to be part of a condition related to the back to top button options and should be completely different. I'll fix that and also try to look at the logo display b

[2022-06-22 09:43] ronm123 commented on #1120
BTW @JohnSmith-LT I noticed a whole load of logo related code commented out in application.js from line 950-1018 - I take it that's because you've commented that out but left it in for now in case needed for reference etc?

Those start/end numbers might obviously change but its the whole section that I guess @FayCross wrote with comments about the different logo options.

[2022-06-22 10:00] JohnSmith-LT commented on #1120
Yes @ronm123 there is code commented out in both application.js and xenith.js that can be removed - I just left it there for quick reference to make sure that I had included all the setting of alt property, hiding the logo if relevant, adding 'themeClass' etc...

It's been added to the checklist at the top of this post - pretty sure though that all the commented out stuff can now be removed and th

[2022-06-22 10:05] ronm123 commented on #1120
@JohnSmith-LT I mentioned that for a meeting I have this afternoon that ideally I need the theme logo to be displayed correctly. In this case a default logo.svg loaded from the theme and where the logo should appear on the right and the two titles aligned left. I've got that work by adding the following to the theme:
`#pageTitle, #pageSubTitle {
  text-align: left;
}`
However that's not correct bu

[2022-06-22 10:09] JohnSmith-LT commented on #1120
Yeah the css rules are screwed up for smaller screens too:
[code]

Not sure why or how these ever worked...

[2022-06-22 10:39] JohnSmith-LT commented on #1120
Yeah I'm definitely happy if @FayCross looks at it ;-)

I thought for a second that there may be code in application.js that adds a logoL or logoR class to the #overview dive but that doesn't seem to be the case either so I'm not really sure - most likely i'm missing something obvious but since the actual html isn't changing then i'm not really sure either why the styles aren't being applied the s

[2022-06-23 08:47] FayCross commented on #1123
@ronm123 works well!

[2022-06-23 09:23] ronm123 commented on #1123
Thanks for testing @FayCross @JohnSmith-LT I'll close this now. Would like to add similar functionality to the multi-navigator but that's slightly more complicated because it would need to be per navigator pane so might have to wait until a later release.

[2022-06-23 09:23] #1123 closed

[2022-06-23 09:31] FayCross commented on #1120
@ronm123 @JohnSmith-LT I'm looking at this but am also confused. I admit my initial css looks odd but it obviously worked! ;)

[2022-06-23 09:50] JohnSmith-LT commented on #1120
That's what I find strangest @FayCross - how has it been working across all browsers without issue for 6 years?!?

Also, when the < img> tag is hardcoded then it works but when exactly the same text is inserted via the PHP file (so it is in the html exactly the same when the page loads) it doesn't work... I was even thinking that it must be whitespace that is affecting it but could not find any di

[2022-06-23 10:34] JohnSmith-LT commented on #1120
Perfect, thanks @FayCross

[2022-06-23 10:35] FayCross commented on #1120
@JohnSmith-LT I'm still really confused though as I don't think any of the BS optional properties to override the default logo work. I don't think this is something I've done though. Do they work for you? Did they before?

[2022-06-23 10:48] JohnSmith-LT commented on #1120
Which ones don't work for you @FayCross ?

I've just tested again and the following seems to work:

- If you enter a url for (or browse to) a logo (right or left) then it shows that logo with priority
- If either url is broken then it shows the broken image placeholder to suggest that there is an issue with the url
- If either logo url is empty then it looks within the theme folder
- If there are

[2022-06-23 10:54] ronm123 commented on #1120
@FayCross @JohnSmith-LT Fay could it be caching? Just been quickly testing and like John all works for me too. Including the logo(s) moving to top centre when viewed via mobile emulation or by reducing the window width. That wasn't happening before the latest changes. Seems like we're there! :-)

[2022-06-23 11:32] JohnSmith-LT commented on #1117
Hi @ronm123 @ingedonke  I've made an update to the recorder. I've fixed a few bugs and now the record button turns red when it is recording. More importantly it checks the permissions and alerts the user to the fact that they need to enable permissions. Have only tested really in Chrome and Edge but seems to work ok..

[2022-06-23 11:44] FayCross commented on #1120
@ronm123 @JohnSmith-LT this has driven me mad but it's not working in the project I was testing in as targetFolder="site" was missing from xml. This is a copy of the UoN Bootstrap example project so probably is quite old but could do with still working. I can see that it works ok for newer projects

[2022-06-23 11:52] JohnSmith-LT commented on #1120
Sorry @FayCross , i'm using that here https://github.com/thexerteproject/xerteonlinetoolkits/blob/fd7f0f52d2f6f5d6add000a5151ecf6dd124b43c/website_code/php/xmlInspector.php#L233-L243 to determine if it's bootstrap or xot...

Need to find a different way then...

[2022-06-23 12:13] JohnSmith-LT commented on #1120
@FayCross are you able to share the oldest project you can of bootstrap - we will most likely need to make an educated guess at whether it is xot or bootstrap using the top node properties...

We actually had to do something similar to make sure that we could import old projects because in a similar way the importer could not tell if it was a bootstrap or xot zip file - that code is there and seem

[2022-06-23 12:23] JohnSmith-LT commented on #1120
In fact @FayCross I suppose the easiest question to answer may be: Were logoL and logoR present right from the start? If so I can just use the presence of them (and the related logoLHide, logoRHide) - they will only be present in Bootstrap...

I suppose it also raises the question - do I need to do work to get the Decision Tree template working too or have I broken it's logo handling...

[2022-06-23 12:41] FayCross commented on #1120
@JohnSmith-LT the option to have a logo (right & left) wasn't there from the beginning but the optional properties have always been called that (https://github.com/thexerteproject/xerteonlinetoolkits/commit/20b2b2b3b07b1c440cf8f38b31087a13459c934b)

I'll email you the example project and check decision tree too

[2022-06-23 15:42] JohnSmith-LT opened #1125 "Problems with Example Page Types (spreadsheet)"
Hi @ronm123

Just working through this worksheet and cannot find the issue with Interactive Text (nor the reference to top, left, or right). Is it the correct page you are referencing because the page text shows fine for me:

![image](https://user-images.githubusercontent.com/3907362/175339549-ec57e896-bee0-4350-a6bc-50e323b91b17.png)

![image](https://user-images.githubusercontent.com/3907362/175

[2022-06-23 15:48] JohnSmith-LT commented on #1125
Have also tested Dictation and with no optional settings selected it seems to work for me:

![image](https://user-images.githubusercontent.com/3907362/175340788-6d26e5f4-b00e-42e3-b9ee-8ef9821e428a.png)

Do you have non-working examples of each of these that you can share so that I can test further?

[2022-06-23 16:09] torinfo commented on #1125
@JohnSmith-LT I think we figured out that dictation doesn't work if you use the media file on the highest level,  with the accompanying transcript.xml file (just like in the page demonstrator).

That issue was fixed by me (also caused by me). I changed .htaccess files such that (at least on appropriately configured apache servers) xml are not served directly anymore.

The fix is to allow xml files

[2022-06-28 09:15] ronm123 opened #1127 "testing setuptsugi"
@torinfo have started to test this and have the following comments so far...

Good that it prompts for login when simply visiting /setuptsugi but it just says "Sign in" and ideally I think there should be a line that says something like "This feature requires admin login and should only be used by those responsible for maintaining your installation."

After admin login and the welcome screen I won

[2022-06-28 09:43] ronm123 commented on #1127
Just a quick note to say I can't test further at the moment. My other xampp on another drive is PHP 7.2 so still not late enough to test. :-( All my online installs are late enough but I'd want to test via a compatible xampp first. Perhaps someone else can test?

[2022-06-28 09:59] torinfo commented on #1127
@ronm123 Perhaps I should setup a xerte to test this specifically on Linux.

Although you can use the setup on XAMPP, you cannot do an upgrade, as there is no sure way to do a backup. And LIT on XAMPP (except for testing) does not make sense anyway.

I changed all the texts as you indicated, but I cannot (easily) add a text to teh login prompt. Or I would need to build a form for logging in. I'll

[2022-06-28 10:06] torinfo commented on #1127
@ronm123 Referring to your item6 above, No. that does not work. The code will not know how to make a backup of the database, and will abort.

[2022-06-28 10:16] ronm123 commented on #1127
@torinfo I understand that there are differences between local xampp on windows and a Linux install but I'm just trying to help reduce the errors and issues we might well have reported when others test this. I updated the PHP and Apache on one of my xampp installs and pulled down the latest develop, installed xerte and then visited setuptsugi:

![image](https://user-images.githubusercontent.com/51

[2022-06-28 10:24] ronm123 commented on #1127
@torinfo also I revisited /setuptsugi with this install to test upgrade and got the following:
Creating a backup of the current TSUGI folder (this may take several minutes)
Creating backup failed!
Aborting!

I don't know if that failure is the database, folder or both but there perhaps should be some info about where each is supposed to be created/saved and what step failed.

[2022-06-28 10:29] torinfo commented on #1127
@ronm123 I changed itemized list tha indicates where the backups will end up. Also in this case it says:

Creating a backup of the current TSUGI folder (this may take several minutes)

So it's the backup of the folder that fails. I've split the lines of the backup in the list, so it'is more obvious that there are actuall different steps.

[2022-06-28 10:40] torinfo commented on #1127
@ronm123 Below is a succesful upgrade:

![image](https://user-images.githubusercontent.com/5166596/176159661-219ad1b3-692d-412f-b562-e3f46eeff424.png)

[2022-06-28 10:48] ronm123 commented on #1125
@JohnSmith-LT @torinfo sorry I can't find this issue with interactive text now. As you say perhaps I added that issue under the wrong page but I can't find what page I might have been referring to :-( I do recall changing the layout option in whatever page I was testing and it not making a difference and I'm wondering if it was Sortable grid which does have Left, Right and Top options and in fact

[2022-06-28 10:57] JohnSmith-LT commented on #1125
Hi @ronm123 Yeah that's fine, I just thought i'd look at some of those issues and couldn't located that one... I'll close this now and we can re-open if it rears it's head again or we figure out what page it should have been...

[2022-06-28 11:19] JohnSmith-LT opened #1128 "Autocolumns ckeditor plugin"
Hi @ronm123, @FayCross, @torinfo

Following on from the discussions at the dev day and since, I have written an "autocolumns" plugin for the editor which in my brief testing appears to work great... It adds no css to the player because it uses the autocolumnsX classes that you added for the Text page @ronm123 but it seems to work great on all the pages that i've tested so far - I remember you ment

[2022-06-28 11:24] ronm123 commented on #1125
@JohnSmith-LT found it - sortable grid. But with a new sortable grid page it's fine. I was using a page types demonstrator and I'm guessing @FayCross created the original demo of this page containing chemical elements.
In my existing page there is no option for Grid Size e.g. Small, Medium, Large Full and I'm guessing it's defaulting to full and so not showing the page text.
![image](https://user-

[2022-06-28 11:37] ronm123 commented on #1128
@JohnSmith-LT looks good from what I can see but obviously can't test until you commit. If it works and goes in this release should we move the commit I made for the plain text page? It sounds like we probably should but I'm not entirely sure how to do that! If this works without any obvious problems and in most places where the full text editor can be used then I think it will be very popular and

[2022-06-28 11:39] JohnSmith-LT commented on #1128
Have committed now @ronm123

[2022-06-28 11:46] JohnSmith-LT commented on #1128
What still needs doing:

1. Perhaps a change to the css to show differently in the editor. If you expand the editor you do get a view for how it will look but there is extra box around and shading which perhaps could be removed
2. Testing with different scenarios - I have a non-extensive list running to about 18x different uses cases (for example, what if you make a selection containing half a tab

[2022-06-28 12:15] torinfo commented on #1128
@JohnSmith-LT Brilliant. I agree with Ron, that it would be good to release now (evn though it might not be perfect in the situations you mention John).

[2022-06-28 12:45] JohnSmith-LT commented on #1128
Ok, thanks @torinfo and @ronm123, I agree that this could be a great feature...

What I've tested so far (only really in Chrome and Edge though) and works consistently:

Each of these done before clicking the Autocolumns menu button

1. Caret in text, outside of Autocolumns (AC from now on) widget, nothing selected - **New, empty AC created on OK**
2. Some stuff selected outside of AC widget - **N

[2022-06-28 13:24] ronm123 commented on #1128
@JohnSmith-LT @torinfo sorry I think I spoke too soon :-(
Now that you've committed this I notice some issues with different page types that I also noticed when testing where I could possibly add the auto columns code that I added to the plain text page. As usual I've started with a page types demonstrator and skipped past the title page and plain text page to the bullets page. My test bullets pag

[2022-06-28 13:54] ronm123 opened #1129 "new banner option in Bootstrap"
@torinfo I've just been testing the new banner option you've added to Bootstrap so a few comments/questions...

I noticed that you named the options smaller banner and Jumbotron. I'm not sure we should refer to Jumbotron. Although that makes sense to us I think for the everyday user that will not mean anything and in fact I did a search and the common definition seems to be as follows:
A jumbotron

[2022-06-28 14:09] ronm123 commented on #1129
Sorry I meant to add that ideally this should also include text alignment options for both vertical and horizontal alignment similar to what we have in the XOT title page. e.g. I just tested with a background image and long title and subtitle. This would look great especially with the page link optional property to use a short title for the navigation but a long title in the page. But in the scree

[2022-06-28 14:51] ronm123 commented on #1129
@torinfo just tested the variable height option and using vh works e.g.
`.scale {
    height: 75vh;
}`
or
`.scale {
    height: 95vh !important;
}`
also makes it more obvious that there is something to scroll down to.
Let me know what you think about all the comments here and if helpful I could have a look tomorrow at at least adding height options as an optional property.

[2022-06-28 16:27] JohnSmith-LT commented on #1128
Thanks for the feedback @ronm123 and @torinfo. I've spent another hour on it and now have:

- Fixed the context menu issue - if you are inside an Autocolumns widget then the Edit/Remove Div option is greyed out. Also you can right click to open the Autocolumns dialog without using the menu button. Could do with being in it's own group but for now it works.
- Added a Remove button - now if you are

[2022-06-28 16:57] JohnSmith-LT commented on #1124
I don't think that there is time to implement any of this before this release so I've added code to just hide the %TWITTERCARD% placeholder on all the exports just now - I'll leave this issue open though because perhaps it needs revisiting by someone who makes use of the twittercards (not something that i've ever used to be honest)...

[2022-06-28 17:02] JohnSmith-LT commented on #1106
All thumbnails now added...

[2022-06-28 17:02] #1106 closed

[2022-06-28 17:05] JohnSmith-LT commented on #1117
Is everyone happy that this is working well enough for the release? I'm going to close this issue now but will revisit once the dust settles. If there are any glaring issues then please reopen and let me know and I may get a chance to take a look...

[2022-06-28 17:09] JohnSmith-LT commented on #1104
@FayCross tbh I haven't used this much either and th results page that @torinfo has for tracking exhibits the same strange sizing of numbers and the chart...

I think at some point in the future we cold revisit charting in all the pages and upgrade to a more modern and compliant library which may improve accessibility for these colour and graphic heavy pages...

I'm going to close this for now but

[2022-06-28 17:09] #1104 closed

[2022-06-28 17:25] JohnSmith-LT commented on #1128
I think also the thing missing from the above discussion is that you can also use these in Bootstrap:

![image](https://user-images.githubusercontent.com/3907362/176244662-9fc7076c-7d8f-4a52-82c7-ece23e02fb5f.png)

I got this all working just by adding a styles box and putting in your autocolumns css rule @ronm123 so does that swing things in favour of "lets include it" or does that add more conce

[2022-06-28 17:41] ronm123 commented on #1128
@JohnSmith-LT I didn't test in Bootstrap yet but can't really see any likely issues with Bootstrap. I think as long as it's easy enough for people to try it and then remove it without having to go into to source view or to have to rely on undo then definitely worth including. As I mentioned though if we include it we should probably remove what I added just for the plain text page and I'm not sure

[2022-06-28 17:42] ronm123 commented on #1128
BTW plan to test a bit more in the morning and also add the XOT header colour option that I asked about via email but nobody objected.

[2022-06-28 18:56] JohnSmith-LT commented on #1128
Ok, no worries. I will be working on the English language file tonight so any suggested changes to the Names, Labels, Titles, Alt text or Popups would be greatly appreciated...

To remove what you added for the Text page then all you need to do is remove the XML from the page structure and then rebuild the .xwd files but leave the CSS. The CSS then needs to be added to the correct place in Bootstr

[2022-06-29 09:17] torinfo commented on #1129
@ronm123 Working on this. All good points!

[2022-06-29 10:14] torinfo commented on #1129
@ronm123
- Named the options Full screen , Fixed height
- You specify the fixed height (with a stepper at the moment, but we can change that to vh if you want
- You can specify whether to collapse the full screen banner (default = true)
- You can specify whether to show the bouncing error (default = true). The text shown comes from engine_en-GB.xml

[2022-06-29 12:03] ronm123 commented on #1129
@torinfo good to have the additional options.
But I think we're thinking slightly differently..
For the full screen option I was thinking it would be useful if the height didn't have to be 100% and could be perhaps 95%. Now percentage wouldn't work but vh does. The step could indicate a range between say 30%-100% with the default being 100% but in the code that's actually 30vh-100vh.
The fixed hei

[2022-06-29 13:11] ronm123 commented on #1128
@JohnSmith-LT @FayCross @torinfo just picking up on this now... I think we've decided to include this so the wizard option I added for plain text should be removed. Is that correct?

I can easily remove the options from the plain text page wizard and leave the css in place as John suggests. I'd previously added those styles to desktopstyles is that correct? https://github.com/thexerteproject/xerte

[2022-06-29 13:31] ronm123 commented on #1128
@JohnSmith-LT @FayCross @torinfo I've committed these changes now e.g. removed the plain text page optional properties and added the default autocolumn styles to bootstrap and decision. Have also tested in both those projects that the basic functionality works.

[2022-06-29 13:33] torinfo commented on #1129
@ronm123 Can we have a look at this again after the release?

I do not like the defaults of the header options (left aligned, repeat). I would rather have center, no-repeat

Anyway, I have not changed that at the moment. I did add an option to be able to set the background-size (auto, contain, cover)

[2022-06-29 14:00] ronm123 commented on #1128
@JohnSmith-LT yes it's a great option and much better than limited to just the plain text page! I'll have a go at the release notes for this if you wish? I need to remove what I added for the plain text page anyway but will be a lot easier to be able to demonstrate it working once the xot.xerte.org.uk install has been upgraded.

[2022-06-29 14:04] JohnSmith-LT commented on #1128
Yes please @ronm123. You know the audience better than me and always do a great job getting the wording spot on. Remember to let me know if you think any of the wording for the buttons/titles/prompts etc need changing and i'll do that before tomorrow.

[2022-06-29 14:18] ronm123 commented on #1129
@torinfo there's a bug we need to fix too although it's kind of fun! ;-)
I have a test project with multiple page to test the different options and the first two pages are full screen images with the scroll down info enabled. If I switch back and forth between those pages using the nav bar and without scrolling down then the number of flashing down arrows doubles which as I say looks quite fun as

[2022-06-29 14:25] ronm123 commented on #1129
I think a related issue is that the scroll info doesn't always disappear after scrolling down or changing page.

[2022-06-29 15:04] torinfo commented on #1129
I'll have a look at the Scroll down info

With respect to mobile devieces. It's basically the same as it used to be. Right?

And vertical allignment. See if you can add that. Plan to release later on the day (probably 5 minutes to 12)

[2022-06-29 15:45] ronm123 commented on #1129
Not quite the same as we had before because now we have a height option defined in pixels? Do you mind if I have a look at changing that to vh and with a minimum and maximum?
Yes I think the vertical alignment should be easy enough to add.
Do you mean 12midnight or 12noon? ;-)

[2022-06-29 17:59] FayCross commented on #1125
@ronm123 I've just looked and the grid size option was only added to the xwd in May this year - so not long enough ago for us to ignore!

[2022-06-29 18:32] torinfo commented on #1129
@ronm123 I cannot replicate the issue with the info twice and/or not dissapearing.

[2022-06-29 19:20] ronm123 commented on #1129
@torinfo I can't reliably replicate it not disappearing now but I can replicate it appearing more than once see the following:
![flashing_arrows](https://user-images.githubusercontent.com/5167146/176518593-e876ae68-0936-4fbf-8a85-943518e419ff.gif)

also I've been testing the vertical alignment of the titles but it's another one of those where I can't work out how to enable/disable the css correctl

[2022-06-29 19:58] FayCross commented on #1125
I

[2022-06-29 19:58] #1125 closed

[2022-06-29 20:14] torinfo commented on #1129
@ronm123 I fixed the double arrows... :-)

The setting/disabling of the header is in a function x_CheckBanner(). Ther you should be able to add/remove the margin-top.

Just below the function is a windows.scroll function that handels the collapsing of the full-screen banner.

If you want, I can have a look at that if you commit your code, and tell me where you added the margin.

[2022-06-29 20:33] torinfo commented on #544
Can you put this LO in xot310beta and share it with me please? I'll have a look.

[2022-06-29 20:33] torinfo commented on #544
@FayCross Can you put this LO in xot310beta and share it with me please? I'll have a look.

[2022-06-29 20:38] FayCross commented on #544
https://xot310beta.dlearning.nl/play.php?template_id=85
I've shared with you too @torinfo

[2022-06-29 20:40] ronm123 commented on #1129
@torinfo I'm shutting down for the night now but yes if you can get it to work or advise where to put it I'll have another go in the morning. I tried two options just below $(".jumbotron").addClass("x_scale"); around line 1428:
Just setting the margin value but in reality the 20% would come from an optional property ranging from say 2% - 60%.
$(".titles").css("margin-top", "20%");
Or
$(".jumbotron

[2022-06-29 20:49] FayCross commented on #1129
@torinfo There's a bug that I think is probably related to your changes for this, although it's affecting projects where there is no banner added too. If the page title is long then the header stops expanding and you lose some of the title or subtitle:
![bs_banner](https://user-images.githubusercontent.com/8926470/176542076-323b883f-277b-4cc6-8f0f-44c93d5e3284.PNG)

[2022-06-29 20:58] torinfo commented on #544
Thank you!

[2022-06-29 21:20] FayCross commented on #1129
@torinfo a couple of other bugs / comments:

- [ ] when collapse banner is off and you scroll down, the scroll down info and arrows don't disappear but stay at the bottom of the page - overlapping the page text
- [ ] when collapse banner is off and you scroll down, the section menu first appears below the banner but then jumps up to overlap it as you scroll further down
- [ ] when banner is full s

[2022-06-29 21:59] FayCross commented on #1128
@JohnSmith-LT I've only tested in Bootstrap template so far but have a couple of comments.

I've written two paragraphs, selected them and clicked the column button to turn them into 2 columns - this works well. If I click the column button again to edit the columns, don't make any changes and click cancel, the dialog closes and my text no longer appears in columns. My last paragraph is also dupli

[2022-06-29 22:00] torinfo commented on #1129
@FayCross Thank you for this. Will have a look. The issue is that when you have full screen banner, and then collapse it, the image still needs to make sense. So collapsing it to only the height needed for the titles, does not always work... I'll see what I can do.

[2022-06-29 22:25] FayCross commented on #1088
I was hoping the new code snippet plugin that Tom's added would solve this but it doesn't. You can add HTML via the code snippet and it initially shows ok but when you move away from the page and back again it renders the code snippet as HTML...

When first entered:
![code1](https://user-images.githubusercontent.com/8926470/176555857-07e4e51a-edf2-4384-9fda-5fb52b6c26f4.PNG)
After returning to the

[2022-06-29 22:34] FayCross commented on #1117
@JohnSmith-LT sorry for only testing this now - it works really well! I have one comment but won't reopen the issue - I'll leave it to you to decide whether it's necessary or not. After you have added a new recording to the page, if you double click the player then it reopens the record audio dialog. I think it would be nice if instead it opened the HTML5 audio dialog instead (the one you get when

[2022-06-29 22:38] JohnSmith-LT commented on #1128
Is this in Firefox @FayCross ? Do you see the same if you use Chrome? I haven't tested a great deal in Firefox in recent days so it may be that changes that I have made to fix one thing have broken it in Firefox. I read that Firefox definitely handles selection and ranges differently - I will look at that in the morning but I suppose if that is a deal breaker then should we either remove this unti

[2022-06-29 22:41] FayCross commented on #1128
@JohnSmith-LT chrome. It has never made me lose content - just duplicates some of it occasionally!

[2022-06-30 01:37] JohnSmith-LT commented on #1128
Thanks @FayCross . I've made the defaults for spacing and line thickness 1 and 1 but if you think they should be different then it's easy to change this, just let me know.

I also think I've fixed the strange extra paragraph bug. I couldn't reproduce the bug where you click cancel and the box goes away though - can you still reproduce that and if so can you provide steps to reproduce and I'll take

[2022-06-30 02:09] JohnSmith-LT commented on #1117
HI @FayCross , i've reopened this and taken a look at it. It seems that if you insert the audio and then double click on it then yes it does open the recorder again but if you insert the recording and navigate to a different page and then come back again and then double click on it then it does indeed open the HTML5 Audio box and allow you to change the alignment etc...

Not really sure why that i

[2022-06-30 08:21] ronm123 commented on #1128
@FayCross @JohnSmith-LT in the wizard for the plain text page (now removed) I had added the following tips and tweaked them below to remove reference to plain text:

If you have long paragraphs of text then your page or selection may look better displayed as columns rather than long lines, especially on higher resolution displays. Use this editor option to select blocks of text and enable/disable

[2022-06-30 08:30] FayCross commented on #1128
@ronm123 @JohnSmith-LT I think this text would be useful to include in the column dialog:

Note: the number of columns option represents the maximum number of columns you require but depending on device/screen resolution may display fewer columns if the number chosen will not fit.

[2022-06-30 08:36] JohnSmith-LT commented on #1117
Something like this @ronm123 @FayCross ?

![image](https://user-images.githubusercontent.com/3907362/176632052-b124cae6-1bea-43d8-9c5e-34e4d7038bd9.png)

[2022-06-30 08:36] JohnSmith-LT commented on #1128
Something like this @ronm123 @FayCross

![image](https://user-images.githubusercontent.com/3907362/176632187-21f36f0e-d7d1-4463-addf-ffc19c204a39.png)

[2022-06-30 08:42] FayCross commented on #1128
Yes, although it could possibly be shorter: 'Note: this is the maximum number of columns. Fewer columns will be displayed if device/screen resolution means this number will not fit.' I don't mind much though!

[2022-06-30 08:46] JohnSmith-LT commented on #1128
Ok lets go with that @FayCross although now it sounds like it should be written in this format: Objects in the Rear View Mirror May Appear Closer Than They Are

Columns in the final LO view may appear fewer than they are...

[2022-06-30 08:52] ronm123 commented on #1128
Hmmm perhaps we should also say something like:

Objects in the small rear view mirror will not display the same when on the open road...

Even with columns set to 3, 4 or 5 you may not see more than 2 columns in the small editor window and may need to play your project to see 3 or more columns.

[2022-06-30 09:02] ronm123 commented on #1128
Not mentioning the following because it's a real problem but in case it's relevant in any way John I've just been testing with my local copy of the XOT page types demonstrator and noticed the following:
On the plain text page I have the a mix of styles and when looking at the source view it ends with:
`<blockquote class="bq2">
  <p>We&#39;ve used a few different styles here to show some of the pos

[2022-06-30 09:06] ronm123 commented on #1128
![image](https://user-images.githubusercontent.com/5167146/176638246-95757aed-013a-4c17-b1fe-3d4cb3518c9d.png)

![image](https://user-images.githubusercontent.com/5167146/176638302-4baaaa2c-6c3b-4337-b46d-dc9df834df6f.png)

![image](https://user-images.githubusercontent.com/5167146/176638395-aa622b29-9125-4f27-8040-e4203e213f3e.png)

[2022-06-30 09:12] JohnSmith-LT commented on #1128
Yes @ronm123 I think my selection routine is still rather naïve and definitely improved upon - in some cases i've erred on the side of caution and put in more than perhaps I need to for fear of losing content and then the author can tidy up. I will work on this though when I get back from holiday and try to get a better version into the download - hopefully not many people are rushing to download

[2022-06-30 09:33] ronm123 commented on #1128
@JohnSmith-LT it's still great to have this as it is now even with a few small issues as long as no content is lost when undoing/removing etc. The only other issue I've found so far and already mentioned is where I have a para of text with an image aligned right. Doing a Ctrl + A or trying to drag to select all loses selection of the image as soon as I move to select the auto columns button. Howev

[2022-06-30 09:48] FayCross commented on #1121
@ronm123 I've added these two plugins and they seem to work well. I'll close this - not sure if any work needs doing for the shortcuts thing you mention above but maybe open a new issue if there is

[2022-06-30 09:49] torinfo commented on #1129
@ronm123 I suppose you mean the transition in the custom code?

[2022-06-30 10:20] JohnSmith-LT commented on #1128
Have you tried right-clicking on the selection @ronm123

[2022-06-30 10:37] ronm123 commented on #1128
@JohnSmith-LT I think it's some kind of focus issue and right clicking loses the selection too. But I think it's fine adding some guidance in the release notes about using the selectors at the bottom of the editor window - that's quicker and more reliable if you want to select everything.

[2022-06-30 10:46] ronm123 commented on #1121
Thanks @FayCross just been testing these and they are both great! At first I was underwhelmed by the accessibility plugin! :-( but I hadn't paid enough attention to what it does and doesn't cover. e.g. In my test I changed the word Xerte to be black text on a dark red background and the word Toolkit to be light grey on white and then clicked the button and got the following:
![image](https://user-

[2022-06-30 10:50] ronm123 commented on #1121
@faycross BTW not for this release but we should investigate what has been used for the xhibitapp colour checker and see if we can add that too e.g.
![image](https://user-images.githubusercontent.com/5167146/176659498-81689c4b-ec59-40f2-b04e-2926938057d4.png)

[2022-06-30 10:53] FayCross commented on #1121
@ronm123 yes, I was the same with the accessibility checker initially too (I tested it ages ago and have been meaning to add it for months). I like the way that if you have missing alt text you can enter it directly in the popup warning and it adds this to the image for you. I thought it did check contrast but perhaps that's something I didn't check.

I can add to release notes later

[2022-06-30 10:59] FayCross commented on #1121
@ronm123 you're right - it doesn't check contrast. That's seems like an obvious thing that's missed out! I get this message when it finds an image with no alt text though, is this different for you?:
_Use empty alternative text only for decorative images
Empty alternative text can only be used if the image serves purely decoration purposes. If the image is supposed to convey any information whatso

[2022-06-30 11:18] ronm123 commented on #1121
@FayCross I get the same prompt but it doesn't say how you can set it as just decorative by adding ''
If you ignore it then that's fine but it will prompt if you check again.
If you click quick fix without adding anything its displays the alert saying Alternative text can not be empty
If you know about adding '' it accepts that and doesn't prompt again when you next check. So we probably just need

[2022-06-30 11:18] torinfo commented on #1121
@ronm123 @FayCross About the codesnippet plugin:

When you use code snippet for code like <b>Test</b> it produces the following html:

[code]

That code is stored OK in the editor. When navigating away and then back again the code is still the same.

It is then added to a textarea with jquery:

First the fragment is chenged to a jequery object:

[code]

Then added to html, which is then converted

[2022-06-30 11:24] JohnSmith-LT commented on #1128
Hi @ronm123 it would appear that that issue that you've found isn't even related to the columns plugin. You see below, if I remove both the columns and recorder plugins and then click at the end of the editor and press Ctrl-A then it briefly selects everything and then a second later it unselect it...

So this is either a new 'feature' or one that has perhaps been around for a long time and we've

[2022-06-30 11:30] torinfo commented on #1121
@ronm123 @FayCross Fixed :-)

That was easier than I thought. There was already code to treat content with the &lt;testarea&gt; in it differently (it put the valu in a data attribute and than after initiating ckeditor used the setValue of the editor to set the content. Than it works as expected!

[2022-06-30 12:32] torinfo commented on #1129
@FayCross @ronm123 I fixed/changed a lot of the issues I think.

Many more conditionals. You can choose wther you really want to set a height when using fixed height header of collapse (default is off). You only do this if the image requires it for some reason. Also height is set in vh.

Top margin can be set in %, default is 20%

I'll commit this, so you can have a look.

@ronm123 I'm going to lo

[2022-06-30 12:32] FayCross commented on #1128
@JohnSmith-LT I'm getting errors in editor since your last commit. Line 85 of plugin.js

[2022-06-30 12:35] FayCross commented on #1121
@torinfo great - this works now! thanks

[2022-06-30 12:35] #1088 closed

[2022-06-30 12:50] JohnSmith-LT commented on #1128
Hmm... is it caching @FayCross ? I'm not seeing any errors -have you pulled down the latest commits?

[2022-06-30 12:57] FayCross commented on #1074
@torinfo only tested Video page but initial thoughts are it's much better in lots of ways. Bugs/comments below:

- [ ] MP4 file. On first load of page it often appears like this:

![video1](https://user-images.githubusercontent.com/8926470/176681179-19c5f6ef-2bb4-4a2b-8e40-128e2536da60.PNG)
The video player then loads correctly when the browser is resized (albeit at the wrong size)

- [ ] When You

[2022-06-30 12:59] FayCross commented on #1128
@JohnSmith-LT was the last commit supposed to include a language file?

[2022-06-30 13:00] ronm123 commented on #1128
@JohnSmith-LT it's not caching I'm getting errors too. Was just testing the banner stuff in Bootstrap and noticed that if I try to go to a text area the console shows the following error:
http://127.0.0.1/develop/editor/js/vendor/ckeditor/plugins/xotcolumns/lang/en.js?t=J5S8 net::ERR_ABORTED 404 (Not Found) 105
and Uncaught TypeError: Cannot read properties of undefined (reading 'toolbarButtonLabe

[2022-06-30 14:17] ronm123 commented on #1128
@JohnSmith-LT is the button/icon you've used for autocolumns and FA icon? If so what is it?
I know some of the newer icons don't show under our search but can be used if you grab the code from elsewhere but I couldn't find one that exactly matched the one you've used - perhaps it's not FA?  At the moment I've added a new 'Editor enhancements' section to the release notes with placeholder tabs for

[2022-06-30 14:19] FayCross commented on #1118
@ronm123 a minor thing but should there be some extra space beneath each section when the back to top button is hidden? The titles end up being closer to the section text above than the section text it's the title for

[2022-06-30 14:27] JohnSmith-LT commented on #1128
I think it started out as this @ronm123 https://fontawesome.com/icons/columns-3?s=solid but I resized it and stretched it since I wanted it more square... I can change though if you think it would be better to...

[2022-06-30 14:44] ronm123 commented on #1118
@FayCross I'm sure both those things can be resolved. Let's discuss at 4pm.
Re the extra space needed if the button is hidden. I didn't actually add anything to hide the button it's just that we wrapped what was already there in a condition that checked for not being hidden and in the original button code there is a <P> around the button that now doesn't exist if the condition isn't met. Will prob

[2022-06-30 14:46] ronm123 commented on #1128
@JohnSmith-LT I think that's fine as it is. But likewise I think that button is newer than we currently load into projects so I'll leave the button I've used in the navigator heading for now - I doubt anyone will notice the difference!

[2022-06-30 14:48] torinfo commented on #1129
@ronm123 @FayCross Added transision
Also added title alignment for title (not only for fullscreen).

[2022-06-30 16:31] FayCross opened #1130 "Magnification bug with some themes"
The magnify image on hover when using some themes is a bit odd. You can see this on pages like [Graphics & Sound](https://xot.xerte.org.uk/play.php?template_id=116#graphicsandsound) in page examples project. Instead of sticking to the cursor the magnifier is offset.

[2022-06-30 16:37] FayCross opened #1131 "Import pages into an empty project bug"
The editor breaks if you attempt to import pages from another project into a project containing no pages. The page tree on left goes blank and you have to refresh the editor to get it working again. After refresh you can see that the pages were imported successfully. Importing pages into a project that is not empty works fine

[2022-06-30 16:51] ronm123 commented on #1131
@FayCross I think I found this previously but can't remember if I added it as an issue or just discussed via email or verbally but it's been there a while I think.

[2022-06-30 17:27] ronm123 commented on #1067
@FayCross @torinfo @JohnSmith-LT I've just been trying to quickly look at why this isn't working in Bootstrap. Looking at this previous issue discussion suggests it was working in Bootstrap on 7th Jan when Fay raised the issue and I added code to preview.php too. However it's not working now and I can't see why. The code seems to be in the site play.php and rloobject and I'm seeing the twittercard

[2022-06-30 17:35] JohnSmith-LT commented on #1067
I’ve committed a fix… it wasn’t me as far as I can tell but only in play.php for bootstrap:

$tcoption = $xml->getLOAttribute('tcsite');

There’s then a check for $tcoption ==”true” which it never is since tcsite is a url…

Regards

John

From: Ron Mitchell ***@***.***>
Sent: 30 June 2022 18:27
To: thexerteproject/xerteonlinetoolkits ***@***.***>
Cc: Smith, John ***@***.***>; Mention ***@***.***>

[2022-06-30 17:39] JohnSmith-LT commented on #1067
It was you two months ago @ronm123 ;-)

![image](https://user-images.githubusercontent.com/3907362/176742266-02453cdb-e495-4767-ba56-e8e345ed3a94.png)

[2022-06-30 18:04] ronm123 commented on #1067
@JohnSmith-LT oh dear! :-(  Very strange given it was correct in preview.php but glad you found it!
@torinfo sorry can you replace site play.php on xot.xerte.org.uk with the updated file or just make the same quick change?
I want to validate the card and then probably change the image used to fit the card.

[2022-06-30 21:00] ronm123 commented on #1129
@torinfo @FayCross I'll mention this now but plan to revisit in the morning... The issue I noticed is that having added the hidden copy of the homepage set to use a full screen image with title left aligned and towards the middle of the page that all works great e.g.
![image](https://user-images.githubusercontent.com/5167146/176777042-28ba8351-2a69-4a94-9044-e4e4f0b7e6e7.png)
However when I then n

[2022-06-30 21:18] #1120 closed

[2022-06-30 21:31] JohnSmith-LT opened #1132 "Sortable Grid issue"
If two draggables have the same answer then shouldn't they preferably be interchangable?

![image](https://user-images.githubusercontent.com/3907362/176781633-ef74f6b4-9855-456b-acb7-56ffc667e4de.png)

[2022-06-30 21:39] torinfo commented on #1132
Don't even start that... :-)

[2022-06-30 21:41] JohnSmith-LT opened #1133 "RSS Feed issue"
The RSS feed used in the Page Types demonstrator (Nottingham,ac.uk) comes back as not a feed - [not sure if it's the page or the actual feed itself...](https://xot.xerte.org.uk/rss_proxy.php?rss=https%3A%2F%2Fwww.nottingham.ac.uk%2Fmaster-toplevel%2Fnews.aspx%3FschoolNewsListingAlternate_SyndicationType%3D1&format=json)

![image](https://user-images.githubusercontent.com/3907362/176782388-43f4b841

[2022-06-30 21:47] JohnSmith-LT opened #1134 "Should the TOC open near the current page?"
Just now it just appears to open at a random location, near to the start...

![image](https://user-images.githubusercontent.com/3907362/176784458-5197d7f1-fe8a-493d-97d6-6073bed351b4.png)

[2022-06-30 22:37] FayCross commented on #1133
It's the feed I think- the bbc rss feed displays ok on the page. We just need to decide what to replace it with I guess

[2022-07-01 08:29] ronm123 commented on #1133
I think I've used different feeds in some of my local tests - I'll have a look - would be good to use something relevant.

[2022-07-01 08:37] FayCross commented on #1121
@torinfo I guess so - I've added a block to the release notes https://xot.xerte.org.uk/preview.php?template_id=81#v3.11section8 (code snippet tab) and it's not formatted correctly

[2022-07-01 08:40] FayCross commented on #1121
@torinfo it's because it's on a tab that's not initially visible I guess? I've just tried on a text page in the XOT template and it works

[2022-07-01 08:42] torinfo commented on #1121
Ok, I'll have a look. Should be fairly simple to fix.

[2022-07-01 09:18] ronm123 commented on #1133
Have added a feed from the forums and updated the page info https://xot.xerte.org.uk/play_116#rssfeed

[2022-07-01 09:18] ronm123 commented on #1133
Have added a feed from the forums and updated the page info https://xot.xerte.org.uk/play_116#rssfeed

[2022-07-01 09:44] torinfo commented on #1121
@FayCross It was not implemented properly in bootstrap.

Did that just now, and redeployed on xot.xerte.org.uk

The indentation is not correct in the source. It will NOT do autoformatting. I tried fixing the indentation on a copy and that works fine, but Ron is working on the Release notes, so cannot fix it.

[2022-07-01 09:44] #1121 closed

[2022-07-01 09:47] FayCross commented on #1121
@torinfo it was indented correctly when I pasted in the code but then it did that thing when it changes if you move away and back to the page in the editor.

[2022-07-01 09:48] JohnSmith-LT commented on #1132
I knew you were having issues with this page @torinfo so that was a little bit tongue-in-cheek but I do think it's a valid point although maybe not for today to fix ;-) - if you want (after this release is over) to open an issue and list some of the things that are still outstanding with this page then I will take a look at it and see if a fresh pair of eyes could help - a link to any examples you

[2022-07-01 14:35] ronm123 commented on #1129
@FayCross @torinfo I've just hidden the apereo logo on the full screen page with css for now. I guess in future any option on individual pages to hide the logo would need to hide it in the full screen view but not in the collapsed view or have the option of both. At the moment we have the options to hide left and or right logos project wide but not on individual pages - apart from using css.

[2022-07-01 14:46] ronm123 opened #1135 "test and document what can and can't be used in page ID names"
Just adding this as an issue after we troubleshooted the clash between page ID names in Bootstrap and the scroll highlighting.

@JohnSmith-LT added a fix for when periods have been used in pageID names. Using periods didn't impact linking to those pages but did clash with the scroll highlighting of the section menu.

It seems brackets in page ID names cause that issue too but underscores are fine.

[2022-07-06 08:26] FayCross commented on #1129
@torinfo @ronm123 If a page has a full screen banner then it's tricky to access the page menu using keyboard only. Try on the release notes: https://xot.xerte.org.uk/play.php?template_id=81#home - if you tab then you get stuck going between the what's new in 3.11 link and the skip of main contents link. You can only access the page links by using the down arrow to first scroll down and then tabbin

[2022-07-06 08:44] ronm123 commented on #1129
@FayCross @torinfo I've got a meeting starting in a minute so can't investigate further at the moment but I quickly tested and noticed another odd issue - if you follow a link to one of the version page and then hit return on the skip to main contents link it goes to the next page rather than the main contents of the current page.

[2022-07-09 20:47] torinfo commented on #1099
@JohnSmith-LT The changes to the glossary in 3.11 broke some previous LO's

For now I've reverted all changes back (because reverting #1099 only didn't work either).

I've put two examples in xot310beta, so that there is some LO that we can test against. We need to add you to that install so you can export from there into your own install.

ERIC Basic (id=100)
Privacy (id=101)

[2022-07-11 16:06] ronm123 opened #1136 "some issues with image sequence page"
@FayCross @torinfo just adding some notes about this while fresh in my mind...

1. As discussed via email - would be good if the speed option could be used to slow down the speed of image change even when there are just a relatively small number of images.
2. I noticed a bug or two when importing an image sequence page from one LO to another. This might not be specific to the image sequence page a

[2022-07-11 16:29] ronm123 commented on #1132
Hi all
I had it reported that the the small, medium, large settings do not appear to change the size of the grid. Actually on my tests the options do make a change but not consistent with what you might expect e.g. see attached:
![image](https://user-images.githubusercontent.com/5167146/178312688-a8a5ecb9-f2df-42af-b410-af2e3f4e50d2.png)

[2022-07-11 19:27] torinfo commented on #1132
@ronm123 @FayCross The actual grid will never be larger than needed. This might result in what you see above. However if you make tthe window narrower you see the difference again. So the grid in image 3 has all the space it needs, without wrapping the contents in a cell. Than making it larger (as in 4) does not change the appearance of the grid.

In this case it would have been cleaner to set the

[2022-07-11 19:36] torinfo commented on #1136
Regarding 3. Could this be a php setting: max_file_uploads?

[2022-07-11 21:30] torinfo commented on #1136
Regarding 2. Bleeh. That is no fun at all.... Only the first and the last filename are set in the xml. The intermediate files are not. So... according to the code, those files are not used, and so, they are not copied.

The same happens in the media and quota pannel. All the files except the first and last are marked as not used...

Not sure yet how to best fix this.

[2022-07-12 08:18] ronm123 commented on #1132
@torinfo @FayCross a few comments...

I think one of the problems is how similar options work on other pages (mostly with images) so I think there's probably an expectation that the options here work the same.
1. Grid size = small doesn't seem right
4. Grid size = full  hides the page text (like full options on other pages) but I suspect users will expect that to fill the window.

I'm sure Fay wil

[2022-07-12 08:33] ronm123 commented on #1136
@torinfo re 3 sorry I didn't even think about that but yes you're right max_file_uploads is the restriction.
I guess that rarely crops up as an issue but in my xampp and I guess also on xot.xerte.org.uk the default values of 20 is set. I changed that in xampp to 60 and could then upload the set of 41 images in one go. I'll add a note about that in the section about this page in the release notes b

[2022-07-12 11:20] torinfo opened #1137 "Using <em> or other font attributes in section title crashes in javascript"
This is caused by line 1684 of application.js

$(tocName)

I don't really understand what is the purpose of this piece of code, nor do I understand why it crashes, but would be good to fix a.s.a.p.

This code is in there since 2017.

[2022-07-12 13:05] ronm123 commented on #1137
@torinfo that's very surprising! Not so much that <em> causes the crash but also even just making a word in the section title bold or changing it's colour via the mini toolbar. If this has been the case for a long time how come it hasn't cropped up before!?

[2022-07-12 14:55] torinfo commented on #1137
@ronm123 I suspect it is caused by the different version of jQuery needed because of the changed version of bootstrap. In the end I did not upgrade bootstrap to the version I tried first, but installed the latest patch of the version we were using. So we could look into going back to the same version of jQuery as 3.10.

[2022-07-12 15:17] torinfo commented on #1137
@ronm123 We're using the same version as in Xot now (1.9.1 which is quite old in it self) for v3.11.

For 3.10 we used 1.8.2. And that version does not crash, but does strange things as well. For example, if you use 'Page <em>1</em> as the title, only the 1 ends up in the top menu of a page.

I think the code just tries to strip out html, but I am not entirely sure.

[2022-07-12 20:41] torinfo commented on #1136
Issue 2 is fixed by commit 24ee9e49e269988f50d929d067931f0e4d78af06

[2022-07-14 13:58] torinfo commented on #1137
@FayCross  Do you have time to have a look at this code and explain (if you still know how the code works you created in 2017) what you are trying to accomplish with the cleaning up of tocName around line 1684 of application.js?

[2022-07-14 14:57] FayCross commented on #1137
@torinfo I'll have a look

[2022-07-14 15:01] FayCross opened #1138 "New customise button icon options"
I've just added some new options to allow you to customise the icons used for XOT interface buttons. Although this works for themes where the buttons aren't already font awesome icons, some tweaks of button colour and positioning are needed on the following themes:

- [x] Xerte Online Toolkits
- [x] Dark: Grey
- [x] Flat: Blue
- [x] Flat: Orange & Purple
- [x] Flat: Red
- [x] Flat: White
- [x] Inf

[2022-07-14 15:24] #1137 closed

[2022-07-14 15:26] FayCross commented on #1137
@torinfo is that better? I think that code's still needed to strip out some changes to text so the section menu doesn't look odd - there might be a better way of doing that but for now that commit stops it crashing

[2022-07-14 15:29] FayCross commented on #1136
@torinfo - thanks for looking at issue 2. Specifying the first and last images was the only easy way I could see of creating this page. Much too time consuming to select every image individually in the editor!

@ronm123 - I'll have a look into issue 1 (play speed) tomorrow

[2022-07-15 07:25] torinfo commented on #1137
@FayCross I'll have a look. So it's just some chages and not all. I.e. It's not an option to use $(<div>.append(tocName).text()?

That strips out all html

[2022-07-15 07:39] FayCross commented on #1137
@torinfo the code was trying to just strip out a couple of things rather than every thing - that way things like super/subscripts, font awesome icons etc. will stay. I don't remember adding this so I don't mind if it's changed to be simpler but I can see that people might want some html left in there

[2022-07-15 07:54] #1134 closed

[2022-07-15 09:00] ronm123 commented on #1136
@FayCross while you're doing that was it also meant to be limited to 0 to 1? Might be worth changing what is displayed even if the values used are 0.1 0.2 etc or perhaps just adding a tooltip.

[2022-07-15 09:07] ronm123 commented on #1138
@FayCross I had a quick look at this yesterday and I wonder if we should add a new option to 'Covert old theme to FA Icons'?
e.g. I don't think we should just change those themes but we could give users the option to change the selected theme to FA icons and then trigger the code that I think you originally added to hide the image buttons and change to FA icons. At the moment the new option to cha

[2022-07-15 09:29] torinfo commented on #1137
@FayCross Ah yes. I can see that. The page titles have the same issue, and the same code (around line 525) so I fixed that in the same way.

[2022-07-15 09:32] ronm123 commented on #1138
@FayCross also one of the theme related issues I was going to have a look at was the issue reported on the forums about not being able to use the new option to change the header colour on the Simple: Black & White theme https://www.xerte.org.uk/index.php/en/forum/bugs-and-issues/2901-can-t-change-header-background-colour-in-simple-black-white-theme#8207

I think that's because we have the gradient

[2022-07-15 09:34] ronm123 commented on #1138
@FayCross Sorry I forgot and meant to add - I think where you've enabled the changing of the tooltips for individual icons the label of that text field should perhaps be Tooltip rather than Title or have a tooltip icon explaining what Title means?

[2022-07-15 09:56] FayCross commented on #1138
@ronm123 I don't mind fixing the themes I've listed above, unless you find it's really quick to do when you are looking at the other issue. The buttons that are changed have a class added (customIconBtn) so the CSS just needs to target that. I think the Xhibit theme icons were just spaced out a bit strangely when I changed the icons (possibly because of the icon size?) but none of these theme chan

[2022-07-15 10:49] ronm123 commented on #1138
@FayCross turns out the fix for optional header colours in some themes was easier than I anticipated and didn't require changing each of those themes apart from flat white which had a white background set on the titles too. So I've dealt with that issue now and don't need to edit the other themes. If you are able to add that convert option I think that would be good because then we can also ensure

[2022-07-15 10:56] FayCross commented on #1138
@ronm123 probably worth opening a new issue for the group appearance issue. I agree it's cluttered now. I had wondered about whether optional property groups should be collapsed by default, except for when you add a new one when it should appear expanded initially. It's probably something we need to try a few things and see what works best

[2022-07-15 10:58] ronm123 commented on #1138
@FayCross just to add...
Same issue in the accessibility group with the Title label should either be changed to 'Tooltip' or 'Button Tooltip' of adding a help tooltip after 'Title'.
I can see why the hide option is at the top and set as a conditional trigger but I'd still rather it be at the bottom so it's less emphasised that is an option. e.g. all the other options are arguably pro-active with c

[2022-07-15 11:27] ronm123 commented on #1138
@FayCross just testing via the browser inspector and even something like the following helps I think:
`fieldset.wizardgroup.wizardoptional {
    border-top: #b9b8b8 solid 2px;
    border-bottom: #b9b8b8 solid 2px;
}`

[2022-07-15 11:56] ronm123 commented on #1138
@FayCross just tested this by adding those top and bottom border styles to the fieldset.wizardgroup e.g. around line 737
`fieldset.wizardgroup {
	border: 1px solid #ccc;
	margin-top: 10px;
	border-top: #ffffff solid 2px;
	border-bottom: #b9b8b8 solid 2px;
}`

Worth committing that for now?

[2022-07-15 11:58] ronm123 commented on #1138
Looks like this:
![image](https://user-images.githubusercontent.com/5167146/179218678-d0517f78-c8ed-44ba-9fe2-cca9cae47897.png)

[2022-07-15 12:09] ronm123 opened #1139 "for future development: optional properties controlled via management and/or with author override"
Adding this to start a list of things we could add as optional defaults controlled via management and possibly with author override control too.

- [ ] Controlling SCORM tracking alert shown to users

In management I think it would have to be a two stage option like we did for the social icons e.g. option to set off by default and option to allow author override or not.

- [ ] open ckeditor toolba

[2022-07-15 12:14] ronm123 commented on #1138
easily removed so I have committed this for now - see what you think?

[2022-07-15 12:16] FayCross commented on #1138
@ronm123 looks good from your screenshot

[2022-07-15 12:20] FayCross commented on #1139
I would prefer ckeditor toolbar not to be open by default - on some pages there's loads of text fields and it would start to be really cluttered. I don't really see the value in setting this in management either but I guess I just wouldn't use it if it was added!

I've added another to the list - accessibility link

[2022-07-15 17:03] FayCross commented on #1138
@ronm123 I've just committed some changes to xwd that introduce a new 'update theme icons' check box when one of the themes that use image buttons are selected. **I haven't added the code to xenith to get this to change the icons yet** so it won't actually work but what do you think about the way it works in the editor? I've added it as mandatory rather than an optional property but it only shows

[2022-07-18 01:29] JohnSmith-LT commented on #1099
Hi @torinfo I got the login details from inge but the two projects aren't shared and they are not public - can you share so I can properly check them?

I did manage to get access to the xml though ;-) and I checked them both before pulling down your reverts and after and all Glossary terms seemed to work fine for me although I probably just didn't test the correct thing - can you elaborate more on

[2022-07-18 10:04] torinfo commented on #1099
@JohnSmith-LT I share both with you. I'll create an install with your original code, and will point out what goes wrong. Would be good to get all the things back working. I do not revert things lightly but I could not figure out quickly how to get the LO's working again. complete blocks of texts dissapear. Let me set up that install, and I'll be able to pinpoint the issues better.

[2022-07-18 10:08] JohnSmith-LT commented on #1099
No I get that @torinfo - I'll look at it again soon to see what we can do to fix the issues.

[2022-07-18 10:37] JohnSmith-LT commented on #1099
I took another look @torinfo - can't see the issue in the first one that I exported (after I go back to before you reverted) and the Privacy one isn't shared in a way that I can export - if you change that that i'll pull that one down and test also...

I did notice that i'm getting a missing css file error in the ERIC one:

![image](https://user-images.githubusercontent.com/3907362/179494647-3e5fb

[2022-07-18 12:04] torinfo commented on #1099
@JohnSmith-LT The undefined.css is caused by tyhe fact that the original theme from the client installation does not exist in xot310beta. But if you reset the theme to the standard theme, the issues are the same.

1. I renamed xot310beta to xotbeta (old URL will redirect to new name. I added co-author rights to the other LO as well.
2. I created a copy xottest.dlearning.nl (same user credentials)

[2022-07-18 14:44] JohnSmith-LT commented on #1099
Took me a while to get my head around what was happening but it seems that those particular pages seemed to just have the correct combination and amount of html and text nodes to somehow fall through the cracks in my code...

I think I have solved it though - I've jerry-rigged the new xottest site you put up so please test the two LO's there to see that they now don't drop any code or images. If y

[2022-07-18 14:51] torinfo commented on #1099
Yeah I can imagine it was quite a puzzle.

It seems to work fine now! Thanks! So, please commit to develop, I'll test again in xotbeta, and will cherry-pick into the release.

[2022-07-18 15:36] #1099 closed

[2022-07-18 15:38] JohnSmith-LT commented on #1099
That's it updated @torinfo - I took the chance to update a few things too to make it more readable and commented a few bits so we know why I did it that particular way (since I couldn't remember!)

[2022-07-18 16:13] JohnSmith-LT commented on #1099
Sorry @torinfo further testing found a few issues with a xotbeta url creeping in, strange control characters and an issue with the original problem that @FayCross raised. Unfortunately there are now numerous fixes to cherry pick into the release...

[2022-07-20 16:22] FayCross opened #1140 "New feature - project introduction optional property"
Add new optional property group to project level that allows you to add instructions / introduction for the whole project. This would add a new button to footer bar and info would open in a light box when button is clicked. The optional property group should allow you to edit:

- Project intro text
- Whether the intro lightbox is opened automatically when project 1st opens
- Whether to include a '

[2022-07-20 16:28] FayCross opened #1141 "New feature - page introduction optional property"
Add new optional property group to all pages that allows you to add instructions / introduction for individual pages. This is already available on Media Lesson & Interactive Video pages but on these pages the intro opens in an accordion panel at top of page - ideally this could be set to open in a lightbox instead with a button on footer bar. Similar to the project intro, the optional property gro

[2022-07-20 16:33] FayCross opened #1142 "New feature - side bar"
Add option to create a collapsible sidebar to XOT template projects. The sidebar would contain various buttons which would normally appear on the footer bar:

- Table of Contents
- Accessibility Options
- Glossary
- Help
- Project Introduction
- Page Introduction

Alternatively, the sidebar could contain a table of contents for the project where you can see the structure of the project with ticks

[2022-07-21 08:33] ronm123 commented on #1141
@FayCross sounds like this could be useful and popular. A few extra comments...
Would be good if there was author control over whether the into opens again when returning to the page or not e.g. I could see that you might want that in some case but not in others depending on the purpose and complexity of the intro.
Would be good to have an option to control the size (vw & vh) of the lightbox.
Woul

[2022-07-21 08:42] ronm123 commented on #1142
@FayCross sounds good and I'll reply to the separate email discussion but adding a few comments here first...
Perhaps one or more custom buttons would also be useful e.g. text box content with option to choose icon and label and perhaps url and target to be able to display other things in addition to what you have already listed.
Option to have the sidebar appear right or left and perhaps even top

[2022-07-21 08:44] FayCross commented on #1141
@ronm123 I'm not sure where the best place to have the button would be - I need to have a play around to see what works best. I had wondered about a button in the header bar as an option too. I think if it was on the footer bar then the button would need to stay there throughout and be disabled/enabled depending on whether the page had an introduction. Perhaps we give authors the choice.

I also a

[2022-07-21 08:49] FayCross commented on #1142
@ronm123 yes - I have the right & left option already working! I like the idea of adding custom buttons but I can't work out the best way to do them in the editor as ideally you'd be able to add as many as you like and have different options for what happens when you click them - text, URL, PDF. I guess using the datagrid in some way with a row for each custom button - but it's complicated because

[2022-07-21 09:06] ronm123 commented on #1142
@FayCross yes I can see that's a bit complicated. As there would be a limit to how many buttons are practical anyway what about just a fixed set of perhaps 4 or 5 optional buttons that don't appear if not used?
Also is the sidebar permanently displayed or pops out on hover etc?
I also wondered if the contents might change as you navigate so buttons that appear/change on a page by page basis like T

[2022-07-21 09:50] ronm123 commented on #1141
@FayCross I was thinking just below the header or just above the footer. Obviously if the page has narration it would need to be just above that but would still work I think.
I know what you mean that the idea of an intro set at project level would seem better workflow wise but I think it would son be easy to follow that a project wide intro should just be added to the first page instead. In fact

[2022-07-21 12:36] #1138 closed

[2022-07-22 16:47] FayCross commented on #1140
This is almost complete - I've committed the code for this to work but the following themes that use images for buttons need an info image creating for the footer button:

- [ ] Xerte Online Toolkits
- [ ]  Dark: Grey
- [ ]  Flat: Blue
- [ ]  Flat: Orange & Purple
- [ ]  Flat: Red
- [ ]  Flat: White
- [ ]  Informal: Sketch
- [ ]  Modern: Django
- [ ]  Simple: Black & White

[2022-07-22 18:06] ronm123 commented on #1140
@FayCross I can probably help with those buttons - will have a look next week.

[2022-07-26 10:38] ronm123 commented on #1140
@FayCross I've created and committed all the project_intro buttons for these themes but there are some remaining issues and things to discuss during our meeting on Wednesday.

One of the issues is an alignment or width setting that I can't work out. This happens on all the FA icon themes but lets use the Dark: blue grey as a reference. Add a project intro and without ticking the box to customise t

[2022-07-26 11:08] ronm123 opened #1143 "reported issues when using PHP 8.1 and other PHP version related issues"
- [ ] Had it reported and have verified that when using xerte 3.11x and PHP 8.1 there is a problem where you can't delete projects.

- [ ] Also we already know that the oai-pmh harvesting code doesn't fully work with PHP 8.1 or 8.0

[2022-07-26 11:26] ronm123 opened #1144 "Accessibility issue that the toolbar doesn't report"
Had this reported so documenting here but it's arguably just a weakness in the accessibility button functionality and what it checks/reports against. A couple of examples:

Example 1: If you have some text with a short line above that text that you make bold rather than a heading style e.g.
`<p><strong>Bold text before para</strong>
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.

[2022-07-26 11:53] torinfo opened #1145 "Tracking not working through xapi_launch if tsugi is installed but not enabled"
If just enabling xapi on an installation where LTI is available, tracking does not work

[2022-07-26 11:56] torinfo opened #1146 "Transfer ownership in management.php does not work (in 3.11)"
The folderrights table is NOT updated correctly.

If you lost your projects like this act as follows:

1. remove folderrights table
2. set version in the config table (just 1 record) to 31
3. rerun upgrade.php (the folderrights table will be rebuild)

[2022-07-26 11:59] torinfo commented on #1143
Hmm. Somehow in PHP8.1 the tree structure of the workspace tree is different, i.e. the template_id is a number, not a string.

That means the the follwoing javascript fails:

[code]

template_id.substr(template_id.indexOf("_") + 1, template_id.length) failes, becasue template_id.indexOf does not exist.

But... I don't understand why that construct is there in the first place. I'll check on an inst

[2022-07-26 12:51] torinfo commented on #1145
Committed 57e07f3652a3273eadc16f61251db0adf6b09bb1

[2022-07-26 12:53] torinfo commented on #1145
Committed 57e07f3652a3273eadc16f61251db0adf6b09bb1

[2022-07-26 12:54] #1145 closed

[2022-07-26 12:55] torinfo commented on #1146
Comitted

[2022-07-26 12:55] #1146 closed

[2022-07-26 13:10] torinfo opened #1147 "Setup: special characters like $#% end up encoded in the admin password during setup"
Special characters like $#% end up encoded in the admin password during setup. This means that you cannot login anymore.

[2022-07-26 13:11] torinfo commented on #1147
Fixed in 3f9555be9cbd9abe244f9e677a72e4aa5815642d

[2022-07-26 13:11] #1147 closed

[2022-07-26 14:10] torinfo commented on #1143
Even if apache mode is switched on, just the template_id is passed (without any '_')

I removed the substr function and just pass the template_id.

[2022-07-27 14:00] FayCross commented on #1144
@ronm123 I thought this worked as I had done some testing before the release but I've realised that I must have tested for something like this instead:
H3
text...
H5
text...
This gives warning 'Header order should not skip a level. Do not follow a header level 3 with a level 5 or 6.'

We should probably have a think about how headings are added via ckeditor anyway as in Bootstrap you can only add

[2022-07-28 08:13] #1128 closed

[2022-07-28 10:17] FayCross opened #1148 "Answer X of Y page not marking correctly"
This page no longer works https://xot.xerte.org.uk/play_116#answerxofy
All answers are marked as incorrect

[2022-07-28 13:56] #1148 closed

[2022-07-28 13:57] FayCross commented on #1148
@torinfo the fix for this bug needs to go to master as the Answer X of Y page no longer worked, unless the delimiter optional property wasn't added

[2022-07-28 14:46] torinfo commented on #1148
@FayCross Thanks for the fix. pushed to master.

[2022-07-28 15:23] #1140 closed

[2022-07-28 15:29] FayCross opened #1149 "Allow data in theme info files to be used by xwd conditions"
There's a new optional property called 'update theme icons' which is only used for themes where the interface buttons use images rather than font awesome icons. At the moment, these themes are listed in the xwd condition so that it disappears on more up to date themes:
`condition="theme==undefined||theme=='default'||theme=='darkgrey'||theme=='flatblue'||theme=='orangepurple'||theme=='flatred'||the

[2022-07-28 16:00] FayCross commented on #1135
I've done some testing in Bootstrap and pretty much all symbols in pageIDs stop either the correct page being selected, or stop the section menu from highlighting correctly. The only symbols that you can use are - and _

[2022-07-29 08:48] JohnSmith-LT commented on #1105
Hi @torinfo

Just now we have 4x page models that use  the loadJS dependency loader:

- [ ] - flashCards.html
- [ ] - opinion.html
- [ ] - QRcode.html
- [ ] - wordsearch.html

but still have 11x files that use $.getScript still:

- [ ] - adaptiveContent.html
- [ ] - interactiveVideo.html
- [ ] - media360.html
- [ ] - mediaLesson.html
- [ ] - nav.html
- [ ] - perspectives.html
- [ ] - showGraph.htm

[2022-07-29 09:15] #1136 closed

[2022-07-29 09:23] #1135 closed

[2022-07-29 09:28] FayCross commented on #1033
This is now working - fixed as part of v3.11?

[2022-07-29 09:28] #1033 closed

[2022-07-29 09:29] #969 closed

[2022-07-29 09:31] FayCross commented on #455
Duplicate https://github.com/thexerteproject/xerteonlinetoolkits/issues/1141

[2022-07-29 09:31] #455 closed

[2022-07-29 09:41] FayCross commented on #583
A lot of this has already been done either recently (default theme is now in theme folder) or in older releases (fill window is now default).

I've added request for default theme to be set in management to this issue: https://github.com/thexerteproject/xerteonlinetoolkits/issues/1139

@ronm123 I'll close this now but if you think anything else mentioned in this issue still needs to be done then i

[2022-07-29 09:41] #583 closed

[2022-07-29 09:47] FayCross commented on #717
I'm going to close this as double clicking on projects that aren't in folders no longer works now too... at least it's now consistent! I think it's unlikely this was widely used anyway.

[2022-07-29 09:47] #717 closed

[2022-07-29 09:53] FayCross opened #1150 "Flash cards bug on iOS"
Moving this conversation from an issue opened in 2018 as everything else in there has been fixed: https://github.com/thexerteproject/xerteonlinetoolkits/issues/728

RM - On changing from front to back text from the first side remains on screen while the card is turning. I'm wondering if this is a consequence of the change of loading order or perhaps I just haven't noticed before and also I only se

[2022-07-29 09:54] FayCross commented on #728
Closing this as most issues have been fixed. I've opened https://github.com/thexerteproject/xerteonlinetoolkits/issues/1150 with the outstanding issue relating to Flash Cards page on iPhones so it's more likely to be picked up

[2022-07-29 09:54] #728 closed

[2022-07-29 10:07] #862 closed

[2022-07-29 10:23] #940 closed

[2022-07-29 11:22] FayCross commented on #638
Interface button labels are now editable via optional properties (e.g. navigation buttons) https://github.com/thexerteproject/xerteonlinetoolkits/commit/df1d141069aae1f82262f3b359019d8a5889ffc8

Other strings that it would be useful to allow editing in language options of editor include:

- [ ] Bootstrap - full screen header scroll instructions (Scroll down for more information...)
- [ ] XOT - tim

[2022-07-29 11:30] torinfo commented on #1105
@JohnSmith-LT No, I did not have the time yet to do this, so yes, please!

[2022-07-29 11:32] torinfo commented on #1033
@FayCross Yes, fixed as part of v3.11

[2022-07-29 11:38] FayCross commented on #1118
@ronm123 I'm closing this as I can't see any outstanding issues in comments above. Please reopen if there's still some outstanding work to do

[2022-07-29 11:38] #1118 closed

[2022-07-29 12:56] #638 closed

[2022-07-29 15:11] FayCross commented on #1141
@ronm123 I've committed the work I've done so far on this before I'm off for a couple of weeks. At the moment it adds a button to footer bar when this is added but I will change this to the header as discussed earlier in the week (or give option to choose).

[2022-07-29 15:15] FayCross commented on #1141
Issues to sort out:

- [ ] Move button to header instead of footer or give option to choose where the button goes
- [ ] If option remains for the buttons to be on the footer, the default icons need changing to distinguish from project level help / intro buttons
- [ ] In themes that use fontawesome icons, button appears blank unless a custom icon is selected - need to add to theme css

[2022-08-01 16:01] ronm123 opened #1151 "opinion page printing option/disable printing option"
I received a question about the new opinion page printing option and after my own tests I'm not sure if this is working as it should be or what the answer is. The question/comment was:
"I can see and add the 'Disable printing' Optional Property on an Opinion Page. Can you please tell me where the Print is. I cannot see a difference between having this setting, without this setting, tick it and unt

[2022-08-01 16:02] ronm123 commented on #1151
Sorry perhaps should have added this to https://github.com/thexerteproject/xerteonlinetoolkits/issues/789 rather than create a new issue?

[2022-08-09 15:01] ronm123 opened #1152 "narrow display of transcript on media > video page"
Adding this after having it reported and will check the model file after posting. It seems the display of the optional transcript in 3.11 (and possibly earlier) has become an issue in two ways:
1. it displays as a narrow column rather than filling the width of the video
2. it displays over the top of the panel rather than expanding the height of the panel

Both of these issue can be seen in the sc

[2022-08-09 15:08] ronm123 opened #1153 "Possible critical issue when sharing a project via management"
I was asked to look at an issue with a test project on an organisations server but where the LO hadn't been shared with my account. So I checked the LO via management and then tried to share co-author access with my own account via the properties of that LO via management. This seemed to work via management where the properties showed me as a co-author but it didn't show up in my own workspace and

[2022-08-09 15:55] ronm123 commented on #1152
@JohnSmith-LT @torinfo @FayCross sorry I'm not sure who last worked on this page but I know there's potentially some overlap with the popcorn developments. Anyway I might be wrong but as far as I can see there are two places in the textVideo model where the width of the transcript divs are meant to be controlled e.g.
120
if ($("#transcriptHolder").length > 0) {
$("#transcript").width($pageVideo.wi

[2022-08-17 14:26] FayCross opened #1155 "Media lesson - google maps not working"
The google maps option on the Media Lesson page isn't working correctly. When a latitude/longitude is entered, a map loads but with 'This page can't load Google Maps correctly.' error message over the top.

[2022-08-26 10:22] ronm123 opened #1156 "publish from workspace button results in session expired error"
Reported via forums https://www.xerte.org.uk/index.php/en/forum/installation/2944-click-publish-button-get-session-is-invalid-or-expired#8320

Not sure when this bug crept in but can replicate in 3.11x and develop.

[2022-08-26 21:11] torinfo commented on #1156
Fixed by 7fe333ace7fec878fdd57ecd43f88d761a63e3a6

[2022-08-26 21:11] #1156 closed

[2022-08-29 14:58] torinfo opened #1157 "Media size is not reported correctly in the 'middle' panel of the workspace"
This is because files in folders are not counted properly

[2022-08-29 15:00] #1157 closed

[2022-08-30 09:56] ronm123 opened #1158 "Video not playing in offline exports as reported on forums"
@torinfo @JohnSmith-LT don't know if you've seen the discussion on the forums about this https://xerte.org.uk/index.php/en/forum/accessibility/2943-the-offline-version-does-not-show-the-videos-neither-the-mp4-files#8324 but having tested it seems like this might be because the popcorn code throws a cross domain error?

[2022-09-06 19:15] ingedonke opened #1160 "Bootstrap --> accordeon --> add video --> hide title does not work"
In a bootstrap template, with a video in an accordeon navigator, the hide title function does not work.
![image](https://user-images.githubusercontent.com/5703781/188719919-49986891-7d70-43dd-b34e-3ebcc655b9b6.png)

[2022-09-07 08:30] FayCross commented on #1160
Related to https://github.com/thexerteproject/xerteonlinetoolkits/issues/1024? Probably something to discuss at a dev day as we need a way that's not going to cause problems with existing projects

[2022-09-08 10:02] torinfo opened #1161 "Using variables in answers of a question does not work as expected if Glossary is enabled"
See https://xotbeta.dlearning.nl/play.php?template_id=114#page3 (which is working) and https://xotbeta.dlearning.nl/play.php?template_id=114#page4 (which is a copy).

On page3 Glossary is disabled, on Page 4 is enabled.

What is used is something like thsi:
[BWM1A] %

or

€ [BWM1A]

If Glossary is enabled, the % disaapears or the number dissapears (only € is left)

[2022-09-08 11:16] ronm123 commented on #1160
@FayCross lets discuss this quickly when we meet again this afternoon. As you say it's similar or related to https://github.com/thexerteproject/xerteonlinetoolkits/issues/1024 and in that issue I mentioned that we thought we had a solution. I think we were thinking we could just add and use version=x to the Bootstrap xml. However the more I think about this it's arguably a bit more complicated tha

[2022-09-08 11:18] ronm123 commented on #1160
@ingedonke @FayCross obviously my previous reply here was about https://github.com/thexerteproject/xerteonlinetoolkits/issues/1024 whereas it's the opposite problem reported by Inge here but related and part of any solution we put in place.

[2022-09-08 11:20] ronm123 commented on #1153
@torinfo I know we discussed this but can't remember did you already fix it? I think you said someone else reported it too?

[2022-09-08 13:02] JohnSmith-LT commented on #1152
This has been stopped with https://github.com/thexerteproject/xerteonlinetoolkits/commit/f5c8770ffe62f46c494948995ee5869d6935ed09 but I feel that these pages still need some work - the transcript makes the video really small which makes it hard to watch without going full screen...

[2022-09-08 13:18] FayCross commented on #1160
Just done some testing to work out exactly what the happens now (some of this is already detailed in #1024). This problem is only with accordion & carousel navigators:

- AUDIO: title is always ON
- VIDEO: title is always ON
- TEXT: title is always OFF
- IMAGE: title is always OFF
- PDF: title is always OFF
- XOT: title is always OFF

[2022-09-08 13:39] ronm123 commented on #1152
@JohnSmith-LT I've imported my local test project into xotbeta and shared co-author access with your account but also made that public so you cab view via https://xotbeta.dlearning.nl/play.php?template_id=115#page1
The test contains a graphic and sound page with transcript added and then 3 video pages all with transcript added 1st with local video, second with YouTube and 3rd with Panopto embed co

[2022-09-08 14:20] JohnSmith-LT commented on #1152
Go to page 3 @ronm123 and open the transcript. Then resize a little and you get this:

![image](https://user-images.githubusercontent.com/3907362/189146865-dee88403-0218-4dbe-bc67-5c6306efe832.png)

[2022-09-08 14:31] #1160 closed

[2022-09-08 14:55] ronm123 commented on #1152
@JohnSmith-LT just noticed that if you do that resizing when on page 3 and then navigate to page 2 then the size of the local video and everything else on that page is screwed up too:
![image](https://user-images.githubusercontent.com/5167146/189155189-a66ca921-b2ef-4149-8ddb-4dd235ec8bf1.png)

[2022-09-08 18:27] JohnSmith-LT commented on #1161
Think that is it fixed @torinfo, you can now even add glossary terms into the questions and they appear to work correctly.

![image](https://user-images.githubusercontent.com/3907362/189198082-f88f0ae8-3fe0-48d9-adae-304606019810.png)

[2022-09-14 18:18] #1153 closed

[2022-09-14 18:18] #1158 closed

[2022-09-15 14:36] torinfo opened #1162 "Some files are not recognised as being in use"
When a filename contains certain characaters (such as &) they are not always recognised as being in use in Media and Quota panel

This has to do with encoding (In the XML file, the & is encoded as & amp;
Smae problem can occur with & nbsp;

[2022-09-16 14:18] #1161 closed

[2022-09-17 18:30] #1141 closed

[2022-09-22 19:27] torinfo opened #1163 "Standalone page is not working when launched through LTI"
There is a check to see whther a lightbox is already open, i.e. if the current page is shown in a lightboc. This check causes a Coos Domain error when the page is NOT in a lightbox, but is in an iframe because the project is launche through LTI

Just putting a try{} ctach() block around the check (in two places) fixes this.

[2022-09-22 19:35] #1163 closed

[2022-09-28 11:48] FayCross commented on #919
I've just had this question asked by a colleague who wanted to add transcripts to the narration bar. I've shared some code and css with him that he's adding to the project that will add an extra button to the end of the narration bar. The button then opens a transcript in a light box:

![transcript](https://user-images.githubusercontent.com/8926470/192771044-3f245bb1-bf91-4e81-854b-423e5fd9e880.PN

[2022-09-28 11:50] FayCross commented on #919
Also, should this be added as an option to all places where an audio player can be added to a page or is the way that the transcript works on pages like graphics & sound better (where there's a big button below that reveals the transcript when clicked - not in lightbox)?

[2022-09-28 17:36] JustinGeorgi opened #1164 "Folder creation partially fails with db prefix"
I installed 3.11 toolkit a few days ago on a test server and did not add a database prefix.  All folder functions worked.

I installed the same version yesterday on a production server and added a database prefix during setup.  After setup completion I could not add folders to the workspace.  The popup box always resulted in "Error creating folder".

Folder information is properly added to the `fo

[2022-09-29 15:39] FayCross commented on #1142
I've committed the first version of this but there's still work to be done. Including:

- [ ] Get working on all themes (only tested on default theme so far)
- [ ] Text /button width issues if buttons are set to show label and the label is quite long
- [ ] Look at whether z-index should be higher than lightboxes so the side bar controls are still visible when project intro etc. are open

[2022-09-29 15:43] FayCross opened #1165 "Add choice to open content currently shown in dialog boxes in lightboxes instead"
This has already been added as an option in some places but could also be used for:

- [x] table of contents
- [x] glossary
- [x] accessibility options

[2022-09-30 09:35] torinfo commented on #1164
Thank you. The proper fix is indeed making sure the prefix is used on the folderrights table as well.

I'll fix the basic.sql table.

[2022-09-30 10:57] #1165 closed

[2022-10-06 11:08] FayCross commented on #447
Close as duplicate of #1117

[2022-10-06 11:08] #447 closed

[2022-10-06 11:22] FayCross commented on #919
Closing as all places where audio is added a property to page now have option of adding an associated transcript. Transcript for audio added via wysiwyg is covered in this issue: https://github.com/thexerteproject/xerteonlinetoolkits/issues/545

[2022-10-06 11:22] #919 closed

[2022-10-06 11:25] FayCross commented on #484
I don't think this is still a problem - I haven't had this kind of issue reported to me for years. If it is then finding a fix for https://github.com/thexerteproject/xerteonlinetoolkits/issues/504 would be a solution

[2022-10-06 11:25] #484 closed

[2022-10-06 11:26] #516 closed

[2022-10-06 11:31] #765 closed

[2022-10-06 11:36] FayCross commented on #773
@ronm123 I'm going to close this as the editor styles have been in the release for years now. Your last comment mentions a possible issue with editor styles menu width - if you still think this is an issue then probably best to open a new issue as I don't think it will be ever picked up from the end of the comments on this issue

[2022-10-06 11:36] #773 closed

[2022-10-06 11:38] FayCross commented on #484
Wow, I'm amazed that I don't get any then

[2022-10-07 09:34] torinfo opened #1166 "When setting a style to part of a (section) title in the bootstrap causes an error and the whole section invisible"
Changing the style of part of a title causes a crash in jQuery. Probably introduced when upgrading jQuery.

Suppose title is 'Title with part in <em>italics</em>'

This is put into a variable and than an attempt is done to create a jQuery object of it by $(var). But this crashes.

The fix is easy. Add the var to a div, do all the coirrections you want to do, and extract the innerHtml.

[2022-10-07 09:47] #1166 closed

[2022-10-12 12:17] #1142 closed

[2022-10-14 23:39] obgeneralao opened #1167 "Hotspot Image Connector Dialog box resizing"
Hi,
Hi am using [v3.11.17](https://github.com/thexerteproject/xerteonlinetoolkits/releases/tag/v3.11.17).
When i tried to resize the dialog box in Hotspot Image Connector,  it closes the dialog box.

![chrome_RUJyq6kmqu](https://user-images.githubusercontent.com/13013814/195958034-e37e6b98-75bf-4207-91c8-6c93d1bea1cf.gif)

[2022-10-21 08:43] FayCross opened #1168 "MCQ page - question not answerable after second view of page when tracked"
Export SCORM project containing MCQ page followed by text page & upload to Moodle. View project and move past MCQ page to next page and then back. The question cannot be answered as the radio boxes are now disabled. If you do answer the question on 1st view, move on and then move back, the feedback is removed so question looks like it hasn't been answered but it can't be answered again as the radi

[2022-10-21 10:20] FayCross opened #1169 "Folder RSS feed not working consistently"
The RSS feed accessed from folder properties doesn't work consistently. It often contains no projects (even if there are public projects in the folder) or sometimes just shows one project (when there is more than one public project in the folder. I can recreate this on the https://xot.xerte.org.uk/ install

[2022-10-21 14:48] FayCross opened #1170 "Highlight text page improvements"
Recommendations from Jonathan:

- [ ] Rename 'note taking' to 'text reworking' as this better represents what the page does
- [ ] Rename page 'Highlight / rework text' to emphasise the two different modes for the page
- [ ] Add options allowing sections of the text to be removed from the downloaded file (e.g. exclude page text, initial text etc.)
- [ ] Add options allowing control over the order o

[2022-10-26 13:24] FayCross opened #1171 "Default text size - is this still useful?"
Is there any purpose to having this option in the editor now that responsive text is there? Or should we hide it if responsive text is checked? If responsive text is checked and text size is changed to one of the larger options, the main text stays the same but the spacing of things like buttons on footer bar goes very odd. If responsive text is off and text size is changed then the main text does

[2022-10-26 14:26] ronm123 commented on #1171
@FayCross I guess you've probably also had people that are confused by it and assume that it works in tandem with responsive text or at least expect it to work that way. I don't think we can simply remove it though. I think hiding it if responsive text is on is probably a good idea and perhaps adding a tooltip to Default Text Size to explain that it is an outdated features, doesn't work with respo

[2022-10-26 19:03] torinfo commented on #1171
@FayCross What if we change the deprecation functionality in such a way that the item is only shown if the value is different from the default?

That would also work better for other deprecated items that are in groups I think.

[2022-11-02 15:43] FayCross commented on #1152
@ronm123 @JohnSmith-LT closing this as I've committed fix to panel resize bug wheb transcript opened. I can no longer recreate the bug John found with small video after resize - it's possible Tom's recent video sizing commit has fixed this - reopen if you can still see this bug

[2022-11-02 15:43] #1152 closed

[2022-11-04 09:14] FayCross opened #1172 "Font Awesome dialog too tall on small screens"
The Font Awesome dialog that opens via the WYSIWYG toolbars can be too tall when viewed on smaller screens. When this happens you can't scroll down and access the OK & Cancel buttons

[2022-11-09 09:11] FayCross opened #1173 "Hold shift & click edit button attempts to open old Flash editor"
If you hold down shift and click the edit button, a window opens but it looks like it's trying to open the old Flash editor instead as it's blank and just says 'This text is replaced by the Flash movie.'

[2022-11-11 09:17] #1173 closed

[2022-11-16 14:34] FayCross opened #1174 "Synched video page duplicates video player on return to page"
If you view the video sync page, move to another page and then back to video sync page - the video player is duplicated. This is a new bug in v3.11 so possibly related to popcorn changes to video? @torinfo

[2022-11-17 14:31] #1155 closed

[2022-11-18 15:39] FayCross opened #1175 "Gap fill drag drop marking incorrect on results page"
There's a bug in gap fill page which means it's no longer marked correctly when viewing results page.
Old working version:
![gapfill1](https://user-images.githubusercontent.com/8926470/202733571-edc3c0da-563a-43d7-99db-311d4701cdd7.PNG)

Bug version:
![gapfill2](https://user-images.githubusercontent.com/8926470/202733598-20ab6344-9a9d-476a-bce3-81151c8a77de.PNG)

Looks like it was introduced with

[2022-11-21 10:22] #1172 closed

[2022-11-22 10:25] ronm123 commented on #1100
@FayCross @torinfo as I mentioned in a separate email reply I have demos (dating back to 2017) of media lesson used during training sessions where the MC and overlay options were used to demonstrate different methods of creating interactive videos. During the training delegates were supported in creating their own examples of the same thing. In fact Inge had also seen my examples and was going to

[2022-11-22 10:57] torinfo opened #1176 "The javascript variables for lti_context_description did not escape ' (single quote)"
This resulted in a javascript error, and the LO not beinge tracked properly

The same issue existed for course, module, etc.

[2022-11-22 10:58] torinfo commented on #1176
Fixed in [2b78b30](https://github.com/thexerteproject/xerteonlinetoolkits/commit/2b78b30aa863ed1f751867fb114081b216d1f84a)

[2022-11-22 10:58] #1176 closed

[2022-11-22 11:01] torinfo opened #1177 "In gapfill feedback, images are not shown in lightbox when clicked"
The feedback is missing a call to x_pageContentUpdated()

That menas that LaTeX and or AsciiMath also does not work as expected.

[2022-11-22 11:02] #1177 closed

[2022-11-22 14:45] torinfo commented on #1175
The commit you mentioned was just one part of the changes. The biggest change I think is the change from a fill-in to a match interaction, because really drage and drop is a match exercise.

Obviously the tracking is incorrect as it is now.

[2022-11-22 14:46] #1175 closed

[2022-11-23 12:30] FayCross opened #1178 "Synched video scroll issue"
Issue noted by Jonathan in wiki:
_As the video comes to a synch point, it seems to “kick up” the scrollbar, so the Xerte window has to be repositioned._

It looks like it scrolls to make sure the most recently added piece of content is in view but this scrolling should be done just within the content panel rather than on the whole page. If the page text on left is taller than available space then,