[2017-02-15 19:50] JohnSmith-LT commented on #9
I'm going to close this as it's over 3 years old and no-one else has asked for it...

[2017-02-15 19:50] #9 closed

[2017-02-15 20:03] #275 closed

[2017-02-15 20:11] JohnSmith-LT opened #569 "Problem with RSS template"
While RSS now loads in the editor, when you create a new item there is no way to add the title, link, description or pubDate fields and when you duplicate one containing these fields then they are not copied over to the duplicate.

![image](https://cloud.githubusercontent.com/assets/3907362/22993414/d5485c58-f3ba-11e6-81c6-2d687c982e01.png)

[2017-02-15 20:20] JohnSmith-LT commented on #439
@FayCross which page model was it available for? Trying to see how it worked but I can't see how it could have worked in any of the Audio or Video sync pages I tried in the Flash editor...

[2017-02-15 20:36] ronm123 commented on #439
@JohnSmith-LT see http://mitchellmedia.co.uk/xot/play_130

[2017-02-16 09:20] JohnSmith-LT commented on #439
Ah ok, thanks Ron...

[2017-02-16 16:02] FayCross opened #570 "Uppercase User name issues when creating new projects"
When you log in with your username in capitals you can't create new projects properly.
A folder is created in user files folder but it doesn't contain the required xml files

Does anyone who knows this side of the code better than me point me in the direction of the files that look at login so I can force to lowercase?

Thanks

[2017-02-16 16:14] torinfo commented on #570
I'll have a look and let you know. But just curious. Does that mean your login name is not case sensitive?

[2017-02-16 16:17] ronm123 commented on #570
I thought this was something Tom fixed ages ago but have also had this reported after a recent upgrade. Wondering if a previous change has been lost in the latest release?
Was this a new user Fay or a user who has created projects previously?

[2017-02-16 16:17] FayCross commented on #570
No they're not! We can log in fine (edit, duplicate etc.) but it causes issues with new projects being created

[2017-02-16 16:18] FayCross commented on #570
@ronm123 everyone as far as I know. Certainly causes problems for me

[2017-02-16 16:25] ronm123 commented on #570
I think it might only happen with LDAP authentication. e.g. with database authentication both login and password are case sensitive.

[2017-02-16 16:27] ronm123 commented on #570
The only times I've seen this is with LDAP authentication and where some projects have had uppercase username (usually a mix of letters and numbers) and others for the same user lowercase letter but otherwise the same username.

[2017-02-17 10:00] JohnSmith-LT commented on #570
Similar to #411

[2017-02-17 10:02] JohnSmith-LT opened #571 "New setting for Accordion page to fit content"
Could be a useful addition in not much code...

http://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=10&id=1250&Itemid=759&lang=en#4291

[2017-02-17 10:30] torinfo commented on #570
There is debugging code (including the paths names that are actually used by the system).

You may want to consider setting develop to true.

The username is used as entered.

1. While creating the template, the username comes directly from the login ($_SESSION['toolkits_logon_username']), so there might be some manipulation going on in the authentication module, but I haven't found it.
2. While p

[2017-02-17 11:08] ronm123 commented on #570
I just tested this as follows:
Logged in to an installation that uses LDAP authentication using my usual login which is all lowercase and can edit and create projects as usual.
Logged out and then logged in again but this time all caps username. Login works and I can see and edit existing projects but if I create a new project the editor opens but without any tree/icons and in the user-files the f

[2017-02-17 11:30] torinfo commented on #570
Hmmm. So, the username in all caps is the same username as in your first
trial (i.e. the username is not case senstive in ldap)?

If so, would you mind switching on develop to tru and send me the log
file from logging in and creating a new LO? That will give me some hints
on how to fix this.

Op 17-2-2017 om 12:08 schreef Ron Mitchell:

[2017-02-17 13:00] ronm123 commented on #570
@torinfo I can do that but will have to do it on a test installation which I have to remote into so will schedule to do that later if that's ok. Once done I'll send you details offline.

[2017-02-24 09:59] #571 closed

[2017-02-24 10:04] JohnSmith-LT commented on #571
Cheers @FayCross

[2017-02-24 11:45] #559 closed

[2017-02-24 12:31] #554 closed

[2017-02-24 15:09] ronm123 opened #572 "add horizontal scrolling for when page or icon titles are longer than max width"
This has cropped up loads of times where authors have long titles in the tree which exceed the max width of the left hand pane in the editor and so push the little + for expanding icons to left and out of reach. I've tested this and an easy fix is to update the relevant css to set horizontal scrolling to auto e.g.
`.pane-west .content #treeview {
overflow-x: auto;
}`
I can make and commit that cha

[2017-02-24 15:36] ronm123 opened #573 "longer alt text for hotspot image connector and possibly other image interactions"
I've been demonstrating using the hotspot image connector page for more visual scenario interactions and although it works great it's less accessible without a full size text box for the text that currently works as the alt tag for the hotspot. e.g. currently it's the label field that is used as the alt text for each hotspot but it's not as simple as adding the longer text to the label field becau

[2017-02-24 15:57] ronm123 opened #574 "navigation buttons optional property - buttons missing from the options"
With the default navigation set to anything but linear we have some buttons missing from the options when changing the navigation button options for a particular page. e.g. at the moment we have the following:
All
Back and Next
Back only
Next only
None

However with navigation set to historic there isn't an option to include or exclude the home button
and with navigation set to menu or menu with p

[2017-02-24 16:09] ronm123 opened #575 "hotspot editor could be larger"
not sure what determines/controls what size the hotspot editor displays but it seems like it could be larger and perhaps fill 90% of height or width?
As an example I was using the page type to show how a particular LO  was built and when adding hotspots to explain icons in the tree the hotspot editor displays in a very small window compared with the overall editor window and makes it difficult to

[2017-02-24 16:14] ronm123 commented on #572
BTW we could probably add a similar change to the right pane? e.g.
.optButtonContainer table {
    overflow-x: auto;
}

[2017-02-24 16:31] torinfo commented on #572
complex.css is ours, so you can savely change that.

However, be carefull with the right panel, because of the way the widths of the buttons are set.  It was quite tricky to get them all the same length without using a fixed size.

[2017-02-24 16:33] ronm123 opened #576 "help text in editor"
I like the potential of the help text when hovering over optional properties but wondering if we could/should make it more obvious wherever that exists similar to Moodle e.g. little help icons which show summary info on hover and more detail when clicked. Would also mean the tooltips only show when required rather than all the time when hovering over optional properties.
Mock up as follows:
![imag

[2017-02-24 16:49] torinfo commented on #575
This is controlled in /editor/css/complex.css (line 789)

`.hotspotLightboxImg {
    width:800px;
}`

[2017-02-24 17:16] ronm123 commented on #572
@torinfo thanks. Actually it looks like the right pane already has horizontal scrolling if needed so don't need to touch that and have comitted the left pane change.

[2017-02-24 17:16] #572 closed

[2017-02-24 17:25] ronm123 commented on #575
@torinfo thanks Tom. I've just tested setting that to first 90% and then in fact 100% which seems to work fine. There must be an outer wrapper so 100% is filling that but not the whole window but it's certainly bigger and more usable. However I'll test on a lower resolution monitor/computer before committing.

[2017-02-24 17:33] ronm123 commented on #575
Seems to work fine on lower res device so have committed the change.

[2017-02-24 17:33] #575 closed

[2017-02-24 17:54] ronm123 opened #577 "issue with resizing hotspot image connector pop up html window"
when a user resizes a hotspot image connector pop-up html window it snaps shut and then when the hotspot is clicked again opens with just the header showing and not the contents. If the user tries to resize again it just closes again. However it seems to vary a bit by what size and shape the pop-up is resized and sometimes when repeating the process the pop-up does reopen back to its default size.

[2017-02-24 18:04] ronm123 opened #578 "difference between titles/labels that display and those that don't"
just adding this as a question/enhancement but I've noticed previously and certainly while delivering training this week that people get confused about what title/label fields show during play and what title fields only show in the tree. Wondering if we could/should indicate this somehow e.g. where tree only show to the left of the field as: Title (tree only) or perhaps an icon to indicate this?

[2017-02-25 11:00] ingedonke opened #579 "Annotated Diagram not responsive"
The image in the annotaded Diagram is alway the same size. In standard and in full screen version. Is it possible to make the image also responsive ? And another question from the list is if it's possible to add your own size to the image so the creator can make it as small/big as they want.

[2017-02-25 12:13] torinfo commented on #567
- Updated CKEditor to version 4.6.2
     - Included the uploadimage plugin to be able to drag images into the
       editor. Paste should work as well, but I couldn't get it to work.
     - Also changed the image plugin to be able to hande percentages as sizes
       As soon as you drag the resizer, the size will be set in px again.

[2017-02-25 12:54] #488 closed

[2017-02-25 13:06] torinfo commented on #449
Implemented by Ron in 90023473f1c8f81d2b554bb9b27e47ec4931fc06

[2017-02-25 13:07] #449 closed

[2017-02-25 13:10] torinfo commented on #444
Partly done in commit 703f7c1ddd310291031c61faf60d331ac17cc282 (in WYSIWYG editor)

[2017-02-27 09:30] ronm123 commented on #567
@torinfo thanks for adding this.
The pasting of images works for me but there is a difference between how this currently works in the demo at http://sdk.ckeditor.com/samples/fileupload.html#uploading-dropped-and-pasted-images and how it currently works in Xerte. If I copy and past and image in Xerte it uploads and gets saved as image.png If I then paste another image either in the same editor wind

[2017-02-27 10:21] torinfo commented on #567
This should be handled by the back-end handling function which I had to implement. As I didn't get it to work, I didn't know what I needed to do.

Will implement this. Any preference for the name? pasted_image.png?

[2017-02-27 10:37] ronm123 commented on #567
@torinfo yes I guess it could be quite useful to distinguish between pasted images and others. I suspect over time people will get used to renaming in the media browser. Given that if they don't rename the images become part of browser cache etc for viewers I wonder if something a bit more subtle to distinguish between pasted images and others might be better e.g. pimage.png or p_image.png?

[2017-02-27 10:38] ronm123 commented on #567
@torinfo BTW I had to force refresh in the editor before it worked - could that be why you didn't get it to work? Is it working for you now?

[2017-02-27 11:15] ronm123 opened #580 "lightbox functionality"
I'm adding this now because it cropped up in the discussion about additional plugins for the editor e.g. there is a lightbox plugin which uses lightbox2 http://lokeshdhakar.com/projects/lightbox2/

However although I think including that plugin would be useful and I think we might even have it or similar e.g. as part of the hotspot editor functionality I think it would also be good to replicate th

[2017-02-27 11:30] ronm123 opened #581 "Making better use of the notes field?"
It's always struck me that the LO Properties > Notes field has untapped potential. Firstly it doesn't allows punctuation, special characters or even returns and I think has always been underused or ignored as a result. I vaguely recall that restriction was a security precaution because the notes are stored in the databases but perhaps I'm wrong about that but anyway I wonder if that still needs to

[2017-02-27 11:54] ronm123 opened #582 "vmin sizes as an optional property and/or Xerte specific snippets"
I wonder if we could/should have vmin sizes either as optional properties or as custom styles in the editor or indeed both?

As you'll know these are currently only used if the responsive text option is selected for an LO and even then only apply if the resolution detected has a width of 768 or higher. I think we possibly need to give author control over this so that there is a way to have respons

[2017-02-27 12:04] torinfo commented on #567
It's working in firefox now. And I fixed it. In the end, I left the name at image for now.

[2017-02-27 12:04] #567 closed

[2017-02-27 12:17] ronm123 opened #583 "Should we move the default theme(s) to the themes folder? Also change other defaults for new projects?"
I often get asked can we change the defaults so that all new projects use a particular theme and possibly even some default properties and content.

Default theme
For the theme I think the easiest option would be to have a management page option to set the default for the site which is then used to set the default theme for new LO's. Or perhaps even easier that if a default folder is found in the

[2017-02-27 12:42] ronm123 commented on #567
works great! - have only tested in Chrome. For screenshots etc this is a great productivity enhancement!

[2017-02-27 13:15] ronm123 commented on #542
Sorry I've added a similar issue to this as issue #582 probably worth discussing how best to do this and with future-proofing in mind during the developer days

[2017-02-27 13:18] ronm123 commented on #531
Just re-reading this and I added a related item about hidden pages in #580 about enabling lightbox functionality e.g. where the page could be hidden but still display in a lightbox if we manage to add that functionality. It's a popular feature in other tools.

[2017-02-27 13:22] ronm123 opened #584 "displaying theme info somewhere?"
we've had additional information in the theme .info files like description and thumbnail ever since the themes directory was added but we don't display that extra info anywhere. I guess it's quick enough to change theme and preview but I wonder if we could display the descriptions and thumbnails somewhere - perhaps even in a linked page somewhere that shows all the themes currently installed along

[2017-02-27 13:28] ronm123 opened #585 "xerte favicon in exported files"
From a recent forum post asking about favicon in exported projects it seems that we have `<link rel="icon" href="favicon.ico" type="image/x-icon" />` in the index.htm file as part of an export but the .ico file isn't part of the export. Perhaps it should be?

[2017-02-27 20:47] ronm123 opened #586 "preventing the flash of blue header on the bootstrap template"
I think we've discussed this before but can't find an existing issue...
When the header colour is changed in a Bootstrap project there is still a flash of the default blue header when the page first loads. It shows up most when the header colour is set to white or even set to hidden as in this example http://xerteacademy.com/xt/play_9

I'm not sure how to prevent this and perhaps it will be helped

[2017-02-27 20:51] ronm123 commented on #586
Here's a simpler demo of the issue with the header colour set to white and the header text colour set to black there is an annoying 'blue flash' of the default header including default text when the page first loads http://training.mitchellmedia.co.uk/xot/play.php?template_id=278

[2017-02-28 11:59] #586 closed

[2017-02-28 12:00] JohnSmith-LT commented on #586
Hi @ronm123 can you check if that fixes this? I thought this was fixed a while back... I know you definitely mentioned it before though...

[2017-02-28 13:37] #585 closed

[2017-02-28 13:38] JohnSmith-LT commented on #585
Think this should fix this @ronm123

[2017-02-28 13:47] ronm123 commented on #586
Hi @JohnSmith-LT yes that definitely fixes it - thanks! Also sorry I just followed the links from github and realised that the first link I posted yesterday is part of a set embedded in my conference presentation last year so set to only display when viewed from that resource. However the second simpler link was fully public and I've updated both installations and both that don't show the flash of

[2017-02-28 14:01] ronm123 commented on #585
@JohnSmith-LT Haven't tested every single export but yes favicon is there in xot and bootstrap exports now. Cheers
Ron

[2017-02-28 14:37] ronm123 opened #587 "track/display page visit in TOC"
I think this has been discussed before and certainly requested during training sessions and it's likely to be requested by others given that other popular tools have this now and that is to show some indication of pages already visited by a learner. It's especially relevant where the navigation is set to non-linear or where there are page links within content going to other pages. e.g. a learner v

[2017-02-28 14:51] ronm123 opened #588 "theme specific wizard options?"
This is probably a topic for discussion during the developer days...
We currently have:
LO Icon properties and optional properties
Common optional properties
Page type specific properties and optional properties
Particularly for the LO icon properties and optional properties we have a long list
This might tie in with the work Tom has started to do splitting the css from the model files but I start

[2017-02-28 14:58] ronm123 opened #589 "New optional properties"
This is perhaps linked to #588 but it would be good to give users control over the following in all project templates without the need to know/add css. We already have some of this in the Bootstrap template:
LO properties:
Header background colour (including transparent)
Page background colour (including transparent)
Footer background colour (including transparent)
Page properties:
Page background

[2017-02-28 15:09] ronm123 opened #590 "Fullscreen background image option"
This has been raised on the forums but I couldn't find it listed here. Apologies if it is listed elsewhere and therefore this is duplication...
Enhancements to the LO background image and page specific background image options would be:
Options to set to percentage, cover, contain etc
Options to set to fill whole LO including header and footer e.g. make header and footer transparent and background

[2017-02-28 15:22] ronm123 opened #591 "enhancements to hotspot image connector and/or possibly the plain hotspot image page"
The hotspot image connector page is arguably underused because its perceived as a connector page rather than just a hot spot image interaction with wider options e.g. pop-up html so perhaps we should add pop-up options to the plain hotspot image page too. But anyway enhancements to the hotspot image connector page would be:

- [ ] Control the position of the pop-up for each hotspot rather than jus

[2017-03-01 10:48] FayCross commented on #576
No I don't think there is similar help for required properties but it would be very useful - I thought I had opened an issue about this a while ago but can't find it now.

[2017-03-01 10:58] FayCross commented on #578
This has been discussed before as I was taking fields like this out and Tom was adding them in!
https://github.com/thexerteproject/xerteonlinetoolkits/issues/526

I still feel like there should be a better way of doing it rather than typing in text that's not used in the project (use text from another field as tree label?) but I am not deleting them anymore! Perhaps indicating fields like this wou

[2017-03-01 11:13] FayCross commented on #586
Thanks John - I've been meaning to look into this for a while!

[2017-03-01 11:20] FayCross commented on #588
I'd really like this. I think @JohnSmith-LT has mentioned a similar idea previously where you could group properties together, e.g. one background optional property through which you could control image used, opacity,  etc. without having to add everything separately.

[2017-03-01 11:46] JohnSmith-LT commented on #588
Yeah I think I had the idea of being able to extend the input types (like the text, textarea, color, etc) that we have just now to create multiple ones. For simplicity we would still save the data in a single xml attribute but each item separated by a 'separator'.

So for example we create a new type called 'gradient' and we have a simple class that has three methods:

1) input - takes the raw xml

[2017-03-01 12:35] JohnSmith-LT commented on #587
Hi @ronm123

If you update now and enable purple theme then the ticks should be showing in the menu. If you have a better tick icon then please feel free to upload instead of the one that i've uploaded to test this.

John

[2017-03-01 12:51] ronm123 commented on #587
Hi @JohnSmith-LT had to clear cache but works great! The icon looks fine but wonder if a Font Awesome icon would work and thefeore inherit theme colours or be more easily controlled rather than having to create coloured icons for each theme? e.g. `<i class="fa fa-check-circle" aria-hidden="true"></i>`
Cheers
Ron

[2017-03-01 12:51] torinfo commented on #587
Hi @ronm123, @JohnSmith-LT ,

If we base the marks on the information of the tracking code, we can (under circumstances) keep track of this information between sessions.

[2017-03-01 12:55] JohnSmith-LT commented on #587
That would be very interesting to do...

It would only (as far as I can see) mean updating the single function in menu.html to look at the tracking code instead of the .built flag...

[2017-03-01 13:10] JohnSmith-LT commented on #587
Have changed it now to font-awesome @ronm123 and seems to work ok...

[2017-03-01 13:12] torinfo commented on #587
I will have a look at that (I probably need to add fnctionality to the tracking code).

[2017-03-01 13:21] JohnSmith-LT commented on #587
Cheers Tom

[2017-03-01 13:26] ronm123 commented on #587
@torinfo how does that tracking code get stored and retrieved between sessions? localStorage or only when exported/imported as SCORM?

Often wondered about the functionality to resume with LO's viewed directly from Xerte. e.g. SL content prompts to resume or restart even when just viewed from a web link and I know we have the enable resuming to bookmark particular page or send direct links to a pa

[2017-03-01 13:38] ronm123 commented on #587
@JohnSmith-LT I just tested this with other themes and because the updated css doesn't exist in the other themes the icon is butting up agaianst the last letter of the page titles e.g.
![image](https://cloud.githubusercontent.com/assets/5167146/23461930/c3431664-fe83-11e6-9bb3-77c56ed1ade3.png)

Perhaps a quick n dirty fix for that is just adding a space in the append code e.g.
`$thisItem.append('

[2017-03-01 14:13] torinfo commented on #587
@ronm123

For now it's indeed just for SCORM sessions. Later it will be available for xAPI as well.

[2017-03-01 17:15] #543 closed

[2017-03-01 21:30] ronm123 commented on #587
@JohnSmith-LT only just noticed that with the purple theme if I close the LO and re-open it correctly clears all the ticks but with all the other themes it's showing the ticks on all pages all the time even if I haven't viewed that LO before e.g. create a new LO, default theme, add a few pages, play, view the toc, all pages ticked. I guess that's because none of the other themes have the #menuItem

[2017-03-02 09:41] JohnSmith-LT commented on #587
Hi @ronm123 give the latest update a try when you get time. I've flipped the logic oin the menu to use a notvisited flag by default and have stripped the css back out of the purple theme. If we want to float the tick to the right then we can add some css to the master layout.

[2017-03-02 10:14] ronm123 commented on #587
Hi @JohnSmith-LT yes that works on all themes now. It did look better floated right and I guess we don't have too many themes to add the css to each if thats the better way to do it?
Cheers
Ron

[2017-03-02 11:17] ronm123 commented on #587
@JohnSmith-LT @torinfo is there already a variable that holds the total number of pages viewed or not viewed? e.g. part of the builtPage functionality or page tracking?
Wondering about displaying a progress bar instead of the page x of y
so something like pages viewed * total pages /100 and move the progress bar accordingly

[2017-03-02 11:51] JohnSmith-LT commented on #587
No variable but this should give you the count of those built

$(x_pageInfo).filter(function(){return this.built !== false;}).length

[2017-03-02 16:09] ronm123 commented on #587
Cheer @JohnSmith-LT that works and I'm just experimenting at the moment with what I can get working just via a themes .js file. Here's an example of two things:
a
1) hiding/showing some of the footer buttons via a toggle
2) displaying a progress bar rather than page x of y
http://training.mitchellmedia.co.uk/xot/play.php?template_id=279

At the moment though the progress bar is only changing on cl

[2017-03-02 20:18] JohnSmith-LT commented on #587
Hi @ronm123, that looks pretty cool but yes I can see the problem that you face since the button clicks happen before the .built is set so they are always 1 step behind...

I always planned to introduce event dispatching to xenith but haven't got around to it - it would allow you to hook your js into a beforePageLoad and afterPageLoad event, or similar, and have code executed when you wish...

In

[2017-03-03 09:31] ronm123 commented on #587
Cheers @JohnSmith-LT that's great! Thanks for the explanation too.
Yeah originally I had the percentage text in the bar but after moving the text out and making the bar thinner I realised it didn't work without something in the div hence the & nbsp;
I tweaked some of the ID and class names and set the relevant styles in the js file so that this can be added to any theme or the script panel of any

[2017-03-03 09:49] JohnSmith-LT commented on #587
I think if you set the div css display option to

display: block;

then it may work. I know I have a div in some other page doing similar which has no space in it and it works but i'm setting the px size rather than % so not sure if that is also interfering...

[2017-03-03 12:46] ronm123 opened #592 "mark word page types - marking words breaks formating"
Not sure if this has been mentioned before but there was a question on the mailing list about the gap fill page and changing the font/style of the correct words. I thought why not just use the wysiwyg controls but upon testing it seems that any formatting applied stops at the first marked word e.g. the | character seems to stop the formatting even just making the paragraph a different colour.

I t

[2017-03-03 13:21] FayCross commented on #576
Related to #442

[2017-03-03 13:49] FayCross commented on #524
Closing as text styles do seem to copy over with text

[2017-03-03 13:49] #524 closed

[2017-03-03 15:33] FayCross opened #593 "Image resize issue when dragged into editor"
Images that are dragged into single line text input fields in the editor can't be resized like they can when dragged into text area fields.

This would be useful to fix as it would allow images to be used in all interactions (e.g. #203)

[2017-03-03 15:45] FayCross opened #594 "Optional property delete icons disappearing"
The optional property delete icons for properties I've added to the page keep on disappearing. Once they go I have to refresh the page to make them appear again.

I've not noticed this happening before the new changes to the editor.

[2017-03-03 16:03] torinfo commented on #594
I would be surprised if it has anything to do with the ckeditor replacement, But I'll have a look into that. I've noticed that the extra icons that indicate whther a page is (temporarilly) disabled disapear as well.

[2017-03-03 16:43] #593 closed

[2017-03-08 10:13] ronm123 commented on #586
Just added an additional change to this to also hide the top nav bar. Not sure if this quick animated gif will play here but shows that with some of my projects the black navbar was still flashing before this change.
Had to add an id so called it topnav hope that's ok.
![bootstrap_navbar_flash](https://cloud.githubusercontent.com/assets/5167146/23699605/ad4471be-03e7-11e7-975b-224cd1cf6a52.gif)

[2017-03-08 10:13] FayCross commented on #203
You can do this now by dragging & dropping images into the label fields in the editor.

[2017-03-08 10:13] #203 closed

[2017-03-08 10:14] FayCross commented on #473
You can do this now by dragging & dropping images into the label fields in the editor.

[2017-03-08 10:14] #473 closed

[2017-03-08 11:01] ronm123 commented on #203
@FayCross @torinfo can this be made to work with .svg files too? Have tested with .png and .jpg and .gif and all work but .svg doesn't.

[2017-03-08 11:02] ronm123 commented on #594
@FayCross @torinfo I'm noticing this now too but does seem like a fairly new issue.

[2017-03-08 16:53] ronm123 commented on #552
Just revisiting this and tagging it to perhaps for further discussion next week. I think useful enhancements would be as follows:

- [ ] Ability to make public but password protect
- [ ] Ability to select secret url and have that generate a random string so that the project only plays via that url e.g. /play.php?template_id=365jhwjpopouqpklvuxudeuq or with .htaccess /play_365jhwjpopouqpklvuxudeuq

[2017-03-08 17:22] ronm123 opened #595 "play v publish v cancel - perhaps need for extra button?"
From a forum post this week re lost work after selecting cancel when prompted to publish.
I tested this and sure enough it's possible to type work in a page text box and if you don't play or publish and select cancel that change is lost.
It seems that if you type in one box but then click in another text box e.g. title and then close, cancel without play/publish there must be some change of focus

[2017-03-08 17:40] ronm123 opened #596 "additional enhancements to Bootstrap project"
Rather than list these as separate issues I think the following list of enhancements to the Bootstrap project template would be useful:

- [x] Add an optional script property to the LO icon like with XOT projects. In the site template we have styles at that level but not script.
- [x] Add a styles option under advanced options. I know we have New HTML Code but you have to add `<styles></styles>` t

[2017-03-08 17:46] ronm123 opened #597 "Encourage OER sharing and repurposing - via a download button"
People often don't know about the ability to add a project to the export feed to allow others to download, import, re-purpose. I wonder if we should/could tap into that functionality by adding an 'enable download' optional property or even page type so that non-technical authors who want to share can simply add that optional property or page type that display a link for end users to download witho

[2017-03-09 11:59] ronm123 opened #598 "add to download options for documentation page, model answer page and new reporting page"
Just adding this following an online meeting today and for discussion during the developer days

- [ ] Documentation page - add controllable option to download as pdf and/or current Word option
- [ ] New reporting page - add controllable option to download as Word and/or current pdf option
- [ ] Model answer results page - add options to download as word and/or pdf
- [ ] Add email options to all o

[2017-03-09 12:42] JohnSmith-LT commented on #594
I did a bit of investigating into this last night and a way to reproduce is to:

Add a text page
Add the hidden page option and tick the box
The icon appears to show it is hidden.
Then click on the duplicate/copy button
The page will be copied but now neither (despite having the hidden option on the page) will have the hidden icon shown in the tree...

It seems that the code to insert the icon onl

[2017-03-09 12:55] ronm123 commented on #594
@JohnSmith-LT so does it only happen if a page is set to hidden and not if there aren't any hidden pages?
Or is it the copy/duplicate of a hidden page that is causing the problem?

[2017-03-09 13:05] JohnSmith-LT commented on #594
I don't think it's the duplication code as the nodes seem to go into the tree ok - this shows if you save and reopen the editor and they are there...

It might just be as simple as the duplication code not calling a method that re-inserts the flags... Tom did most of that code and it's got quite intricate now so i'm not 100% clear yet of the flow but I'll have another look...

I think the editor h

[2017-03-09 14:36] FayCross commented on #594
I should be able to fix the disappearing hidden icon problem as I did the original code for that bit.

The disappearing optional property delete icon is different though - it was the bin button disappearing from the wizard (not tree). I have to say I didn't really notice it yesterday when I did work on how we could have property groups - maybe I've inadvertently fixed it...

[2017-03-09 14:52] torinfo opened #599 "(Deep) linking to decision tree is strange"
See https://xot.12change.eu/play.php?template_id=988

The Xerte page link menu suggests that you can deeplink into the subpages of the decision tree. The pages are listed separately (with separate link ids)

 - When you choose Facebook, and then press the image, you will land on the page after the decision tree
 - If you press the 'back button' you go back (in this case) to the page with the image

[2017-03-09 15:06] FayCross commented on #599
I've just looked into this and it seems to be a general page link problem not specific to decision tree page, Any page with nested content has it's children appear on the Xerte page link menu. This makes sense for pages like the navigators but it even happens for pages like morph images where the child is definitely not something you can link to.

Would it be possible to turn on/off page links for

[2017-03-09 15:16] torinfo commented on #599
I'll look into that. Probably not that simple. We probably need some information from the subpage to determine whther you can link to it.

Different question then: Would it be possible to enable (internal) linking to a sub-page of the decision tree?

[2017-03-09 16:08] JohnSmith-LT commented on #599
Sorry, this was probably me... I did some stuff to get first, last, next, previous links in for Ron and to enable deeplinking in Bootstrap and probably removed the check for XOT only instead of making it XOT and Bootstrap only...

I never noticed the issue with deeplinking to subpages that aren't really subpages but as Tom says we'll probably need a flag of some sorts...

Deeplinking to Decision s

[2017-03-09 16:38] torinfo commented on #595
The issue is not that the save doesn't work. Preview is saved (regardless of what button you press in the workspace)

However, the data from the textarea/wysiwig editor is not saved in the internal state that is sent to the server. We use the blur event to detect an out of focus event, and that works perfectly of you go to another element inside the editor. Regrettably, the event does NOT fire if

[2017-03-09 16:52] ronm123 commented on #595
@torinfo I think the point was if they don't play or publish and then cancel the changes are lost.

If the new version saves on every keystroke is there a negative impact on undo? If not then yes sounds like that will minimise the chance of lost changes.

[2017-03-09 17:32] torinfo commented on #595
Even if you don't play or publish, the preview is always saved (provided the state is correct)!

You can verify for yourself:
 1. Change an textarea item
 2. Go to a different field (internal state is updated now)
 3. Close editor and press cancel

It still should have the changes made in 1 if you re-enter the editor.

To lose data you have to:
 1. Change an textarea item
 2. Close editor and pres

[2017-03-09 17:49] ronm123 commented on #595
Yes I can only assume it's the second process they were reporting. Or perhaps using an older version.
Regardless I'm not sure it would hurt to rename the publish button save/publish.

[2017-03-10 07:07] torinfo commented on #595
If we do that, I would propose to introduce a new 'Save' button to save the preview. 'Publish' will continue to only save data.xml.

Otherwise, you can wonder what the purpose is of have a difference between data.xml and preview.xml.

[2017-03-10 07:35] ronm123 commented on #595
I sort of agree but I guess we need to consider if having 3 buttons introduces even further confusion? I wonder what percentage of users even appreciate or make use of the difference between play and publish? In my experience more people want a save button to be confident that their changes are saved than want a button that doesn't save the changes to the published version. They click publish to s

[2017-03-10 11:15] #595 closed

[2017-03-10 11:15] torinfo commented on #595
Please test

[2017-03-10 12:03] FayCross commented on #540
Related to this - edit a row and close the dialog by clicking outside of it instead of clicking close button. The edit row dialog won't open again, so you can't edit or add rows until you change page and go back

[2017-03-10 12:29] ronm123 commented on #595
@torinfo seems to work great! Can't spot any adverse effects.

[2017-03-10 12:35] ronm123 opened #600 "add glossary option to bootstrap template?"
Was asked about this during a training session and I wonder if we could re-use the relevant code from the XOT template to enable glossary functionality in site projects?

[2017-03-10 12:52] ronm123 opened #601 "extra toolbar buttons on wysiwyg title fields e.g. text alignment?"
Now that it's possible to drag and drop images onto title fields or have FA icons etc it would be useful to allow control of text alignment too. Another example is the new caption option on the graphics and sound page where rather than have an additional optional property to align the caption centre or left having the toolbar options for that would be far simpler and more universal. Appreciate tha

[2017-03-10 12:54] torinfo commented on #601
It will remain a compromise between keeping this a one line menu and functionlaity..... But it is not hard to do.

[2017-03-10 13:22] FayCross commented on #600
I'd really like to do something like #462 where you can create glossary outside of individual projects and link to them

[2017-03-10 17:02] ronm123 commented on #600
@FayCross think there's probably room for both options e.g. internal glossary and external glossary.

[2017-03-13 08:59] ingedonke opened #602 "Flash card wishes"
Is it possible to add the optional parameter to show the flash card random? And like the quiz that you add 20 flash cards and choose to only show 10?

[2017-03-13 09:07] ingedonke opened #603 "Word search"
Is it possible to add an optional parameter that you hide the list of words so the student has to search for words and don't know what words there are in the word search?

[2017-03-13 09:59] ingedonke opened #604 "Feedback in MC with more answers possible"
The feedback possibilities for the MC question with more then 1 answer, is not very usefull at the moment. Erasmus MC have some idea's about that. Sebastian will explain this during the hackaton.
Here is an example how it could be https://static1.squarespace.com/static/543eee60e4b01f8d6d25788d/t/54f5033ce4b08d824e026b3d/1425343308710/

[2017-03-13 10:02] ingedonke opened #605 "Video navigator page"
Is it possible to create a video navigator page where it is possible to add interactivities, text, audio and links (like the hot spot connector navigator)?
H5P has a nice page for that... https://h5p.org/interactive-video

[2017-03-13 10:02] ingedonke opened #606 "Media lesson add mc navigator"
Is it possible to add the mc nvigator functionality to the media lesson so you can create a sort of scenario? Maybe even add getting points for it to make it a bit of a game?

[2017-03-13 10:07] ingedonke commented on #591
add sound on click?

[2017-03-13 10:12] ingedonke opened #607 "Open Badges and Xerte"
This was a question from a few of our users. Is this something we can discuss briefly during the hackaton?

[2017-03-13 10:14] ingedonke opened #608 "Delete/hide users so you can't share LO's with them anymore"
At this moment at the administratoe page you can delete users. But they are still in the system and you can share or give LO's to them. Is it possible to hide the deleted users from this list?

[2017-03-13 11:25] torinfo commented on #608
Pleazse note that this is only true if db is used for authentication.

Other forms of authentication have similar problems though. For example, if using LDAP and a user is deleted from LDAP, the user is still available in the xerte install.

[2017-03-14 16:27] JohnSmith-LT commented on #592
Has this been fixed Ron? I'm trying to reproduce and can't get it to mis-behave... Could it be fixed since Tom upgraded the editor?

[2017-03-14 16:35] torinfo commented on #592
Ah yes! I tried to find this issue, so I could mark it fixed, but this is indeed fixed since I put in the new CKEditor. Also the similar function of making an internal link on an image (the image was thrown away previously)

[2017-03-15 09:53] #592 closed

[2017-03-16 13:55] #603 closed

[2017-03-16 14:08] #562 closed

[2017-03-16 14:44] JohnSmith-LT opened #610 "Make the panels sized by percentage"

[2017-03-16 15:58] #14 closed

[2017-03-17 14:17] JohnSmith-LT commented on #602
Closed with this commit https://github.com/thexerteproject/xerteonlinetoolkits/commit/47ec3ee6fc36ed4d90453b19869b550f65af83a0

[2017-03-17 14:17] #602 closed

[2017-03-19 17:11] JohnSmith-LT opened #611 "Problem with pasted and drag-drop images"
Pasted / Drag&Drop images are uploaded and but don't stick unless another change is made to the box...

@torinfo I found the reason for this... the change event does fire correctly, it's just that it fires right after you drop the image and before it is even uploaded or inserted.

Playing around with the events I found that fileUploadResponse fires when the server replies but this is still too ear

[2017-03-20 12:47] ronm123 opened #612 "problem with latest develop/unstable branch and results page code"
Hi all
I just created a new install to test the latest develop and after creating a simple LO (XOT template) and clicking play I get an  empty window. Upon further investigation and turning debugging on the error was:

Parse error: syntax error, unexpected '[' in .../website_code/php/xmlInspector.php on line 180

If I comment out line 180 and line 181 as follows then the project plays fine:
`//$th

[2017-03-20 15:34] torinfo commented on #612
I'll fix it. It has to do with the [0]. In earlier versions you cannot do that on a result of a function directly, but requires storing the result in a temporary variable, and than using [0] on the variable.

[2017-03-20 15:59] torinfo commented on #612
@ronm123, is it working now?

[2017-03-20 17:02] ronm123 commented on #612
@torinfo yes it's working now in as far as LO's play ok now but am I right in thinking with current develop the results page doesn't show? e.g. added the optional property > results page but don't get a results page at the end of the LO. Not a problem I know that's still being developed anyway but the optional property is there so might confuse people at the moment.

[2017-03-20 18:48] torinfo commented on #612
@ronm123. That is correct, because they are working on a fork, so everything you saw last week is on the fork. It's not merged into the main repository yet. The goal is to be able to do that by the end of the month at the latest.

[2017-03-20 20:58] ronm123 commented on #612
@torinfo assumed that's the case thanks.

[2017-03-21 18:40] #612 closed

[2017-03-22 10:22] ronm123 opened #613 "documentation page issues/enhancements and perhaps forthcoming results page too"
Hi all
a couple of recent issues raised regarding the documentation page and perhaps will be similar for the forthcoming results page too...

1. I had a report from someone who had exported their project containing a documentation page as SCORM to use withing their VLE and also tested offline access and reported that the download button didn't then work. Of course we know that this is to be expect

[2017-03-24 09:23] FayCross opened #614 "IE issue - next button skips a page when @import used in css file"
If you use import in a stylesheet (e.g. @ import url('http://fonts.googleapis.com/css?family=Open+Sans');) and upload it to your project via an optional property it causes unexpected behaviour in IE where button clicks are fired twice so next/prev buttons skip 2 pages rather than 1.

[2017-03-24 09:42] torinfo commented on #614
Which version of IE? This is really weird. Does using the sketch them expose the same issue (Sketch uses @import to load a font as well.)

[2017-03-24 09:58] ronm123 commented on #614
I've used the sketch theme extensively (and obviously developed it) and have never noticed this. IE version might be a factor/difference or is it a difference between @import in the theme it'self compared with adding as an optional property?

[2017-03-24 10:06] FayCross commented on #614
I have found a fix but didn't have time to commit before I left for a
meeting. Will do it this afternoon

On 24 Mar 2017 09:42, "Tom Reijnders" <notifications@github.com> wrote:

[2017-03-24 15:18] FayCross commented on #614
Hmm, I'm not going to commit fix.

It was an issue on UoN install that's not entirely up to date. IE10 & 11 with stylesheets uploaded to optional property. It seemed to be because the css onload event was being fired twice with the import line included and that meant some other interface setup code was being called twice... therefore button clicks were firing twice too.

I can't recreate issue on

[2017-03-24 15:18] #614 closed

[2017-03-29 09:08] ronm123 opened #615 "QR Code page in all versions now broken - displays blank page."
Hi all
not sure if anyone else has noticed this so not sure how long it's been broken but it looks splashurl.net no longer exists so the code to add the image fails and displays any qr code page totally blank.
The shorturl bit still works but doesn't show because the image load is obviously failing.

[2017-03-29 09:11] ronm123 commented on #615
Is LGPL licence ok to use? If so perhaps we can use http://phpqrcode.sourceforge.net/ ?

[2017-03-29 09:20] ronm123 commented on #615
Alternatively this site http://qrickit.com/qrickit_apps/qrickit_api.php seems similar to what we were using but would obviously be better not to link off to an external site if can implement our own version.

[2017-03-29 09:23] torinfo commented on #615
I would prefer javascript generation:

https://davidshimjs.github.io/qrcodejs/

MIT license.

[2017-03-29 09:30] ronm123 commented on #615
I only did a quick search - supposed to be doing something else - but yes looks good!

[2017-03-29 11:27] FayCross commented on #614
I've just looked into this some more & found that with up to date code, the onload events for css files containing import (including sketch theme) are called twice in IE. Even though this isn't causing any issues at the moment I've stopped this happening as it's not ideal that so many functions are being called multiple times.

[2017-03-29 15:08] JohnSmith-LT commented on #615
Hi @ronm123 when you get a chance can you check that this now works for you...

[2017-03-29 16:15] ronm123 commented on #615
Hi @JohnSmith-LT yes the QR code is displaying now. However the short url isn't. I think we used to call is.gd for that and that site is still working e.g. https://is.gd/apishorteningreference.php Or is there a better way to do that too?
Cheers
Ron

[2017-03-29 21:20] ronm123 opened #616 "TOC tickboxes now showing all pages visited continuously"
Hi all
has anyone committed a change to develop likely to have stopped the TOC tick boxes from working correctly? I just noticed this on the install I've been using so tested locally via develop too and it seems the tick boxes are showing continuously regardless of having visited pages or not. My sense is this must be a recent change because I'm sure it was working in the last week or so.
Shutting

[2017-03-30 08:24] JohnSmith-LT commented on #615
Hi Ron,

I think this must again be down to some cross-domain shenanigans as it works fine here on localhost...

![image](https://cloud.githubusercontent.com/assets/3907362/24494557/999d2d8c-152a-11e7-957d-5b9221c7561d.png)

Do you get any console errors or network codes in the network tab?

John

[2017-03-30 08:57] ronm123 commented on #615
@JohnSmith-LT no errors in the Chrome console. A few advisory's in the Firefox console but I don't think they are relevant:
![image](https://cloud.githubusercontent.com/assets/5167146/24496026/0816e880-152f-11e7-9bb9-2f7774dd21cd.png)
I'm testing via xampp/develop but also I think I updated an online install with the latest develop last night so what do you get viewing this quick test: http://lear

[2017-03-30 08:58] JohnSmith-LT commented on #616
Hi @ronm123

I think what i'm seeing happening here is that @torinfo Tom's code to use the separate css files is not loading in the menu.css file...

Also the css to initially hide the ticks

#menuItems .menuItem .notvisited {
		display: none;
	}

seems to have dropped off when the merge happened...

[2017-03-30 09:25] JohnSmith-LT commented on #615
The problem seems to be that your rss_proxy.php is not returning the code...

If I do this on my server

/rss_proxy.php?rss=https://is.gd/api.php?longurl=http%3A%2F%2Fwww.google.com&_=1490865480290

Then I get back the correct short code

whereas if I run the same on your server then it gives an empty return...

I'm not sure whether your domain or ip is being blocked by is.gd or not but you say th

[2017-03-30 09:29] torinfo commented on #615
Hmm. Regardless whether we can reproduce this or not, this code is not working when the LO has been exported, because obviously rss_proxy.php is not available. We should be able to do an javascript call to is.gd directly shouldn't we? Or do we get issues with cross domain calls in that case? (I suppose it depends on the setup of is.gd)

[2017-03-30 09:31] torinfo commented on #616
Yes, menu.css is not loaded because it's handled completely different then other pages. Will have a look.

Are there other similar issues?

[2017-03-30 09:34] torinfo commented on #616
Yup: coulorChanger, language and glossary.

[2017-03-30 09:41] JohnSmith-LT commented on #615
Yeah there are numerous cross domain issues with it and it has never worked offline as far as I can see....

This could perhaps be better handled in the editor anyway? Could we create a short_url input type which takes a url and changes it in the editor to a short one... but then that would lose the long one in the editor unless we retain both?

[2017-03-30 10:14] JohnSmith-LT commented on #615
Hi @ronm123 I've changed the code to use the is.gd service directly. Can you test if this works on your install? And on http://localhost/ and offline if possible?

We may have to implement multiple options to cover all occasions...

[2017-03-30 10:34] #616 closed

[2017-03-30 10:37] torinfo commented on #615
This seems to work fine on my localhost xampp. Will try in a minute on my Linux install.

However, url is hardcoded to www.xerte.org.uk. I don't think that was the intention. ;-)

[2017-03-30 10:43] JohnSmith-LT commented on #615
Oops... not had enough coffee this morning - that's it fixed...

[2017-03-30 10:54] torinfo commented on #615
Works fine on my Linux server as well

[2017-03-30 10:54] #615 closed

[2017-03-30 11:17] ronm123 commented on #615
@JohnSmith-LT @torinfo sorry been in an online meeting until now but have just updated my xampp install and online install and both working now e.g. short url as well as qr code displaying correctly.
Cheers
Ron

[2017-03-30 11:19] ronm123 commented on #616
@torinfo likewise have updated xampp and online install and this is working again now after a force refresh.

[2017-03-31 10:20] FayCross commented on #587
@ronm123 I've just noticed that the css for the progress bar is all in xenith.js - is it ok for me to move it to one of the stylesheets?

Also - I'm closing this as I think it's all been done. Reopen it if I'm wrong

[2017-03-31 10:20] #587 closed

[2017-03-31 10:40] ronm123 commented on #587
@FayCross do you mean the progress bar or the TOC ticks?
I don't have time to look right now but can check later or next week. I didn wonder about adding an optional property for users to control the colour of the progress indicator and I guess the same could be useful for the ticks in the TOC too.

[2017-04-02 23:55] JohnSmith-LT commented on #189
This probably isn't useful now for glossary or table page since we have wysiwyg editor but perhaps for the variables table. This example seems to work:

http://jsfiddle.net/aditib/CzVVK/

[2017-04-03 15:59] ingedonke commented on #599
Is there any news about this issue?

[2017-04-12 10:10] #599 closed

[2017-04-12 10:13] FayCross commented on #599
Deep links to decision tree steps now work. Linking to the page directly will show the page as last viewed but direct links to a step will reset any answers that have previously been selected and start a new decision from that step.

I'll open a new issue for the problem with links being available to children where they should be

[2017-04-12 10:16] FayCross opened #617 "Deep links should not be an option for the children of some page types"
Issue first discussed in #599

Any page with nested content has it's children appear on the Xerte page link menu. This makes sense for pages like the navigators but it even happens for pages like morph images where the child is definitely not something you can link to.

Would it be possible to turn on/off page links for a page's children? Probably with a flag in the xml

[2017-04-12 13:08] FayCross commented on #610
How would this work for existing projects where the panel width is already set as small, medium, large or full? We could end up with two properties for controlling panel width in the editor which would be confusing.

[2017-04-12 13:36] ronm123 commented on #610
Can't those existing sizes map to percentage e.g.
Small = 20%
Medium = 50%
Large = 75%
Full = 100%

[2017-04-12 13:51] torinfo commented on #610
And then deprecate the current panelsize and add a new mandatory property containing percentages.

It will require some code in each model to figure it out, but yes, it would be very good.

[2017-04-12 14:03] FayCross commented on #610
It was how it would look in editor that worried me - I get how it would work in page models.

The deprecated properties will still show up in editor in existing projects & then by adding a mandatory property you'd end up with this on lots of pages in existing projects

![capture](https://cloud.githubusercontent.com/assets/8926470/24961526/f4b0925c-1f90-11e7-9cea-ffd98301cf6c.JPG)

I know we have d

[2017-04-12 14:22] JohnSmith-LT commented on #610
Hi all,

This was raised at the Edinburgh event and from memory I think it was more to do with how the panels react when responsive is on...

So rather than having a 60% option @FayCross I took from it that it was how small, medium, etc are interpreted to make sure that small for example stays at 25% of the total width as you expand the LO...

[2017-04-12 14:24] torinfo commented on #610
Yes, I agree, but it is definitely an improvement.

We can also follow John's proposal, and reading back, I think that's what Ron is suggesting as well.

[2017-04-12 14:25] FayCross opened #618 "Further grouping of optional properties"
Following on from the grouping optional properties work I did in Edinburgh, someone asked if they could also be grouped according to whether they're specific to the page or are the optional properties that can be applied to every page. Is this something we would want? Something along these lines:

![opt1](https://cloud.githubusercontent.com/assets/8926470/24962357/a87f4416-1f93-11e7-82e9-dd094b6c2

[2017-04-12 14:27] JohnSmith-LT commented on #618
Yes I really like the look of that, even potentially building in the option to collapse certain groupings temporarily with a button

[2017-04-12 14:33] FayCross commented on #610
Oh ok, all the panels where you select whether it's small, medium or large are all responsive already (40%, 60%, 80%). But there are other kinds of pages where panels are used where I think there's a max size set (e.g. morph images?) These do need looking at. I misunderstood and thought it was about sizing the pages with full height panels (like navigators)

[2017-04-12 14:35] torinfo commented on #618
Yes I would like that as well.

Would 'General' be a good title?

[2017-04-12 14:36] FayCross commented on #618
Ok, I'll commit it (slightly embarrassed that @torinfo's English is better than mine!)

[2017-04-12 14:37] JohnSmith-LT commented on #618
Yes, that works for me. Great work Fay!

[2017-04-12 14:41] ronm123 commented on #618
Hi @FayCross all
Agree this looks good!
@FayCross one think I don't like about your previous work on the groupings is the 'Enable resuming' being grouped with the Tracking group. @FayCross :-(
I nearly always enable resuming and encourages others to do so too but it seems wrong that to add that you get all the SCORM options too. Perhaps others disagree with my thoughts on this and if so fine. But

[2017-04-12 14:43] JohnSmith-LT commented on #618
Yeah I agree with @ronm123 I think grouping it implies that you can only tick that if you are creating a tracked LO whereas the reasons for adding it were to allow you to bookmark and come back to a page...

Maybe the name isn't the best I could have chosen though...

[2017-04-12 14:44] FayCross commented on #618
Ok, I'll take it out of the group

[2017-04-12 15:13] ronm123 commented on #618
Thanks @FayCross not a criticism in any way I think the new grouping etc are fantastic!

[2017-04-12 15:16] torinfo commented on #618
lol!

I can assure you that's not true.... :-)

[2017-04-13 08:32] FayCross commented on #618
It's not a problem Ron - I had wondered about that property (haven't used it myself) and had intended to ask everyone if it was in the right place but forgot. If anyone sees any other misplaced ones then please add or remove them from the groups - it should be pretty clear in the xwds how it's done.

[2017-04-13 08:47] #618 closed

[2017-04-13 08:52] FayCross commented on #618
The properties that show in the general group are those that are taken from the basicPages.xwd file. I've added a new attribute to each of these called 'common' so that the editor can distinguish between unique & general properties.

@torinfo if you have a chance it would be great if this attribute was added to the xml by the rebuild scripts rather than having to add it to each of them manually. N

[2017-04-13 09:14] torinfo commented on #618
@FayCross that is a good idea, I'll take that along as I change the translation tools.

[2017-04-13 13:28] FayCross commented on #528
Done for all pages with a full height panel

[2017-04-13 13:28] #528 closed

[2017-04-19 11:08] FayCross opened #619 "Make display mode be 'fill window' by default"
Make display mode be 'fill window' by default (requested by user at UoN)

I've wondered about this before, particularly now we have responsive text on by default which doesn't actually do anything until display mode is changed to fill window.

Are there any potential problems with doing this?

[2017-04-19 11:20] FayCross commented on #619
Maybe we could do this after we are happy that all pages are nicely responsive (media etc.).

Is there anything we can do to get around the problem that when you add a new page and preview (without changing the text) the default text is often not responsive. I think this is because it's not in p tags which are added by ck editor when you edit text. Could we force the default text to be in tags or

[2017-04-19 12:26] torinfo commented on #619
If we're happy with responsive, I think we should make fill window the default.

Also, I think it would be a good idea to put the default text between <p> taqgs.

[2017-04-21 08:52] FayCross opened #620 "Add tracking of page visit ticks to menu page"
When the navigation of a project is set to menu the progress ticks next to each page do not show.

It would be good if this worked in the same way as the TOC on linear projects (#587)

[2017-04-21 08:56] FayCross opened #621 "Progress bar % calculated incorrectly on projects with menu"
In projects were navigation is set to menu, the progress bar considers the menu page that you initially view as one of the pages to 'complete'.

e.g. in a project of 4 pages the progress bar already says 20% complete when you are viewing the initial menu page. I think this would be better to say 0% until you view proper pages.

[2017-04-24 15:11] ronm123 opened #622 "issue with bootstrap export?"
Hi all
have just been testing a potential issue with Bootstrap export but because of an external problem with my broadband at the moment not able to test efficiently. However as far as I can see exporting a Bootstrap project and then uploading to a vle or webserver isn't displaying the LO contents and I could be wrong but due to an error in application.js e.g.
Uncaught TypeError: Cannot read prope

[2017-04-24 16:22] ronm123 commented on #622
Hi all
after some further testing just to add it's definitely line 356 that is causing the problem here. Even when viewing offline via Firefox the exported Bootstrap project doesn't display but if I comment out line 356 it plays fine. e.g.
`//var msg = languageData.find("hiddenPage")[0].getAttribute('label') != null ? languageData.find("hiddenPage")[0].getAttribute('label') : "This page will be hi

[2017-04-24 16:36] ronm123 commented on #622
actually I tell a lie - upon further testing both line 356 and line 386 have to be commented out for the LO to play correctly. This is not an issue when playing from Xerte but is when playing/viewing an exported Bootstrap project.

[2017-04-27 08:21] FayCross commented on #622
The hide page stuff I added a while ago used some strings from the language file & this doesn't seem to be exported. I'm not sure how to get it included in the export so I've just fixed it so it doesn't break if the language file doesn't load. It's not a problem at the moment as the string was only used in preview (so would never be needed in exported project anyway) but if we ever use other thing

[2017-04-27 08:33] torinfo commented on #622
I'll have a look at that, so I'll re-open this issue for exporting the language file.

[2017-04-27 08:51] ronm123 commented on #622
Thanks both. I wondered whether that was the issue but as far as I can tell the language folder has never been part of bootstrap project export so I thought it must be something else.

[2017-05-04 17:43] jorgeccmm commented on #622
Please guys I have tried to export a bootstrap object as second option (not scorm) and it is not responsive at all. Please how to export in a pack that contains HTML5 file to upload it into my hosting server. I have tried linking to localhost and it does not work neither. Is it this tool really responsive?

[2017-05-06 18:11] #622 closed

[2017-05-07 12:46] ingedonke opened #623 "Problem bullets and images"
![bullets](https://cloud.githubusercontent.com/assets/5703781/25781038/ec636b36-3333-11e7-8dd6-413d6048832a.png)
When you add a left alligned image and than add some bullets text to the right the bullets are not placed correct. See printscreen.

[2017-05-07 13:21] ingedonke commented on #623
This is how it looks like for the learner.
![bullets-2](https://cloud.githubusercontent.com/assets/5703781/25781320/d180b454-3338-11e7-8022-7243598e867c.png)

[2017-05-16 12:32] ronm123 opened #625 "Issues with new results page"
Hi all
I did a quick test of the results page yesterday (via xampp) and noticed an issue so just tested again via an online installation and the same issue exists. Perhaps this is unlikely in real world use but if a results page is added to an LO but the LO doesn't have a page which has score tracking then the download pdf option doesn't work and gives the following console error:

Uncaught TypeEr

[2017-05-16 22:39] torinfo commented on #625
Thanks Ron,

I'll have a look.

[2017-05-17 08:25] ronm123 opened #626 "enabling resuming showing twice"
Hi all
I just noticed that with the latest develop the enable resuming option is showing twice. I can see why because looking at data.xwd it's there at line 29 and then again at line 37. Obviously that's being built from the src basic.xwd which has the 1st instance on line 28 and the second on line 36.

I could easily fix and commit that probably by removing line 36 but wondering if anyone recogni

[2017-05-17 09:08] FayCross commented on #626
It looks like it ended up being duplicated when all the new functionality was merged last week. It's fine to delete one of the lines in basic.xwd

[2017-05-17 10:06] ronm123 commented on #626
Thanks Fay this is done now.

[2017-05-17 10:06] #626 closed

[2017-05-18 06:57] torinfo commented on #626
Apologies. I did see that, and I thought I had fixed that. Apparently not.

[2017-05-18 12:55] #623 closed

[2017-05-18 14:00] #617 closed

[2017-05-19 08:50] FayCross opened #627 "Menu Connector page breaks when sub pages linked to"
The page list selector in the menu connector page includes sub pages (e.g. individual tabs on tabbed navigator). However, it breaks the page if you use a sub page rather than page level link as a menu item.

[2017-05-19 10:16] ronm123 opened #628 "documentation page New Media issue on export"
Hi all
adding this as an issue here following a post on the community site forums
http://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=4&id=1312&Itemid=759&lang=en

It seems there's a bug in the code when exporting a project containing a documentation page that has images add via the New Media option. The image doesn't show when viewing the export and shows an error that "No media

[2017-05-22 00:26] torinfo commented on #628
I am ok with your change.

Just a remark:
In other places in the code where we check for media, we check for the substring media (as this is valid in the exported packages as well). Perhaps that would be a better check. @JohnSmith-LT ? Any preferences?

[2017-05-22 07:47] torinfo opened #629 "Script not executed if you enter the page for the second time"
I added a script to a page through the optional script parameter. (In this case some code in a historical page where the optional navigation button option is set to none, and then want to enable home button again).

[code]

The first time the page is visited, this works fine. The second time the page is visted (during the same session) the script is not called. Is that a feature or a bug?

[2017-05-22 08:11] ronm123 commented on #628
@torinfo @JohnSmith-LT just wondering about this and what if the image is added with a full url rather than uploaded to the project? Wouldn't that mean that checking for substring USER-FILES or media would also result in the image not showing? e.g. If I put a full url in the image field of a graphic and sound page the image shows fine when viewing the page but if I do the same in the new media fie

[2017-05-22 09:08] JohnSmith-LT commented on #628
Hi, Yeah i'm ok with that change too except we might also want to check for "" too, so something like

if (xml.getAttribute('url') != undefined && xml.getAttribute('url') != '') {

and potentially we also need a check to cater for the 'default text' such as "Select image..." or whatever it is when it is in default state...

if (xml.getAttribute('url') != undefined && xml.getAttribute('url') != ''

[2017-05-23 09:51] ronm123 commented on #629
I've never noticed this before but in testing your example I can replicate and even if you do something as simple as `alert("test");` in an optional script property it only works the first time viewing that page regardless of navigation settings.
e.g. I added 3 plain text pages with a script box added to each and first tried your code but then tried with a simple alert on each page. The alert fire

[2017-05-24 09:27] FayCross commented on #629
I'm not sure whether to call it a feature or bug but it's definitely always been like this. It should be easy enough to allow the code to run on every page view though. Shall I just add a 'Run script on every page view' checkbox as Ron suggests?

[2017-05-24 10:05] ronm123 commented on #629
Sounds like a good plan to me!
Does the same apply to the Bootstrap script option?

[2017-05-24 10:06] torinfo commented on #629
Yes please. Also, would like to have a patch, to change a pecific installation. Can you please let me know where in the code I should do this?

Or, if you add the flag I can see for myself in your changes.

[2017-05-24 10:31] ronm123 opened #630 "lockfile issues"
Hi all
for the Future Teacher project a few of us have regularly been working on a shared LO and although I've known intermittent issues with lockfile previously I've usually blamed others ( like Alistair ;-) ) as I've not previously known others to say that an LO is saying that I'm still editing when I'm not. However maybe because we've been doing this over a regular and extended period 3 of us h

[2017-05-24 10:44] FayCross commented on #630
1 & 2 Yes (but not been able to work out why)

[2017-05-24 10:46] FayCross commented on #629
Ok, I should be able to have a look this afternoon. I'm not sure if it is the same in bootstrap, I don't think I added the script option to that so aren't sure how it's set up. I'll have a look.

[2017-05-24 10:47] JohnSmith-LT commented on #628
We have this function too

x_checkMediaExists(...    ...)

which performs a request to see whether anything valid is returned... so we could do something like

`					case 'media':
					  x_checkMediaExists(x_evalURL(xml.getAttribute('url')), function(mediaExists) {
					    if (mediaExists) {
					      $element = $('<img class="itemImg">')
					        .attr('src', xml.getAttribute('url'));

[2017-05-24 10:51] JohnSmith-LT commented on #628
@ronm123 I think when I quickly cobbled that documentation page together then it would have been me who used that      ...substr(0,10) == "USER-FILES"   as a crude way to detect the existence of media and it's just never been updated...

lets wait for @FayCross to reply but I think if we have the ability to check for the actual existence of media then it's worthwhile doing since a valid URL doesn'

[2017-05-24 10:54] FayCross commented on #628
I added the x_checkMediaExists function when I added the optional property groups as it became more likely that media properties would be added but with no media uploaded & I didn't want pages to break. I haven't had time to roll it out across all media on all pages though so it's just on pages affected by opt property groups & maybe some other pages I've worked on since. We definitely need to do

[2017-05-24 10:55] FayCross commented on #628
I'm not really familiar with the export side of things though

[2017-05-24 10:58] JohnSmith-LT commented on #628
Yes, the export side of things is always a concern... i'm not sure whether that call would fail in a offline export due to browser restrictions...

[2017-05-24 11:00] JohnSmith-LT commented on #628
The change you initially mention though @ronm123 should fix this issue so lets go with that just now and we can look into the rest for the next release...

[2017-05-24 11:05] JohnSmith-LT commented on #630
Yes, i've experienced that a few times here too. We have a module where student groups develop Xerte LOs and a couple of times i've had to manually remove the lock file...

[2017-05-24 11:24] ronm123 commented on #628
Have changed it to the basic check for not undefined and no empty for now. e.g. used:
`if (xml.getAttribute('url') != undefined && xml.getAttribute('url') != '') {`

Obviously that isn't checking for the default string but I wan't sure how that worked with different languages so left that out for now.

[2017-05-24 14:56] #629 closed

[2017-05-24 15:03] FayCross commented on #629
Hmm, not sure this is the best solution actually. It's fine for things like alerts but if the script contains things like listeners for click events they end up being triggered multiple times for each click on later page views.

Would we be better off having two separate script boxes - one for 1st load & one for subsequent page views? Or is this overkill?

[2017-05-24 15:09] FayCross commented on #629
I've just checked Bootstrap & it does re-execute code on page change but like the change I've just made it also means events are triggered twice

[2017-05-24 15:17] ronm123 commented on #629
@FayCross can see what you mean that two separate script boxes for each page would be overkill but also that if the toggle means all script in a box always re-runs then that might not be desirable either - especially given that we haven't had that so far so could be an impact on existing LO's if script always re-runs by default. Is there a way of achieving both options within a single box e.g. som

[2017-05-24 15:23] FayCross commented on #629
I think the only way we could do that is if we set up a function in there by default & prompted the authors to put the code they want to run on every view inside it. I'm not sure this is ideal either!

[2017-05-25 11:37] JohnSmith-LT commented on #621
I’ve not closed this yet as i've not taken menu connector into consideration yet is this desirable too?

What do you think @ronm123

[2017-05-25 11:43] JohnSmith-LT commented on #625
@ronm123

Out of interest, what would your desired outcome be for the pdf button if there is no data? No button? Button replaced by "No results" text? Clicking button gives popup with same text?

[2017-05-25 12:03] JohnSmith-LT commented on #625
I've fixed both of these but left it open as the "No results" message (or whatever) still needs to be added to the language options but i've left it just now awaiting feedback if this is the best way to handle this situation.

[2017-05-25 12:34] FayCross opened #631 "Import pages & inline images"
Images inserted directly into text fields are not copied over when the page is imported into another project.

I think this has been discussed before so sorry if it's a duplicate - I can't see an existing issue open for this

[2017-05-25 12:54] FayCross opened #632 "Import pages & glossary bugs"
When I try to import a glossary from another project it doesn't work. It hangs and then the editor freezes.

[2017-05-25 13:07] FayCross commented on #632
Also, import page only seems to work about half the time too. It hangs for a while and then page goes blank as it's gone to http://localhost/xertetoolkits/merge.php?source_project=1&target_project=2&target_page_position=10&source_pages=0&merge_glossary=false

[2017-05-25 13:13] FayCross opened #633 "Import page button"
The icon for import pages in the editor doesn't look quite right as the other icons are font-awesome (merge looks a bit fuzzy next to them)

Is it worth changing it to a font awesome one too? Not sure which would be most appropriate but here's an example using the download font awesome icon instead (current icon is shown above)...

![icon](https://cloud.githubusercontent.com/assets/8926470/2645141

[2017-05-25 13:32] ronm123 commented on #621
@JohnSmith-LT If I understand your question correctly do you mean should we exclude viewing a menu connector page from being counted as part of progress bar? If so I'd say No. I think menu connector pages should be included as part of the progress bar percentage. TBH I'm not even sure I agree with @FayCross ;-) that the the first page when set to menu navigation should show 0%. In reality if you o

[2017-05-25 13:39] FayCross commented on #625
I have a couple of questions about the results page, hope it's ok to add them here.

1. What does the 'Results Page' optional property at LO level do?
2. Would the results page be better if it was under the interactions menu? I know it's not an interaction but it's related to them. Everything else in the Misc menu is to do with third party stuff so I'm not sure it fits there.

Also, a couple of bu

[2017-05-25 13:40] ronm123 commented on #625
@JohnSmith-LT I think any of those options could work for a scenario where there are no results but is there actually ever a scenario where there aren't any results? I think there is if you have resume enabled and then refresh that last results page but otherwise is it ever possible to get to the results page without at least some tracking like the basic results info?

If that is possible then I'd

[2017-05-25 13:51] ronm123 commented on #633
@FayCross I think the FA upload icon would be better then the download icon? I guess the alternative would be to swap the current merge icon with an svg version instead. Sebaastian did share an svg version with @torinfo and although it's larger than needed would be easy to resize and would remain as sharp as the FA icons.
[mergeIcon.zip](https://github.com/thexerteproject/xerteonlinetoolkits/files

[2017-05-25 14:22] JohnSmith-LT commented on #625
I think given that @FayCross has found several peculiar scenarios where the results don't quite report properly then this page might need some more work so i'll leav what i've done so far. @torinfo had left an intention to look at it too so perhaps he will have some input to Fay's issues and the issue that you pointed out Ron.

[2017-05-25 14:33] JohnSmith-LT commented on #633
Just to play devils advocate - I don't really like upload or download... I see what the guys were trying to imply; we are really sideloading the pages so a left or right arrow would perhaps be more appropriate.

Can't we make ou own FA icon by overlapping the fa-copy icon with one of the fa left or right arrows?

[2017-05-25 14:42] torinfo commented on #625
The optional parameter at lo level should be removed.

I'll look at the other issues this weekend.

[2017-05-25 14:57] torinfo commented on #633
If we want to move to fa, then I would propose a blank page stacked with the merge icon.

[2017-05-25 23:04] JohnSmith-LT commented on #633
Yeah I think the merge icon makes most sense in the short term if we can get the sizing and focus right to make it look like the fa one. I see that the merge icon is in the pipeline to becoming a fa icon so when that happens we can move to using two stacked fa icons but I see little point overlaying a fa with a svg when the svg on its own will suffice...

[2017-05-26 09:20] JohnSmith-LT commented on #632
Do you get any errors in the console? I've just tried to reproduce and they all imported fine, multiple times but they weren't that big and didn't have any special characters etc...

[2017-05-26 10:40] FayCross commented on #632
No errors. It was a clean install so I've made no changes it anything

[2017-05-26 13:37] FayCross commented on #632
I've tested this some more and have found why it was freezing & a few other bugs. I'll update the title of this issue as they are bugs with importing both glossary & pages...

1. If your glossary has images in it the merge won't work. It freezes as described above.
2. If you import a page from a project with a glossary it will always import the glossary too (whether this is selected or not)
3. Thi

[2017-05-31 14:39] FayCross commented on #627
This was fixed in commit 482b865b67c8a67b60f0769dd29d71719e7cb2bf last week

[2017-05-31 14:39] #627 closed

[2017-06-01 08:31] FayCross commented on #600
@JohnSmith-LT you added the glossary option to xwd back in March but I don't think you added anything to get it working in the projects. Shall I remove it for now until it's working?

[2017-06-01 09:19] JohnSmith-LT commented on #600
Hi Fay, Yes please, I made a start on this but struggled to get any time to complete it.

[2017-06-01 09:43] #546 closed

[2017-06-01 09:47] #497 closed

[2017-06-01 09:49] #462 closed

[2017-06-01 09:49] #461 closed

[2017-06-01 09:52] #434 closed

[2017-06-01 09:52] #433 closed

[2017-06-01 10:41] FayCross commented on #574
How about we change it so that it uses the new group of optional properties instead of just 1 drop down. You also wouldn't need separate options for home & contents etc. as I think when the home button's there the content button is normally not. The options would look something like this...

Navigation buttons:
- [ ] Home / Contents / Menu
- [ ] Back / Previous
- [ ] Next

[2017-06-01 10:59] ronm123 commented on #574
@FayCross sounds like a good idea. Assuming that change wouldn't break existing LO's that have used the dropdown options?

[2017-06-01 11:18] FayCross commented on #574
Ok, I'll look into it

[2017-06-01 12:06] JohnSmith-LT commented on #621
It's not set in stone - we can revert it if it isn't really an issue as you suggest and detracts from the user experience...

[2017-06-06 16:57] torinfo commented on #633
I've left the merge button as is for now. It is an svg at the moment.

[2017-06-06 17:00] #631 closed

[2017-06-06 17:05] #632 closed

[2017-06-06 17:39] torinfo opened #634 "Putting a link on a positioned image with dimension in percentage crashes editor"
When you put a link on a positioned (left, center, right) image with a dimension expressed as a percentage in the plugin.js of the ckeditor image3 (specific to the Xerte project)

[2017-06-06 17:42] #634 closed

[2017-06-07 09:04] #621 closed

[2017-06-07 10:03] FayCross commented on #632
Thanks for fixing this @torinfo It all seems to work fine now... it's a great feature!

[2017-06-07 10:59] FayCross commented on #601
I'd like to add the text alignment options (someone here has asked for it). I can get the buttons to appear on the toolbar and it seems to work ok...

![wysiwyg1](https://user-images.githubusercontent.com/8926470/26875138-699c74d8-4b78-11e7-94d1-86f2d015eaf5.png)

...but then if you then change page in the editor & go back it has added extra p tags too...

![wysiwyg2](https://user-images.githubuse

[2017-06-07 14:51] torinfo commented on #601
Hmmm...

The problem is that we manipulate the results of the editor TextInputs in a way that is not working in this case.

The editor aways wraps the text in <p> tags, and we remove those. Because of the style attribute that obviously doesn't work.

What would be better (I think) is to add a class to the <p> tags that makes sure that for that paragraph the margins, padding etc are zero instead of

[2017-06-07 15:22] FayCross commented on #601
Sorry I should have commented again as earlier as I found where the p tags were being added in the editor & have changed this slightly so that if the p tag is already there then it doesn't wrap it in p tags again. It seems to work ok but if there's a better way of dealing with this with classes then feel free to change it. Thanks

[2017-06-07 17:04] torinfo commented on #601
Regrettably this will solve the issue in the TextInputs itself, but now, you have a <p> around the text which can result in strange extra margins/padding in some of the pages.

They <p> will not be removed, because the code is explicitly looking for '<p>' and not '<p.*>'

[2017-06-15 17:23] ronm123 opened #635 "New problem with IE11 and latest develop"
Hi all
I had someone report to me today that when they try to edit a project they get the buffering animation and can't edit. I said I couldn't replicate that but then found out they were using IE 11 and so tested with that and sure enough even via a local xampp install I get the same problem. I can't replicate it in Chrome or FF or even Edge but I can replicate it consistently in IE 11.

I'll pas

[2017-06-15 17:29] ronm123 commented on #635
BTW the console isn't showing any errors.

[2017-06-16 08:05] FayCross commented on #635
I get the same problem but do get an error (line 135 of toolbox.js). It works if I comment out the line. I think it's something @torinfo added reasonably recently to do with import so probably best if you could have a look Tom please? Thanks

[2017-06-16 08:43] #635 closed

[2017-06-16 08:43] torinfo commented on #635
Does it work now?

[2017-06-16 09:06] ronm123 commented on #635
@torinfo yes that seems to have fixed it. Why only an issue with IE 11?

[2017-06-16 09:13] torinfo commented on #635
Probably a small difference in how DOM works in IE11

[2017-06-16 09:20] ronm123 commented on #635
If only they all worked the same! ;-)

[2017-06-21 08:53] ronm123 opened #637 "Printing from decision tree project template"
Hi all (particularly @FayCross)
I was helping someone troubleshoot printing from her decision tree project which by default only prints one page even though there should be many in this particular project.

I can see that \modules\decision\parent_templates\decision\common\css\styles.css has the following:
`html, body {
	height:		100%;
	overflow-x:	hidden;
}`
and that hidden value seems to be what

[2017-06-23 08:16] FayCross opened #638 "Allow editing of interface language strings in individual projects"
Requested on forum:
http://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=10&id=1142&Itemid=759&lang=en#4562

Make the LO language properties (currently only editable on an install wide level) editable for individual properties.

These are things like 'Glossary', 'Table of Contents' etc.

[2017-06-23 08:43] FayCross commented on #637
It's so long ago that I've looked at this template that I really can't remember why the overflow-x was needed there. I'll change it so that when you click print it temporarily removes that bit of css and then adds it again when after printing

[2017-06-23 08:45] #637 closed

[2017-06-23 08:57] ronm123 commented on #637
Great thanks @FayCross

[2017-06-23 14:11] FayCross commented on #594
Closing this as it was originally to do with the delete optional property buttons disappearing (which seems fine now)
I will open a new issue re. hidden icon issues

[2017-06-23 14:11] #594 closed

[2017-06-23 14:42] FayCross opened #639 "Various issues with tree icons (hidden page, deprecated, don't mark for completion)"
- Add new page, add hide or unmark optional property & check box... the icon doesn't appear in tree (this is only an issue for newly created pages - adding a hide page or unmark on existing pages works fine)

- Add hide or unmark optional property to an existing page & check box. Then copy the page... the icons on the page you copied & newly created page disappear & won't reappear even with unchec

[2017-06-23 14:45] torinfo commented on #639
Ah....

Whe a new node is created in the tree, the icons should be there as well, and should be hidden by default. That's not the case now.

I'll fix that. That should probably fix the first 3 items.

I'll investigate the last item.

[2017-06-23 14:46] ronm123 commented on #639
@faycross I'm offline at the moment but hadn't noticed any of this so will test and report back asap

[2017-06-23 14:50] FayCross commented on #639
I think the last item is just because of a typo in the code (hiddenImg instead of hiddenIcon) but I'll leave it to you to sort @torinfo if you're looking at the rest of it :)

[2017-06-26 09:45] ronm123 opened #640 "Issue with Audio Slideshow audio player display when navigating back to the page (develop branch)"
Hi all
I can't spot where this is being caused but it seems similar to an issue we had before when navigating back to pages and the display being corrupted. Here's an example and how to replicate...

Add an audio slideshow to a page with at least one page either side of that page
Navigate to the audio slideshow page and the display of the audio player is correct e.g.
![image](https://user-images.g

[2017-06-26 09:54] ronm123 opened #641 "Import pages/Merge showing as 503 service unavailable (latest develop)"
Hi all
in testing the audio slideshow problem that I just added as an issue separately I was trying to use the import/merge functionality to import a page from one LO to another on an installation using the latest develop code. This works fine for me on a couple of servers but with the very same code revision on one server/installation I'm getting a 503 service unavailable error in the console and

[2017-06-26 10:02] torinfo commented on #641
No php errors on the server?

[2017-06-26 10:05] torinfo commented on #639
Hi Fay, yes, found and fixed the typo.

This is no fun at all.....

When you change things directly on the treenode using jquery and ID's, this is not replicated when you request the node using jstree.

Ok, no problem I thought. Just make sure to update the jstreenode as soon as you change something, but that doesn't work either, because it does some special things with the <i> tag, and so all the

[2017-06-26 10:29] ronm123 commented on #641
Hi @torinfo No nothing obvious as far as I can see but what does happen after clicking import/merge is that it kills the session and I have to refresh/login again. This install is using DB authentication. I'm going to turn debugging on and see if that reveals anything.

[2017-06-26 10:47] torinfo commented on #641
@ronm123 Which version is this?

[2017-06-26 11:02] ronm123 commented on #641
@torinfo latest develop.
Turning on debugging hasn't revealed anything useful but on the very same server in a different folder/installation with the same code revision import works. Although some issues with import pages that I need to test and report separately similar to what I think Fay reported previously.

[2017-06-26 11:33] torinfo commented on #641
@ronm123 Ok, but please make sure you're running the latest code. All Fay's issues should be fixed.

[2017-06-26 17:07] ronm123 commented on #641
@torinfo I've been testing further but still not finding why this installation doesn't work whereas others even on the same server do. A few quick questions:

1. Does the import functionality use js that may have been cached? That might explain the oddness I was getting with import on the install where it is working.

2. Could the import throw a wobbly on older projects that haven't been edited fo

[2017-06-26 19:24] torinfo commented on #641
In an older version, import pages did open import-choose.php direectly, and was meant to redirect to the editor again. But if something went wrong, weird things would happen.

Now, import-choose.php is called as an ajax call (like it should).

And yes probably a good idea to clear cache.

[2017-06-26 20:04] ronm123 commented on #641
unfortunately clearing cache hasn't resolved the issue but I'd been using force-refresh anyway so didn't expect it to. I'm going to do some further testing tomorrow.

[2017-06-26 20:06] ronm123 commented on #640
@torinfo any thoughts on this one? Are you able to replicate? As far as my testing goes this isn't server or installation specific I can replicate it consistently including on xampp.

[2017-06-26 21:32] torinfo commented on #640
@ronm123 Sorry, no, no ideas. Also, not much time this week.

[2017-06-27 10:04] ronm123 commented on #641
@torinfo ok this is curious. I downloaded a copy of my online installation that wasn't working to test locally via xampp. When I try to merge pages with the local copy I don't get the same 'service unavailable' error but right after import-choose there are some lines in the console showing tree.js loading then ending with a JSON error:
Uncaught SyntaxError: Unexpected token
 in JSON at position 11

[2017-06-27 10:33] torinfo commented on #641
So, it is project dependent. The json file you get back from import-choose.php is invalid. Would be interesting to get the json string.

The strange thing is that the json is produced exactly like the workspace, and the workspace does load.

[2017-06-28 10:07] FayCross commented on #640
@ronm123 I'll have a look at this but if you need a very quick (half) fix before your talk today then comment out the loadAudio line in the pageChanged function. This means it will show fine on returning to the page as long as you haven't changed the size of the LO before going back to the page (so most of the time it should work ok). I'll look at a proper fix when i have some more time this after

[2017-06-28 10:21] ronm123 commented on #640
@FayCross thanks that is slightly better especially as we have a sequence of 3 audio slideshows where viewers might navigate back and forth between them.

[2017-06-28 12:59] FayCross commented on #640
I'm a bit worried that there seem to suddenly be quite a few page types where they show fine initially but then go odd on later views e.g. matching texts messes up on 2nd views & accordion navigator messes up on 2nd view if the project size has changed. These all worked fine on previous versions.

Have we changed the order that things are being done in xenith at all? I'm wondering if it's to do wi

[2017-06-29 09:42] #640 closed

[2017-06-29 09:47] FayCross commented on #640
@ronm123 I've committed a proper fix for this that involves a change to xenith rather than the page model file so you'll have to undo the change I recommended yesterday. It was caused by pageDiv being hidden initially when the page reloads and therefore the model files weren't receiving the correct dimensions of elements needed for resizing etc. I think the hide was put into stop an issue where pa

[2017-06-29 10:03] torinfo commented on #640
Apologies for that. Indeed was done to hide the visible changes.

[2017-06-29 11:15] FayCross commented on #463
@torinfo am I right in thinking there's a new co-author role that you added with the merge pages stuff? Does this role have the same permissions as creator? If not, what's different? Thanks (I can't test this on xampp)

[2017-06-29 11:16] ronm123 commented on #640
Thanks @FayCross just tested and the changes has fixed the issue that I originally reported. I didn't have time to test the additional issues that you found but great that youve fixed those too.

[2017-06-29 11:33] torinfo commented on #463
@FayCross That role is not there yet. And yes it will basically give the co-author the same rights as the creator.

[2017-06-29 11:36] FayCross commented on #463
Ok, thanks

[2017-06-29 11:38] FayCross opened #642 "Bootstrap - grouping of optional properties"
Allow grouping of related optional properties in Bootstrap (in same way it's been done for XOT template)

[2017-06-29 11:42] FayCross opened #643 "Bootstrap - 'New embedded XOT LO' option"
I seem to be showing people how to embed a single XOT activity in to Bootstrap projects quite often at the moment. It would be good if we could have an option in the 'New...' list that allowed you to add one without having to paste in the iframe.

With options such as:

- URL

- Page Number

- Hide header/footer

[2017-06-29 11:59] ronm123 commented on #643
@FayCross That sounds like a good plan! But also either make the default width of the iFrame 100% or have options for width and height.

[2017-06-30 10:25] FayCross opened #644 "Opinion page"
I've just tried this page for the first time & can see it would be useful if you're using tracking and want to collect student responses but I'm not convinced that it could be used in most non-tracked projects as it is.

It would be more useful if it had:

- Feedback for each question / option

- An overview screen similar to Decision Tree

Also, the reverse scale option doesn't seem to do anythin

[2017-06-30 11:03] #620 closed

[2017-06-30 14:08] #642 closed

[2017-07-05 09:21] FayCross opened #645 "Strange insert menu appearance in Chrome"
Today on both Nottingham's install & my xampp install the insert menu in Chrome looks like this...

![menu](https://user-images.githubusercontent.com/8926470/27857947-595a83ae-616b-11e7-9da1-311ceb098e52.JPG)

Where have all the big gaps come from?! Everything looks as expected in Firefox etc. & it's just Chrome that's changed (it was fine on Friday). Has this happened to anyone else? Maybe to do

[2017-07-05 13:46] torinfo commented on #645
Inge saw it during a demo on Monday as well.

[2017-07-05 14:37] FayCross opened #646 "Import page not working"
Import page no longer works for me with most recent code.

If I click the import button I get this error & don't get to the bit where I can choose projects / pages:
Uncaught SyntaxError: Unexpected token in JSON at position 9637

[2017-07-05 14:40] FayCross opened #647 "Import pages via insert menu"
Should we remove the option to import pages via the insert menu & just leave the button next to duplicate?

At the moment if you do it via the insert menu it gives you these options:

![bug2](https://user-images.githubusercontent.com/8926470/27869519-1c8348bc-6198-11e7-8c23-cba71b5d792c.png)

... but if you select before, after or at end it will try to insert a page type called 'Import Pages':

![

[2017-07-05 14:50] torinfo commented on #647
Obviously it should work, but I think it's clearer to just have one option.

If others think both ways are usefull, I'll try to fix this one.

[2017-07-05 16:19] FayCross commented on #646
Sorry i hadn't noticed Ron having the same error.

I think it may be caused by a project where some of the page titles have line breaks in them. I'll send you the json

[2017-07-07 12:58] FayCross commented on #645
Fixed 895dff3e6a916b96656607cfe2b2a7381a737e74

[2017-07-07 12:58] #645 closed

[2017-07-07 13:23] #647 closed

[2017-07-11 12:35] #639 closed

[2017-07-11 13:41] torinfo commented on #646
Possible fix commited.

[2017-07-11 13:44] #646 closed

[2017-07-13 12:59] FayCross opened #649 "New Import Page Bug - Page Titles"
@torinfo I am now getting odd page titles appearing when I try to import pages. The project titles are coming in ok and the pages do import fine now but the titles aren't right:

![capture](https://user-images.githubusercontent.com/8926470/28167363-5002c06e-67d3-11e7-84d0-23d98cde4d74.JPG)

I don't get any errors

[2017-07-13 13:23] torinfo commented on #649
This is bacause of caching, or because of partial implementation....

The titles are base64 encoded, and need to be decoded in choose-import.js

[2017-07-14 08:31] FayCross commented on #649
Ah, sorry, I had missed updating one of the files - it's working ok now
Thanks

[2017-07-14 08:31] #649 closed

[2017-07-14 08:56] FayCross commented on #463
Closing as Tom's made a new co-creator role

[2017-07-14 09:31] ronm123 commented on #463
Just checked this new role and can see that the co-creator can import pages from other projects they own which is great however should the co-creator be able to duplicate the project that they are co-creator of? I tried this and the duplicate appears in the workspace but the project folder is empty so when trying to edit the copy just an empty tree appears.

[2017-07-14 09:50] FayCross commented on #463
Yes, I'd like it to work so that they had exactly the same roles as the creator (except probably delete project)

[2017-07-14 14:02] FayCross opened #650 "Tree scroll bars issue after page import"
Extra & unnecessary scroll bars appear on the tree section after importing pages (or glossary):

![capture](https://user-images.githubusercontent.com/8926470/28215094-b2f9d12c-68a4-11e7-97c0-c2386a4a9227.JPG)

[2017-07-14 14:37] FayCross opened #651 "Page import bug"
I have one project in my workspace that I can't get import to work in. When I try it gets stuck with the loading spinner & doesn't load the project list. There's nothing unusual in the project as far as I can see & import works fine in all of the other projects. If I duplicate the project the copy will import pages to it ok.

I get the error 'Cannot read property 'children' of undefined' and can a

[2017-07-14 14:41] FayCross commented on #651
I've just realised it's project no. 1 in my install - i imagine it's to do with that rather than anything in the essay above! Does it confuse project 1 with the workspace?

[2017-07-14 15:20] FayCross commented on #625
I think a lot of these results page bugs have been fixed but there are still a few:

- Matching Text page will give score correctly in global results but in specific results it looks as if you haven't given any answer so marks as incorrect.
- Sortable Grid page doesn't score correctly in either section if you have included any fixed rows/columns/cells in the table (there's an optional property on

[2017-07-14 16:58] torinfo commented on #625
I am still working on the PDF. Will look at the other items as well.

I fixed the one about the pagetimeout (that was a typo in xenith.js, but have not comitted that just now.

[2017-07-14 16:59] torinfo commented on #463
Will have a look at that.

[2017-07-16 09:28] #463 closed

[2017-07-16 09:57] torinfo commented on #651
Really weird. I can reproduce this! But only on object 1!!
I will try to fix this later.

[2017-07-18 12:12] ronm123 opened #652 "Clarification re management and configdetails"
Hi all
this is not really a bug or issue just a couple of points to note and perhaps worth clarifying re upgrade to 3.5 and also re moving/changing an installation.

1. I've now upgraded a few installations to 3.5 and most of these were already 3.3 or 3.4 etc or rather a recent revision of develop so I didn't run upgrade.php. However I noticed an issue when trying to make a change via the first se

[2017-07-18 12:34] torinfo commented on #652
@ronm123

I can answer the configdetails part.

Configdetails was an attempt to simplify and update the sitedetails table.  The intention was to buidd as a dictionary, and to be able to leave things like site_url out of it (and then it would just use the URL passed by the browser).

At the moment configdetails is not used anywhere.

Regards,

Tom

[2017-07-18 13:02] ronm123 commented on #652
@torinfo ok cheers Tom. Useful to know that configdetails isn't used anywhere yet.

The other item re management changes was really just for everyone's reference more than anything else so I'll close this but can obviously be found when searching closed issues.

[2017-07-18 13:02] #652 closed

[2017-07-19 21:01] ronm123 opened #654 "Issues with Misc page types - Delicious and RSS Feed"
Hi all
now that we've released v3.5 I've been checking the various page types and noticed a couple of issues with these page types in the Misc category:

1. The external del.ic.ous site now seems to have gone forever so we should probably remove this page type as it won't even work for older/existing projects now.

2. The Google API that I think we currently use in the RSS Feed page has now been s

[2017-07-24 12:09] ronm123 commented on #651
Hi all
Just a quick update to say that Tom and I exchanged some emails after our email discussion about this and Tom can’t replicate the issue that I still see. However I still get this on different installations/servers and although it’s not really a big issue now because it only shows pages from my own projects, not pages from projects belonging to others like Fay first reported, it seems to me

[2017-07-26 10:39] JohnSmith-LT commented on #654
We happy that this is resolved @ronm123 ?

[2017-07-26 10:39] #654 closed

[2017-07-26 10:44] JohnSmith-LT commented on #651
Hi @FayCross, hope you are well. Can you see whether the commits I made a few days ago fix this?

[2017-07-26 10:48] JohnSmith-LT commented on #650
Looks like extra <div class=treeview></div> are added by the system

![image](https://user-images.githubusercontent.com/3907362/28617464-51046902-71f8-11e7-8a07-ddc014229451.png)

[2017-07-26 11:45] JohnSmith-LT commented on #650
Does #d2c4ed34fe6c93d06ec976f9b2f5c3aef48f9dd8 fix it for you @FayCross ?

[2017-07-26 11:51] JohnSmith-LT commented on #641
Hi @ronm123 is this still an issue with the latest code?

[2017-07-26 11:53] #611 closed

[2017-07-26 12:22] ronm123 commented on #641
Hi @JohnSmith-LT I think there have been 3 or 4 slightly different issues/solutions around import pages but yes I think they are all fixed.
1. a json issue which Fay also reported and Tom made changes to resolve
2. A moodle session related issue that was affecting one of my installs but changing the Moodle setting to use file system for sessions rather than database resolved that.
3. compatibility

[2017-07-26 12:22] #641 closed

[2017-07-26 12:35] ronm123 commented on #654
Hi @JohnSmith-LT yes both resolved:

1. delicious deprecated and showing a message about that rather than just the previous error
2. RSS feeds now working again

Re the RSS solution as you know I removed the double quotes but also today I changed the http link to rss2json.com to https instead - hope that's ok.

But also in testing I noticed a small issue with that service that got me wondering abo

[2017-07-26 12:39] ronm123 commented on #654
BTW a little later that feed I added was showing in the feed page so I guess that issue might not happen in normal use but still if there is a solution to not rely on an external service that would obviously be better.

Indeed if we had a solution as part of the install instead of an external service I wondered about the option like in Moodle to add a number of source feeds and have the results me

[2017-07-26 13:47] JohnSmith-LT commented on #411
Closing as this issue is linked to from #570 and covers a lot of the same problems...

[2017-07-26 13:47] #411 closed

[2017-07-26 16:03] JohnSmith-LT commented on #628
Are we happy @ronm123 that this is fixed and no further problems are obvious? Will we close?

[2017-07-26 16:26] ronm123 commented on #628
@JohnSmith-LT yes I think this media issue is fixed but we do need to sort the issue that when projects are exported and viewed outside of the Xerte install via a VLE or locally the download button predictably doesn't work. I can't remember if I listed that as a separate issue on github. I think I did and what I've done for one organisation is hardcode the full url to their download.php in the mod

[2017-07-27 09:47] JohnSmith-LT opened #655 "Tsugi code in develop branch incomplete"
Hi @jorisburgers / @torinfo

Some Tsugi code has made it into develop (that is stopping export working for Nottingham projects) because there are includes that aren't found. Have these libraries been omitted accidentally or have the includes in /modules/xerte/export.php made it in there accidentally and can I revert that file back to a working version?

John

[2017-07-27 11:00] JohnSmith-LT opened #656 "Problem with export in develop branch"
This seems to be over and above the issue with tsugi includes breaking the current develop but offline export creates a zip which looks to be not complete on my machine - i.e. the offline/models are created in a folder but the offline includes aren't being written to the index file and the index file being written has the filename index.php instead of .htm/.html

Anyone else seeing this?

[2017-07-27 11:19] ronm123 commented on #656
@JohnSmith-LT after your post I've just been testing and in my local copy of develop none of the export options work from projects based on the xot template. Decision and Site templates export but when I open the properties of an xot based project and try export none of the export buttons trigger an export. I don't see any browser console errors though. Not sure why you'rs is different to mine whe

[2017-07-27 11:25] JohnSmith-LT commented on #656
Oh sorry, i've reverted my develop branch export.php file to the one before all the xApi / Tsugi code was put in but it's only doing partial export, perhaps because it now interacts with that code in some way that i'm not seeing yet...

[2017-07-27 12:37] ronm123 opened #657 "default debug.log location?"
Not specifically an issue but adding this now while It's cropped up again...
Is there any reason why the default debug file location is /tmp/debug.log and not the error_logs folder inside the XOT install directory? e.g. error_logs/debug.log
Or should I say is there any reason why it shouldn't be the latter by default?

I know debugging isn't turned on by default but when it is turned on by someone

[2017-07-27 14:44] JohnSmith-LT commented on #657
Sounds like a good idea to me...

[2017-07-27 14:51] FayCross opened #658 "Projects where owner has changed will not play"
I've just 'given' myself a project that belonged to another user through the management pages. It will now no longer play, preview or load in the editor as the xml doesn't load.

It's looking for a folder in user-files that doesn't exist as it's trying to use my username in the path rather than the original project creator's username e.g. USER-FILES/123-cczfc-Nottingham when it should be looking f

[2017-07-27 15:00] JohnSmith-LT opened #659 "New options for groupset of properties in the editor"
Working on the option to disable social buttons in Bootstrap and it struck me that as a groupset of properties gets more complex it might be nice to have some instructions appear within the box also... Something like this:

![image](https://user-images.githubusercontent.com/3907362/28676605-f9ede2ce-72e2-11e7-9dff-f18f40cf4005.png)

Also, what about a columns option for the groupset so that they d

[2017-07-27 15:03] FayCross commented on #659
That would be great!

[2017-07-27 15:12] FayCross opened #660 "Improved management functionality"
Whenever I have to use the management pages I get frustrated at how long it takes me to do anything. I'd love to see the following improvements at some point:

- When viewing a project's properties you should have access to change everything in all tabs (e.g. at the moment you can't share the project - I have to do this quite often e.g. when someone's temporarily not available to do it themselves

[2017-07-27 15:14] FayCross commented on #396
Closing as this is covered in #660 with some other management issues

[2017-07-27 15:14] #396 closed

[2017-07-27 16:38] ronm123 commented on #659
+1 :-)

[2017-07-28 08:15] #658 closed

[2017-07-28 08:18] torinfo commented on #658
@FayCross Does this fix this for you?
I fixed the situation where you have already access to an LO and then get owner rights. Previously you ended up being both a creator and editor (or read-only) which doesn't work.

The folder should be renamed, I didn't change or add that functionality. So the code trying to open a folder with your username is correct.

If this works, I'll push it into the rele

[2017-07-28 08:36] FayCross commented on #658
No it doesn't work. I didn't realise it changed the folder name, I thought it just changed something in the database.

I'll keep this closed though as I suspect it's a permissions thing on our install. Apparently something's gone wrong with Julian's permissions as he reported a couple of days ago that he's not able to access the user files folder anymore. I can see that the change owner php file i

[2017-07-28 08:43] torinfo commented on #656
That particular issue should be fixed now.

 - I need to cleanup the export code (sorry I missed that) The TSUGI code is still in there, and in the end I don't want it in there. It should NOT be necessary to export a TSUGI package at all, because that is not the purpose of LTI2.

[2017-07-28 08:44] torinfo commented on #655
Hi, yes, apologies for that. We forgot to commit the tsugi folder.

However, the tsugi code shold not have ended up in Export. It was an quick experiment that should have been removed. I'll clean it up after my vacation.

[2017-07-28 08:45] #655 closed

[2017-07-28 08:54] JohnSmith-LT commented on #655
No worries, enjoy your holiday!

[2017-07-28 09:57] ronm123 commented on #658
@FayCross @torinfo I just tested this on one of the installations I upgraded to 3.5.
I can confirm that with the 3.5 release prior to Tom's fix I got the same as Fay e.g. I changed ownership of a project via management and then tried to access the project as the new owner and although the project was showing in the new owner's workspace it wouldn't play or edit because the folder in USER-FILES sti

[2017-07-28 10:00] ronm123 commented on #658
@FayCross @torinfo BTW I should have added that even if there is something awry specific to the UoN install my tests obviously indicate that this had become broken in 3.5.

[2017-07-28 10:06] FayCross commented on #651
Sorry but no, I still have these problems with project 1

[2017-07-28 10:08] torinfo commented on #658
Pushed to master

[2017-07-28 10:08] FayCross commented on #658
How strange that this hasn't worked for me too. I'll see what happens when Julian's access is reinstated and let you know if it starts working then

[2017-07-28 10:10] FayCross commented on #650
Yes, thanks @JohnSmith-LT

[2017-07-28 10:10] #650 closed

[2017-07-28 10:11] ronm123 commented on #656
@torinfo @JohnSmith-LT Just testing export again after pulling down Tom's commits and the exports are still not working for me in the develop branch. Should this be fixed with those commits?
Does it work for you now John?

[2017-07-28 10:19] ronm123 commented on #657
Thanks @JohnSmith-LT I've committed this simple change. @torinfo if there's a reason not to change this please just revert back.

[2017-07-28 10:19] #657 closed

[2017-07-28 10:21] #656 closed

[2017-07-28 10:22] JohnSmith-LT commented on #656
No I just tested and it doesn't work for me either @ronm123 but i've just pushed a fix

[2017-07-28 10:35] torinfo commented on #657
No. That's fine.

[2017-07-28 10:35] ronm123 commented on #656
@JohnSmith-LT that's cracked it! :-)

[2017-07-28 10:50] JohnSmith-LT commented on #651
Do you see any errors in the console? Any chance you can post a copy of any errors etc?

I can't see why a copy of the project would work but the original wouldn't though...

[2017-07-28 11:32] FayCross commented on #651
It's a similar issue to Ron's where pages were showing when you selected a folder that had the same id as one of your projects. This issue only happens for project number 1 though as it seems to confuse it with the workspace. Tom could recreate it with his project no. 1 - can you?

Error is 'Cannot read property 'children' of undefined'. I can kind of see what's happening but don't know where to f

[2017-07-28 11:33] FayCross commented on #651
& copies of project don't have this issue as they're not project no. 1

[2017-07-28 11:35] JohnSmith-LT commented on #651
Ah I get it now... let me try to fix it and i'll commit something in the next hour or so...

[2017-07-28 12:16] #651 closed

[2017-07-28 12:17] JohnSmith-LT commented on #651
Does that fix it?

[2017-07-28 12:19] FayCross commented on #651
Yes, thanks!

[2017-07-28 14:10] #470 closed

[2017-07-28 14:11] FayCross commented on #558
I've added the code for Bootstrap themes to work but don't have a proper example of an alternative theme yet. At the moment there's just a test theme in the site themes folder.

[2017-07-28 15:45] ronm123 commented on #558
Hi Fay thanks for this.
I've added a theme folder called blackgrey which works fine but a couple of questions:

1. did you remove your test.jpg because there isn't a view of the screenshots in the site template? Mind you there isn't in xot either.

2. At the moment the selected theme isn't included in export - what needs to be done to include the selected theme?

[2017-07-28 15:52] #628 closed

[2017-07-28 15:55] JohnSmith-LT commented on #628
Hi @ronm123,

Just letting you know that i've made some changes to insert a download path into engine for all export options except for Archive and xAPI...

Can you test (no hurry) with the Scorm packages etc that you were using in Blackboard?

[2017-07-28 16:24] ronm123 commented on #558
Would be good to have a js file option in the themes too like in the Nottingham themes. I tried locally adding the following to application.js below the css inclusion but probably have the syntax wrong?

`$('head').append('<script src="'+ $(data).find('learningObject').attr('theme') + '/' + $(data).find('learningObject').attr('theme') + '.js' + '</script>');`

[2017-07-28 16:43] ronm123 commented on #628
Hi @JohnSmith-LT sorry I'm being thick - how does it work?
Does the author add the url to their installation or is it added automatically?

I'm not seeing an option in the editor and I can see a change in the exported model file but that shows x_downloadURL

Cheers
Ron

[2017-07-28 17:11] ronm123 commented on #628
Hi John
ok sorry scrub that I can see it's part of the exported index file and seems to work fine!
I'm only testing via my local develop at the moment so the url works but obviously wouldn't when uploaded online. I know there are users out there that don't have an online installation and so use a xampp copy and then export and upload but I suppose the only way around that would be to have a fall b

[2017-07-28 20:34] FayCross commented on #558
Hi Ron, proper themes will need the jpeg I guess, although it would be better if we got these to actually show somewhere! I wondered about js file but didn't have time to add this afternoon. I think your code isn't working as I don't think the Bootstrap one uses jQuery so using $ selectors won't work (could be wrong about this)

Will try to look at export next week (not in until Thursday now). I a

[2017-07-29 10:32] JohnSmith-LT commented on #659
Hi @ronm123, I have added instructions box and columns (you can have up to 3). When cols= option not added to xwd then you just get a normal box but with columns it could be difficult to tell which option the checkbox is for so do you like this:

![image](https://user-images.githubusercontent.com/3907362/28744063-507044a6-7451-11e7-8abd-cd6bdf880e24.png)

better than this:

![image](https://user-i

[2017-07-29 10:54] JohnSmith-LT commented on #628
Hi @ronm123
Yes that is how it works just now but if you think there should also be an option in the editor then that would work also. There could simply be an order of preference:

1) Any url entered into the editor
2) The installation url (relevant only if exported)
3) The default url - /download.php

Would that work? Alternatively at a later date there could be an entry into the management page

[2017-07-29 17:21] ronm123 commented on #628
Hi @JohnSmith-LT thinking about this a bit I think what you've already added is great and I'm not sure there's much value in having an option for a authors or admin to set the download URL - to easy to get that wrong!

The only thing might be worth adding is to either flag up when the detected site URL is localhost or to use a URL to one of our download pages instead eg The community site installa

[2017-07-29 20:07] JohnSmith-LT commented on #628
Hi @ronm123, sorry i've read that second bit a few times and I don't really get what you mean by

Do you mean something like an indicator image with some alt text? Or some text actually displayed? Or ... ?

[2017-07-29 23:52] #659 closed

[2017-07-30 07:10] ronm123 commented on #659
Sorry @JohnSmith-LT missed your question here but looks great!

[2017-07-30 07:22] ronm123 commented on #628
Hi @JohnSmith-LT I think on export one of the following:

1. If localhost or 120.0.0.1 is detected as part of the site URL use the download link to xot.xerte.org.uk if @torinfo thinks that would be ok.
Or
2. Display a js alert; Please note the download option in your documentation page(s) will not work when exported from a localhost installation. You need to export from an online installation inst

[2017-07-30 09:26] JohnSmith-LT commented on #659
Cheers @ronm123. I figured that there was no point holding off once I was done... Really pleased with how it came out myself...

[2017-07-30 09:33] JohnSmith-LT commented on #628
Ok. Both are easy enough to do so I'll hold off to see if @torinfo is happy with number 1 and also any other 'localhost' type URLs that you can think of? For example on Mac I always setup with a .local URL (http://xot.local/) which is an industry standard. Is that used on Linux/ windows or are there any others to detect?

Sent from my Samsung Galaxy S6 Edge - powered by Three

-------- Original me

[2017-07-31 09:04] ronm123 commented on #558
@FayCross my code didn't work because I stupidly not included the themePath and a syntax error too. :-(

So this is done now site themes included in export and themename.js file included in preview/play and export. Didn't think you'd mind me saving you have to do it  on Thursday! ;-)

[2017-07-31 09:39] ronm123 opened #661 "Issue with grouped properties and colour pickers when only some changes required"
Hi @JohnSmith-LT @FayCross I'm adding this as a separate issue but it's only something I've noticed and realised is an issue since exploring the new theme functionality with bootstrap but this issue applies regardless of theme selected.

The issue is that with the header properties grouped and added you can't for instance add logos without also setting header and font colour because the colour pic

[2017-07-31 10:01] JohnSmith-LT commented on #661
Do we just need some way of turning them off within the group? Like this:

![image](https://user-images.githubusercontent.com/3907362/28772933-8e7e164e-75df-11e7-962e-285f35a46caf.png)

[2017-07-31 10:26] ronm123 commented on #661
@JohnSmith-LT yeah that looks like it would work!

[2017-07-31 15:34] ronm123 commented on #661
@JohnSmith-LT I've added a navbar group to the bootstrap options to control position of navbar and option to hide it too which all seems to work ok. While I was at it I added options to control the background colour of the navbar and ideally text colour and text hover colour too. The background colour works fine but with the text colour and text hover colour options included it stops the hover col

[2017-07-31 18:48] ronm123 commented on #596
@JohnSmith-LT @FayCross I think this list of enhancements is nearly complete now. Just two or three issues in what I added today:

1. Would be good to have the ability to disable individual properties in a group as discussed with John via #661

2. I also added a comment to #661 about the navbar text colour and hover colour options I've added but where the hover colour isn't changing for some reaso

[2017-07-31 22:50] JohnSmith-LT commented on #596
Hi @ronm123, I've committed some code that fixes 2 and 3... i think!! You can let me know...

As for 1, that's going to be a bit more involved and I'm not sure when i'd have the time to look at that, at least this week. Also, i'm wanting to hold off to hear what @FayCross thinks about it since she coded the group functionality and might have some better ideas as to how we could achieve that...

[2017-08-01 08:38] ronm123 commented on #596
Thanks @JohnSmith-LT that's great. Both changes work well although I changed the order of the convert image paths for the custom footer so that it works regardless of the position option selected.

As for issue 1 I've changed the default values of each of the colour pickers to 0xEEEEEE to match the background colour of the wizard so almost looks disabled and then changed the conditions to ignore t

[2017-08-01 08:38] #596 closed

[2017-08-01 08:42] ronm123 commented on #596
BTW I added an option to change the footer background colour and although I included the check for two values I didn't add all the code to apply gradients. Probably not needed for footer background and if we thought it was probably better to make all that a single function rather than repeat for each property group?

[2017-08-01 12:58] ronm123 commented on #661
Just adding here a reference to #596 because I've added a simple solution for now and described that in the discussion for that issue.

[2017-08-01 13:57] JohnSmith-LT commented on #581
I'm just going to hijack this issue rather than create a new one - another thing for this issue is that the now popular browser plugin Grammarly breaks the notes field because it inserts a div into the html of the notes page which breaks the javascript that gets the value when you hit Save:

![image](https://user-images.githubusercontent.com/3907362/28828658-449814d6-76c9-11e7-9a5b-810582ddb926.pn

[2017-08-03 08:52] FayCross commented on #558
That's great Ron, thanks. I'll hopefully get a chance to add the same to the Decision Tree template soon too

[2017-08-03 09:20] ronm123 commented on #558
@FayCross That would be great. I have at least one test of styling the decision tree template that I could add as a theme. I've been exploring a new theme for the xot template too did you find that stylesheet you tested for changing the image icons?

[2017-08-03 12:12] FayCross commented on #558
Just sent it to you @ronm123

[2017-08-03 12:21] FayCross opened #662 "Copied pages with children show 'undefined' as name in tree"
I feel like this may have been discussed already but I can't see an issue open for it - sorry if it's a duplicate.

Create page (e.g. a navigator) containing nested pages and duplicate it. The copy in the tree shows 'undefined' as the name of all the children. If the page is refreshed it all shows titles correctly.

[2017-08-03 16:03] FayCross commented on #661
I'll fix this - I hadn't thought of this issue when I made the groups. Most of the time (without themes anyway) it works ok as it just uses the default value but in this example it's swapping from 2 colours in a gradient to 1 so is more obvious.

I'll commit the code tomorrow

[2017-08-03 16:22] ronm123 commented on #661
@FayCross It shouldn't be replacing the gradient for any new LO's or if you remove and then re-add the group?

I made the default values the same 0xEEEEEE and set that value to be ignored. But if there's a better way to deal with that great!

[2017-08-03 20:17] FayCross commented on #661
Sorry, I meant in general the way it worked before not that there was a problem with your fix. I've got it working so it just starts blank instead of with EEEEEE as it seems neater that way (& we're bound to have someone say that they need it to be #EEEEEE!). Just need to test properly before committing.

[2017-08-04 08:45] FayCross commented on #661
@ronm123 could you try my last commit out please & see if it works ok for you. The header & footer colours should now show as blank when 1st added. Thanks

[2017-08-04 08:59] FayCross commented on #596
Sorry I committed a different fix for the colour picker issues without reading all of this. It doesn't allow you to properly turn off options like @JohnSmith-LT suggests - perhaps this is something we could add when we have more time?

@ronm123 would you mind if I renamed the navbar options? I'm not sure that's the clearest name we could give it for most users. Perhaps 'page menu' or 'navigation b

[2017-08-04 09:20] JohnSmith-LT commented on #596
That's fine @FayCross, haven't had a chance to try your fix yet but I knew what I had suggested was a bit more involved so yes, perhaps as an enhancement further down the line. My only thought would be, if you add colours to try and then decide you don't want them can you clear the field again?

Also, this might be a good place to use the new group information box to leave some instructions?

[2017-08-04 09:45] ronm123 commented on #596
Hi @FayCross @JohnSmith-LT sorry have been busy with online meetings so far today and now another priority for the next hour so no time to test yet but will do later.

@FayCross sure renaming what the authors see is fine but perhaps leave what the code picks up as navbar? I didn't wonder about various names but Page menu could easily be confused with the sections menu so I think the word bar is im

[2017-08-04 10:22] FayCross commented on #596
Yes you can clear the colour again after you've selected one @JohnSmith-LT
& no, I'll just change the wording on screen Ron so nothing in the code

[2017-08-04 11:07] ronm123 commented on #596
Hi @FayCross I've pulled down the changes and am testing as we speak.
Empty colour pickers seem to work great. For future reference how/where did you enable that?

The change of label to Navigation bar seems fine and the ability to hide it and change background, text and hover colour still works but the navbar position no longer works and I can't see why. e.g. regardless of setting my navbar is sh

[2017-08-04 11:22] FayCross commented on #596
Strange... the position option still works for me. I'm pretty sure the only change I made was to the name that appears in the editor. I'll check though.

I added an option to the code that calls the jscolor plugin so that it allows blank values and then removed the default values from the xwd. Previously if the colour picker received no value then it would show as black #000000. So if there are an

[2017-08-04 11:27] ronm123 commented on #596
@FayCross If I create a new project the navbar position works fine. But with the projects I was using to add all this I can't get it to work even if I remove the navbar group and then re-add. If I do that I can see the xml change but not the playback. I've force refreshed etc but will explore further.

Curiously if I put an alert in application.js do show me the value it's picking up the alert fla

[2017-08-04 11:37] ronm123 commented on #596
@FayCross found it and my silly mistake! When I was testing the theme I added and then added the ability to have a theme.js file too I had the jquery to move the navbar in that js file for testing the theme js was working. I may have even committed the theme with that jquery in the js file so I'll check and remove if I did.

So sorry this isn't an issue it's working fine just not with the black gr

[2017-08-04 11:44] ronm123 commented on #596
@FayCross @JohnSmith-LT I hadn't inadvertently committed the js file with the jquery in it but I have now added an empty js file to that theme.

I think that now means all of this is done and working great!

[2017-08-04 12:27] FayCross commented on #596
Glad you've got to the bottom of it!

[2017-08-04 13:52] FayCross commented on #558
@ronm123 I've just added the same functionality for decision tree template (again with just a test example theme) so if you have a better one to commit please feel free to delete the themes/decision/test folder

[2017-08-04 16:01] ronm123 commented on #558
Great thanks @FayCross will have a look and add a theme once I'm happy with it.
Have a good w/e.

[2017-08-06 12:59] lucytallents opened #663 "Broken link to zip of stable release"
The link given in the installation instructions for downloading the stable release (http://www.nottingham.ac.uk/xerte/downloads/xertetoolkits.zip) gives a 404 error.

[2017-08-07 11:58] ronm123 commented on #663
Hi
it took a while to identify where you was seeing that link but I have corrected that now. Most of the guidance for installing and upgrading is within the documentation folder in the download and for those downloading a zip rather than using Github should download from http://xerte.org.uk
HTH
Ron

[2017-08-07 11:58] #663 closed

[2017-08-07 12:25] lucytallents commented on #663
Thanks for responding, and letting me know that I wasn't precise enough about where the problem was.

[2017-08-09 11:22] FayCross opened #664 "Bootstrap TOC highlighting not working correctly in Firefox & IE"
In Bootstrap projects with several pages & several sections within each page the highlighting of the current section in the TOC menu doesn't always work correctly. It seems to work on the first page but then after moving to another page the highlighting sometimes stops working all together (so no section is highlighted on TOC) or the highlighting gets stuck on the top section even though you've se

[2017-08-09 11:29] #661 closed

[2017-08-09 13:32] ronm123 commented on #664
Hi @FayCross this was mentioned by Neil Pollock from Cardiff previously too http://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=4&id=1313&Itemid=759&lang=en#4519 but looks like none of us responded. I've noticed this and can replicate it too but like you not sure re the cause/solution or indeed whether it's always been the case.

[2017-08-09 13:33] FayCross opened #665 "Properties panel - LTI2/Tsugi tab errors"
There's a new tab in the project properties panel called 'LTI2/Tsugi' but when I click on it I get these errors showing in window:

Warning: require_once(../../../tsugi/config.php): failed to open stream: No such file or directory in C:\xampp\htdocs\xertetoolkits\website_code\php\properties\tsugi_template.php on line 2

Fatal error: require_once(): Failed opening required '../../../tsugi/config.ph

[2017-08-09 13:39] FayCross commented on #664
Thanks Ron, I hadn't remembered seeing that bug from Neil. I've tried troubleshooting it but can't find anything in our code that seems to cause it (links are triggering correctly and the 'active' class doesn't seem to be removed by us anywhere). At some point I guess we'll have to update the version of Bootstrap we use as it's pretty out of date now...

[2017-08-09 20:38] torinfo commented on #665
I'll fix it when I am back next week.

[2017-08-10 11:08] #643 closed

[2017-08-10 14:54] FayCross commented on #600
This is partially done. The words become highlighted in the text & bring up a definition when hovered over. But at the moment there's no button to click to see all the words like there is in the XOT template. Not sure where to put a button like this in the interface as there's not a toolbar as such like in the XOT template.

I was wondering about adding several options for how the whole glossary c

[2017-08-10 15:24] ronm123 commented on #600
Looks good @FayCross
Yes I think giving authors options might work well. Thinking out loud options might include:
Show glossary button y/n
Show glossary definitions on hover y/n
Position of glossary button navbar L/R, Footer L/R
Glossary display separate page or pop-up where clicking the term or button links to that page or pop-up

What this the example you meant? [https://xerte.cardiff.ac.uk/play

[2017-08-23 10:06] ronm123 opened #666 "New XOT project themes and related developments"
Hi all
I've been working on some new XOT project themes and related developments and had a brief online discussion with @FayCross and @juliantenney but didn't try to schedule a wider online meeting because I knew many of you were on hols and possibly still are. But anyway adding notes here for reference and possibly future discussion.

1. SASS
In working on these new themes I've used SASS and alth

[2017-08-23 10:20] ingedonke opened #667 "Decision tree do not show images and i frames"
Hi,

After the update it is not possible anymore to see images or videos (using iFrame) on the second (and following) pages of the decision tree. Did something change here?

In the edit mode I see the image and video but in the show mode I don't see them. (see print screens)

Bye,
![edit__mode](https://user-images.githubusercontent.com/5703781/29611320-6731da3c-87fd-11e7-997a-397af10c9ac2.png)
![s

[2017-08-23 10:24] FayCross commented on #666
Thanks @ronm123
I'll try to look at the Annotated Diagram & Interactive List issues this week & here's an extra item for the themes to do list that I'd like to get working for some that I'm working on:

- [ ] Allow for theme folders to contain logo left & right images to override any default ones put in modules/site/parent_templates/site/common/img (but which can still be overridden by using the h

[2017-08-23 10:25] torinfo commented on #667
No errors whatsoever in console or php error logs.

 - It works fine on the first page, but not on other pages
 - It works in 3.4

I've got no idea what's going on. Any hints?

[2017-08-23 10:34] FayCross commented on #667
Are you running most up to date code? I think I fixed this on 9th August https://github.com/thexerteproject/xerteonlinetoolkits/commit/6d45064803d326b8aa6fdeee9698f2d264a62432

[2017-08-23 10:37] torinfo commented on #667
Ah, brilliant!

No, we're running release. We'll check and confirm the fix. @FayCross I suppose this should be escalated into master. Agree?

[2017-08-23 10:40] FayCross commented on #667
Yes, sorry, I should have done that

[2017-08-23 11:24] ronm123 commented on #666
Jut remembered another possible enhancement...

Most of my new draft themes are set to be central in the browser window and not fill the whole window when above certain sizes. So for instance 1366px and above the Xerte window is set to 90% width and 92% height. But we still have the button to switch to default 800 x 600 and then fill window so I wonder about having a third size attached to that ma

[2017-08-23 12:41] ronm123 commented on #558
Hi @FayCross I was just looking at adding a theme for the decision tree template but there seems to be a bug with the theme path values somewhere that I can't find.
My test theme plays fine via preview but not via play.
In decision.js if I debug themePath it shows as http://127.0.0.1/develop/themes//
and allParams.theme shows as undefined
but I might be looking in the wrong place especially as it

[2017-08-23 13:49] #558 closed

[2017-08-23 13:50] FayCross commented on #558
This should be ok now Ron but let me know if not. Thanks

[2017-08-23 16:28] ronm123 commented on #558
@FayCross Yeah working now thanks. Will commit a theme in due course.

[2017-08-24 10:26] torinfo commented on #667
Cherry-picked 6d45064803d326b8aa6fdeee9698f2d264a62432 into master

[2017-08-24 10:26] #667 closed

[2017-08-24 11:37] jayaich opened #668 "Readme file wrong version in package"
Hi,

Just downloaded the Xerte 3.5 and 3.5 updates zip files, and noticed that the 'readme.md' file starts with:

``Latest release : v3.2 (released on April 11, 2016)``

I can see that commit 9a463e5bec24639d87ac54dc5fb4a0599973dd3a corrects this, but perhaps the new readme.md file should go into the updates zip file? It could avoid some confusion.

[2017-08-24 11:54] torinfo commented on #668
Thank you!

Done

[2017-08-24 11:54] #668 closed

[2017-08-24 13:42] ronm123 commented on #666
Remembered another development that I think we need to sort if we can especially if we are going to include more themes as part of a future release:

- [ ] Display theme description and thumbnail in editor like when selecting page types shows thumbnail and summary. Obviously applies to all project templates where we have themes.

[2017-08-30 15:56] jayaich commented on #565
The deleting templates bug has now gone in as pull request #669.
The 'youtu.be' bug seems to have been fixed in version 3.4 (maybe before that).
I would say that this whole issue can be closed now.

[2017-08-31 12:02] #565 closed

[2017-09-07 12:36] FayCross opened #678 "Exporting project message"
We need some kind of 'exporting...' message on screen to appear when you've clicked a 'Get Zip' button. Sometimes it can take a few seconds to export and it's not obvious that anything is happening in the background.

[2017-09-08 13:24] #399 closed

[2017-09-13 16:02] jayaich opened #688 "File checks - cannot easily be enabled"
Xerte has code to perform various checks on files which are uploaded, and when saved by the editor. The checks are (1) anti-virus check; (2); file extension check; (3) mime type check; (4) XML validity check.

However, most of these checks are not enabled - in fact, as far as I can tell, only the XML check is enabled and that only for files saved by the editor.

Ideally all the checks would be ena

[2017-09-14 09:55] torinfo commented on #688
That sounds very good!

I would prefer you to add  the fields to sitedetails for now. And also, please update.php if you can.

One of the things I want to do is to refactor siredetails into a key, value table (see the configdetails table for a start)

[2017-09-15 14:26] ronm123 opened #689 "Issues with management functionality"
Hi all
This is something I've been meaning to test further for a while and prompted by all the work John Horne has been doing on the Management side I've finally tested in a way that I can replicate on numerous installations...

1. There seems to be an issue when trying to edit a users project(s) via management that you have to be logged into the same installation as a user via the same browser yo

[2017-09-19 11:05] ronm123 opened #690 "Add page linking to children/specific Navigator panes and/or top of page in Bootstrap template"
Hi all
I think @FayCross previously extended the ability to use Xerte Page links to link to specific navigator panes in the XOT template e.g. where the names of Navigator panes show in the page links list as preceded by hyphens and then when arriving at the relevant pane the specific pane is opened.

I was asked if this is also possible in Bootstrap projects and it doesn't appear to be. So two que

[2017-09-20 11:13] ronm123 commented on #690
In response to the post on the community site by Neil Pollock http://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=4&id=1373&Itemid=759&lang=en#4678
There's another issue:
3. By default page links to another page need to go to the top of the page rather than remain at the scroll depth of the originating page/section link.

Does anyone have a script workaround for that to use before

[2017-09-20 11:56] jayaich commented on #688
Okay, that's all noted. Looking at upgrade.php though there are a couple of things I noted:
1) it seems that the table 'configdetails' is only created during an 'upgrade' not a new installation.
2) The table is created as upgrade 5, so anything that modifies 'sitedetails' after that will not be reflected in the configdetails table. (That is, shouldn't upgrade 5 (in effect)  be run last?)

[2017-09-20 12:05] FayCross opened #691 "Gap Fill Issues"
We have a UoN user who has used the gap fill page a lot in the past but isn't happy with the way it now works. I think it's partly because of the way the page has been changed to allow for tracking. I've been testing it and there are quite a few small bugs I've found too. Here's a list of the things that need doing:

**Drag & drop interactivity type:**

- [x] When mark at end is off the feedback d

[2017-09-20 12:11] jayaich commented on #689
In response:

1) Yes - confirmed. All I get is a popup with 'error' in it.
2) Yes - confirmed. Using management nothing happens when I click any of the export types. Logging in as the user, all the export types work fine.

My heads spinning at bit with the file uploads stuff, so I' may well take a look at (1) this afternoon if you like. (It's not on my work list, but what the heck :-))

[2017-09-20 12:15] FayCross commented on #691
I realised my questions at the end probably aren't clear (I guess it won't mess up the tracking if I make the changes right!) I was wondering really about whether allowing people to change their answers or check answers halfway through when tracking is on is ok (do we allow this on other page types?)

[2017-09-20 12:53] ronm123 commented on #689
@jayaich sure great if you can look at 1. if/when you have time. I suspect that might be session related or something like that. Doesn't seem to matter which account is logged into the normal workspace once that is the case then editing works via management regardless of user project.

[2017-09-20 13:27] torinfo commented on #688
No. Correct. configdetails is unfinished business and needs to be finalized. I was just pointing it out to you because that's what we want to use in the future, but even though it is created, it's not in use yet.

So for now, please use sitedetails, and update sitedetails in upgrade.php

[2017-09-20 13:29] torinfo commented on #691
Please note that the University of Utrecht complained about some of the same issues, and most of those have been fixed (some days ago).

[2017-09-20 14:03] FayCross commented on #691
Oh ok, when do you think they'll be committed to develop? Thanks

[2017-09-20 14:51] torinfo commented on #691
I'll try to do that tomorrow or Friday.

[2017-09-20 16:22] jayaich commented on #689
Just added a pull request that should sort out both problems.

[2017-09-21 08:32] ronm123 commented on #689
@jayaich that's great thanks.
@torinfo will you merge the pull request?

[2017-09-22 15:10] jayaich opened #693 "LRS setup with xampp - missing DB fields?"
I know nothing about LRS or xampp, but I noticed that the 'LRS_Endpoint', 'LRS_Key' and 'LRS_Secret' fields in the sitedetails table are not included in the 'setup/xampp.txt' file. As far as I can tell xampp.txt is used by xampp.php during installation.
So it looks like when initially installing Xerte under xampp, the database table may be missing some fields?

[2017-09-22 16:19] torinfo commented on #689
merged

[2017-09-22 16:19] #689 closed

[2017-10-04 09:02] FayCross opened #696 "Project properties - mp3 upload problem"
When trying to upload an mp3 file via the media & quota tab of the project properties panel I get the error 'Upload: Invalid file type - audio/mp3'. The same mp3 files will upload ok via the editor & there's nothing odd in the file names.

I can upload other file types via the project properties window without any errors - it seems to be just mp3s that won't work. Any ideas?

[2017-10-04 09:54] FayCross commented on #691
@torinfo I fixed several of these issues on our install as I needed to fix them for some live projects. Is it going to mess up the changes you have ready if I commit these now? Elly on the forum has also reported issues with this page so we could do with fixes being available as soon as possible

[2017-10-04 10:10] torinfo commented on #691
@FayCross One of the students fixed this some time ago, nad that patch is in use by Utrecht now.

It is however in the fork that the students are working on, and it's not that easy to create a pull request for that work.

So, perhaps the best way forward is for you to commit the changes, and subsequently I will merge in the fixes of the studenst, hopefully resulting in a all the problems being fix

[2017-10-04 10:12] torinfo commented on #696
What version is this on? I merged in a pull request of John Horne yesterday dealing with mime types. It should not have changed functionality (by default the more thorough check is switched off). But it is only on develop.

[2017-10-04 10:15] torinfo commented on #691
@FayCross Just saw the new remarks of Elly, so, yes, please commit you r fixes. I'll retest and check the fixes done by the students. I will then cherry-pick into master and install for Elly.

[2017-10-04 10:23] FayCross commented on #696
UoN install is v3.5 & it's also a problem on my xampp version running develop code but about a week behind so isn't caused by John's changes

[2017-10-04 10:25] FayCross commented on #691
Ok, I'll do that later today

[2017-10-04 10:26] ronm123 commented on #696
@FayCross @torinfo I just pulled down the latest develop and tested this and sure enough as reported by Fay upload of mp3 via properties doesn't work. However I've tested this via xampp on a long standing develop install rather than a recent new install so I'm not sure if the default mime type list has changed in more recent install sql?

Basically the mime type list in the develop installation I'

[2017-10-04 10:40] ronm123 commented on #696
@FayCross @torinfo ok quick update...

1. the change via management wasn't working because although I had pulled down latest develop I hadn't re-run upgrade.php. After running that I can add remove audio/mp3 via management.

After running upgrade I now see a new text area via management labelled: Whether the MIME file type check should be applied to file uploads
This has a default value of False a

[2017-10-04 10:55] ronm123 commented on #696
@FayCross @torinfo ok another update:

Via xampp extension=php_fileinfo.dll has to be enabled for the PHP 'mime_content_type' function to be enabled.

I changed that and was then able to change the option from false to true in management but that didn't seem to have any impact on the file types that can be uploaded via the editor and the check on mime types was working via properties regardless of

[2017-10-04 11:01] ronm123 commented on #696
Ok just read an earlier note from John:

This collection of commits allows the admin user to enable or disable the MIME type file check (via a new field in the database). The current list of allowed mime types in the database is also augmented a little bit (when upgrade is run). By default the check is disabled for backwards compatibility. An option for this appears in the admin interface (under t

[2017-10-04 11:23] ronm123 commented on #696
Looking at the notes and changes from John upgrade.php does add audio/mp3 to the default list of allowed mime types. (Can't believe that wasn't already included!)

I'm not sure if the upgrade code detects whether someone has already edited the default list e.g. I could see some organisations wanting to prevent direct upload of video files in promoting use of a streaming server instead. So if someo

[2017-10-04 12:53] FayCross commented on #696
Thanks for looking into this @ronm123. I've added mp3 via the management pages & it's working now.

As you say, we probably do need to look at the default list & stop users uploading types that shouldn't be allowed through the editor

[2017-10-06 08:01] ingedonke opened #698 "Can't use m<sup>3</sup> in Glossery"
Sub- and superscript in the glossary does not work. I can add `m<sup>3</sup>` in the title but on the page this is not recognize it as a glossary item. Any ideas?

[2017-10-09 10:53] jayaich commented on #696
Hi,
Just noticed this issue. The original 'mimetypes' list in the database did not include 'audio/mp3'. We had it as a local patch for our users, but it went into the updated list (via the mimetypes check pull request) because I could see no reason for not allowing it.
However, the code (line 24 in website_code/php/import/fileupload.php) referenced the mimetypes list directly from the DB - and it

[2017-10-09 11:04] jayaich commented on #696
@ronm123

Yes, the upgrade change only 'adds' new mime types if they are not already present. It does not 'reset' the mime list back to some default.
In terms of video types upgrade will add 'video/mpeg', so someone wanting to remove all 'video' types would need to modify the list after upgrading.

We could modify 'upgrade.php' to say which types were added whilst the upgrade was running. That way

[2017-10-09 11:21] ronm123 commented on #696
@jayaich thanks for the clarification. Displaying what types were added during upgrade sounds like a good idea. Not sure what @torinfo and @FayCross think about that?

I think its probably a good idea to include this and other upgrade/management related topics for discussion during our next online meeting on 18th October. Hope you can join us for that John?

[2017-10-09 16:08] jayaich commented on #678
I have a similar problem with the ClamAV antivirus check. In testing it can take up to 180 seconds (!) scanning a small project of just a few files. (The time is taken dragging in all the known viruses). I was think of some sort of 'spinner' whilst that was running, so at least users knew that something was happening.
If I get time I'll look into it (but I'm being hassled to get other work started

[2017-10-09 21:53] jayaich commented on #696
@ronm123 Meeting 18 Oct - sorry, but we have an all IT staff meeting (90mins) that afternoon. Missing these things is **not** recommended :-)

[2017-10-10 09:54] torinfo commented on #691
@FayCross Hi Fay, as far as I can tell, this you have not comitted yet. Is that correct?

[2017-10-11 09:00] #691 closed

[2017-10-11 09:01] FayCross commented on #691
@torinfo - I've just committed the changes. I tried to be careful with all the tracking code in there so hopefully that will all still work ok

[2017-10-11 10:56] FayCross opened #699 "Error when installing on xampp"
I've done a fresh install of Xerte on a laptop today & got this error when trying to use the develop code:
'Failed to execute query line 89 page2.php'. I think it's at the point that the database is setup.

I downloaded the 3.5 release from the website and this installed fine without this error so I guess there's something reasonably recent in the develop code that's stopping it working.

[2017-10-11 15:24] jayaich commented on #699
I haven't changed page2, but the code in that area is using the file 'setup/basic.sql'. That file has only had one recent change since last year, and that was by me.
I modified that file to add in one new field to the 'sitedetails' table (see commit 8b69e7ca371e64a0e5924c36a86a1dfc256ac241). It's a one-line change, and I cannot see anything wrong with it.
You could check the database to see if the

[2017-10-12 09:10] FayCross commented on #666
Interactive diagram page will work for all the interactivity types now except for the labels activity (can't work out what's different with this)

[2017-10-12 14:52] jayaich commented on #699
Just sent pull request #700 to fix the problem.

[2017-10-21 12:05] danieledivito opened #710 "Exporting the offline zip it doesn't export the models_html5 folder"
Hi in 3.5 version exporting the offline zip there is no models_html5 folder, so it create many issues when checking activities. a workaround can be made adding manually the folder that can be found in other type of export zip

Another trouble is the following:
XMLHttpRequest cannot load file:///home/daniele/exported/media/matematica8.jpg. Cross origin requests are only supported for protocol schem

[2017-10-31 11:51] thexerteproject opened #713 "Undefined label in tree when duplicating pages"
When you duplicate pages in bootstrap, all the child nodes of the new page have 'undefined' titles.

![image](https://user-images.githubusercontent.com/5164845/32222609-d8797d52-be31-11e7-8af3-f2c0f5b93969.png)

[2017-10-31 13:22] torinfo commented on #713
Hmmm. It's someting in the editor. In a Nottingham template, the same behaviour is shown. Refreshing page solves the issue. I'll have a look.

[2017-10-31 13:41] ronm123 commented on #713
While you’re looking at that Tom another Bootstrap issue that I discovered last week but haven’t had time to properly test/verify yet…

If a co-author of an XOT project duplicates that project it works fine but when a co-author of a bootstrap project duplicates that project it doesn’t work. That certainly happened to me last week but I haven’t tested on other installs yet. I did try the same thing

[2017-10-31 15:20] torinfo commented on #713
@ronm123 This should be a new issue (has nothing to do with the editor, but is a problem in the workspace).

[2017-10-31 16:08] torinfo opened #714 "co-author of a bootstrap project cannot duplicate a project"
Same problem is true for decision templates

[2017-10-31 16:35] #714 closed

[2017-11-01 10:12] FayCross commented on #662
Duplicate of #713

[2017-11-01 10:12] #662 closed

[2017-11-01 10:12] FayCross commented on #699
Thanks @jayaich

[2017-11-01 10:12] #699 closed

[2017-11-01 15:31] #698 closed

[2017-11-02 09:18] #574 closed

[2017-11-02 09:19] FayCross commented on #574
@ronm123 Just realised I assigned this to myself months ago - what I've just committed shouldn't break existing projects but give a bit more flexibility as to which buttons can be turned on / off

[2017-11-02 09:32] ronm123 commented on #574
@FayCross great I'll give it a try.
By coincidence I was looking at some projects yesterday and realised and recalled that it would also be quite useful to add an optional property to include a home button when using linear navigation and perhaps with control over what page that actually goes to. I know the TOC button allows that but obviously that's two clicks and less intuitive. What do you thin

[2017-11-02 10:10] FayCross commented on #574
Yes we could add something like that too. I was wondering also about the option to show / hide the page numbers when it's linear. At the moment when adding a progress bar you can choose to hide the numbers but it would give greater flexibility to have progress bar & page numbers as two separate options.

Much more complicated but I was also thinking about how it would be useful when navigation is

[2017-11-02 10:13] FayCross commented on #713
This is still a problem in some case. If you add a section with two text nodes (it's fine if there's just one) and then duplicate the section the titles all show as undefined

[2017-11-03 11:03] ronm123 commented on #574
@FayCross I'm probably forgetting how this worked previously and so thes issue may have existed already but looking at the table of contents group of properties it seems like there's a bug with some of this.

If I set the LO navigation to menu or menu with page controls and set the page image option to 'Use Panel' I get an image in a panel on the menu page and using the buttons to navigate to a pa

[2017-11-03 11:07] ronm123 commented on #574
Sorry I clicked comment before finishing :-(

Also as the TOC group options apply to the menu page the page numbering option works but the ticks when viewed don't. e.g. the ticks don't appear on the menu buttons.

Ron

[2017-11-03 11:29] FayCross commented on #574
@ronm123 it does look like there's something odd going on with the images on the menu pages but I think this must have been broken for some time as I haven't touched that side of the code. I'll copy your comment into another issue.

[2017-11-03 11:31] FayCross opened #715 "Menu image issues"
Issue raised by @ronm123 in #574...

If I set the LO navigation to menu or menu with page controls and set the page image option to 'Use Panel' I get an image in a panel on the menu page and using the buttons to navigate to a page shows the content of that destination page. So I think that's how it should be except that the image is displayed below the buttons and I seem to recall it used to displ

[2017-11-03 11:34] FayCross commented on #715
To do:

- [ ] When use panel is selected the image should be on the right of buttons

- [ ] When full screen is selected make sure it is removed when you move off the menu page

- [ ] Change text of full screen to 'background' so it's more consistent with wording used on other pages

- [ ] Always allow scrolling to buttons off screen

I can't recreate the ticked when viewed issue though @ronm123 -

[2017-11-03 13:20] ronm123 commented on #715
@FayCross do you mean that you see ticks on the menu page? e.g.

![image](https://user-images.githubusercontent.com/5167146/32375460-91396e10-c099-11e7-9b92-bcbd8f0924a0.png)
The tick option works for the normal pup-up toc but for me doesn't show ticks on the menu page?

[2017-11-03 13:40] FayCross commented on #715
It does for me (after I've visited some pages!)

![image](https://user-images.githubusercontent.com/8926470/32376345-7762416c-c09c-11e7-8450-208745b8db73.png)

[2017-11-03 13:52] ronm123 commented on #715
That's strange. I've cleared cache etc but can't make it work.
Going offline now but will do some further testing later or next week.

[2017-11-03 13:56] FayCross commented on #715
Ok. Check you have the latest menu model file as it looks like it didn't used to work but I fixed it a few months ago #620

[2017-11-04 15:13] danieledivito opened #716 "NEW FEATURE REQUEST - A PAGE ALLOWING TO EMBED HTML"
There are a lot of new tools for creating HTML5 simulation or contents that can be embedded by only using a single HTML file.  for example https://phet.colorado.edu
It would be nice to have the possibility to upload the html file and to use it.
I know that Media Lesson allow to embed an html file but you need to use a video for synchronization and it's not so easy to embed an html file, cause it a

[2017-11-10 13:49] FayCross opened #717 "Double click to open editor bug"
You can normally double click a project in the workspace to open it in the editor. This doesn't work when the project is in a folder.

[2017-11-10 13:59] FayCross commented on #716
Hi, you can already upload html files and embed them in your project:

1. Select your project in the workspace & click the project properties button

1. Select the Media & Quota tab, choose the html file you want to upload & click Import

1. After it has uploaded, select the file from the list and copy the link you are given to it

1. Now open your project in the editor and insert an Embed Content

[2017-11-10 13:59] #716 closed

[2017-11-10 14:20] FayCross opened #718 "MCQ feedback issue"
When MCQ page is set to single answer but there are several options that could be correct, the feedback will always show as incorrect even if the answer selected is correct.

[2017-11-13 16:46] jayaich commented on #688
I'm going to close this issue as the latest develop branch code now has options in the management interface for these checks (except for the XML check).

[2017-11-13 16:46] #688 closed

[2017-11-17 12:45] JohnSmith-LT commented on #717
Double clicking on a folder or a file inside a folder doesn't fire the dbclick handler at https://github.com/thexerteproject/xerteonlinetoolkits/blob/4bd58830343157ea8030f7d984ed43dadf47bdd4/website_code/scripts/screen_display.js#L796 whereas all the rest do. The handler is called for double clicks on workspace and recycle bin and handles them correctly...

![screen shot 2017-11-17 at 12 39 41](ht

[2017-11-17 12:50] JohnSmith-LT commented on #717
Gets a bit weirder - the folder does fire the event if it's empty, just not when there is something in it...

[2017-11-17 13:40] JohnSmith-LT commented on #710
Hi Daniel

The offline package is slightly different from the rest and the html5 models are converted and placed in the /offline folder - the models_html5 folder that is exported by the other methods should not be required. Can you tell us what specific "issues" you are having so that we can try to investigate and fix them?

Secondly, it looks like the XMLHttpRequest issue that you are having is b

[2017-11-17 15:09] JohnSmith-LT commented on #713
As @FayCross says, this does still happen and not all the time but i've managed to narrow down the cause at least (but not the solution yet!)

If you load the editor and duplicate a node having any number of children and sub children then duplicating appears to work fine. If you change a node before duplicating though then that is when the issue arises. The node which has been inserted or duplicat

[2017-11-19 11:00] JohnSmith-LT commented on #718
Hi @FayCross , can you test that this fixes your issue? It seems the logic for both cases is quite different so i've separated them out to simplify them.

[2017-11-21 11:15] ronm123 opened #719 "problem with install script?"
Hi all
for various reasons I just tested setup after pulling down a new copy of develop and I get an error:

![image](https://user-images.githubusercontent.com/5167146/33069586-ebad5a8e-ceac-11e7-804a-f6fef8deb015.png)

I can't see any console errors and I tried setting debug to true but I don't think it's getting as far as that.
Can anyone else replicate this?

[2017-11-22 09:59] FayCross commented on #718
Yes that's great, Thanks @JohnSmith-LT

[2017-11-22 09:59] #718 closed

[2017-11-27 11:45] jayaich commented on #719
Just tried this with the latest develop, and got no problems.
Basic.sql does not have a blank line at the end. But if I add a blank line, then yes it throws the error you see.

[2017-11-27 15:22] ronm123 commented on #719
@jayaich Hi John what dev environment/tools do you use?
To test again I did the following:
Create a new folder in htdocs named develop_nov17 in my Windows 10 xampp installation
Pulled down a copy of develop (I use TortoiseGit)
Run through setup naming the database develop_nov17
Setup fails with the failed to execute error
Check and remove the empty line from the end of \develop_nov17\setup\basic.s

[2017-11-27 15:32] ronm123 opened #720 "latest develop won't import media"
Hi all
I've been investigating an issue with narration on different pages that an end user reported with their copy of 3.5x and I'll add that separately but in testing this I'm hitting issues with my long term copy of develop and a new clean install of develop where I can't import any media via the editor or media and quota and I can't import previously exported projects either. e.g. if I create a

[2017-11-27 16:38] ronm123 opened #721 "issue with exported projects containing narration"
Hi all
I'm not sure if this is a new issue or has been the case with previous versions too but someone asked me why the audio in their exported projects was working fine when the project was uploaded online but not when viewed offline. They had tried both deployment and offline export and were confused because the audio was working on some pages but not all. Upon further investigation myself I've

[2017-11-27 17:10] jayaich commented on #719
This was tested on a RedHat 7 Linux server.
Could you try changing line 93 of 'setup/xampp.php' from:
`if($query!=""){`
to
`if(strlen($query) > 1){`

[2017-11-27 17:45] jayaich commented on #720
Sorry, but I can't reproduce the problem. Using the same new develop version from this morning (on RHEL7 Linux server), I imported a project successfully. I then imported some png/jpg files via quota/media - again no problems.

[2017-11-28 11:14] #719 closed

[2017-11-28 11:15] torinfo commented on #719
Changed line 84 of page2.php to

`if ( strlen($query) > 2 )`

Because EOL is 2 characters on Windows

[2017-11-28 12:57] ronm123 commented on #719
@torinfo @jayaich
I can confirm that has fixed the setup issue when using Windows/XAMPP.

I repeated the process with a new clean install and all worked fine. But I am still getting the import issues  detailed in #720 and will add an update to that shortly.

[2017-11-28 13:27] ronm123 commented on #720
@jayaich I've tested this now on both xampp and on a centos server and a clean install of the develop code on both.

If I try to upload a jpg via media and quota on both installations I just get an Importing spinner but the upload doesn't complete
![image](https://user-images.githubusercontent.com/5167146/33321901-383f6652-d43f-11e7-8d42-4142cf16530a.png)

On the xampp install if I add a graphics

[2017-11-29 10:17] torinfo commented on #720
I have the same error on XAMPP (didn't try Linux yet), and the problem is with lines 933-937 in editor/elfinder/php/elFinder.class.php.

The function apply_filters is not found. If I uncomment that block, everything works. @jayaich: Any idea where that function is supposed to be defined?

[2017-11-29 11:22] FayCross commented on #721
There are some checks in xenith to see whether media exists before it's loaded into the interface (e.g narration audio & background image). For some reason this function (x_checkMediaExists) is always returning false if the project's being run locally.

[2017-11-29 11:46] jayaich commented on #720
The function comes from the wordpress plugins (website_code/php/wp_plugins.php line 137).
I have created a pull request ( #722 ) which should sort it out.
I am a bit confused though. I checked the test server and it doesn't have the fix in it. So I checked our live server, and it does have it in it. So I'm not sure why things seemed to work on the test server, unless I was doing something wrong.

[2017-11-29 12:10] ronm123 commented on #721
@FayCross testing that with one of the exported projects that I was using for testing and putting alerts in the copy of xenith in that export I can see that the line: x_checkMediaExists(x_evalURL(x_currentPageXML.getAttribute("narration")) is finding the correct value/path of the audio file but then the following if(mediaExists) isn't triggering as true.
If I change that just for testing to if(med

[2017-11-29 12:17] ronm123 commented on #720
@jayaich @torinfo
just pulled down the changes in develop and tested via xampp and that seems to have resolved the adding of media via the editor but not via media and quota. Via the latter I still get a spinner and no upload completion.

[2017-11-29 12:23] ronm123 commented on #720
Just to add I tested via my Centos test install and the same applies there e.g editor import seems to be working but not via properties > media and quota
I just get never ending spinner on both installs.

[2017-11-29 12:58] FayCross opened #723 "Bootstrap - header background image"
New option to change header background image on each page (Bootstrap).
Requested on forum: http://www.xerte.org.uk/index.php?option=com_kunena&view=topic&catid=10&id=1415&Itemid=759&lang=en#4838

[2017-11-29 12:59] jayaich commented on #720
Can I just ask about the 'editor import' again - for my own understanding, what is the sequence you perform?
For me I take this to mean the following:
1) Access Xerte (on test server it is using guest login). It shows the 'Workspace' tree with 2 imported projects under it.
2) Click on project 1 and then the 'Edit' icon (to the left). This opens a separate window with a tree structure of the projec

[2017-11-29 13:22] #721 closed

[2017-11-29 13:25] FayCross commented on #721
Not sure this is fixed in the best way but it will now force the checkMediaExists function to return true if a project's viewed locally

[2017-11-29 13:42] ronm123 commented on #720
@jayaich yes sort of John. But the bit that was failing was the step where you then click the upload files option to upload and select a new file rather than an existing file. However that was fixed by the changes you and @torinfo committed.

The bit that still isn't working is as follows:
1. Select a project in the workspace
2. Select properties
3. Select Media and Quota
4. Browse for an image
5.

[2017-11-29 14:09] jayaich commented on #720
Okay, I'm not seeing any 'upload files' option anywhere.
Importing via media/quota is still working for me. I'm asking about the editor import in case I am not seeing something that you are, and likewise missing something in the media/quota problem.

[2017-11-29 16:25] ronm123 commented on #720
Not sure what you mean - how did you get the images into your test project?

As I said this bit is working now but to be clear with the media browser open either 1. click the upload files icon/button or 2. right click and select Upload files where you can then 3. drag and drop onto the window.
![image](https://user-images.githubusercontent.com/5167146/33385677-1bfb76d8-d521-11e7-957f-ac1c5f87dc6e.

[2017-11-29 16:55] jayaich commented on #720
Okay, in your first image where you have the red '1' for the 'Upload files' button I have instead the text 'No files selected.'. The button/icon image is the same, just the text is different when holding the mouse over it. I didn't use that button during testing. Have to admit I didn't think of right-clicking.
That was using the Firefox (version 57) browser. If I use google Chrome then I get the '

[2017-11-29 17:12] jayaich commented on #720
Okay. The problem is - again - a browser issue. I'm using Firefox, and the media/quota problem works fine (i.e it's not a problem). Trying it with google Chrome, and the spinner just spins as you say.

[2017-11-29 17:58] jayaich commented on #720
Just submitted pull request 724 to remove the spinner for these 2 situations. Now that I can reproduce the problem, I can take a better look to see what is (or is not) going on.

[2017-11-30 11:41] #723 closed

[2017-12-01 15:49] FayCross commented on #340
This new page is almost finished (just need to fix a few video sizing issues). It combines the accordion, slideshow, button, tabbed & column navigators so you can just change the type by selecting from a drop down menu.

What's the best thing to do with the original versions of these pages? Normally I'd just deprecate them but I'm a bit worried about the flags in the page tree worrying people when

[2017-12-01 16:10] ronm123 commented on #340
@FayCross sounds good.
My suggestion would be that we don't deprecate the other navigators for the first time this is added e.g. the next release. Just call it something like 'Multi-Navigator' and in the thumbnail description something like: This new navigator combines the formats of all the separate navigators and slows quick switching from one to the other. Longer term the separate navigators wi

[2017-12-15 13:25] #600 closed

[2017-12-18 16:06] jayaich commented on #720
PR #726 just created. It should sort out the spinner problem.

[2017-12-18 16:36] ronm123 commented on #720
@jayaich thanks. Once @torinfo merges in the pull request I'll test and report back.

[2018-02-07 16:11] ronm123 commented on #720
@jayaich @torinfo Hi both
just reviewing this and I can see that in latest develop the various ways to import/upload are currently working but I'm not seeing the spinner anywhere. Reading through the thread it seems the temporary fix here was to remove the spinner but I think in #726 they were restored but perhaps that hasn't yet been merged?

[2018-02-07 16:51] ronm123 opened #728 "Known/current issues with new XOT template themes"
Hi @FayCross @torinfo I'm adding a few notes here regarding the new xot template themes I've added and some outstanding issues I'm aware of...

1. Interactive Diagram
There's the issue we've discussed re the interactive diagram page when set to 'Labels' mode and when the theme is one of the percentage width themes e.g.  Modern: Urban Blue.

2. Flash Cards
On changing from front to back text from t

[2018-02-11 13:22] torinfo commented on #720
@ronm123
I just merged #726 in.

[2018-02-12 11:38] ronm123 commented on #720
@jayaich @torinfo as far as my testing goes this seems to be working fine now so will close this and #726

[2018-02-12 11:38] #720 closed

[2018-02-15 08:22] ronm123 opened #729 "author support messages displayed on exported projects"
Not sure if this has always been the case or if it's a bug that has crept in but after seeing the forum post about this http://xerte.org.uk/index.php?option=com_kunena&view=topic&catid=10&id=1458&Itemid=759&lang=en#4970 I checked and sure enough with author support ticked an exported project displays the red message that Author Support in ON:
Not sure if it's just that message in the header or any

[2018-02-15 08:50] ronm123 opened #730 "add option for analytics code for all public projects"
In response to the forum post about this http://xerte.org.uk/index.php?option=com_kunena&view=topic&catid=3&id=1457&Itemid=759&lang=en#4971 I wondered if we should add an option somewhere to add analytics code for a site that then gets included with all public LO's. Possibly just an empty file or perhaps and option via management that then gets included when playing public projects. If it was a fi

[2018-02-15 09:51] FayCross opened #731 "Links to project media after changing project owner"
After changing the owner of a project the file path will change to reflect the new owner's user name (e.g. http://www.nottingham.ac.uk/toolkits/USER-FILES/123-user1-Nottingham to http://www.nottingham.ac.uk/toolkits/USER-FILES/123-user2-Nottingham)

This causes problems if the author has manually added links to media within the project by getting the file path from the project properties panel. e.

[2018-02-15 14:45] GlassOfWhiskey opened #732 "Langstring element format not compliant with SCORM standard"
The imsmanifest format
[code]
is not compliant with Langstring Type definition given by SCORM Content Aggregation Model.
The correct format should be
[code]
Please correct string formats in [scorm_library.php](https://github.com/thexerteproject/xerteonlinetoolkits/blob/master/website_code/php/scorm/scorm_library.php) and [scorm2004_library.php](https://github.com/thexerteproject/xerteonlinetoolkit

[2018-02-16 14:39] morettol opened #733 "SCORM export bug"
I have found a bug in the _xerte_zip_files()_ function under _website_code\php\scorm\scorm_library.php_:

If the installation path of xerteonlinetoolkits contains the "/media/" subdirectory, the if branch at line 507 is always true:

[code]

The result is a zip file missing many files...
I suggest to change the code as following:

[code]
HTH,
Luca

[2018-03-09 13:23] FayCross opened #735 "XAMPP - issue loading xml files"
I think this was working until I upgraded my xampp install with the commits done by Tom last week.

I used to be able to test changes on my xampp install on my iPad & phone by visiting myPCsIPaddress/xertetoolkits rather than localhost/xertetookits. This no longer works. I can login & open editor but if I try to preview/play projects the project data doesn't load.

It's failing because it's lookin

[2018-03-09 16:16] torinfo commented on #735
@FayCross Yes, I will have a look a.s.a.p.

[2018-03-10 15:02] #735 closed

[2018-03-11 11:27] torinfo opened #736 "mediaLesson video display on mobile devices"
The mediaLesson doesn't show (or only shows) a very tiny part of the video on mobile devices

This is caused by the fact that mobileTheme.css is used, and when usin that the way pageHolder is set up gives it a completely different height then when not on a mobile device.

The solution I've take for now, is to do the height calculations in mediaLesson based on mainHolder in stead of pageHolder

@Fa

[2018-03-11 11:28] torinfo commented on #736
I'll commit this later today. @FayCross, we can rework it if needed.

[2018-03-11 11:34] torinfo opened #737 "mediaLesson vimeo doesn't show fullscreen button"
This is tricky one. I want to enable the fullscreen button for videos in the medialesson, as on mobile devices they are really small!

Vimeo supports it, and the reason the button is not shown, is because popcorn doesn't insert set the allowfullscreen attributes to the frame.

Later versions of popcorn did (try to) set that attribute, but that didn't work because of the way they were set. (popcorn

[2018-03-11 11:38] torinfo commented on #737
@FayCross @ronm123 The thing that I haven't figured out yet is what will happen if an event is triggered to show some information, and or other popcorn event is triggered.

Also, we are using the mediaLesson, because that video is tracked, and the normal video is not (yet). It probably requires moving to popcorn for those pagetypes as well. But you can disable fullscreen in vimeo itself.

[2018-03-11 22:55] #736 closed

[2018-03-14 12:59] #710 closed

[2018-03-14 13:37] FayCross commented on #735
Thanks @torinfo

[2018-03-14 13:40] FayCross commented on #736
I'm going to have a look at all the changes you've made this afternoon Tom - but yes, mainHolder is probably the best one to use

[2018-03-15 12:10] FayCross commented on #666
@ronm123 is the multiple perspectives issues where some thumbnails appeared out of line on iPads still an issue for you? I have seen this in the past but can't replicate now. Thanks

[2018-03-15 12:27] #729 closed

[2018-03-16 10:12] FayCross commented on #666
I'll look at the button sizes but I just can't recreate the other issue. I've tried 5+ thumbnails, various media types, various options for what appear on the thumbnail (1st frame, uploaded image & default image) but they are still lined up ok.

[2018-03-16 10:57] ronm123 commented on #666
Hi @FayCross I guess you're doing this testing via xampp rather that a public facing install are you? Or is there a public link I can test? I'm busy with something else right now but I'll try and find time later to upgrade an online install to the latest develop and test and share that example.
Cheers
Ron

[2018-03-16 11:11] FayCross commented on #666
Don't worry @ronm123, while looking at the thumbnail button issue I've stumbled across an example where I do see this issue. I'll try to fix it but it's always tricky to work out what's going on when it's only seen on tablets/phones

[2018-03-16 15:23] FayCross commented on #728
I've narrowed down the problem with the flash cards page. For some reason iOS doesn't like the combination of the flip plugin with overflow set to auto on the cards. If I remove the overflow css then side 1 content disappears correctly when flipped but it means that if the content on the cards is too big for the cards then it overhangs the edges which obviously looks awful. I don't know if there w

[2018-03-16 16:46] ronm123 commented on #728
@FayCross do we know if this happens on other tablets/phones too not just iOS? From what you say this must have always existed? I guess if the problem has always existed and isn't a consequence of recent changes then I'm not aware of it being raised as an issue by many others. Obviously it's an 'unpleasant' effect but doesn't break the learning. So perhaps just an issue to keep on the list to fix

[2018-03-20 16:31] jayaich opened #742 "Email messages being sent without domain name"
I'm not entirely sure of the circumstances of how these are being sent, but we have occasionally received error email messages back from our Xerte server complaining that an email address is missing the domain.
For example:

+++++++++
A message that you sent contained one or more recipient addresses that were
incorrectly constructed:

  auser@: domain missing or malformed

This address has been ig

[2018-03-21 10:21] FayCross commented on #728
@ronm123 I will check on an android phone at home later. I don't think it has always been this way as I should have checked it on my iPad when I first made the page model.

[2018-03-21 15:12] jayaich commented on #742
Pull request #743 created.

[2018-03-21 16:04] FayCross commented on #728
Interactive Diagram issue fixed (#666). I'll try to look at media lesson issues (& Tom's new stuff in it) tomorrow

[2018-03-21 16:06] FayCross commented on #666
@ronm123 I'm not sure I'll have a chance to look at the chart layout issues before release (it'll need a fair amount of work doing I think) so are you happy for me to close this issue for now if I open a new one just for the chart page? I think it'll get forgotten about otherwise.

[2018-03-21 16:50] ronm123 commented on #666
@FayCross sure but there are more issues in the original list for us still to have a look at. Perhaps we should close but then re-open the list of issues at a later date? Or add each of the outstanding list as issues on their own?

[2018-03-23 13:01] FayCross opened #744 "Themes - make available to small group of users"
Via the management pages you can say whether particular templates are for use by everyone or specific users. It would be very useful to be able to do this for themes too.

[2018-03-24 11:32] ronm123 opened #745 "Categories page feedback/score only works for newly created Categories interactions"
Hi all
as far as I've tested the new scoring/feedback for the categories page only works for newly created categories interactions e.g. existing categories interactions do not display scoring.
It is possible to create a new Categories page and then quickly move the categories complete with nested pages from the previous parent to the new one and then the scoring/feedback shows but just wondering i

[2018-03-24 12:52] torinfo commented on #745
So these are non-optional new parameters? If so, the attribute mandatory can de added to the xwd to fix this.

[2018-03-26 12:18] ronm123 commented on #745
@torinfo I'm not sure it's that kind of parameter/property. I had a look but I think @FayCross added this so will leave Fay to advise.

[2018-03-27 16:47] ronm123 opened #748 "Navbar background colour option when added results in error and broken display"
@FayCross @torinfo I'm pretty sure this is a new bug but I can't spot when/how it has crept in...
Steps to reproduce:
In bootstrap add the navbar optional property
Change navbar to below header then play - all ok
Add text colour and text hover colour values then play - all ok
Try adding a background colour value then play - display is broken with the following error:

`application.js?versionunstab

[2018-03-28 08:42] FayCross commented on #745
I'll look into this @ronm123

[2018-03-28 11:17] JohnSmith-LT commented on #748
Hi Ron,

Seems that this probably hasn't worked since November as this line was removed then https://github.com/thexerteproject/xerteonlinetoolkits/commit/50dd3938d27178e392a02a8f75650b3773aa43f1#diff-7797d033f2485bbd93d50e4ae3b0302cL324 which declares the variable. As for as I can see this use of

bgImg + '-moz-linear-gradient etc

isn't really needed or desirable as the CSS tag would just be -mo

[2018-03-28 11:51] FayCross commented on #748
Hmm, I'll look at this. I can remember it was annoyingly complicated to get the default css, theme css and user defined css / optional properties to all work together nicely when I added the new optional properties. It looks like I must have inadvertently removed something that made the navigation bar section work though (the similar header & footer opt props still seem to work)

[2018-03-28 11:57] JohnSmith-LT commented on #748
Sorry @FayCross for giving you more work! I would have added the apparently missing var in myself but just don't fully understand what that code originally did...

[2018-03-28 14:23] FayCross commented on #748
No, that's fine. It's confusing & I can't quite work out what I was doing either!

[2018-03-29 10:11] #748 closed

[2018-03-29 11:09] FayCross commented on #745
There's not much I can do about this at the moment Ron so maybe just a note in the release notes is best. Adding mandatory to language properties doesn't work & I don't want to automatically add the scoring text  to pages where it wasn't previously without there being a way for the text to be edited.

[2018-03-29 11:43] ronm123 opened #750 "Current develop is breaking existing projects set to menu or menu with page controls"
Hi all
have been moving a copy of an installation this week which fortunately is a copy so not yet switched but they have quite a lot of projects where the navigation is set to menu or menu with page controls. Unfortunately our current tracking code is breaking both existing and new projects that are set to menu or menu with page controls navigation. The console error is as follows:

`Uncaught Typ

[2018-03-29 12:25] #750 closed

[2018-03-29 12:25] FayCross commented on #750
Fixed but might be worth checking that it doesn't mess up the tracking code @torinfo

[2018-04-10 09:41] #742 closed

[2018-04-10 09:42] JohnSmith-LT commented on #742
Thanks for that John.

[2018-04-10 14:23] ronm123 opened #754 "Button display top of management area"
Hi all
I've just noticed a bit of an issue after running upgrade with the display of the button at the top of the management area. e.g. because we now have the Groupings button too there isn't room for all the buttons and there's some odd wrapping going on. I've tested with Chrome, Firefox, Edge and IE11 and all are the same as it stands e.g.
![image](https://user-images.githubusercontent.com/5167

[2018-04-10 14:38] ronm123 commented on #754
Ok scrub that quick fix - just noticed that .xerte_button is used in other places too e.g. the buttons in the editor! Need a different fix or perhaps a class/ID unique to that area?

[2018-04-10 14:38] torinfo commented on #754
It always looked skewed in Dutch (beacuse Dutch even takes more space).

I like the 3rd option (even if it doesn't work in IE11)

[2018-04-10 14:39] torinfo commented on #754
So, do that fix, with different class (I can add the different class if you want me to)

[2018-04-10 14:42] torinfo commented on #754
You can use a different selector:

.admin_mgt_area_middle_button_left .xerte_button {
    display: inline-grid;
}
.admin_mgt_area_middle_button_right .xerte_button {
    display: inline-grid;
}

[2018-04-10 15:09] ronm123 commented on #754
Ok cheers Tom I'll test that and commit if ok and report back if not.

[2018-04-18 19:06] #733 closed

[2018-04-23 16:01] #754 closed

[2018-04-23 16:08] ronm123 opened #755 "problem with menu navigation and menu with page controls"
Hi all
On Friday I noticed a small issue with one of the themes (Modern: urban blue) when set to menu navigation where the button colour and text colour didn't have enough contrast and I just committed a fix for that.

However I’m noticing a far more fundamental problem with menu navigation which is generating a console error too.

To replicate: Switch an LO to menu navigation, or menu with page c

[2018-04-24 12:11] ronm123 commented on #755
@torinfo Hi Tom did you see this? Can you replicate? We're going to get some discoveries and reports of this pretty quickly I think. Although I don't particularly like the menu navigation options some people do.

[2018-04-24 19:17] torinfo commented on #755
Yes I saw this, and I'll try to  replicate tonight (although I don't doubt I will be able to). If possible I'll push a fix tonight as well.

[2018-04-24 19:30] #732 closed

[2018-04-24 19:30] #755 closed

[2018-04-26 11:26] obgeneralao opened #756 "Content button shows a blank table of contents"
Hi,

I encountered an issue with v3.6. The content button shows a blank table of contents. I reverted to v3.5 which seems to be okay.

[2018-04-26 16:30] torinfo commented on #756
Could you please let us know when you downloaded the 3.6 package? I published a fix for this 2 days ago.

[2018-04-26 20:32] torinfo commented on #756
Hi, thank you for your reply. As far as I know, both the master branch and the develop branch should work.

Can you tell me what kind of learning object you have that gives a white page on TOC button?

Can you tell me the steps to reproduce?

[2018-05-08 11:58] obgeneralao opened #757 "Workspace inaccessible in ipads and androids"
Hi,

I can access my workspace from my computer as shown below,

![image](https://user-images.githubusercontent.com/13013814/39755479-938e9180-52f8-11e8-969a-635d810ac79c.png)

But in my ipad and even android device (using different browsers like safari, firefox, chrome, opera), Workspace is missing

![image](https://user-images.githubusercontent.com/13013814/39755872-03a6defe-52fa-11e8-82b3-32cf2

[2018-05-08 15:41] torinfo commented on #757
On the desktop you use the http version of your installation, on the screenshot of the iPad, you use https

You cannot mix the two. You HAVE to use the url that is configured in the site->url (management.php)

[2018-05-08 21:35] obgeneralao commented on #757
Thank you very much, I got it working. 👍

[2018-05-09 08:39] #757 closed

[2018-05-16 12:21] ronm123 opened #758 "Add lightbox code to each project template and make option available wherever relevant"
As discussed we should include the featherlight.js code in each of the projects and include an option in the editor and page types wherever relevant e.g.

- [x] add to Target dropdown in editor links menu
- [ ] add to options seen when selecting iframe button in editor
- [ ] add as option on embed content page
- [x] add as option on hyperlinks page
- [x] add as option on multiple perspectives
- [

[2018-05-16 12:30] ronm123 opened #759 "GDPR/Management features"
- [ ] ability to delete users via management regardless of authentication method in use
- [ ] option to delete all their solely owned projects too
- [ ] perhaps option to disable/suspend accounts rather than delete

Longer term
- [ ] options to archive accounts including all solely owned projects
- [x] Multiple management roles with different permissions

Copying projects of a specific user
- [ ]

[2018-05-16 12:35] ronm123 opened #760 "Display installed version and revision in footer of workspace"
We should pick up version and revision details from version.text and display in the footer of the workspace perhaps at the end of the copyright text. Useful when responding to reports/troubleshooting and easier than pointing users to refer to version.txt

[2018-05-16 12:37] ronm123 opened #761 "add carousel option to multi-navigator in XOT project"
We should add a carousel option to the multi navigator page in the XOT project similar to the carousel option in the Bootstrap project

[2018-05-16 12:43] ronm123 opened #762 "theme change on url option for author and viewer"
- [ ] We should include a theme change on url option in all projects e.g. &theme=flatred
- [ ] have that enabled by default but with author option to disable
- [ ] if enabled also display theme list in accessibility pop-up of xot projects
- [ ] possibly also include theme selector for end users in the other projects e.g. bootstrap and decision

[2018-05-16 12:49] ronm123 opened #763 "Create a Credit/Creative Commons page including automatic view/export links"
Many people manually create a credits page to display creative commons info and other references/credits. I wonder if it's worthwhile building a dedicated page type for this which allows the author to select from a list of creative commons options and then auto populates the relevant CC info and links including automatically switching on the include in export feed option and then including a downl

[2018-05-16 12:57] ronm123 opened #764 "Include a wider range of styles in the editor as well as displaying the results in the editor"
We should add to the styles shown in the editor styles menu and possibly hide some of the existing styles.

- [x] New styles to include button 1-4, box 1-4, left-bar 1-4, bubble 1-4
- [x] Ideally display of these should be dynamic based on theme selected
- [x] Possibly even list varies based on theme selected

What other styles should be included?

[2018-05-16 16:43] ronm123 opened #765 "Provide for pre-populated templates and learning designs"
Just adding my recollection of what we discussed re adding this functionality...

Option should appear when creating a new project to select from a list of pre-populated templates for that project template
The pre-populated template should include all pages, media and settings including themes and logos etc
It should be possible to manage these via the management area including adding, removing, r

[2018-05-17 09:14] FayCross opened #766 "Opinion page breaks on second view"
If you complete the opinion page, move on & then return to it the submit button doesn't work.

It would be best if the graph was still showing but there was a reset button that allowed you to retake the questionnaire if you wanted to.

[2018-05-18 09:14] hitteshahuja commented on #469
Hi @FayCross Would it be as simple as just changing the bootstrap css file version to use the latest ? Thinking about it we could also add bower config to the project so they can be easily linked and updated

[2018-05-28 20:30] torinfo opened #767 "Fix for responsiveness of flashCards breaks new themes"
This is because the modern themes do not have a boxshadow.

[2018-05-28 20:32] #767 closed

[2018-05-29 09:52] ronm123 opened #769 "dashboard/workspace issues"
@torinfo as posted to the dev list here's a bit more detail re issues with your dashboard commit.

I've pulled down the commit, ran upgrade.php, can see the changes/options in management etc (including enable dashboard) but with xapi projects selected I'm not seeing any dashboard info in the workspace. I've cleared cache/offline files and I do see some css problems in the workspace but not seeing

[2018-05-30 15:12] FayCross commented on #438
I've committed this for the XOT template & will get it working for Bootstrap too.

It's part of the 'hide page' functionality so the hidden icon still appears against the page on the editor tree regardless of whether the current date means that the page will be shown in live projects or not. Do you think this will be confusing? I thought it was useful as a flag to show that the page may at times b

[2018-05-30 17:11] ronm123 commented on #438
@FayCross just quickly testing this and seems to work great! A few comments...
Re the icon yes I think there should still be an indication that hide settings are switched on although ideally it should perhaps change to a different icon if set to hide based on date/time?
I notice the tooltip currently says "Give a description here" Do you plan to add the description?
I wonder if the Hide From and H

[2018-05-30 19:49] FayCross commented on #438
Oops, yes that description was a reminder to not forget to add one but I still have managed to! I’ll add it tomorrow along with changing labels to editor fields - I like your idea of including format there. Yes they do have to be in format DD/MM/YYYY & HH:MM.

You should be able to leave fields blank though, so just ‘hide from’ & no ‘hide until’ or vice versa. Can also have ‘hide until’ earlier th

[2018-05-31 12:53] ronm123 commented on #769
@torinfo as discussed on the phone I've committed the following changes:
change loading order of nvd3, bootstrap and dashboard css files to remove impact on workspace
add left padding to dashboard header
removing max width for popover tooltips in dashboard
change width of embed code text box to percentage

But a few remaining issues for you to look at:

- [ ] date format in dashboard textboxes - c

[2018-05-31 13:16] FayCross commented on #438
Should all be working now. Also added to Bootstrap template

[2018-05-31 13:16] #438 closed

[2018-05-31 16:01] torinfo commented on #769
Fixed the date issue (forgot to commit the i18n file to do this

I am not sure what to make of your second observation. What do you mean with 'if the results cause horizontal scrolling' ?

Can you send a screenshot please?

[2018-05-31 16:14] ronm123 commented on #769
@torinfo tested that - date issue fixed.
Screenshot added here. This might be exaggerated in terms of the number of pages because it's the page types demo but nonetheless it doesn't take too many pages to require horizontal scrolling and to exceed whatever is restricting the width of the div with the close dashboard button. Would be easy enough to set the button position to stay top right but I co

[2018-05-31 16:16] ronm123 commented on #769
Note: I tried adding a scrolling screenshot to show the full effect but then edited and replaced that because it was duplicating elements as I scrolled. The replacement screenshot should suffice to show what I mean?

[2018-05-31 16:27] torinfo commented on #769
Still not sure what the problem is. What I intended to accomplish is that the close button is (always) below the language selecotor (and thus, the 'title' bar or dashboard bar should not scroll, regardless of the number of pages in the LO.

Agree? Then at least we know what we're trying to accomplish.

[2018-05-31 16:59] ronm123 commented on #769
I haven't seen that. All I've seen is the close dashboard button top-right and not below the language selector. I think it looks good top right but as soon as the number of pages in the results is long enough to cause horizontal scrolling the close button stays at the right edge of the div it's sitting in and that div must have a fixed width set somewhere because it doesn't fill the width of the w

[2018-05-31 17:08] torinfo commented on #769
Got it. But you agree with me, it would be better to fixate the bar with the date and the cloase button?

[2018-05-31 17:15] ronm123 commented on #769
No not as it is now. Doesn't matter if the button was below or on the same line as the date as soon as you scroll right to see the latter pages you no longer see the close button. I think it would look better if the light grey div it sits in and the darker grey dive below that containing the LO title were to always fill the width of the window and then keep the close dashboard button top right e.g

[2018-05-31 17:19] ronm123 commented on #769
Sorry I realised after sending that you probably mean the same as what I said more or less :-(
Also there's currently a slight mismatch between the light grey div and the div below it but that won't matter if both fill the width.
![image](https://user-images.githubusercontent.com/5167146/40797156-1a590fc0-64ff-11e8-8ed1-e1d3b51694fe.png)